.lawsafrica-site-header {
  padding: 5px 0px;
  text-align: right;
  background-color: #e9ecef;
}

.site-main {
  min-height: 80vh;
}

.site-footer {
  margin-top: $spacer * 5;
  background-color: $light-grey;
}

.site-footer__body {
  padding: ($spacer * 4) 0px;
}

.site-footer__bottom-redline {
  height: 15px;
  width: 100%;
  background-color: $primary;
}

.highlighter-rouge pre.highlight {
  background-color: $light-grey;
  border-radius: 0.75em;
  padding: 0.75em;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

// home page styling

.gazettes_nav_btn {
  border: none;
  background-color: lighten($primary, 40%);
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: lighten($primary, 35%);
    box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.43);
  }
}

// Jurisdiction detail page

.status-box {
  margin: 10px 0px;
  .status-border {
    border: 1px solid #f7f7f7;
    padding: 10px;
  }
  .status-stats {
    text-align: center;
    h2 { font-size: 35px; }
    i { color: lighten($primary, 20%); }
    .status-up {
      padding: 10px;
    }
  }
}

// year nav

.year-nav {
  list-style-type: none;
  padding-left: 0px;

  li {
    display: inline;
    margin-right: 15px;

    a,
    a:visited {
      color: $link-color;
    }

    a.active,
    a.active:visited {
      color: black;
      font-weight: 500;
    }
  }
}

// Stats

.jurisdiction-stats, .year-stats {
  svg {
    rect {
      fill: #e8e8e8 !important;

      &:hover {
        fill: $primary !important;
        cursor: pointer;
      }
    }

    .axis {
      font: 10px sans-serif;

      path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      text {
        fill: lighten($primary, 30%);
        font-family: 'Open Sans', sans-serif;
      }
    }

    .domain, .tick > line {
      display: none;
    }
  }

  h2 {
    font-weight: 600;
  }

  .monthly-chart {
    margin: 10px 0 20px 0;
  }

  text.bar {
    fill: lighten($primary, 20%);
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
  }
}

.gazette-page {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  font-size: 75%;
}

.site-banner {
  background-color: $pale-red;
}

nav {
  .dropdown-menu {
    @include media-breakpoint-down(sm) {
      width: 100%;
      a {
        white-space: normal;
      }
    }
  }
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flag__image {
  width: 200px;
  height: 135px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: center;

  &[alt="ecowas"] {
    object-fit: contain;
  }
}

select.homepage-search-jurisdiction {
  max-width: 10em;
}
