{% load static %}
<header class="lawsafrica-site-header">
  <div class="container">
    <a href="https://laws.africa">
      <img src="{% static 'img/lawsafrica-logo-horizontal.png' %}"
           alt="A Laws.Africa project"
           width="150px"/>
    </a>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home_page' %}">
      <img src="{% static 'img/logo-sm.png' %}"
           alt="Gazettes.Africa logo"
           width="150"/>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page.navbar_item == 'home' %}active{% endif %}"
             aria-current="page"
             href="{% url 'home_page' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Choose country
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for juri in jurisdictions %}
              {% if not juri.parent_code %}
                <li class="dropdown-item">
                  <a href="{% url 'jurisdiction' juri.code %}">{{ juri.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
      {% if not view.no_navbar_search %}
        <form class="d-flex my-2 my-lg-0"
              action="{% url 'search:search' %}"
              method="get">
          <input class="form-control me-sm-2"
                 name="q"
                 type="search"
                 placeholder="Search gazettes"
                 aria-label="Search"/>
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>
<aside class="site-banner py-2">
  <div class="container">
    <span class="me-2">🔥</span>
    A fire destroyed hundreds of thousands of African gazettes. We're asking librarians and funders to help preserve Gazettes before more are lost.
    <a href="https://drive.google.com/file/d/1XPTFNkQh5ytpTQoutx4GEU5wNV4fqWbl/view"
       class="btn btn-primary btn-sm d-block d-md-inline">How you can help</a>
  </div>
</aside>
