{% extends 'peachjam/gazette_list.html' %}
{% load i18n %}
{% block localities %}
  <div class="row">
    <div class="col">{{ block.super }}</div>
    {% if contributors %}
      <div class="col-md-2">{% include 'gazettes/_contributors.html' %}</div>
    {% endif %}
  </div>
{% endblock %}
{% block page-content %}
  {{ block.super }}
  <section class="pt-4">
    <div class="container text-center lead">
      We welcome donations of gazette collections. We will scan and digitise gazettes for free.
      <br/>
      <a href="mailto:info@laws.africa" class="mt-3 btn btn-primary">Donate gazettes</a>
    </div>
  </section>
{% endblock %}
