{% extends "peachjam/_footer.html" %}
{% load static i18n %}
{% block about %}
  <p>
    The Lesotho Legal Information Institute (LesLII) was set up in 2012. LesLII's mission is to publish the laws of Lesotho for free access to everyone.  LesLII is supported by the Judiciary of Lesotho, the Law Office, the Law Society and other justice sector stakeholders. AfricanLII and Laws.Africa provide technical support to LesLII.
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://jud.gov.ls/" target="_blank" rel="noreferrer">Lesotho Judiciary</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://jud.gov.ls"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/lesotho_judiciary_coat_of_arms.png' %}"
           alt="lesotho_judiciary-logo"/>
    </a>
  </div>
{% endblock %}
