{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="LesLII" org_link_text="https://lesotholii.org" contact_email="info@lesotholii.org" %}
    {% with who_are_we="LesLII's mission is to publish the laws of Lesotho for free access to everyone. LesLII is supported by the Judiciary of Lesotho, the Law Office, the Law Society, and other justice sector stakeholders." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
