{% load peachjam i18n %}
{% for doc in docs %}
  <tr>
    <td>{{ start|add:forloop.counter }}.</td>
    <td>
      <a href="{% url 'document_detail' frbr_uri=doc.expression_frbr_uri|strip_first_character %}">{{ doc.title }}</a>
      {% for treatment in doc.treatments.all %}<span class="badge bg-primary me-2">{{ treatment.name }}</span>{% endfor %}
    </td>
    <td class="text-nowrap">
      {% if doc.work.n_citing_works %}
        {% blocktrans trimmed count n=doc.work.n_citing_works %}
          {{ n }} citation
        {% plural %}
          {{ n }} citations
        {% endblocktrans %}
      {% endif %}
    </td>
  </tr>
{% endfor %}
{% if request.htmx %}
  {% if truncated %}
    {% include 'peachjam/_citations_list_more_button.html' %}
  {% else %}
    <span id="citation-button-{{ direction }}-{{ nature.pk }}"
          hx-swap-oob="true"></span>
  {% endif %}
{% endif %}
