{% load peachjam i18n %}
{% for item in citations %}
  <h5 class="mt-4">
    {{ item.doc_type }} <span class="badge bg-secondary">{{ item.docs|length }}</span>
  </h5>
  <table class="table table-striped table-borderless table-sm mb-0">
    <colgroup>
      <col />
      <col style="width: 100%"/>
      <col />
    </colgroup>
    <tbody>
      {% include 'peachjam/_citations_list_items.html' with start=0 docs=item.docs|slice:":10" %}
    </tbody>
    {% if item.docs|length > 10 %}
      <tbody class="collapse {{ group }}-{{ forloop.counter }}">
        {% include 'peachjam/_citations_list_items.html' with start=10 docs=item.docs|slice:"10:" %}
      </tbody>
    {% endif %}
  </table>
  {% if item.docs|length > 10 %}
    <button class="btn btn-link"
            data-bs-toggle="collapse"
            data-bs-target=".{{ group }}-{{ forloop.counter }}"
            role="button"
            aria-expanded="false"
            aria-controls="{{ item.doc_type }}">
      {% trans 'Show/Hide all' %}
    </button>
  {% endif %}
{% endfor %}
