{% load peachjam i18n %}
{% for citation_group in citations %}
  <h5 class="mt-4">
    {{ citation_group.nature.name }} <span class="badge bg-secondary">{{ citation_group.n_docs }}</span>
  </h5>
  <table class="table table-striped table-borderless table-sm mb-0">
    <colgroup>
      <col />
      <col style="width: 100%"/>
      <col />
    </colgroup>
    <tbody id="citation-tbody-{{ direction }}-{{ citation_group.nature.pk }}">
      {% include 'peachjam/_citations_list_items.html' with start=0 docs=citation_group.docs %}
    </tbody>
  </table>
  {% if citation_group.docs|length < citation_group.n_docs %}
    {% include 'peachjam/_citations_list_more_button.html' with nature=citation_group.nature offset=0 %}
  {% endif %}
{% endfor %}
