{% load i18n %}
<section id="contact" class="row my-4">
  <div class="col-lg-6">
    <p class="lead">{% trans 'Send us a message us with any questions and comments.' %}</p>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">{% trans 'Name' %}</label>
        <input type="text"
               class="form-control"
               id="{{ form.name.id_for_label }}"
               name="{{ form.name.name }}"
               value="{{ form.name.value|default:'' }}"
               required/>
        <div class="text-danger">
          {% for error in form.name.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
        </div>
      </div>
      <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">{% trans 'Email address' %}</label>
        <input type="email"
               class="form-control"
               id="{{ form.email.id_for_label }}"
               name="{{ form.email.name }}"
               value="{{ form.email.value|default:'' }}"
               required/>
        <div class="text-danger">
          {% for error in form.email.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
        </div>
      </div>
      <div class="mb-3">
        <label for="{{ form.message.id_for_label }}" class="form-label">{% trans 'Message' %}</label>
        <textarea class="form-control"
                  id="{{ form.message.id_for_label }}"
                  name="{{ form.message.name }}"
                  rows="4"
                  required></textarea>
        <div class="text-danger">
          {% for error in form.message.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
        </div>
      </div>
      <div>
        {{ form.captcha }}
        <div class="text-danger">
          {% for error in form.captcha.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </form>
  </div>
</section>
