{% load i18n %}
{% if months and years %}
  <div id="monthFilter"
       class="pl-0 mt-2 mb-3 align-items-center d-none d-lg-flex">
    <i class="bi bi-calendar me-2"></i>
    <div>
      <a class="{% if not month %} active{% endif %}"
         href="{{ all_months_url }}">{% trans 'All months' %}</a>
    </div>
    <ul class="month-nav mb-0 ms-2">
      {% for m in months %}
        <li>
          {% if m|date:"F" == month %}
            {{ m|date:"F" }}
          {% else %}
            {% block month_link %}
              <a href="{% url "court_month" court.code year m|date:'n' %}">{{ m|date:"F" }}</a>
            {% endblock %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <select class="form-select mb-3 d-block d-lg-none"
          data-component="NavigationSelect">
    <option value="{{ all_months_url }}">
      {% trans 'All months' %}
    </option>
    {% for m in months %}
      {% block month_option %}
        <option value="{% url "court_month" court.code year m|date:'n' %}"
                {% if m|date:"F" == month %} selected{% endif %}>
          {{ m|date:"F" }}
        </option>
      {% endblock %}
    {% endfor %}
  </select>
{% endif %}
