{% load i18n %}
{% if years %}
  <div class="pl-0 mt-2 mb-3 align-items-center d-none d-lg-flex">
    <i class="bi bi-calendar me-2"></i>
    <div>
      <a class="{% if not year %} active{% endif %}"
         href="{{ all_years_url }}">{% trans 'All years' %}</a>
    </div>
    <ul class="year-nav mb-0 ms-2">
      {% for y in years %}
        <li>
          {% if y.year == year %}
            {{ y.year }}
          {% else %}
            {% block year_link %}
              <a href="{% url "court_year" court.code y.year %}">{{ y.year }}</a>
            {% endblock %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <select class="form-select mb-3 d-block d-lg-none"
          data-component="NavigationSelect">
    <option value="{{ all_years_url }}">
      {% trans 'All years' %}
    </option>
    {% for y in years %}
      {% block year_option %}
        <option value="{% url "court_year" court.code y.year %}"
                {% if y.year == year %} selected{% endif %}>
          {{ y.year }}
        </option>
      {% endblock %}
    {% endfor %}
  </select>
{% endif %}
