{% load i18n %}
{% if years %}
  <section>
    <h2 id="years-heading" class="h6 visually-hidden skip-link-target">{% trans 'Years' %}</h2>
    {% if years|length > 8 %}
      <a class="visually-hidden-focusable d-inline-block mb-2"
         href="#{% if doc_table_form_id %}{{ doc_table_form_id }}-filters-heading{% else %}{{ doc_table_id }}-results-heading{% endif %}">{% trans 'Skip past years' %}</a>
    {% endif %}
    <nav id="years-nav"
         class="pl-0 mt-2 mb-3 d-none d-lg-block"
         aria-labelledby="years-heading">
      <div class="align-items-center d-lg-flex">
        <i class="bi bi-calendar me-2"></i>
        <div>
          <a class="text-nowrap {% if not year %} active{% endif %}"
             href="{{ all_years_url }}">{% trans 'All years' %}</a>
        </div>
        <ul class="year-nav mb-0 ms-2">
          {% for y in years %}
            <li>
              {% if y.year == year %}
                {{ y.year }}
              {% else %}
                {% block year_link %}
                  <a href="{% url "court_year" court.code y.year %}">{{ y.year }}</a>
                {% endblock %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </section>
  <select class="form-select mb-3 d-block d-lg-none"
          data-component="NavigationSelect">
    <option value="{{ all_years_url }}">
      {% trans 'All years' %}
    </option>
    {% for y in years %}
      {% block year_option %}
        <option value="{% url "court_year" court.code y.year %}"
                {% if y.year == year %} selected{% endif %}>
          {{ y.year }}
        </option>
      {% endblock %}
    {% endfor %}
  </select>
{% endif %}
