{% load i18n %}
{% if years %}
  {% with years_nav_id="years-nav-"|add:request.path|slugify years_heading_id="years-heading-"|add:request.path|slugify years_end_id="years-end-"|add:request.path|slugify %}
    <section>
      {% if years|length > 8 %}
        <a class="visually-hidden-focusable d-inline-block mb-2"
           href="#{{ years_end_id }}">{% trans 'Skip past years' %}</a>
      {% endif %}
      <nav id="{{ years_nav_id }}"
           class="pl-0 mt-2 mb-3 d-none d-lg-block"
           aria-labelledby="{{ years_heading_id }}">
        <h2 id="{{ years_heading_id }}" class="h6 visually-hidden">{% trans 'Years' %}</h2>
        <div class="align-items-center d-lg-flex">
          <i class="bi bi-calendar me-2"></i>
          <div>
            <a class="text-nowrap {% if not year %} active{% endif %}"
               href="{{ all_years_url }}">{% trans 'All years' %}</a>
          </div>
          <ul class="year-nav mb-0 ms-2">
            {% for y in years %}
              <li>
                {% if y.year == year %}
                  {{ y.year }}
                {% else %}
                  {% block year_link %}
                    <a href="{% url "court_year" court.code y.year %}">{{ y.year }}</a>
                  {% endblock %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      <div id="{{ years_end_id }}" tabindex="-1"></div>
    </section>
  {% endwith %}
  <select class="form-select mb-3 d-block d-lg-none"
          data-component="NavigationSelect">
    <option value="{{ all_years_url }}">
      {% trans 'All years' %}
    </option>
    {% for y in years %}
      {% block year_option %}
        <option value="{% url "court_year" court.code y.year %}"
                {% if y.year == year %} selected{% endif %}>
          {{ y.year }}
        </option>
      {% endblock %}
    {% endfor %}
  </select>
{% endif %}
