{% load i18n %}
{% if months and years %}
  <section id="months-section" aria-labelledby="months-heading" tabindex="-1">
    <h2 id="months-heading" class="h6 visually-hidden skip-link-target">{% trans 'Months' %}</h2>
    <a class="visually-hidden-focusable d-inline-block mb-2"
       href="#{% if doc_table_form_id %}{{ doc_table_form_id }}-filters-section{% else %}{{ doc_table_id }}{% endif %}">{% trans 'Skip past months' %}</a>
    <nav id="months-nav"
         class="pl-0 mt-2 mb-3 d-none d-lg-block"
         aria-labelledby="months-heading">
      <div class="align-items-center d-lg-flex">
        <i class="bi bi-calendar me-2"></i>
        <div>
          <a class="{% if not month %} active{% endif %}"
             href="{{ all_months_url }}">{% trans 'All months' %}</a>
        </div>
        <ul class="month-nav mb-0 ms-2">
          {% for m in months %}
            <li>
              {% if m|date:"F" == month %}
                {{ m|date:"F" }}
              {% else %}
                {% block month_link %}
                  <a href="{% url "court_month" court.code year m|date:'n' %}">{{ m|date:"F" }}</a>
                {% endblock %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </section>
  <label class="form-label d-block d-lg-none mb-1"
         for="court-month-navigation-select">
    {% trans 'Browse by month' %}
  </label>
  <select id="court-month-navigation-select"
          class="form-select mb-3 d-block d-lg-none"
          data-component="NavigationSelect">
    <option value="{{ all_months_url }}">
      {% trans 'All months' %}
    </option>
    {% for m in months %}
      {% block month_option %}
        <option value="{% url "court_month" court.code year m|date:'n' %}"
                {% if m|date:"F" == month %} selected{% endif %}>
          {{ m|date:"F" }}
        </option>
      {% endblock %}
    {% endfor %}
  </select>
{% endif %}
