{% load peachjam i18n %}
{% if court_classes %}
  <div class="courts__column-wrapper mb-3">
    {% for court_class in court_classes %}
      <div class="courts__item mb-3">
        <h4 class="mb-4">{{ court_class }}</h4>
        {% if court_class.courts.all %}
          <ul class="list-unstyled">
            {% for court in court_class.courts.all %}
              <li>
                <a href="{% url 'court' court.code %}">{{ court.name }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div>{% trans 'No courts found.' %}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <div>{% trans 'No courts found.' %}</div>
{% endif %}
