{% load peachjam i18n %}
<div class="btn-toolbar mb-3 document-detail-toolbar"
     role="toolbar"
     aria-label="{% trans "Document toolbar" %}">
  <div class="me-auto">
    {% if show_save_doc_button %}
      <!-- these will be replaced by htmx -->
      <div class="save-document-button save-document-button--{{ document.id }}"></div>
    {% endif %}
  </div>
  {% block edit-btn %}
    <!-- will be replaced by htmx -->
    <div id="edit-document-button"></div>
  {% endblock %}
  {% block download-btn %}
    {% if download_options %}
      <div class="btn-group dropdown-center ms-2 d-none d-md-block">
        <a href="{{ download_options.0.url }}"
           class="btn btn-secondary btn-shrink-sm"
           data-track-event="Document | Download"
           target="_blank">
          {% trans "Download" %} {{ download_options.0.label }}
          {% if download_options.0.size %}({{ download_options.0.size|filesizeformat }}){% endif %}
        </a>
        {% if download_options|length > 1 %}
          <button type="button"
                  class="btn btn-secondary btn-shrink-sm dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <span class="visually-hidden">{% trans "Toggle dropdown" %}</span>
          </button>
          <ul class="dropdown-menu">
            {% for option in download_options|slice:"1:" %}
              <li>
                <a class="dropdown-item"
                   href="{{ option.url }}"
                   data-track-event="Document | Download"
                   target="_blank">{% trans "Download" %} {{ option.label }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}
  {% block report-problem-btn %}
    <button type="button"
            class="btn btn-outline-secondary btn-shrink-sm ms-2 d-none d-md-block"
            data-bs-toggle="modal"
            data-bs-target="#documentProblemModal">
      {% trans 'Report a problem' %}
    </button>
    <div class="modal fade"
         id="documentProblemModal"
         tabindex="-1"
         aria-labelledby="documentProblemModalTitle"
         aria-hidden="true"
         data-vue-component="DocumentProblemModal">
    </div>
  {% endblock %}
  <div class="d-md-none dropdown">
    <button class="btn btn-outline-secondary btn-shrink-sm ms-2"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <i class="bi bi-three-dots"></i>
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" data-component="ShareMenuItem">{% trans "Share" %}</button>
      </li>
      {% if document.source_file %}
        <li>
          <a href="{% url 'document_source' document.expression_frbr_uri|strip_first_character %}"
             class="dropdown-item"
             target="_blank">
            {% trans "Download" %} {{ document.source_file.filename_extension|upper }}
            ({{ document.source_file.size|filesizeformat }})
          </a>
        </li>
        {% if document.source_file.filename_extension != "pdf" %}
          <li>
            <a class="dropdown-item"
               href="{% url 'document_source_pdf' document.expression_frbr_uri|strip_first_character %}"
               target="_blank">{% trans "Download" %} PDF</a>
          </li>
        {% endif %}
      {% endif %}
      <li>
        <hr class="dropdown-divider"/>
      </li>
      <li>
        <a class="dropdown-item"
           href="#documentProblemModal"
           data-bs-toggle="modal">{% trans "Report a problem" %}</a>
      </li>
    </ul>
  </div>
</div>
