{% load i18n %}
<div class="document-floating-header bg-light"
     data-component="FloatingHeader">
  <div class="btn-primary menu-toggle d-lg-none"
       data-bs-toggle="offcanvas"
       data-bs-target="#navigation-offcanvas"
       aria-controls="navigation-offcanvas">
    <i class="bi bi-menu-button-wide"
       title="{% trans "Navigate document" %}"></i>
  </div>
  <h5 class="title px-2 py-0 m-0 align-self-center">{{ document.title }}</h5>
  <div class="ms-auto px-2 align-content-center">
    {% if show_save_doc_button %}
      <!-- this will be replaced by htmx from the main toolbar's save document button is loaded -->
      <div class="save-document-button"></div>
    {% endif %}
  </div>
</div>
