{% load i18n peachjam %}
<tr class="{% if document.children %}has-children{% endif %}"
    {% if document.pk %}data-document-id="{{ document.pk }}"{% endif %}>
  {% if doc_table_toggle %}
    <td class="cell-toggle">
      {% if document.children %}
        <button class="btn btn-sm bg-none collapsed"
                type="button"
                title="{{ PEACHJAM_SETTINGS.subleg_label }}"
                data-bs-toggle="collapse"
                data-bs-target="#doc-table-children-{{ forloop.counter0 }}"
                aria-expanded="false"
                aria-controls="doc-table-children-{{ forloop.counter0 }}">
          <i class="bi"></i>
        </button>
      {% endif %}
    </td>
  {% endif %}
  {% if document.is_group %}
    <td id="{% if document.group_id %}{{ document.group_id }}{% endif %}"
        class="cell-group">{{ document.title }}</td>
  {% else %}
    <td class="cell-title">
      <div class="d-flex">
        <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
        {% if document.work.languages|length > 1 %}
          <span class="d-inline-block ms-2"
                data-bs-toggle="tooltip"
                title="{% trans 'Multiple languages available' %}">
            <i class="bi bi-translate"></i>
          </span>
        {% endif %}
        <span id="saved-document-star--{{ document.pk }}"></span>
      </div>
      {% include 'peachjam/_document_labels.html' with labels=document.labels.all %}
      {% if doc_table_show_treatments %}
        {% include 'peachjam/document/_document_treatments.html' with treatments=document.treatments.all %}
      {% endif %}
      {% if document.doc_type == "judgment" and document.flynote %}
        <div class="d-none d-md-block">
          <div class="text-muted fs-sm fst-italic">{{ document.flynote|safe }}</div>
        </div>
      {% elif document.listing_taxonomies %}
        <div class="d-none d-md-block ms-3">
          {% include 'peachjam/_document_taxonomies.html' with taxonomies=document.listing_taxonomies %}
        </div>
      {% endif %}
      <div id="saved-document-table-detail--{{ document.pk }}"></div>
    </td>
  {% endif %}
  {% if doc_table_citations %}<td class="cell-citation">{{ document.citation|default_if_none:'' }}</td>{% endif %}
  {% if doc_table_show_jurisdiction %}
    {% if MULTIPLE_JURISDICTIONS %}
      <td>
        {% jurisdiction_icon document %}&nbsp;{{ document.jurisdiction|default_if_none:'' }}
        {% if document.locality %}· {{ document.locality }}{% endif %}
      </td>
    {% elif MULTIPLE_LOCALITIES %}
      <td>{{ document.locality|default_if_none:'' }}</td>
    {% endif %}
  {% endif %}
  {% if doc_table_show_author %}<td>{{ document.author.first|default_if_none:'' }}</td>{% endif %}
  {% if doc_table_show_court %}<td>{{ document.court|default_if_none:'' }}</td>{% endif %}
  {% if doc_table_show_sub_publication %}<td>{{ document.sub_publication|default_if_none:'' }}</td>{% endif %}
  {% if doc_table_show_frbr_uri_number %}<td>{{ document.frbr_uri_number }}</td>{% endif %}
  {% if doc_table_show_doc_type %}<td style="white-space: nowrap;">{{ document.get_doc_type_display }}</td>{% endif %}
  {% if doc_table_show_date %}<td class="cell-date text-nowrap">{{ document.date|default_if_none:'' }}</td>{% endif %}
</tr>
