{% load i18n %}
<!--
contents of #navigation-content will be placed in [data-offcanvas-body] for tablet/mobile screensize
and #navigation-column for desktop screensize.
-->
<div class="skip-links">
  <a href="#document-content">{% trans 'Skip to document content' %}</a>
</div>
<div id="navigation-content" class="d-none">
  <div class="navigation__inner">
    <nav>
      <div class="nav nav-tabs" id="navigation-tab" role="tablist">
        {% if display_type == 'akn' or display_type == 'html' %}
          <button class="nav-link d-none"
                  id="toc-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#toc"
                  type="button"
                  role="tab"
                  aria-controls="nav-toc"
                  aria-selected="true">
            {% trans 'Table of contents' %}
          </button>
        {% endif %}
        {% if display_type == 'pdf' %}
          <button class="nav-link"
                  id="pdf-previews-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#pdf-previews"
                  type="button"
                  role="tab"
                  aria-controls="nav-toc"
                  aria-selected="true">
            {% trans 'Pages' %}
          </button>
        {% endif %}
        <button class="nav-link"
                id="navigation-search-tab"
                data-bs-toggle="tab"
                data-bs-target="#navigation-search"
                type="button"
                role="tab"
                aria-controls="nav-search"
                aria-selected="false">
          {% trans 'Search' %}
        </button>
      </div>
    </nav>
    <div class="tab-content"
         id="navigation-tab-content"
         data-preview-scroll-container>
      <div class="tab-pane h-100"
           id="navigation-search"
           role="tabpanel"
           aria-labelledby="nav-search-tab">
        <div data-doc-search class="h-100"></div>
      </div>
      {% if display_type == 'akn' or display_type == 'html' %}
        <div class="tab-pane h-100"
             id="toc"
             role="tabpanel"
             aria-labelledby="toc-tab">
          <aside class="toc">
          </aside>
        </div>
      {% endif %}
      {% if display_type == 'pdf' %}
        <div class="tab-pane pdf-previews-pane"
             id="pdf-previews"
             role="tabpanel"
             aria-labelledby="pdf-previews">
          <div class="pdf-previews"></div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-start document-content__offcanvas"
     tabindex="-1"
     id="navigation-offcanvas"
     aria-labelledby="navigation-offcanvasLabel">
  <div class="offcanvas-header justify-content-end">
    <button type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
  </div>
  <div class="navigation" data-offcanvas-body></div>
</div>
{{ document.toc_json|json_script:"akn_toc_json" }}
