<div class="mb-3">
  <div class="row">
    <div class="{% if document.work.partner.logo %}col-9{% else %}col{% endif %}">
      <h5>{{ document.work.partner.name }}</h5>
      <div>{{ document.work.partner.document_blurb_html|safe }}</div>
    </div>
    {% if document.work.partner.logo %}
      <div class="col">
        {% if document.work.partner.url %}<a href="{{ document.work.partner.url }}" target="_blank">{% endif %}
        <img src="{{ document.work.partner.logo.get_absolute_url }}"
             alt="{{ document.work.partner.name }}"
             class="img-fluid"/>
        {% if document.work.partner.url %}</a>{% endif %}
      </div>
    {% endif %}
  </div>
</div>
