{% load peachjam static i18n %}
<div class="btn-toolbar justify-content-end mb-3"
     role="toolbar"
     aria-label="{% trans "Document toolbar" %}">
  {% block edit-btn %}
    {% if perms.peachjam.change_coredocument or perms.peachjam.can_edit_own_document %}
      <a class="btn btn-outline-secondary btn-shrink-sm"
         href="{{ document|admin_url:'change' }}">{% trans "Edit" %}</a>
    {% endif %}
  {% endblock %}
  {% block download-btn %}
    <div>
      {% if show_save_doc_button %}
        <div hx-get="{% url 'save_document_button' document.id %}"
             hx-trigger="load"></div>
        <div id="saveDocumentModal"
             class="modal fade"
             tabindex="-1"
             aria-hidden="true">
          <div id="saveDocumentModalDialog" class="modal-dialog"></div>
        </div>
      {% endif %}
    </div>
    {% if document.source_file %}
      <div class="btn-group dropdown-center ms-2">
        <a href="{% url 'document_source' document.expression_frbr_uri|strip_first_character %}"
           class="btn btn-primary btn-shrink-sm"
           target="_blank">
          {% trans "Download" %} {{ document.source_file.filename_extension|upper }}
          ({{ document.source_file.size|filesizeformat }})
        </a>
        {% if document.source_file.filename_extension != "pdf" %}
          <button type="button"
                  class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <span class="visually-hidden">{% trans "Toggle dropdown" %}</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                 href="{% url 'document_source_pdf' document.expression_frbr_uri|strip_first_character %}"
                 target="_blank">{% trans "Download" %} PDF</a>
            </li>
          </ul>
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}
  {% block report-problem-btn %}
    <div>
      <button type="button"
              class="btn btn-outline-secondary btn-shrink-sm ms-2"
              data-bs-toggle="modal"
              data-bs-target="#documentProblemModal">
        <span class="d-inline d-sm-none">{% trans "Report" %}</span>
        <span class="d-none d-sm-inline">{% trans 'Report a problem' %}</span>
      </button>
      <div class="modal fade"
           id="documentProblemModal"
           tabindex="-1"
           aria-labelledby="documentProblemModalTitle"
           aria-hidden="true"
           data-vue-component="DocumentProblemModal">
      </div>
    </div>
  {% endblock %}
</div>
