{% load peachjam static i18n %}
<div class="btn-toolbar justify-content-end mb-3 document-detail-toolbar"
     role="toolbar"
     aria-label="{% trans "Document toolbar" %}">
  {% block edit-btn %}
    {% if user.is_staff %}
      {% if document.ingestor_edit_url %}
        <div class="btn-group">
          <a class="btn btn-outline-secondary btn-shrink-sm"
             href="{{ document.ingestor_edit_url }}"
             target="_blank">{% trans "Edit" %}</a>
          <button type="button"
                  class="btn btn-outline-secondary btn-shrink-sm dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown">
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{{ document|admin_url:'change' }}">{% trans "Edit in admin area" %}</a>
            </li>
          </ul>
        </div>
      {% else %}
        <a class="btn btn-outline-secondary btn-shrink-sm"
           href="{{ document|admin_url:'change' }}">{% trans "Edit" %}</a>
      {% endif %}
    {% endif %}
  {% endblock %}
  {% block download-btn %}
    <div>
      {% if show_save_doc_button %}
        <div hx-get="{% url 'saved_document_button' document.id %}"
             hx-trigger="load"></div>
        <!-- these will be replaced by htmx -->
        <div class="save-document-button save-document-button--{{ document.id }}"></div>
        {% include 'peachjam/saved_document/_modal_placeholder.html' %}
      {% endif %}
    </div>
    {% if document.source_file and not document.source_file.private %}
      <div class="btn-group dropdown-center ms-2">
        <a href="{% url 'document_source' document.expression_frbr_uri|strip_first_character %}"
           class="btn btn-primary btn-shrink-sm"
           target="_blank">
          {% trans "Download" %} {{ document.source_file.filename_extension|upper }}
          ({{ document.source_file.size|filesizeformat }})
        </a>
        {% if document.source_file.filename_extension != "pdf" %}
          <button type="button"
                  class="btn btn-primary btn-shrink-sm dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <span class="visually-hidden">{% trans "Toggle dropdown" %}</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                 href="{% url 'document_source_pdf' document.expression_frbr_uri|strip_first_character %}"
                 target="_blank">{% trans "Download" %} PDF</a>
            </li>
          </ul>
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}
  {% block report-problem-btn %}
    <div>
      <button type="button"
              class="btn btn-outline-secondary btn-shrink-sm ms-2"
              data-bs-toggle="modal"
              data-bs-target="#documentProblemModal">
        <span class="d-md-none">{% trans "Report" %}</span>
        <span class="d-none d-md-inline">{% trans 'Report a problem' %}</span>
      </button>
      <div class="modal fade"
           id="documentProblemModal"
           tabindex="-1"
           aria-labelledby="documentProblemModalTitle"
           aria-hidden="true"
           data-vue-component="DocumentProblemModal">
      </div>
    </div>
  {% endblock %}
</div>
