{% load peachjam %}
{% load i18n %}

<div data-component="DocumentContent">
  {% if document.content_html %}
    <div class="row">
      <div class="col-lg-3 d-none d-lg-flex vh-100 position-sticky"
           style="top:0; left: 0"
      >
        {% if document.content_html_is_akn %}
        <div class="d-flex flex-column w-100">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active"
                      id="toc-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-toc"
                      type="button"
                      role="tab"
                      aria-controls="nav-toc"
                      aria-selected="true">
                Table of contents
              </button>
              <button class="nav-link"
                      id="nav-search-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-search"
                      type="button"
                      role="tab"
                      aria-controls="nav-search"
                      aria-selected="false">
                Search
              </button>
            </div>
          </nav>
          <div class="tab-content flex-grow-1" id="nav-tabContent">
            <div class="tab-pane fade show active h-100" id="nav-toc"
                 role="tabpanel"
                 aria-labelledby="toc-tab">
              <aside class="toc">
                <la-table-of-contents-controller
                    items="{{ document.toc_json|jsonify }}"
                    expand-all-btn-classes="btn btn-secondary btn-sm"
                    collapse-all-btn-classes="btn btn-secondary btn-sm"
                    title-filter-clear-btn-classes="btn btn-secondary btn-sm"
                    search-filter-input-classes="form-control"
                ></la-table-of-contents-controller>
              </aside>
            </div>
            <div class="tab-pane fade h-100"
                 id="nav-search" role="tabpanel"
                 aria-labelledby="nav-search-tab"
            >
              <div id="akn-doc-search" class="h-100"></div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="w-100">
          <div class="h-100" id="html-doc-search"></div>
        </div>
        {% endif%}
      </div>
      <div class="col-lg-9">
        {% if document.content_html_is_akn %}
          <div class="la-akoma-ntoso-with-gutter" data-component="RelationshipEnrichments">
            <la-akoma-ntoso
                id="akn"
                expression-frbr-uri="{{ document.expression_frbr_uri }}"
                class="flash-target"
            >
              <la-decorate-terms popup-definitions link-terms></la-decorate-terms>
              <la-decorate-internal-refs flag popups></la-decorate-internal-refs>

              {{ document.content_html|safe }}
            </la-akoma-ntoso>
            <la-gutter></la-gutter>
          </div>
        {% else %}
          <div data-html-doc>
            {{ document.content_html|safe }}
          </div>
        {% endif%}
      </div>
    </div>
  {% else %}
    <div data-component="PdfRenderer"
         data-pdf="{% url 'document_source_pdf' expression_frbr_uri=document.expression_frbr_uri %}"
         data-pdf-size="{{ document.source_file.file.size }}"
         data-is-loading
    >
      <div class="pdf-loading-text text-center mb-2"><strong>Loading PDF...</strong></div>
      <div class="progress">
        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
             role="progressbar">
        </div>
      </div>
      <div class="pdf-renderer">
        <div class="pdf-renderer__left">
          <nav>
            <div class="nav nav-tabs" id="pdf-tabs" role="tablist">
              <button class="nav-link active"
                      id="pdf-previews-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-pdf-previews"
                      type="button"
                      role="tab"
                      aria-controls="nav-pdf-previews"
                      aria-selected="true">
                Pages
              </button>
              <button class="nav-link"
                      id="pdf-search-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-pdf-search"
                      type="button"
                      role="tab"
                      aria-controls="nav-pdf-search"
                      aria-selected="false">
                Search
              </button>
            </div>
          </nav>
          <div class="tab-content" id="pdf-tabContent">
            <div class="tab-pane fade show active" id="nav-pdf-previews"
                 role="tabpanel"
                 aria-labelledby="pdf-previews-tab">
              <div class="previews">
                <div class="previews__inner"></div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-pdf-search" role="tabpanel" aria-labelledby="pdf-search-tab">
              <div id="pdf-doc-search" class="h-100"></div>
            </div>
          </div>
        </div>
        <div class="pdf-renderer__content"></div>
        <div class="pdf-renderer__right"></div>
      </div>
    </div>
  {% endif %}
</div>
