{% load i18n peachjam %}
<div class="entity-profile {% if entity_profile.background_photo %} has-background-photo{% endif %}">
  <div class="entity-profile__background-photo">
    {% if entity_profile.background_photo %}
      <img src="{{ entity_profile.background_photo.url }}"
           alt="background image"
           loading="lazy"/>
    {% endif %}
  </div>
  <div class="entity-profile__body">
    {% if entity_profile.profile_photo %}
      <img src="{{ entity_profile.profile_photo.url }}"
           class="entity-profile__body__profile-image"
           alt="profile image"
           loading="lazy"/>
    {% endif %}
    <div class="entity-profile__body__info">
      <div class="d-flex">
        <h1 class="flex-grow-1">{{ entity_profile_title|default:entity_profile.title }}</h1>
        <div hx-get="{% url 'user_following_button' %}?{{ entity_profile.content_object|get_follow_params }}"
             hx-trigger="load">
        </div>
      </div>
      {% if entity_profile.about_html %}<div class="mb-2">{{ entity_profile.about_html|safe }}</div>{% endif %}
      <div class="row">
        {% if entity_profile.address %}
          <div class="col-12 col-sm-6">
            <div>
              <strong>{% trans 'Physical address' %}</strong>
            </div>
            <div>{{ entity_profile.address }}</div>
          </div>
        {% endif %}
        {% if entity_profile.website_url %}
          <div class="col-12 col-sm-6">
            <div>
              <strong>{% trans 'Visit website' %}</strong>
            </div>
            <a href="{{ entity_profile.website_url }}" target="_blank">{{ entity_profile.website_url }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
