{% load i18n %}
{% if flynote_taxonomies %}
  <h6 class="mb-1 fw-bold">{% trans 'Flynote' %}</h6>
  <div class="mb-2 fst-italic">
    {% for path in flynote_taxonomies %}
      {% if not forloop.first %};{% endif %}
      {% for node in path %}
        {% if not forloop.first %}—{% endif %}
        <a href="{{ node.url }}">{{ node.name }}</a>
      {% endfor %}
    {% endfor %}
    .
  </div>
{% elif document.flynote %}
  <h6 class="mb-1 fw-bold">{% trans 'Flynote' %}</h6>
  <div class="mb-2 fst-italic">{{ document.flynote|safe }}</div>
{% endif %}
