{% load static %}
{% load i18n %}
<footer class="pt-4 pb-4 footer">
  <div class="container">
    <a href="{% url 'pocketlaw_resources' %}" style="display: none"></a>
    {% block newsletter-form %}
      {% if PEACHJAM_SETTINGS.mailchimp_form_url %}
        {% include 'peachjam/_mailchimp_form.html' %}
      {% endif %}
    {% endblock %}
    {% block social-media %}
      {% include 'peachjam/_social_media.html' %}
    {% endblock %}
    <hr/>
    <div class="row">
      <div class="col-lg-4">
        {% block first-content-column %}
          <div class="mb-3">
            <strong>First column title</strong>
          </div>
          <p>Column content</p>
        {% endblock %}
      </div>
      <div class="col-lg-4 mb-3">
        {% block second-content-column %}
          <div class="mb-3">
            <strong>Second column title</strong>
          </div>
          <p>Column content</p>
        {% endblock %}
      </div>
      <div class="col-lg-4 mb-3">
        {% block third-content-column %}
          <div class="mb-3">
            <strong>Third column title</strong>
          </div>
          <p>Column content</p>
        {% endblock %}
      </div>
    </div>
    <hr/>
    {% block footer-logos %}
      <div class="footer-logos">
        <div class="footer-logos__item">Footer logo item</div>
        <div class="footer-logos__item">Footer logo item</div>
        <div class="footer-logos__item">Footer logo item</div>
      </div>
    {% endblock %}
  </div>
</footer>
