{% extends 'peachjam/_judgment_table.html' %}
{% block table-body %}
  <tbody>
    {% for item in grouped_documents %}
      {% if item.judgments %}
        <tr>
          <th colspan="2" scope="row">{{ item.key }}</th>
        </tr>
        <tr>
          {% for judgment in item.judgments %}
            <td>
              <a href="{{ judgment.get_absolute_url }}">{{ judgment.title }}</a>
              {% include 'peachjam/_labels.html' with labels=judgment.labels.all %}
            </td>
            <td style="white-space: nowrap;">{{ judgment.date }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </tbody>
{% endblock %}
