{% load static i18n %}
<header>
  {% block skip-links %}
    <div id="skip-links">
      <a class="bg-white" href="#top">{% trans 'Go to page content' %}</a>
      <a class="bg-white" href="#main-nav">{% trans 'Go to main menu' %}</a>
      <a class="bg-white" href="#search">{% trans 'Go to search' %}</a>
    </div>
  {% endblock %}
  {% block top-bar %}<div>Top bar content</div>{% endblock %}
  <nav id="main-nav" class="navbar navbar-expand-lg shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home_page' %}">
        {% block navbar-logo %}Logo image{% endblock %}
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="bi bi-list" style="font-size: 35px"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% block nav-items %}
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item</a>
            </li>
          {% endblock %}
        </ul>
        {% if request.path == '/' %}
        {% else %}
          <form method="get" action="{% url 'search:search' %}">
            {% block search-form %}
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                       aria-label="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                       aria-describedby="button-addon2"
                       name="q"/>
                <button class="btn btn-dark" type="submit" id="button-addon2">
                  <i class="bi bi-search text-white"></i>
                </button>
              </div>
            {% endblock %}
          </form>
        {% endif %}
        {% if user.is_authenticated %}
          <ul class="navbar-nav">
            {% block navbar-user-menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                  {{ user }}
                </a>
                <ul class="dropdown-menu">
                  <li>
                    {% if user.is_superuser %}
                      <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
                    <a class="dropdown-item" href="{% url 'folder_list' %}">{% trans 'Saved documents' %}</a>
                  </li>
                </ul>
              </li>
            {% endblock %}
          </ul>
        {% else %}
          <a class="btn btn-primary ms-3" href="{% url 'account_login' %}">Log in</a>
        {% endif %}
        {% include 'peachjam/_set_language.html' %}
      </div>
    </div>
  </nav>
</header>
