{% load i18n %}
<div class="doc-table doc-table-title-date">
  <div class="doc-table-row doc-table-head">
    <div class="doc-table-cell cell-title">{% trans 'Title' %}</div>
    <div class="doc-table-cell cell-date">{% trans 'Date' %}</div>
  </div>
  {% block table-body %}
    {% for document in documents %}
      <div class="doc-table-row">
        <div class="doc-table-cell cell-title">
          <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
          {% include 'peachjam/_labels.html' with labels=document.labels.all %}
        </div>
        <div class="doc-tabl-cell cell-date" style="white-space: nowrap;">{{ document.date }}</div>
      </div>
    {% endfor %}
  {% endblock %}
</div>
