{% load i18n %}
{% if judge_rendered_facets %}
  <aside id="judge-{{ judge_filter_scope }}-filters-section"
         class="col-lg-3"
         aria-labelledby="{{ judge_filter_form_id }}-filters-heading">
    <button class="btn btn-primary d-lg-none w-100 mb-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#judge-{{ judge_filter_scope }}-filters"
            aria-expanded="false"
            aria-controls="judge-{{ judge_filter_scope }}-filters">
      {% trans "Filters" %}
    </button>
    <div class="collapse d-lg-block"
         id="judge-{{ judge_filter_scope }}-filters"
         data-component="DocumentFilterForm"
         hx-target="#judge-list-updates"
         hx-select="#judge-list-updates"
         hx-swap="outerHTML"
         hx-sync="#{{ judge_filter_form_id }}:replace">
      <div class="document-list-facets">
        {% include "peachjam/_facet_list.html" with facet_form_id=judge_filter_form_id rendered_facets=judge_rendered_facets show_clear_all=judge_show_clear_all facet_form_attribute=True %}
      </div>
    </div>
  </aside>
{% endif %}
