{% load i18n %}
<h5 class="mb-2">
  {% block newsletter-title %}
    {% trans 'Subscribe' %}
  {% endblock %}
</h5>
<div class="row">
  <div class="col-12 col-md-6 mb-3">
    <p class="lead mb-0">
      {% block newsletter-blurb %}
        {% trans 'Subscribe to our newsletter for updates and news.' %}
      {% endblock %}
    </p>
  </div>
  <div class="col-12 col-md-6 mb-3">
    {% block newsletter-form-code %}
      <form action="{{ PEACHJAM_SETTINGS.mailchimp_form_url }}"
            method="post"
            name="mc-embedded-subscribe-form"
            target="_blank">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <input type="text"
                 name="b_4f4bdccc4d82422fd556af74f_da4493f83c"
                 tabindex="-1"
                 value=""/>
        </div>
        <div class="input-group">
          <input type="email"
                 value=""
                 name="EMAIL"
                 class="form-control"
                 placeholder="email address"
                 required=""/>
          <input type="submit"
                 value="Subscribe"
                 name="subscribe"
                 class="btn btn-secondary"/>
        </div>
      </form>
    {% endblock %}
  </div>
</div>
