{% if messages %}
  {% for message in messages %}
    {% if message.type == 10 %}
      <div class="alert alert-secondary">
        <i class="fa fa-info-circle"></i> {{ message.html }}
      </div>
    {% endif %}
    {% if message.type == 20 %}
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> {{ message.html }}
      </div>
    {% endif %}
    {% if message.type == 25 %}
      <div class="alert alert-success">
        <i class="fa fa-info-circle"></i> {{ message.html }}
      </div>
    {% endif %}
    {% if message.type == 30 %}
      <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i> {{ message.html }}
      </div>
    {% endif %}
    {% if message.type == 40 %}
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i> {{ message.html }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
