{% load i18n peachjam %}
<nav aria-label="{% trans 'Pagination' %}">
  {% get_mobile_elided_page_range paginator page_obj.number as mobile_page_range %}
  <ul class="pagination flex-nowrap d-sm-none">
    {% include 'peachjam/_pagination_items.html' with page_range=mobile_page_range mobile=True %}
  </ul>
  {% get_proper_elided_page_range paginator page_obj.number as desktop_page_range %}
  <ul class="pagination flex-wrap d-none d-sm-flex">
    {% include 'peachjam/_pagination_items.html' with page_range=desktop_page_range mobile=False %}
  </ul>
</nav>
