{% load i18n %}
<div class="card my-4 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ document.get_absolute_url }}" class="">{{ document.title }}</a>
    </h5>
    <ul class="list-unstyled mt-3">
      {% for enrichment in document.filtered_enrichments %}
        <li class="mb-4 pb-3 border-bottom">
          <p class="mb-2">
            <a href="#{{ enrichment.provision_eid }}" class="provision-link fw-bold">
              {{ document.title }}#{{ enrichment.provision_eid }}
            </a>
          </p>
          <div class="px-2">
            <p class="my-2">
              <span class="badge bg-danger">{{ enrichment.get_enrichment_type_display }}</span>
              {% if enrichment.resolved %}
                <span class="badge bg-success">{% trans 'Resolved' %}</span>
              {% endif %}
            </p>
            {% if enrichment.provision_by_eid %}
              <la-akoma-ntoso
              frbr-expression-uri="{{ document.expression_frbr_uri }}"
              class="bg-light flash-target content content__akn border-start p-2 border-2 border-danger rounded"
              lang="{{ document.language.iso }}"
              >
              <la-decorate-terms popup-definitions link-terms></la-decorate-terms>
              <la-decorate-internal-refs flag popups></la-decorate-internal-refs>
              {{ enrichment.provision_by_eid|safe }}
              </la-akoma-ntoso>
            {% endif %}
          </div>
          <p class="my-2">{{ enrichment.text }}</p>
          {% if enrichment.enrichment_type == 'unconstitutional_provision' %}
            {% if enrichment.judgment %}
              <p class="mb-1">
                <strong>{% trans 'Judgment' %}:</strong>
                <span><a href="{{ enrichment.judgment.documents.latest_expression.first.get_absolute_url }}">{{ enrichment.judgment.documents.latest_expression.first.title }}</a></span>
              </p>
            {% endif %}
            {% if enrichment.date_deemed_unconstitutional %}
              <p class="mb-1">
                <strong>{% trans 'Date deemed unconstitutional' %}:</strong>
                <span>{{ enrichment.date_deemed_unconstitutional }}</span>
              </p>
            {% endif %}
            {% if enrichment.end_of_suspension_period %}
              <p class="mb-1">
                <strong>{% trans 'End of suspension period' %}:</strong>
                <span>{{ enrichment.end_of_suspension_period }}</span>
              </p>
            {% endif %}
            {% if enrichment.date_resolved %}
              <p class="mb-1">
                <strong>{% trans 'Date resolved' %}:</strong>
                <span>{{ enrichment.date_resolved }}</span>
              </p>
            {% endif %}
            {% if enrichment.resolving_amendment_work %}
              <p class="mb-1">
                <strong>{% trans 'Resolving amendment' %}:</strong>
                <span>
                  <a href="{{ enrichment.resolving_amendment_work.documents.latest_expression.first.get_absolute_url }}">
                    {{ enrichment.resolving_amendment_work.title }}
                  </a>
                </span>
              </p>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
