{% load i18n %}
<form action="{% url 'search:search' %}" method="get" class="d-flex mb-1">
  <input type="text"
         aria-label="{% trans 'Search' %}{{ court.name }} {{ author.name }} {{ nature.name }} {{ registry.name }} {% if MULTIPLE_JURISDICTIONS and country %}{{ country.name }}{% endif %} {{ locality.name }} {{ year }}"
         class="form-control flex-grow-1"
         name="q"
         placeholder="{% trans 'Search ' %}{{ court.name }} {{ author.name }} {{ nature.name }} {{ registry.name }} {% if MULTIPLE_JURISDICTIONS and country %}{{ country.name }}{% endif %} {{ locality.name }} {{ year }} "/>
  <input type="submit" class="btn btn-outline-primary ms-2" value="Search"/>
  {% if year %}<input type="hidden" name="year" value="{{ year }}"/>{% endif %}
  {% if court and court.code != "all" %}<input type="hidden" name="court" value="{{ court }}"/>{% endif %}
  {% if author %}<input type="hidden" name="authors" value="{{ author }}"/>{% endif %}
  {% if nature %}<input type="hidden" name="nature" value="{{ nature }}"/>{% endif %}
  {% if registry %}<input type="hidden" name="registry" value="{{ registry }}"/>{% endif %}
  {% if MULTIPLE_JURISDICTIONS and country %}<input type="hidden" name="jurisdiction" value="{{ country }}"/>{% endif %}
  {% if locality %}<input type="hidden" name="locality" value="{{ locality }}"/>{% endif %}
</form>
<a href="{% url 'search:search' %}?show-advanced-tab=1&nature={{ nature }}">{% trans "Advanced search" %}</a>
