{% load peachjam i18n %}
<h2>{% trans 'Ratified documents' %}</h2>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Title' %}</th>
      <th>{% trans 'Signature Date' %}</th>
      <th>{% trans 'Ratification Date' %}</th>
      <th>{% trans 'Deposit Date' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for ratification_country in ratification_countries %}
      <tr>
        <td>
          <a href="{{ ratification_country.ratification.work.get_absolute_url }}">{{ ratification_country.ratification.work.title }}</a>
        </td>
        <td>{{ ratification_country.signature_date.isoformat }}</td>
        <td>{{ ratification_country.ratification_date.isoformat }}</td>
        <td>{{ ratification_country.deposit_date.isoformat }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
