{% load peachjam i18n %}
{% if documents %}
  <table class="doc-table">
    {% for document in documents %}
      <tr>
        <td class="cell-title">
          <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
          {% include 'peachjam/_labels.html' with labels=document.labels.all %}
        </td>
        <td class="cell-date" style="white-space: nowrap;">{{ document.date }}</td>
      </tr>
    {% endfor %}
  </table>
  {% if view_more_url_name %}
    <a class="btn btn-primary" href="{% url view_more_url_name %}">{{ view_more_text }}</a>
  {% endif %}
{% else %}
  <p>{% trans 'No recent documents.' %}</p>
{% endif %}
