{% load peachjam i18n %}
{% if documents %}
  <table class="doc-table {% if collapse %}doc-table--collapse{% endif %} {% if with_citations %}doc-table--citations{% endif %}">
    {% for document in documents %}
      <tr>
        <td class="cell-title">
          <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
          {% include 'peachjam/_labels.html' with labels=document.labels.all %}
        </td>
        {% if with_citations %}<td class="cell-citation">{{ document.citation|default_if_none:'' }}</td>{% endif %}
        <td class="cell-date" style="white-space: nowrap;">{{ document.date }}</td>
      </tr>
    {% endfor %}
  </table>
  {% if view_more_url_name %}
    <a class="btn btn-primary" href="{% url view_more_url_name %}">{{ view_more_text }}</a>
  {% endif %}
{% else %}
  <p>{% trans 'No recent documents.' %}</p>
{% endif %}
