{% load i18n peachjam %}
{% for article in articles %}
  <div class="rounded-0 p-2 mb-3">
    <div class="my-1">
      <div>
        {% if article.image %}
          <a href="{{ article.get_absolute_url }}">
            <img src="{{ article.image.url }}"
                 alt="{{ article.title }}"
                 class="img-fluid"/>
          </a>
        {% endif %}
      </div>
      <div>
        <h5>
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </h5>
        <ul class="text-muted list-inline text-muted">
          <li class="list-inline-item">{{ article.date }}</li>
          <li class="list-inline-item">
            <a href={% url 'user_profile' article.author.username %}>{% user_name article.author %}</a>
          </li>
          {% for topic in article.topics.all %}
            <li class="list-inline-item">
              <a href="{% url 'article_topic' topic.slug %}">{{ topic }}</a>
            </li>
          {% endfor %}
        </ul>
        {% if article.summary %}<p>{{ article.summary }}</p>{% endif %}
      </div>
    </div>
  </div>
{% endfor %}
