{% load peachjam i18n %}
<h4>{% trans "Related documents" %}</h4>
<div class="mb-3">
  <a href="#help"
     class="btn btn-sm btn-outline-info"
     data-bs-toggle="help-popover"
     data-bs-content="Other documents related to this one."
     data-bs-trigger="click"><i class="bi bi-question-circle"></i> Help</a>
</div>
<div class="row">
  {% if relationships_as_subject %}
    <div class="col-md">
      <ul class="list-unstyled">
        {% for rel in relationships_as_subject %}
          {% if rel.object_work %}
            <li>
              {% translate rel.predicate.verb as verb %}
              {{ verb|capfirst }}
              <a href="{% url 'document_detail' frbr_uri=rel.object_work.frbr_uri|strip_first_character %}">{{ rel.object_work.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if relationships_as_object %}
    <div class="col-md">
      <ul class="list-unstyled">
        {% for rel in relationships_as_object %}
          {% if rel.subject_work %}
            <li>
              {% translate rel.predicate.reverse_verb as verb %}
              {{ verb|capfirst }}
              <a href="{% url 'document_detail' frbr_uri=rel.subject_work.frbr_uri|strip_first_character %}">{{ rel.subject_work.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
