{% load peachjam i18n %}
<h4 class="mb-3">
  <i class="bi bi-pj pj-related"></i>
  {% trans "Related documents" %}
</h4>
<div class="row">
  {% if relationships_as_object %}
    <div class="col-lg">
      {% for verb, rels in relationships_as_object %}
        <h4>{% translate verb as verb %}{{ verb|capfirst }}</h4>
        <ol class="mb-4">
          {% for rel in rels %}
            {% if rel.subject_work %}
              <li>
                {% translate rel.predicate.reverse_verb as verb %}
                <a href="{% url 'document_detail' frbr_uri=rel.subject_work.frbr_uri|strip_first_character %}">{{ rel.subject_work.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endfor %}
    </div>
  {% endif %}
  {% if relationships_as_subject %}
    <div class="col-lg mb-5">
      {% for verb, rels in relationships_as_subject %}
        <h4>{% translate verb as verb %}{{ verb|capfirst }}</h4>
        <ol>
          {% for rel in rels %}
            {% if rel.object_work %}
              <li>
                <a href="{% url 'document_detail' frbr_uri=rel.object_work.frbr_uri|strip_first_character %}">{{ rel.object_work.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% if user.is_authenticated %}
  {% block extra-related-documents %}{% endblock %}
{% else %}
  <p>
    <a href="{% url 'account_signup' %}?next={{ request.get_full_path|urlencode }}">{% trans "Sign up" %}</a> or <a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}">{% trans "Log in" %}</a> to see similar documents.
  </p>
{% endif %}
