{% load static i18n %}
<div class="d-flex justify-content-end mb-3">
  <button type="button"
          class="btn btn-outline-secondary"
          data-bs-toggle="modal"
          data-bs-target="#reportModal">
    Report a problem
  </button>
</div>
<div class="modal fade"
     id="reportModal"
     tabindex="-1"
     aria-labelledby="reportModalLabel"
     aria-hidden="true"
     data-component="ReportDocumentIssue">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">{% trans 'Is there something wrong with this document?' %}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="report-form" method="post">
          {% csrf_token %}
          <input type="hidden"
                 name="document_link"
                 value="{{ request.build_absolute_uri }}"/>
          <div class="form-group mb-2">
            <label for="problem_description">
              {% trans "What's the problem?" %}<span class="text-danger">*</span>
            </label>
            <textarea class="form-control"
                      id="problem_description"
                      name="problem_description"
                      rows="4"
                      required></textarea>
          </div>
          <div class="form-group">
            <label for="email_address">{% trans "Your email address (optional)" %}</label>
            <input type="email"
                   class="form-control"
                   id="email_address"
                   name="email_address"
                   placeholder="example@example.com"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-success" form="report-form">{% trans 'Report problem' %}</button>
      </div>
    </div>
  </div>
</div>
