{% load i18n %}
<form action="{% url 'set_language' %}"
      method="post"
      class="ms-0 ms-lg-3 mt-2 mt-lg-0">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}"/>
  <select class="form-select"
          name="language"
          onChange="form.submit();"
          id="language">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
      <option value="{{ language.code }}"
              {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
        {{ language.name_local }} ({{ language.code }})
      </option>
    {% endfor %}
  </select>
</form>
