{% load i18n %}

<div>
  {% if taxonomies|length > 0 %}
    <div class="row">
      {% for taxonomy in taxonomies %}
        {% if taxonomy.is_root and taxonomy.get_children|length > 0%}
          <div class="col-12 col-lg-6 mb-4">
            <div class="card">
              <div class="card-header">
                {{ taxonomy }}
              </div>
                <ul class="list-group list-group-flush">
                  {% for child in taxonomy.get_children %}
                    <li class="list-group-item">
                      <a href="{% url 'taxonomy_detail' taxonomy.slug child.slug %}">
                        {{ child }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div> {% trans 'No taxonomies found' %} </div>
  {% endif %}
</div>
