{% load i18n peachjam %}
{% if taxonomies|length > 0 %}
  <div class="flow-columns">
    {% for taxonomy in taxonomies %}
      {% if taxonomy.children|length > 0 %}
        <div class="flow-columns-group mb-4">
          <div class="card">
            <h5 class="card-header">{{ taxonomy.data.name }}</h5>
            <ul class="list-group list-group-flush">
              {% for child in taxonomy.children %}
                <li class="list-group-item">
                  <a href="{% url taxonomy_url taxonomy.data.slug child.data.slug %}">{{ child.data.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
  <div>{% trans 'No taxonomies found' %}</div>
{% endif %}
