{% load peachjam i18n %}

<h5>{% translate 'Taxonomies' %}</h5>
{% for taxonomy in taxonomies %}
  <div class="d-flex pt-2">
    {% for item in taxonomy.topic.get_ancestors %}
      <div class="me-2 d-flex align-items-center">
        <a class="me-2" href="{% build_taxonomy_url item %}">
          {{ item }}
        </a>
        <i class="bi bi-chevron-right"></i>
      </div>
    {% endfor %}
    <div>
      <a href="{% build_taxonomy_url taxonomy.topic %}">
        {{ taxonomy.topic }}
      </a>
    </div>
  </div>
{% endfor %}
