{% load peachjam i18n %}
<h4>
  <i class="bi bi-pj pj-history"></i>
  {% trans 'History of this document' %}
</h4>
<div class="vertical-timeline ms-5 mt-4">
  {% for history_item in timeline_events %}
    <div class="vertical-timeline__item">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">
            {{ history_item.date|parse_string_date|date:"d F Y" }}
            {% if history_item.date == current_object_date %}
              <span class="badge rounded-pill bg-primary">{% trans 'this version' %}</span>
            {% endif %}
            {% if history_item.contains_unapplied_amendment %}
              <span class="badge rounded-pill bg-secondary">{% trans 'amendment not yet applied' %}</span>
            {% endif %}
          </h5>
        </div>
        <div class="card-body">
          {% for event in history_item.events %}
            <div>
              {% if event.type == "publication" %}
                {% if event.link_url %}
                  <a href="{{ event.link_url }}">{{ event.description }}</a>
                {% else %}
                  {{ event.description }}
                {% endif %}
              {% else %}
                {{ event.description }}
                {% if event.by_frbr_uri %}<a href="{{ event.by_frbr_uri }}">{{ event.by_title }}</a>{% endif %}
              {% endif %}
            {% if event.note %}
              <p>{{ event.note }}</p>
            {% endif %}
            </div>
          {% endfor %}
          {% if history_item.date != current_object_date and history_item.expression_frbr_uri %}
            <a class="btn btn-outline-primary mt-2"
               href="{{ history_item.expression_frbr_uri }}">{% trans 'Read this version' %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
