{% load peachjam i18n %}


  <div class="tab-pane fade" id="history-tab" role="tabpanel" aria-labelledby="history-tab">
      <div class="card">
        <div class="card-body">
          <h4>History of this document</h4>
          {% if timeline_events %}
            <div class="vertical-timeline">
              {% for history_item in timeline_events %}
                <div class="vertical-timeline__item">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="mb-0">
                        {{ history_item.date|parse_string_date|date:"d F Y" }}
                        {% if history_item.date == current_object_date %}
                          <span class="badge rounded-pill bg-primary">this version</span>
                        {% endif %}
                      </h5>
                      {% for event in history_item.events %}
                        <div>
                          {% if event.event == "amendment" %}
                            Amended by
                            <a href="{{ event.amending_uri }}/eng/"><i>{{ event.amending_title }}</i></a>

                          {% elif event.event == "assent" %}
                            Assented to by council.

                          {% elif event.event == "commencement" %}
                            {{ friendly_type }} commences.

                          {% elif event.event == "publication" %}
                            Published in
                            <a href="{{ event.publication_url }}">{{ event.publication_name }} no. {{ event.publication_number }}</a>

                          {% elif event.event == "repeal" %}
                            Repealed by
                            <a href="{{ event.repealing_uri }}/eng/"><i>{{ event.repealing_title }}</i></a>
                          {% endif %}
                        </div>
                      {% endfor %}

                      {% if history_item.date != current_object_date %}
                        {% if document.expression_frbr_uri %}
                          <a class="btn btn-outline-primary mt-2" href="{{ document.expression_frbr_uri }}/">Read this version</a>
                        {% endif %}
                      {% endif %}
                    </div>
                </div>
              </div>
              {% endfor %}
            </div>
          {% else %}
            <div>No events</div>
          {% endif %}
        </div>
      </div>
  </div>
</div>
