{% load i18n %}
{% if user.is_authenticated %}
  <ul class="navbar-nav ms-auto me-2" hx-swap-oob="true" id="user-menu">
    <li class="nav-item dropdown">
      <a class="btn"
         href="#"
         role="button"
         data-bs-toggle="dropdown"
         data-bs-reference="body"
         aria-expanded="false">
        <i class="bi bi-person-circle"></i>
        <span class="d-none d-sm-inline">{% trans "My account" %}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end nav-user-dropdown-menu">
        <li class="dropdown-item username text-center mb-2">
          {{ user.first_name }} {{ user.last_name }}
          {% if user.email %}
            <div class="text-muted">
              <small>{{ user.email }}</small>
            </div>
          {% endif %}
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'my_home' %}">{{ MY_LII }}</a>
        </li>
        {% if PEACHJAM_SETTINGS.allow_save_documents %}
          <li>
            <a class="dropdown-item" href="{% url 'folder_list' %}">{% trans 'Saved documents' %}</a>
          </li>
        {% endif %}
        <li>
          <a class="dropdown-item" href="{% url 'user_following_list' %}">{% trans 'Following' %}</a>
        </li>
        {% if PEACHJAM_SETTINGS.allow_save_searches %}
          <li>
            <a class="dropdown-item" href="{% url 'search:saved_search_list' %}">{% trans 'Search alerts' %}</a>
          </li>
        {% endif %}
        <li>
          <hr class="dropdown-divider"/>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'my_account' %}">{% trans "My account" %}</a>
        </li>
        {% if user.is_staff %}
          <li>
            <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
          </li>
        {% endif %}
        <li>
          <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans 'Log out' %}</a>
        </li>
      </ul>
    </li>
  </ul>
{% elif PEACHJAM_SETTINGS.allow_signups %}
  <ul class="navbar-nav ms-auto me-2" hx-swap-oob="true" id="user-menu">
    <li class="nav-item">
      <a class="btn btn-primary"
         href="{% url 'account_login' %}?next={{ request.htmx.current_url_abs_path|urlencode }}">
        <i class="bi bi-person-circle"></i>
        {% trans "Log in" %}
      </a>
    </li>
  </ul>
{% endif %}
