{% load i18n %}

{% if years %}
    <div class="d-none d-lg-flex align-items-center mb-3">
      <i class="bi bi-calendar me-2"></i>
      <div class="d-flex flex-wrap">
        {% if showallyears %}
        <a class="btn btn-link {% if not year %}disabled{% endif %}" href="{{all_years_url}}">
          {% trans 'All years' %}
        </a>
        {% endif %}
        {% for y in years %}
          <a class="btn btn-link {% if y.year == year %}disabled{% endif %}"
             href="{{y.url}}">
            {{ y.year }}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if years %}
    <select class="form-select d-block d-lg-none" data-component="NavigationSelect">
      {% if showallyears %}
      <option value="{{all_years_url}}">{% trans 'All years' %}</option>
      {% endif %}
      {% for y in years %}
        <option
          value="{{y.url}}"
          {% if y.year == year %} selected {% endif %}
        >
          {{ y.year }}
        </option>
      {% endfor %}
    </select>
  {% endif %}
