{% load i18n %}
{% if years %}
  {% if showallyears %}
    <div>
      <a class="{% if not year %} active{% endif %}"
         href="{{ all_years_url }}">{% trans 'All years' %}</a>
    </div>
  {% endif %}
  <div class="pl-0 mt-2 mb-3 align-items-center d-none d-lg-flex">
    <i class="bi bi-calendar me-2"></i>
    <ul class="year-nav mb-0 ms-2">
      {% for y in years %}
        <li>
          <a class="{% if y.year == year %} active{% endif %}" href="{{ y.url }}">{{ y.year }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% if years %}
  <select class="form-select d-block d-lg-none"
          data-component="NavigationSelect">
    {% if showallyears %}
      <option value="{{ all_years_url }}">
        {% trans 'All years' %}
      </option>
    {% endif %}
    {% for y in years %}
      <option value="{{ y.url }}" {% if y.year == year %} selected{% endif %}>
        {{ y.year }}
      </option>
    {% endfor %}
  </select>
{% endif %}
