{% load i18n peachjam account %}
<div id="annotation-detail-{{ annotation.pk }}" class="card">
  <div class="card-body">
    <div class="d-flex mb-1">
      <div>
        <small class="fw-bold text-muted">{% user_display annotation.user %}</small>
      </div>
      <div class="dropdown ms-auto">
        <a href="#"
           class="dropdown-toggle"
           data-bs-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"></a>
        <div class="dropdown-menu">
          <a hx-target="#annotation-text-{{ annotation.pk }}"
             hx-get="{% url 'annotation_edit' annotation.document.pk annotation.pk %}"
             class="dropdown-item"
             role="button">{% trans 'Edit' %}</a>
          <a hx-confirm="{% trans 'Are you sure you want to delete this annotation?' %}"
             hx-target="#annotation-list-{{ document_pk }}"
             hx-post="{% url 'annotation_delete' annotation.document.pk annotation.pk %}"
             class="dropdown-item"
             role="button">{% trans 'Delete' %}</a>
        </div>
      </div>
    </div>
    <a href="{% url 'document_detail' annotation.document.expression_frbr_uri|strip_first_character %}#{{ annotation.target_id }}">{{ annotation.document }}</a>
    <div class="my-2">
      {% for selector in annotation.target_selectors %}
        {% if selector.type == 'TextQuoteSelector' %}
          <span>...{{ selector.prefix }}<mark>{{ selector.exact }}</mark>{{ selector.suffix }}...</span>
        {% endif %}
      {% endfor %}
    </div>
    <hr/>
    <div class="my-2">
      <div id="annotation-text-{{ annotation.pk }}">{{ annotation.text }}</div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-sm text-muted">{{ annotation.created_at }}</small>
  </div>
</div>
