{% extends 'peachjam/layouts/main.html' %}
<h1>Article Detail</h1>

{% block page-content %}
  <div>
	  {% if article.image %}
	    <h2>{{ article.title }}</h2>
	    <img src="{{ article.image.url }}">
	    <p>by <a href="{% url 'user_profile' article.author.username %}">{{ article.author.first_name }} {{ article.author.last_name }}</a> | {{ article.date|date:"F d, Y"}}</p>
	    <p>{{ article.body }}</p>
	  {% endif %}
  </div>

  <div>
    {% if user_profile.photo %}
      <img src="{{ user_profile.photo.url }}">
    {% endif %}
    <h2><a href="{% url 'user_profile' article.author.username %}">{{ article.author.first_name }} {{ article.author.last_name }}</a></h2>
    <h2><a href="{% url 'user_profile' article.author.username %}">More about the author</a></h2>
    <p>{{ user_profile.profile_description|truncatewords:10 }}</p>
  </div>

{% endblock page-content %}
