{% extends 'peachjam/layouts/main.html' %}
{% load i18n peachjam %}

{% block title %} {% trans 'Articles' %} {% endblock title %}

{% block page-content %}
  <div class="container">
    {% block article-list-title %}
      <h1 class="my-4">{% trans "Latest Articles" %}</h1>
    {% endblock %}

    {% for article in articles %}
      <div class="mb-3">
        <div class="row">
          <div class="col-3 col-lg-2">
            {% if article.image %}
              <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid" />
              </a>
            {% endif %}
          </div>
          <div class="col-9 col-lg-10">
            <h5><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
            <p class="text-muted">
              {{ article.date }}
              ·
              <a href={% url 'user_profile' article.author.username %}>{% user_name article.author %}</a>
            </p>
            <p>{{ article.summary }}</p>
          </div>
        </div>
      </div>
    {% endfor %}

    {% include 'peachjam/_pagination.html' %}
  </div>
{% endblock page-content %}
