{% extends 'peachjam/layouts/articles.html' %}
{% load i18n peachjam %}
{% block breadcrumb-items %}
  {% if grouped_articles %}<li class="breadcrumb-item active" aria-current="page">{{ year }}</li>{% endif %}
{% endblock %}
{% block article-header %}
  {% if grouped_articles %}
    <h1 class="my-4">{% trans "Articles" %} - {{ year }}</h1>
  {% else %}
    <h1 class="my-4">{% trans "Latest Articles" %}</h1>
  {% endif %}
{% endblock %}
{% block article-content %}
  {% include 'peachjam/_years_list.html' with showallyears=True %}
  {% block article-list %}
    {% if grouped_articles %}
      {% include 'peachjam/_grouped_article_list.html' %}
    {% else %}
      {% include "peachjam/_article_list.html" %}
    {% endif %}
  {% endblock %}
  {% include 'peachjam/_pagination.html' %}
{% endblock %}
