{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}{{ author }}{% endblock %}
{% block page-title %}
  {% if not entity_profile %}
    <h1 class="mt-4">{% blocktrans %} Documents by {{ author }} {% endblocktrans %}</h1>
  {% endif %}
{% endblock %}
{% block entity-profile %}
  {% with entity_profile_title=author entity_profile=author.entity_profile.first %}
    {% if entity_profile %}
      {% include 'peachjam/_entity_profile.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}
