{% extends 'peachjam/layouts/document_detail.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'bill_list' %}">{% trans 'Bills' %}</a>
      </li>
      {% if document.locality %}
        <li class="breadcrumb-item">
          <a href="{% url 'place_bill_list' document.locality.place_code %}">{{ document.locality.name }}</a>
        </li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}
