{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}{{ page_title }}{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'causelist_list' %}">{% trans 'Cause Lists' %}</a>
        </li>
        {% if court.court_class.show_listing_page %}
          <li class="breadcrumb-item">
            <a href="{% url 'causelist_court_class' court.court_class.slug %}">{{ court.court_class.name }}</a>
          </li>
        {% elif court_class.show_listing_page %}
          <li class="breadcrumb-item">
            <a href="{% url 'causelist_court_class' court_class.slug %}">{{ court_class.name }}</a>
          </li>
        {% endif %}
        {% if court %}
          <li class="breadcrumb-item">
            <a href="{% url 'causelist_court' court.code %}">{{ court.name }}</a>
          </li>
        {% endif %}
      </ol>
    </nav>
  </div>
{% endblock %}
{% block page-title %}
  {% if not entity_profile %}<h1 class="mt-4">{{ page_title }}</h1>{% endif %}
{% endblock %}
{% block page-header %}
  {{ block.super }}
  {% block court_list %}
    {% include 'peachjam/_registries.html' %}
  {% endblock %}
  {% block year_list %}
    {% include 'peachjam/_causelist_court_years_list.html' %}
  {% endblock %}
  {% block month_list %}
    {% include 'peachjam/_causelist_court_months_list.html' %}
  {% endblock %}
{% endblock %}
