{% extends 'peachjam/court_detail.html' %}
{% load i18n %}
{% block title %}{{ formatted_court_name }}{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'judgment_list' %}">{% trans 'Judgments' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'court' court.code %}">{{ court.name }}</a>
        </li>
        <li class="breadcrumb-item active">{{ registry.name }}</li>
      </ol>
    </nav>
  </div>
{% endblock %}
