{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}{{ formatted_court_name }}{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'judgment_list' %}">{% trans 'Judgments' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'court' court.code %}">{{ court.name }}</a>
        </li>
      </ol>
    </nav>
  </div>
{% endblock %}
{% block entity-profile %}
  {% with entity_profile=court.entity_profile.first entity_profile_title=court.name %}
    {% if entity_profile %}
      <div class="mt-3">{% include 'peachjam/_entity_profile.html' %}</div>
    {% endif %}
  {% endwith %}
{% endblock %}
{% block page-header %}
  <h1 class="mt-4">{{ formatted_court_name }}</h1>
  {% include 'peachjam/_document_count.html' %}
  {% include 'peachjam/_registries.html' %}
  {% include 'peachjam/_years_list.html' %}
  {% if months %}
    {% include 'peachjam/_months_list.html' %}
  {% endif %}
{% endblock %}
{% block content %}
  {% if grouped_documents %}
    {% include 'peachjam/_grouped_judgments_table.html' %}
    {% include 'peachjam/_pagination.html' %}
  {% elif documents %}
    {% include 'peachjam/_judgment_table.html' %}
    {% include 'peachjam/_pagination.html' %}
  {% else %}
    <p>{% trans 'No documents found.' %}</p>
  {% endif %}
{% endblock %}
