{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}

{% block title %}
  {{ formatted_court_name }}
{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'judgment_list' %}">{% trans 'Judgments' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'court' court.code %}">{{ court.name }}</a>
        </li>
      </ol>
    </nav>
  </div>
{% endblock %}

{% block entity-profile %}
  {% with entity_profile=court.entity_profile.first entity_profile_title=court.name %}
    {% if entity_profile %}
      <div class="mt-3">
        {% include 'peachjam/_entity_profile.html' %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block page-header %}
  <h1 class="my-4">
    {{ formatted_court_name }}
  </h1>

  {% if years %}
    <div class="d-none d-lg-flex align-items-center mb-3">
      <i class="bi bi-calendar me-2"></i>
      <div class="d-flex flex-wrap">
        <a class="btn btn-link {% if not year %}disabled{% endif %}" href="{% url 'court' court.code %}">
          {% trans 'All years' %}
        </a>
        {% for y in years %}
          <a class="btn btn-link {% if y == year %}disabled{% endif %}"
             href="{% url 'court_year' court.code y %}">
            {{ y }}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if years %}
    <select class="form-select d-block d-lg-none" data-component="NavigationSelect">
      <option value="{% url 'court' court.code %}">{% trans 'All years' %}</option>
      {% for y in years %}
        <option
          value="{% url 'court_year' court.code y %}"
          {% if y == year %} selected {% endif %}
        >
          {{ y }}
        </option>
      {% endfor %}
    </select>
  {% endif %}
{% endblock %}

{% block content %}
  {% if documents %}
    {% include 'peachjam/_judgment_table.html'%}

    {% include 'peachjam/_pagination.html' %}
  {% else %}
    <p>{% trans 'No documents found.' %}</p>
  {% endif %}
{% endblock %}
