{% load i18n %}
<div class="document-popup-content">
  {% if portion_html %}
    {% block portion %}
      <la-akoma-ntoso frbr-expression-uri="{{ document.expression_frbr_uri }}">
      {{ portion_html|safe }}
      </la-akoma-ntoso>
    {% endblock %}
  {% else %}
    <div>
      <div>
        {% block title %}
          <b>{{ document.title }}</b>
          {% block title-badges %}
            {% include 'peachjam/_document_labels.html' with labels=document.labels.all %}
          {% endblock %}
        {% endblock %}
      </div>
      {% block citation %}
        {% if document.citation and document.citation != document.title %}
          <div>
            <i>{{ document.citation }}</i>
          </div>
        {% endif %}
      {% endblock %}
      {% block date %}<div>{{ document.date }}</div>{% endblock %}
    </div>
    {% block offsite_request %}
      {% if offsite_request %}
        <div class="mt-2">
          <a href="https://{{ request.get_host }}{{ document.expression_frbr_uri }}"
             target="_blank">{{ APP_NAME }}</a>
        </div>
      {% endif %}
    {% endblock %}
  {% endif %}
</div>
