<div class="modal-dialog" id="testing">
  <div class="modal-content">
    <div class="modal-header">
      <p class="h5 modal-title">Add new folder</p>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
    </div>
    <div class="modal-body">
      {% if folder %}<div class="alert-success alert">Folder {{ folder }} added!</div>{% endif %}
      <form id="folder-form" hx-post="{% url 'folders' %}" hx-target="#addFolder">
        {{ folder_form.user_profile }}
        <label class="form-label" for="{{ folder_form.name.id_for_label }}">{{ folder_form.name.label }}</label>
        <input type="text"
               class="form-control"
               name="{{ folder_form.name.name }}"
               id="{{ folder_form.name.id_for_label }}"
               required
               autofocus
               placeholder="New folder"/>
        {% if folder_form.name.errors %}
          <div class="text-danger">
            {% for error in folder_form.name.errors %}<p>{{ error }}</p>{% endfor %}
          </div>
        {% endif %}
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
