{% extends 'peachjam/layouts/document_detail.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'gazettes' %}">{% trans 'Gazettes' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'gazettes_by_locality' document.jurisdiction.pk.lower %}">{{ document.jurisdiction }}</a>
      </li>
      {% if document.locality %}
        <li class="breadcrumb-item">
          <a href="{% url 'gazettes_by_locality' document.locality.place_code %}">{{ document.locality }}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'gazettes_by_year' document.locality.place_code document.date.year %}">{{ document.date.year }}</a>
        </li>
      {% elif MULTIPLE_JURISDICTIONS %}
        <li class="breadcrumb-item">
          <a href="{% url 'gazettes_by_year' document.jurisdiction.pk.lower document.date.year %}">{{ document.date.year }}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item">
          <a href="{% url 'gazettes_by_year' document.date.year %}">{{ document.date.year }}</a>
        </li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}
