{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %} {% trans 'Gazettes' %} {% endblock %}

{% block page-content %}
  <section class="pb-5">
    <div class="container">
      {% block breadcrumbs %}
      {% endblock %}

      {% block page-title %}
        <h1 class="my-4">{% trans 'Gazettes'%}</h1>
      {% endblock %}

      <div class="row">
        {% block localities %}
        {% endblock %}

        <h4 class="sans-serif text-muted mt-3 mb-0">
          {% blocktrans trimmed count num_gazettes=num_gazettes %}
            {{ num_gazettes }} gazette
          {% plural %}
            {{ num_gazettes }} gazettes
          {% endblocktrans %}
        </h4>

        <div class="col-md-10 mt-5 mb-5">
          <div class="row">
            {% for year in years %}
              <div class="col-md-4 col-sm-6 col-xs-12 status-box">
                <div>
                  <h2>
                    {% block gazette-year-link %}
                      <a class="text-decoration-none" href="{% url 'gazettes_by_year' year.year %}">{{ year.year }}</a>
                    {% endblock %}
                  </h2>
                  <p class="status-up"><i class="fas fa-signal" aria-hidden="true"></i>
                    {% blocktrans trimmed count num_gazettes=year.count %}
                      {{ num_gazettes }} gazette
                    {% plural %}
                      {{ num_gazettes }} gazettes
                    {% endblocktrans %}
                  </p>
                </div>
                <div data-year="{{ year.month }}" class="monthly-chart"></div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
