{% extends "peachjam/layouts/document_list.html" %}
{% load i18n peachjam %}
{% block title %}
  {{ place|default_if_none:"" }} {% trans 'Gazettes' %} {{ year }}
{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'gazettes' %}">{% trans 'Gazettes' %}</a>
        </li>
        {% if country %}
          <li class="breadcrumb-item">
            <a href="{% url 'gazettes_by_locality' country.pk.lower %}">{{ country }}</a>
          </li>
        {% endif %}
        {% if locality %}
          <li class="breadcrumb-item">
            <a href="{% url 'gazettes_by_locality' locality.place_code %}">{{ locality }}</a>
          </li>
        {% endif %}
        <li class="breadcrumb-item active">{{ year }}</li>
      </ol>
    </nav>
  </div>
{% endblock %}
{% block page-title %}
  <h1 class="mt-4">
    {{ place|default_if_none:"" }}
    {% trans 'Gazettes' %} - {{ year }}
  </h1>
{% endblock %}
{% block count-and-search %}
  {% include "peachjam/_years_list.html" %}
  {{ block.super }}
{% endblock %}
{% block nav-tabs %}
  <div class="row mb-3">
    <div class="col col-md-4 my-3">
      {% for y in years %}
        {% if y.year == year %}
          {% include 'peachjam/_monthly_column_chart.html' with url='' year=y %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
