{% extends 'peachjam/layouts/document_detail.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'judgment_list' %}">{% trans 'Judgments' %}</a>
      </li>
      {% if document.court.court_class.show_listing_page %}
        <li class="breadcrumb-item">
          <a href="{% url 'court_class' document.court.court_class.slug %}">{{ document.court.court_class.name }}</a>
        </li>
      {% endif %}
      {% if document.court %}
        <li class="breadcrumb-item">
          <a href="{% url 'court' document.court.code %}">{{ document.court.name }}</a>
        </li>
      {% endif %}
      {% if document.registry %}
        <li class="breadcrumb-item">
          <a href="{% url 'court_registry' document.court.code document.registry.code %}">{{ document.registry.name }}</a>
        </li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}
{% block document-metadata-content-citation %}
  {{ block.super }}
  {% if document.mnc %}
    <dt>
      {% trans 'Media Neutral Citation' %}
    </dt>
    <dd class="text-muted">
      {{ document.mnc }}
      {% include 'peachjam/_copy_to_clipboard.html' with value=document.mnc %}
    </dd>
  {% endif %}
  {% if document.hearing_date %}
    <dt>
      {% trans 'Hearing date' %}
    </dt>
    <dd class="text-muted">
      {{ document.hearing_date }}
    </dd>
  {% endif %}
  {% if document.court %}
    <dt>
      {% trans 'Court' %}
    </dt>
    <dd class="text-muted">
      <a href="{% url 'court' document.court.code %}">{{ document.court.name }}</a>
    </dd>
  {% endif %}
  {% if document.registry %}
    <dt>
      {{ document.registry.model_label }}
    </dt>
    <dd class="text-muted">
      <a href="{% url 'court_registry' document.court.code document.registry.code %}">{{ document.registry.name }}</a>
    </dd>
  {% endif %}
  {% if document.division %}
    <dt>
      {% trans 'Court division' %}
    </dt>
    <dd class="text-muted">
      {{ document.division }}
    </dd>
  {% endif %}
  {% if document.case_action %}
    <dt>
      {% trans 'Case action' %}
    </dt>
    <dd class="text-muted">
      {{ document.case_action }}
    </dd>
  {% endif %}
  {% with document.outcomes.all as outcomes %}
    {% if outcomes %}
      <dt>
        {% trans 'Outcome' %}
      </dt>
      <dd class="text-muted">
        {% for outcome in outcomes %}
          {{ outcome.name }}
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
  {% with document.case_numbers.all as case_numbers %}
    {% if case_numbers %}
      <dt>
        {% trans 'Case number' %}
      </dt>
      <dd class="text-muted">
        {% for cn in case_numbers %}
          {{ cn.string }}
          {% if not forloop.last %};{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
  {% with document.attorneys.all as attorneys %}
    {% if attorneys %}
      <dt>
        {% trans 'Attorneys' %}
      </dt>
      <dd class="text-muted">
        {% for attorney in attorneys %}
          {% if not forloop.last %}{{ attorney.name }},{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
{% endblock %}
{% block extra-metadata %}
  <dl class="document-metadata-list d-md-flex">
    {% if document.flynote %}
      <dt>
        {% trans 'Flynote' %}
      </dt>
      <dd>
        {{ document.flynote|safe }}
      </dd>
    {% endif %}
    {% if document.case_summary %}
      <dt>
        {% trans 'Case summary' %}
      </dt>
      <dd>
        {{ document.case_summary|safe }}
      </dd>
    {% endif %}
    {% if document.order %}
      <dt>
        {% trans 'Order' %}
      </dt>
      <dd>
        {{ document.order|safe }}
      </dd>
    {% endif %}
  </dl>
{% endblock %}
