{% extends 'peachjam/layouts/document_detail.html' %}
{% load i18n %}
{% block document-metadata-content-citation %}
  {{ block.super }}
  {% if document.mnc %}
    <dt>
      {% trans 'Media Neutral Citation' %}
    </dt>
    <dd class="text-muted">
      {{ document.mnc }}
      {% include 'peachjam/_copy_to_clipboard.html' with value=document.mnc %}
    </dd>
  {% endif %}
  {% if document.hearing_date %}
    <dt>
      {% trans 'Hearing date' %}
    </dt>
    <dd class="text-muted">
      {{ document.hearing_date }}
    </dd>
  {% endif %}
  {% if document.court %}
    <dt>
      {% trans 'Court' %}
    </dt>
    <dd class="text-muted">
      <a href="{% url 'court' document.court.code %}">{{ document.court.name }}</a>
    </dd>
  {% endif %}
  {% if document.registry %}
    <dt>
      {{ document.registry.model_label }}
    </dt>
    <dd class="text-muted">
      <a href="{% url 'court_registry' document.court.code document.registry.code %}">{{ document.registry.name }}</a>
    </dd>
  {% endif %}
  {% if document.division %}
    <dt>
      {% trans 'Court division' %}
    </dt>
    <dd class="text-muted">
      {{ document.division }}
    </dd>
  {% endif %}
  {% if document.case_action %}
    <dt>
      {% trans 'Case action' %}
    </dt>
    <dd class="text-muted">
      {{ document.case_action }}
    </dd>
  {% endif %}
  {% with document.outcomes.all as outcomes %}
    {% if outcomes %}
      <dt>
        {% trans 'Outcome' %}
      </dt>
      <dd class="text-muted">
        {% for outcome in outcomes %}
          {{ outcome.name }}
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
  {% with document.case_numbers.all as case_numbers %}
    {% if case_numbers %}
      <dt>
        {% trans 'Case number' %}
      </dt>
      <dd class="text-muted">
        {% for cn in case_numbers %}
          {{ cn.string }}
          {% if not forloop.last %};{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
  {% with document.attorneys.all as attorneys %}
    {% if attorneys %}
      <dt>
        {% trans 'Attorneys' %}
      </dt>
      <dd class="text-muted">
        {% for attorney in attorneys %}
          {% if not forloop.last %}{{ attorney.name }},{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
{% endblock %}
{% block extra-metadata %}
  <dl class="document-metadata-list d-md-flex">
    {% if document.case_summary %}
      <dt>
        {% trans 'Summary' %}
      </dt>
      <dd>
        {% include 'peachjam/document/_judgment_summary.html' with collapse_summary=True %}
      </dd>
    {% endif %}
  </dl>
{% endblock %}
{% block document-tabs %}
  {{ block.super }}
  {% if case_histories %}
    <li class="nav-item" role="presentation">
      <button class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#case-history-tab"
              data-track-event="Document | Tab | Case history"
              type="button"
              role="tab"
              aria-controls="case-history-tab"
              aria-selected="false">
        <i class="bi bi-pj pj-case-history"></i>
        {% trans 'Case history' %}
      </button>
    </li>
  {% endif %}
{% endblock %}
{% block document-tab-panes %}
  {{ block.super }}
  {% if case_histories %}
    <div class="tab-pane"
         id="case-history-tab"
         role="tabpanel"
         aria-labelledby="case-history-tab">
      <div class="container">
        {% if case_history_subscription_required %}
          {% include "peachjam_subs/_subscription_required.html" with lowest_product=lowest_case_history_product %}
        {% else %}
          {% include 'peachjam/_case_histories.html' %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
