{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Judgments' %}
{% endblock %}
{% block page-content %}
  <section class="pb-5">
    <div class="container">
      <h1 class="my-4">{% trans 'Judgments' %}</h1>
      {% include "peachjam/_help_button.html" with link="judgments/courts" %}
      {% include 'peachjam/_court_list.html' %}
      <h4 class="heading-underlined">
        {% if title %}
          {{ title }}
        {% else %}
          {% trans 'Recent judgments' %}
        {% endif %}
      </h4>
      {% include 'peachjam/_recent_document_list.html' with documents=recent_judgments %}
    </div>
  </section>
{% endblock %}
