{% extends 'peachjam/layouts/document_detail.html' %}
{% load i18n %}
{% block document-metadata-content-citation %}
  {{ block.super }}
  {% if document.mnc %}
    <dt>
      {% trans 'Media Neutral Citation' %}
    </dt>
    <dd class="text-muted">
      {{ document.mnc }}
      <button type="button"
              class="btn btn-outline-secondary btn-xs ms-2"
              title="{% trans "Copy to clipboard" %}"
              data-component="CopyToClipboard"
              data-value="{{ document.mnc }}"
              data-confirmation="{% trans "Copied!" %}">
        {% trans "Copy" %}
      </button>
    </dd>
  {% endif %}
  {% if document.hearing_date %}
    <dt>
      {% trans 'Hearing date' %}
    </dt>
    <dd class="text-muted">
      {{ document.hearing_date }}
    </dd>
  {% endif %}
  {% if document.court %}
    <dt>
      {% trans 'Court' %}
    </dt>
    <dd class="text-muted">
      <a href="{% url 'court' document.court.code %}">{{ document.court.name }}</a>
    </dd>
  {% endif %}
  {% if document.registry %}
    <dt>
      {% trans 'Court Registry' %}
    </dt>
    <dd class="text-muted">
      <a href="{% url 'court_registry' document.court.code document.registry.code %}">{{ document.registry.name }}</a>
    </dd>
  {% endif %}
  {% if document.order_outcome %}
    <dt>
      {% trans 'Order' %}
    </dt>
    <dd class="text-muted">
      {{ document.order_outcome.name }}
    </dd>
  {% endif %}
  {% with document.case_numbers.all as case_numbers %}
    {% if case_numbers %}
      <dt>
        {% trans 'Case number' %}
      </dt>
      <dd class="text-muted">
        {% for cn in case_numbers %}
          {{ cn.string }}
          {% if not forloop.last %};{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
  {% with document.attorneys.all as attorneys %}
    {% if attorneys %}
      <dt>
        {% trans 'Attorneys' %}
      </dt>
      <dd class="text-muted">
        {% for attorney in attorneys %}
          {% if not forloop.last %}{{ attorney.name }},{% endif %}
        {% endfor %}
      </dd>
    {% endif %}
  {% endwith %}
{% endblock %}
{% block extra-metadata %}
  {% if document.flynote %}
    <dl>
      <dt>
        {% trans 'Flynote' %}
      </dt>
      <dd>
        {{ document.flynote|safe }}
      </dd>
    </dl>
  {% endif %}
  {% if document.case_summary %}
    <dl>
      <dt>
        {% trans 'Case summary' %}
      </dt>
      <dd>
        {{ document.case_summary|safe }}
      </dd>
    </dl>
  {% endif %}
{% endblock %}
