{% extends 'peachjam/layouts/document_list.html' %}
{% load peachjam i18n %}

{% block title %}{{ taxonomy.name }}{% endblock %}

{% block page-title %}
  <h1 class="my-4">{{ taxonomy.name }}</h1>
{% endblock %}

{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
       aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/taxonomy/">{% trans 'Taxonomies' %}</a>
        </li>
        {% for ancestor in ancestors %}
          <li class="breadcrumb-item">
            <a href="{% build_taxonomy_url ancestor %}">
              {{ ancestor }}
            </a>
          </li>
        {% endfor %}
        <li class="breadcrumb-item active">
          {{ taxonomy.name }}
        </li>
      </ol>
{% endblock %}

{% if taxonomy_tree|length > 0 %}
  {% block mobile-taxonomy-list %}
    <div class="mb-2">{% include "peachjam/_taxonomy_tree_facet.html" %}</div>
  {% endblock %}
  {% block desktop-taxonomy-list %}
    <div class="mb-2">{% include "peachjam/_taxonomy_tree_facet.html" %}</div>
  {% endblock %}

  {% block taxonomy-json %}
    {{ taxonomy_tree|json_script:"taxonomy_tree" }}
  {% endblock %}
{% endif %}
