{% extends "peachjam/layouts/main.html" %}
{% load i18n peachjam %}
{% block title %}{{ taxonomy }}{% endblock %}
{% block page-content %}
  <section class="container">
    {% block breadcrumb %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'top_level_taxonomy_list' %}">{% trans 'Taxonomies' %}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ taxonomy }}</li>
        </ol>
      </nav>
    {% endblock %}
    {% block taxonomy-content %}
      <div class="pt-4 pb-5">
        <h1 class="mb-4">{{ taxonomy }}</h1>
        {% if link %}
          {% include "peachjam/_help_button.html" %}
        {% endif %}
        {% if taxonomy.get_children|length > 0 %}
          <ul>
            {% for child in taxonomy.get_children %}
              <li>
                <a href="{% build_taxonomy_url child prefix=taxonomy_link_prefix %}">{{ child }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div>{% trans 'No taxonomies found' %}</div>
        {% endif %}
      </div>
    {% endblock %}
  </section>
{% endblock %}
