{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Terms of Use' %}
{% endblock %}
{% block page-content %}
  <section class="py-5 terms-of-use" data-component="TermsOfUse">
    <div class="offcanvas offcanvas-start"
         tabindex="-1"
         id="side-nav"
         aria-labelledby="side-navLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="side-navLabel">{% trans "Navigation" %}</h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="navigation-toc"></div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 col-lg-3"></div>
        <div class="col-12 col-lg-9">
          <h1>
            {% block page-title %}
              {% trans 'Terms of Use' %}
            {% endblock %}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3 terms-of-use__left-column">
          <div class="terms-of-use__left-column__nav-btn">
            <button class="btn btn-primary"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#side-nav"
                    aria-controls="side-nav">
              {% trans 'Navigation' %}
            </button>
          </div>
          <div class="list-group mb-4 terms-of-use__left-column__navigation">
            <div class="list-group-item bg-light">
              <strong>{% trans 'Navigation' %}</strong>
            </div>
            <div class="list-group-item navigation-toc"></div>
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="terms-of-use-content">
            {% block terms-of-use-content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
