{% extends 'peachjam/layouts/main.html' %}
{% load i18n peachjam %}

{% block title %}{% user_name user_profile.user %}{% endblock title %}

{% block page-content %}

<div class="container my-3">
  <div class="row">
    <div class="col-lg-3">
      {% if user_profile.photo %}
        <img class="user-profile-photo mx-auto" src="{{ user_profile.photo.url }}" alt="User profile photo">
      {% endif %}
    </div>

    <div class="col-lg-9">
      <h1 class="my-4">{% user_name user_profile.user %}</h1>

      <p class="card-text">{{ user_profile.profile_description }}</p>
    </div>
  </div>

  <h2 class="mt-5">{% trans "Articles" %}</h2>

  {% include "peachjam/_article_list.html" %}

</div>
{% endblock page-content %}
