{% extends "user_account/layout.html" %}
{% load i18n peachjam %}
{% block title %}
  {% trans 'Following' %}
{% endblock %}
{% block account-tabs %}
  {% include 'user_account/_tabs.html' with active='following' %}
{% endblock %}
{% block account-content %}
  <div class="mb-4">
    <h2>{% trans 'Following' %}</h2>
    <p>{% trans 'Receive email alerts when new documents are added to the following areas.' %}</p>
    {% for follow in object_list %}
      <div class="d-flex align-items-center border-bottom py-3">
        <div class="flex-grow-1">
          <a href="{{ follow.followed_object.get_absolute_url }}" class="h5">{{ follow.followed_object }}</a>
        </div>
        <button class="btn btn-primary"
                hx-swap="outerHTML"
                hx-post="{% url 'user_following_delete' follow.pk %}?{{ follow.followed_object|get_follow_params }}">
          <i class="bi bi-bell-fill"></i>
          <span>{% trans 'Following' %}</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endblock %}
