{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Volumes' %}
{% endblock %}
{% block page-content %}
  <section class="container pt-4 pb-5">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
      <h1 class="mb-0">{% trans 'Volumes' %}</h1>
    </div>
    <div class="mb-3">
      <a href="{% url 'journal_list' %}">{% trans 'Browse journals' %}</a>
      <span class="mx-2">|</span>
      <a href="{% url 'journal_articles_list' %}">{% trans 'Browse journal articles' %}</a>
    </div>
    {% if volume_issues %}
      <div class="text-muted mb-3">
        {% blocktrans count counter=volume_issue_count %}{{ counter }} volume{% plural %}{{ counter }} volumes{% endblocktrans %}
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{% trans 'Volume' %}</th>
              <th scope="col">{% trans 'Journal' %}</th>
              <th scope="col">{% trans 'Year' %}</th>
              <th scope="col">{% trans 'Issue' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for volume in volume_issues %}
              <tr>
                <td>
                  <a href="{% url 'volume_detail' volume.pk %}">{{ volume.title }}</a>
                </td>
                <td>
                  <a href="{% url 'journal_articles_list' %}?journals={{ volume.journal_id }}">{{ volume.journal.title }}</a>
                </td>
                <td>{{ volume.year }}</td>
                <td>{{ volume.issue }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>{% trans 'No volumes found.' %}</p>
    {% endif %}
  </section>
{% endblock %}
