{% load i18n %}
<ol id="glossary-{{ letter }}" class="list-unstyled glossary-list">
  {% for term in terms %}
    <li class="term" data-term="{{ term.term }}">
      <div class="mb-1">
        <b>{{ term.term }}</b>
      </div>
      <div class="ms-4">
        <la-akoma-ntoso frbr-expression-uri="{{ term.expression_frbr_uri }}"
        class="bg-light p-3 border my-2" style="max-height: 50vh; overflow-y: auto;">
        {{ term.defn|safe }}
        </la-akoma-ntoso>
        <div>
          <ul class="list-unstyled">
            {% for expression in term.expressions|slice:":5" %}
              {% for uri, title in expression.items %}
                <li>
                  — <a href="{% url 'document_detail' frbr_uri=uri|slice:"1:" %}">{{ title }}</a>
                </li>
              {% endfor %}
            {% endfor %}
            {% if term.expressions|length > 5 %}
              <li>
                <details>
                  <summary>
                    {% blocktrans trimmed with forloopcounter=forloop.counter n_more=term.expressions|length|add:"-5" %}
                    and {{ n_more }} more...
                  {% endblocktrans %}
                </summary>
                <ul class="list-unstyled">
                  {% for expression in term.expressions|slice:"5:" %}
                    {% for uri, title in expression.items %}
                      <li>
                        — <a href="{% url 'document_detail' frbr_uri=uri|slice:"1:" %}">{{ title }}</a>
                      </li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </details>
            </li>
          {% endif %}
        </ul>
        {% if term.defn_groups|length > 1 or term.defn_groups.0.defns|length > 1 %}
          <details>
            {% with term.defn_groups|length as n %}
              <summary>
                {% blocktrans trimmed count counter=n with forloopcounter=forloop.counter %}
                    {{ counter }} group of similar definitions...
                  {% plural %}
                    {{ counter }} groups of similar definitions...
                  {% endblocktrans %}
              </summary>
            {% endwith %}
            {% for group in term.defn_groups %}
              <div class="mb-3">
                {% for defn in group.defns %}
                  <la-akoma-ntoso frbr-expression-uri="{{ term.expression_frbr_uri }}"
                  class="bg-light p-3 border my-2" style="max-height: 50vh; overflow-y: auto;">
                  {{ defn.defn|safe }}
                  </la-akoma-ntoso>
                  <ul class="list-unstyled text-muted">
                    {% for expression in defn.expressions %}
                      {% for uri, title in expression.items %}
                        <li>
                          — <a href="{% url 'document_detail' frbr_uri=uri|slice:"1:" %}">{{ title }}</a>
                        </li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            {% endfor %}
          </details>
        {% endif %}
      </div>
    </div>
  </li>
{% endfor %}
</ol>
