{% extends 'peachjam/layouts/main.html' %}
{% load i18n %}
{% block title %}
  {% trans "Glossary" %}
{% endblock %}
{% block page-content %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url "legislation_list" %}">{% trans "Legislation" %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url "glossary" place_code=glossary.place_code %}">{% trans "Glossary" %}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <h1>{% trans 'Glossary of defined terms' %}</h1>
    <div class="mb-5">
      {% blocktrans trimmed %}
        Terms that have been defined in legislation across {{ place_name }}.
      {% endblocktrans %}
    </div>
  </div>
  <div class="container pb-5">
    {% if subscription_required %}
      {% include "peachjam_subs/_subscription_required.html" %}
    {% else %}
      {% include "peachjam/glossary/_glossary.html" %}
    {% endif %}
  </div>
{% endblock %}
