{% load i18n %}
<div hx-swap-oob="true"
     id="saved-search-modal-dialog"
     class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 id="saved-search-modal-label" class="modal-title fs-5">{% trans 'Search alert' %}</h1>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="{% trans "Close" %}"></button>
    </div>
    <div class="modal-body">
      {% if request.user.is_authenticated %}
        {% if saved_search.pk %}
          <p class="alert alert-primary">{% trans "We'll email you when new documents are found for this search." %}</p>
          <form id="saved-search-form"
                hx-target="#saved-search-button"
                hx-post="{% url 'search:saved_search_update' saved_search.pk %}">
            <div class="mb-3">{{ saved_search.q }}</div>
            <div class="mb-3">{% include 'peachjam_search/_saved_search_filters.html' %}</div>
            <div>
              <label class="form-label" for="{{ form.note.id_for_label }}">{{ form.note.label }}</label>
              <textarea class="form-control"
                        id="{{ form.note.id_for_label }}"
                        name="{{ form.note.name }}"
                        placeholder="{% trans "A note to yourself about this search" %}">{{ form.note.value|default_if_none:'' }}</textarea>
            </div>
          </form>
        {% else %}
          {% trans "Saving..." %}
        {% endif %}
        <div class="mt-3">
          <a href="{% url 'search:saved_search_list' %}">{% trans "All search alerts" %}</a>
        </div>
      {% else %}
        {% blocktrans trimmed %}
          You are not logged in. Please log in to receive alerts when we find new matches for your search.
        {% endblocktrans %}
      {% endif %}
    </div>
    <div class="modal-footer {% if saved_search.pk %}d-flex justify-content-between{% endif %}">
      {% if saved_search.pk %}
        <button class="btn btn-danger"
                type="button"
                data-bs-dismiss="modal"
                hx-target="#saved-search-button"
                hx-post="{% url 'search:saved_search_delete' saved_search.pk %}?next={% url 'search:saved_search_button' %}"
                hx-confirm="{% trans "Are you sure?" %}">
          {% trans 'Delete alert' %}
        </button>
      {% endif %}
      <div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        {% if request.user.is_authenticated %}
          {% if saved_search.pk %}
            <button type="submit"
                    form="saved-search-form"
                    class="btn btn-primary"
                    data-bs-dismiss="modal">
              {% trans 'Save' %}
            </button>
          {% endif %}
        {% else %}
          <a href="{% url 'account_login' %}?next={{ request.htmx.current_url_abs_path|urlencode }}"
             class="btn btn-primary">{% trans 'Login' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
