{% load i18n humanize %}
<div class="card" id="{{ trace.pk }}">
  <div class="card-header d-flex">
    <h5 class="flex-grow-1 m-0">
      {{ n }}.
      {{ trace.search|default:trace.field_searches }}
      <small class="text-muted">- <a href="{% url "search:search_trace" pk=trace.pk %}">{{ trace.pk }}</a></small>
    </h5>
    <div>
      {% if trace.previous_search %}
        <span title="{{ trace.created_at }}">+ {{ trace.previous_search.created_at|timesince:trace.created_at }}</span>
      {% else %}
        {{ trace.created_at }}
      {% endif %}
    </div>
  </div>
  <table class="table table-condensed mb-3">
    <tr>
      <th>{% trans "Search" %}</th>
      <td>{{ trace.search }}</td>
      <th>{% trans "Advanced search" %}</th>
      <td>{{ trace.field_searches }}</td>
    </tr>
    <tr>
      <th>{% trans "Filters" %}</th>
      <td>{{ trace.filters }}</td>
      <th>{% trans "Ordering" %}</th>
      <td>{{ trace.ordering }}</td>
    </tr>
    <tr>
      <th>{% trans "Page" %}</th>
      <td>{{ trace.page }}</td>
      <th>{% trans "Number of results" %}</th>
      <td>{{ trace.n_results }}</td>
    </tr>
    <tr>
      <th>{% trans "User" %}</th>
      <td colspan="3">
        {{ trace.ip_address|default_if_none:'?' }}
        <br/>
        {{ trace.user_agent }}
        {% if trace.user %}
          <br/>
          {{ trace.user }}
          {% if trace.staff %}
            ({% trans "staff" %})
          {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{% trans "Config version" %}</th>
      <td>{{ trace.config_version }}</td>
      <th>{% trans "Request ID" %}</th>
      <td>{{ trace.request_id }}</td>
    </tr>
  </table>
  {% with trace.clicks.all as clicks %}
    {% if clicks %}
      <div class="card-body">
        <h5>{% trans "Clicks" %}</h5>
        <table class="table table-condensed">
          {% for click in clicks %}
            <tr>
              <td>#{{ click.position }}</td>
              <td>
                <a href="{{ click.frbr_uri }}" target="_blank">{{ click.frbr_uri }}</a>
              </td>
              <td>{{ click.portion|default_if_none:"" }}</td>
              <td>
                + <span title="{{ click.created_at }}">{{ trace.created_at|timesince:click.created_at }}</span>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
  {% endwith %}
</div>
{% with trace.next_searches.all as next_searches %}
  {% if next_searches %}
    <div class="row">
      {% for next_trace in trace.next_searches.all %}
        <div class="col">
          <div class="my-3 text-center h1">↓</div>
          {% include 'peachjam_search/_searchtrace_card.html' with trace=next_trace n=n|add:1 %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
