{% load i18n peachjam %}
<li class="mb-4 hit {% if hit.best_match %}best-match{% endif %}">
  <div class="card" data-best-match="{% trans "Best match" %}">
    <div class="card-body">
      <h5 class="card-title">
        <a class="h5 text-primary"
           target="_blank"
           href="{{ document.get_absolute_url }}"
           data-frbr-uri="{{ document.expression_frbr_uri }}"
           data-position="{{ hit.position }}">
          {% if hit.highlight.title %}
            {{ hit.highlight.title.0|safe }}
          {% else %}
            {{ document.title }}
          {% endif %}
        </a>
        <span id="saved-document-star--{{ document.id }}"></span>
      </h5>
      <div class="mb-1">
        {% if document.citation and document.citation != document.title %}
          <div>
            <i>
              {% if hit.highlight.citation %}
                {{ hit.highlight.citation.0|safe }}
              {% else %}
                {{ document.citation }}
              {% endif %}
            </i>
          </div>
        {% endif %}
        {% if document.alternative_names|length %}
          <div>
            <i>
              {% if hit.highlight.alternative_names %}
                {{ hit.highlight.alternative_names|join:"; " }}
              {% else %}
                {{ document.alternative_names|join:"; " }}
              {% endif %}
            </i>
          </div>
        {% endif %}
        <div>
          {% if show_jurisdiction or document.locality %}
            <span class="me-3">
              {% if show_jurisdiction %}
                <span class="me-1">{% jurisdiction_icon document %}&nbsp;{{ document.jurisdiction|default_if_none:'' }}</span>
                {{ document.jurisdiction }}
                {% if document.locality %}·{% endif %}
              {% endif %}
              {% if document.locality %}<span>{{ document.locality }}</span>{% endif %}
            </span>
          {% endif %}
          <span class="me-3">{{ document.nature }}</span>
          <span class="me-3">{{ document.date }}</span>
          {% if document.court %}<span class="me-3">{{ document.court }}</span>{% endif %}
          {% if document.author_list %}
            <span class="me-3">
              {% for author in document.author_list %}
                {# djlint:off #}
                {{ author.name }}{% if not forloop.last %},{% endif %}
                {# djlint:on #}
              {% endfor %}
            </span>
          {% endif %}
          {% include 'peachjam/_document_labels.html' %}
          {% if can_debug %}
            <a class="me-3"
               href="#debug-{{ document.id }}"
               data-bs-toggle="collapse">{{ hit.score }}</a>
          {% endif %}
        </div>
        {% if document.matter_type %}<div>{{ document.matter_type }}</div>{% endif %}
        {% if document.listing_taxonomies %}
          {% include 'peachjam/_document_taxonomies.html' with taxonomies=document.listing_taxonomies %}
        {% endif %}
        <div id="saved-document-table-detail--{{ document.id }}"></div>
      </div>
      {% if can_debug and hit.explanation %}
        <div id="debug-{{ document.id }}" class="my-2 collapse">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active"
                     data-bs-toggle="tab"
                     href="#explanation-{{ document.id }}">Explanation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#raw-{{ document.id }}">Raw</a>
                </li>
              </ul>
            </div>
            <div class="card-body explanation">
              <div class="tab-content">
                <div id="explanation-{{ document.id }}" class="tab-pane active show">{% json_table hit.explanation %}</div>
                <div id="raw-{{ document.id }}" class="tab-pane">{% json_table hit.raw %}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% for page in hit.pages %}
        <div class="mb-1">
          <a href="{{ document.get_absolute_url }}#page-{{ page.page_num }}"
             data-frbr-uri="{{ document.expression_frbr_uri }}"
             data-position="{{ hit.position }}"
             data-portion="page-{{ page.page_num }}"
             target="_blank">{% trans "Page" %} {{ page.page_num }}</a>:
          {% if page.highlight.pages.body %}<span>{{ page.highlight.pages.body|join:" ... "|safe }}</span>{% endif %}
          {% if can_debug %}({{ page.score }}){% endif %}
        </div>
      {% endfor %}
      {% for provision in hit.provisions %}
        {% include 'peachjam_search/_search_hit_provision.html' %}
        <SearchResultProvision
        :parents="provisionParents(provision)"
        />
      {% empty %}
        <div class="ms-3 snippet">{{ hit.highlight.content|join:" ... "|safe }}</div>
      {% endfor %}
    </div>
    <div class="card-footer text-end">
      <a class="btn btn-outline-primary me-2"
         href="{{ document.get_absolute_url }}/source"
         target="_blank">{% trans "Download" %}</a>
      <div class="save-document-button--{{ document.id }}"></div>
    </div>
  </div>
</li>
<script>
  export default {
    methods: {
      provisionParents (provision) {
        // zip item.parent_titles and item.parent_ids
        return provision.parent_titles.map((title, index) => {
          return {
            title: title,
            id: provision.parent_ids[index]
          };
        });
      }
    }
  };
</script>
