{% extends "user_account/layout.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Saved Documents' %}
{% endblock %}
{% block account-tabs %}
  {% include 'user_account/_tabs.html' with active='saved_searches' %}
{% endblock %}
{% block account-content %}
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>{% trans 'Search alerts' %}</h2>
    </div>
    {% if saved_searches %}
      {% for search in saved_searches %}
        <div class="card mb-5">
          <h5 class="card-header">{{ search }}</h5>
          <div class="card-body">
            <div>
              <p>{{ search.filters }}</p>
              <p>{{ search.note }}</p>
              <p>{{ search.last_alert }}</p>
            </div>
          </div>
          <div class="card-footer text-end">
            <input id="folder_{{ forloop.counter }}"
                   type="hidden"
                   name="name"
                   value="{{ folder.name }}"/>
            <button class="btn btn-outline-danger me-2"
                    type="button"
                    hx-confirm="Are you sure you want to delete this search?">
              {% trans 'Delete' %}
            </button>
            <button class="btn btn-secondary"
                    type="button"
                    hx-target="#folders-list"
                    hx-prompt="Edit search">
              {% trans 'Rename' %}
            </button>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>You have no search alerts.</p>
    {% endif %}
  </div>
{% endblock %}
