{% load i18n %}
<div id="saved-search-button">
  {% if request.user.is_authenticated %}
    <form hx-target="#saved-search-button"
          id="saved-search-create"
          hx-post="{% url 'search:saved_search_create' %}">
      <input type="hidden" name="q" value="{{ saved_search.q }}"/>
      <input type="hidden" name="a" value="{{ saved_search.a }}"/>
      <input type="hidden" name="filters" value="{{ saved_search.filters }}"/>
    </form>
  {% endif %}
  <button class="btn btn-outline-primary"
          data-bs-toggle="modal"
          type="submit"
          form="saved-search-create"
          data-bs-target="#saved-search-modal">
    <i class="bi bi-bell"></i>
    {% trans 'Get alerts for this search' %}
  </button>
</div>
{% include 'peachjam_search/_saved_search_modal.html' %}
