{% extends 'peachjam/layouts/main.html' %}
{% load i18n %}
{% block title %}
  {% trans "Documents" %}
{% endblock %}
{% block page-content %}
  {% block breadcrumbs %}{% endblock %}
  {% block entity-profile %}{% endblock %}
  <div class="container pb-5" data-component="DocumentList">
    {% block page-header %}
      {% block page-title %}
        <h1 class="mt-4">{% trans 'Documents' %}</h1>
      {% endblock %}
      {% block count-and-search %}
        {% include 'peachjam/_count_and_search.html' %}
      {% endblock %}
    {% endblock %}
    {% block alerts %}{% endblock %}
    {% block nav-tabs %}{% endblock %}
    {% block document-table %}
      {% include "peachjam/_document_table_form.html" %}
    {% endblock %}
    {% block taxonomy-json %}{% endblock %}
  </div>
{% endblock %}
