{% extends 'peachjam/layouts/main.html' %}
{% load peachjam i18n %}

{% block title %}{{ document.title }}{% endblock %}

{% block page-content %}
  <main class="container-fluid py-5">
    {% block breadcrumbs %}
    {% endblock %}

    {% block document-title %}
      <h1 class="heading-underlined mb-4">{{ document.title }}</h1>
    {% endblock %}

    {% if perms.peachjam.change_coredocument %}
      <a href="{{ document|admin_url:'change' }}">Edit</a>
    {% endif %}

    {% if perms.peachjam.add_relationship %}
      {{ predicates_json|json_script:"predicates" }}
    {% endif %}

    {{ provision_relationships|json_script:"provision-relationships" }}

    {% include 'peachjam/_timeline_events.html' %}
  </main>
{% endblock %}
