{% extends 'peachjam/layouts/main.html' %}
{% load i18n %}
{% block title %}
  {% trans "Documents" %}
{% endblock %}
{% block page-content %}
  {% block breadcrumbs %}{% endblock %}
  {% block entity-profile %}
    {% if entity_profile %}
      <div class="mt-3">{% include 'peachjam/_entity_profile.html' %}</div>
    {% endif %}
  {% endblock %}
  <div class="container pb-5" data-component="DocumentList">
    {% block page-header %}
      {% block page-title %}
        {% if not entity_profile %}
          <h1 class="mt-4">{% trans 'Documents' %}</h1>
        {% endif %}
      {% endblock %}
      {% block count-and-search %}
        {% include 'peachjam/_count_and_search.html' %}
      {% endblock %}
    {% endblock %}
    {% block alerts %}{% endblock %}
    {% block nav-tabs %}{% endblock %}
    {% block document-table %}
      {% include "peachjam/_document_table_form.html" %}
    {% endblock %}
    {% block taxonomy-json %}{% endblock %}
  </div>
{% endblock %}
