{% extends 'peachjam/layouts/main.html' %}
{% load peachjam i18n static %}
{% block title %}{{ document.title }}{% endblock %}
{% block head-meta %}
  {{ block.super }}
  {% if not document.allow_robots or not document.is_most_recent %}<meta name="robots" content="noindex" />{% endif %}
  <meta property="og:title" content="{{ document.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image"
        content="{{ request.scheme }}://{{ request.get_host }}{% url 'document_social_image' document.expression_frbr_uri|slice:"1:" %}"/>
  <meta property="article:published_time"
        content="{{ document.date|date:'Y-m-d' }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site"
        content="{{ PEACHJAM_SETTINGS.twitter_username }}"/>
  <meta name="twitter:title" content="{{ document.title }}"/>
  {% if language_versions|length > 1 %}
    {% for version in language_versions %}
      <link rel="alternate"
            hreflang="{{ version.language.iso }}"
            href="{{ request.scheme }}://{{ request.get_host }}{{ version.get_absolute_url }}"/>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block body-tags %}
  {{ block.super }}
  data-track-page-load="View document"
{% endblock %}
{% block page-content %}
  <div class="pb-5" data-document-id="{{ document.pk }}">
    <div class="bg-light">
      <div class="container">
        {% block breadcrumbs %}
          {% include "peachjam/document/_breadcrumbs.html" %}
        {% endblock %}
        {% block document-title %}
          <div class="d-md-flex justify-content-md-between my-3">
            <div>
              <h1 class="doc-title d-flex">
                <span>{{ document.title }}</span>
                <span id="saved-document-star--{{ document.pk }}"></span>
              </h1>
              {% block sub-title %}{% endblock %}
              {% include 'peachjam/_document_labels.html' %}
            </div>
            <div class="d-none d-md-flex align-items-center">
              <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 data-track-event="Document | Social share | WhatsApp"
                 target="_blank">
                <i class="bi bi-whatsapp whatsapp-forecolor share-icon"></i>
              </a>
              <a href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 data-track-event="Document | Social share | X"
                 target="_blank">
                <i class="bi bi-twitter-x twitter-x-forecolor share-icon"></i>
              </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 data-track-event="Document | Social share | Facebook"
                 target="_blank">
                <i class="bi bi-facebook facebook-forecolor share-icon"></i>
              </a>
              <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 data-track-event="Document | Social share | LinkedIn"
                 target="_blank">
                <i class="bi bi-linkedin linkedin-forecolor share-icon"></i>
              </a>
              <a id="email-share"
                 href="mailto:?subject={% trans 'Take a look at this document from' %} {{ APP_NAME }}: {{ document.title|truncatewords:7|escape }}&body={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 target="_blank"
                 data-track-event="Document | Social share | Email"
                 data-subject="{% trans 'Take a look at this document from' %} {{ APP_NAME }}: {{ document.title|truncatewords:7|escape }}">
                <i class="bi bi-envelope-at-fill envelope-at-fill-forecolor share-icon"></i>
              </a>
            </div>
          </div>
        {% endblock %}
        {% include 'peachjam/document/_warning_notices.html' with messages=notices %}
        {% include "peachjam/_document_detail_toolbar.html" %}
        <div id="saved-document-detail--{{ document.id }}"></div>
        {% include 'peachjam/_document_floating_header.html' %}
        <ul class="nav nav-tabs border-bottom"
            role="tablist"
            id="document-tab-list">
          {% block document-tabs %}
            <li class="nav-item" role="presentation">
              <button class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#document-detail-tab"
                      data-track-event="Document | Tab | Document detail"
                      type="button"
                      role="tab"
                      aria-controls="document-detail-tab"
                      aria-selected="true">
                <i class="bi bi-pj pj-document-detail"></i>
                {% trans "Document detail" %}
              </button>
            </li>
            {% if timeline %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#history-tab"
                        data-track-event="Document | Tab | History"
                        type="button"
                        role="tab"
                        aria-controls="history-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-history"></i>
                  {% trans "History" %}
                </button>
              </li>
            {% endif %}
            {% block unconstitutional-provisions-tab %}
              {% if unconstitutional_provisions %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link"
                          data-bs-toggle="tab"
                          data-bs-target="#unconstitutional-provisions-tab"
                          type="button"
                          role="tab"
                          aria-controls="unconstitutional-provisions-tab"
                          aria-selected="false">
                    <i class="bi bi-pj bi-exclamation-triangle-fill"></i>
                    {% trans "Unconstitutional provisions" %}
                    <span class="badge bg-secondary">{{ unconstitutional_provisions|length }}</span>
                  </button>
                </li>
              {% endif %}
            {% endblock %}
            {% block uncommenced-provisions-tab %}
              {% if uncommenced_provisions %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link"
                          data-bs-toggle="tab"
                          data-bs-target="#uncommenced-provisions-tab"
                          type="button"
                          role="tab"
                          aria-controls="uncommenced-provisions-tab"
                          aria-selected="false">
                    <i class="bi bi-pj bi-exclamation-triangle-fill"></i>
                    {% trans "Uncommenced provisions" %}
                    <span class="badge bg-secondary">{{ uncommenced_provisions|length }}</span>
                  </button>
                </li>
              {% endif %}
            {% endblock %}
            {% block related-documents-tab %}
              {% if show_related_documents or not user.is_authenticated %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link"
                          data-bs-toggle="tab"
                          data-bs-target="#related-tab"
                          data-track-event="Document | Tab | Related documents"
                          type="button"
                          role="tab"
                          aria-controls="related-tab"
                          aria-selected="false">
                    <i class="bi bi-pj pj-related"></i>
                    {% trans "Related documents" %}
                    {% if n_relationships %}<span class="badge bg-secondary">{{ n_relationships }}</span>{% endif %}
                  </button>
                </li>
              {% endif %}
            {% endblock %}
            {% if cited_documents or documents_citing_current_doc %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#citations-tab"
                        data-track-event="Document | Tab | Citations"
                        type="button"
                        role="tab"
                        aria-controls="citations-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-citations"></i>
                  {% trans "Citations" %}
                  <span class="badge bg-secondary">{{ document.work.n_cited_works|default:"-" }} / {{ document.work.n_citing_works|default:"-" }}</span>
                </button>
              </li>
            {% endif %}
            {% if document.work.ratification %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#ratifications-tab"
                        data-track-event="Document | Tab | Ratifications"
                        type="button"
                        role="tab"
                        aria-controls="ratifications-tab"
                        aria-selected="false">
                  {% trans "Ratifications" %}
                  <span class="badge bg-secondary">{{ document.work.ratification.n_ratified }}</span>
                </button>
              </li>
            {% endif %}
          {% endblock %}
        </ul>
      </div>
    </div>
    <div class="tab-content mt-3" id="document-tab-panes">
      {% block document-tab-panes %}
        <div class="tab-pane show active"
             id="document-detail-tab"
             role="tabpanel"
             aria-labelledby="document-detail-tab">
          <div class="container">
            {% include 'peachjam/document/_info_notices.html' with messages=notices %}
            {% block document-metadata %}
              <div class="row">
                <div class="col-md mb-3">
                  {% block document-metadata-content %}
                    <dl class="document-metadata-list d-flex">
                      {% block document-metadata-content-jurisdiction %}
                        {% if MULTIPLE_JURISDICTIONS or document.locality %}
                          <dt>
                            {% trans 'Jurisdiction' %}
                          </dt>
                          <dd class="text-muted">
                            {% if MULTIPLE_JURISDICTIONS %}
                              {{ document.jurisdiction }}
                              {% if document.locality %}·{% endif %}
                            {% endif %}
                            {{ document.locality|default_if_none:'' }}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-citation %}
                        {% if document.citation %}
                          <dt>
                            {% trans 'Citation' %}
                          </dt>
                          <dd class="text-muted">
                            {{ document.citation }}
                            {% include 'peachjam/_copy_to_clipboard.html' with value=document.citation %}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-alternative-names %}
                        {% with document.alternative_names.all as alternative_names %}
                          {% if alternative_names %}
                            <dt>
                              {% block document-metadata-alternative-names-label %}
                                {% if document.doc_type == "judgment" %}
                                  {% trans 'Law report citations' %}
                                {% else %}
                                  {% trans 'Alternative names' %}
                                {% endif %}
                              {% endblock %}
                            </dt>
                            <dd class="text-muted">
                              {% for alternative_name in alternative_names %}
                                <div>
                                  {{ alternative_name.title }}
                                  {% include 'peachjam/_copy_to_clipboard.html' with value=alternative_name.title %}
                                </div>
                              {% endfor %}
                            </dd>
                          {% endif %}
                        {% endwith %}
                      {% endblock %}
                      {% block document-metadata-content-author %}
                        {% with document.author_list as authors %}
                          {% if authors %}
                            <dt>
                              {% if authors|length > 1 %}
                                {{ document.author_label_plural }}
                              {% else %}
                                {{ document.author_label }}
                              {% endif %}
                            </dt>
                            <dd class="text-muted">
                              {% for author in authors %}
                                {# djlint:off #}
                                <a href="{% url 'author' author.code %}">{{ author.name }}</a>{% if not forloop.last %},{% endif %}
                                {# djlint:on #}
                              {% endfor %}
                            </dd>
                          {% endif %}
                        {% endwith %}
                        {% if judges %}
                          <dt>
                            {% trans 'Judges' %}
                          </dt>
                          <dd class="text-muted">
                            {% for judge in judges %}
                              {# djlint:off #}
                              {{ judge }}{% if not forloop.last %},{% endif %}
                              {# djlint:on #}
                            {% endfor %}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-date %}
                        {% if document.doc_type == "judgment" %}
                          <dt>
                            {% trans 'Judgment date' %}
                          </dt>
                        {% else %}
                          <dt>
                            {% trans 'Date' %}
                          </dt>
                        {% endif %}
                        {% if date_versions|length > 1 %}
                          <dd>
                            <div class="dropdown">
                              <a class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                 href="#"
                                 role="button"
                                 id="dropdownMenuLink"
                                 data-bs-toggle="dropdown"
                                 aria-expanded="false">
                                {{ document.date }}
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% for version in date_versions %}
                                  <li>
                                    <a class="dropdown-item {% if version.pk == document.pk %}active{% endif %}"
                                       href="{{ version.get_absolute_url }}">{{ version.date }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </dd>
                        {% else %}
                          <dd class="text-muted">
                            {{ document.date }}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-language %}
                        <dt>
                          {% translate 'Language' %}
                          {% if language_versions|length > 1 %}
                            <span class="d-inline-block"
                                  data-bs-toggle="tooltip"
                                  title="{% trans 'Multiple languages available' %}">
                              <i class="bi bi-translate"></i>
                            </span>
                          {% endif %}
                        </dt>
                        {% if language_versions|length > 1 %}
                          <dd>
                            <div class="dropdown">
                              <a class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                 href="#"
                                 role="button"
                                 id="dropdownMenuLink"
                                 data-bs-toggle="dropdown"
                                 aria-expanded="false">
                                {% trans document.language.name %}
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% for version in language_versions %}
                                  <li>
                                    <a class="dropdown-item {% if version.pk == document.pk %}active{% endif %}"
                                       rel="alternate"
                                       hreflang="{{ version.language.iso }}"
                                       href="{{ request.scheme }}://{{ request.get_host }}{{ version.get_absolute_url }}">{% trans version.language.name %} ({{ version.language.iso }})</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </dd>
                        {% else %}
                          <dd class="text-muted">
                            {% trans document.language.name %}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-publication %}
                        {% if document.publication_file %}
                          <dt>
                            {% trans 'Publication' %}
                          </dt>
                          <dd class="text-muted">
                            <a href="{% url 'document_publication' document.expression_frbr_uri|strip_first_character %}"
                               target="_blank">{% trans "Download" %} {{ document.publication_file.filename_extension|upper }}</a>
                            ({{ document.publication_file.size|filesizeformat }})
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-media-summary-download %}
                        {% if document.attachedfiles_set %}
                          {% for attachedfile in document.attachedfiles_set.all %}
                            {% if not attachedfile.private %}
                              <dt>
                                {{ attachedfile.nature.name }}
                              </dt>
                              <dd>
                                <a href="{% url 'document_attachment' document.expression_frbr_uri|strip_first_character attachedfile.filename %}"
                                   target="_blank">{% trans "Download" %} {{ attachedfile.extension|upper }}</a>
                                ({{ attachedfile.size|filesizeformat }})
                              </dd>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-custom-properties %}
                        {% for prop in document.custom_properties.all %}
                          <dt>
                            {{ prop.label }}
                          </dt>
                          <dd class="text-muted">
                            {{ prop.value }}
                          </dd>
                        {% endfor %}
                      {% endblock %}
                    </dl>
                  {% endblock %}
                </div>
                {% if n_relationships or taxonomies or document.work.partner %}
                  <div class="col-md">
                    {% block document-partner %}
                      {% if document.work.partner %}
                        {% include "peachjam/_document_partner.html" %}
                      {% endif %}
                    {% endblock %}
                    {% block document-taxonomies %}
                      {% if taxonomies %}
                        {% include "peachjam/_taxonomies.html" %}
                      {% endif %}
                    {% endblock %}
                    {% block document-relationships-content %}
                      {% if n_relationships %}
                        <h5>
                          <i class="bi bi-pj pj-related"></i>
                          {% translate 'Related documents' %}
                        </h5>
                        <ul class="list-unstyled">
                          {% if n_relationships > relationship_limit %}
                            <li>
                              <a href="#related-tab" data-component="ToggleTab">{% blocktrans %}{{ n_relationships }} related documents{% endblocktrans %}</a>
                            </li>
                          {% else %}
                            {% for verb, rels in relationships_as_subject %}
                              {% for rel in rels %}
                                {% if rel.object_work %}
                                  <li>
                                    {% translate rel.predicate.verb as verb %}
                                    {{ verb|capfirst }}
                                    <a href="{{ rel.object_work.get_absolute_url }}">{{ rel.object_work.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                            {% for verb, rels in relationships_as_object %}
                              {% for rel in rels %}
                                {% if rel.subject_work %}
                                  <li>
                                    {% translate rel.predicate.reverse_verb as verb %}
                                    {{ verb|capfirst }}
                                    <a href="{{ rel.subject_work.get_absolute_url }}">{{ rel.subject_work.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          {% endif %}
                        </ul>
                      {% endif %}
                    {% endblock %}
                  </div>
                {% endif %}
              </div>
            {% endblock %}
            {% block extra-metadata %}{% endblock %}
            <hr class="mb-5" />
          </div>
          <div class="container-fluid">
            {% block content %}
              {% if subscription_required %}
                <div class="container">{% include 'peachjam_subs/_subscription_required.html' with show_sidebar=True %}</div>
              {% else %}
                {% include 'peachjam/_document_content.html' with show_sidebar=True %}
              {% endif %}
              <a href="#top" class="btn btn-sm btn-secondary to-the-top">▲ {% trans "To the top" %}</a>
            {% endblock %}
          </div>
        </div>
        {% if timeline %}
          <div class="tab-pane"
               id="history-tab"
               role="tabpanel"
               aria-labelledby="history-tab">
            <div class="container">{% include 'peachjam/_timeline_events.html' %}</div>
          </div>
        {% endif %}
        {% block related-documents-tab-pane %}
          {% if show_related_documents or not user.is_authenticated %}
            <div class="tab-pane"
                 id="related-tab"
                 role="tabpanel"
                 aria-labelledby="related-tab">
              <div class="container">{% include 'peachjam/_related_documents.html' %}</div>
            </div>
          {% endif %}
        {% endblock %}
        {% block unconstitutional-provisions-tab-pane %}
          {% if unconstitutional_provisions %}
            <div class="tab-pane fade"
                 id="unconstitutional-provisions-tab"
                 role="tabpanel"
                 aria-labelledby="unconstitutional-provisions-tab">
              <div class="container">{% include 'peachjam/document/_unconstitutional_provisions.html' %}</div>
            </div>
          {% endif %}
        {% endblock %}
        {% block uncommenced-provisions-tab-pane %}
          {% if uncommenced_provisions %}
            <div class="tab-pane fade"
                 id="uncommenced-provisions-tab"
                 role="tabpanel"
                 aria-labelledby="uncommenced-provisions-tab">
              <div class="container">{% include 'peachjam/document/_uncommenced_provisions.html' %}</div>
            </div>
          {% endif %}
        {% endblock %}
        {% if cited_documents or documents_citing_current_doc %}
          <div class="tab-pane"
               id="citations-tab"
               role="tabpanel"
               aria-labelledby="citations-tab">
            <div class="container">{% include 'peachjam/_citations.html' %}</div>
          </div>
        {% endif %}
        {% if document.work.ratification %}
          <div class="tab-pane"
               id="ratifications-tab"
               role="tabpanel"
               aria-labelledby="ratifications-tab">
            <div class="container">{% include 'peachjam/_ratifications.html' with ratification=document.work.ratification %}</div>
          </div>
        {% endif %}
      {% endblock %}
    </div>
    {{ citation_links|json_script:"citation-links" }}
    {{ provision_relationships|json_script:"provision-relationships" }}
    {{ provision_enrichments_json|json_script:"provision-enrichments-json" }}
    {{ incoming_citations_json|json_script:"incoming-citations-json" }}
    {% include "peachjam/provision_enrichment/_unconstitutional_modals.html" %}
    <div hx-get="{% url 'document_debug' document.pk %}" hx-trigger="load">
    </div>
  </div>
{% endblock %}
