{% extends 'peachjam/layouts/main.html' %}
{% load peachjam i18n static %}
{% block title %}{{ document.title }}{% endblock %}
{% block head-meta %}
  {{ block.super }}
  <meta property="og:title" content="{{ document.title }}" />
  <meta property="og:type" content="book" />
  <meta property="book:release_date"
        content="{{ document.date|date:'Y-m-d' }}"/>
  {% if not document.allow_robots %}<meta name="robots" content="noindex" />{% endif %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{ document.title }}"/>
  {% if language_versions|length > 1 %}
    {% for version in language_versions %}
      <link rel="alternate"
            hreflang="{{ version.language.iso }}"
            href="{{ request.scheme }}://{{ request.get_host }}{{ version.get_absolute_url }}"/>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block page-content %}
  <div class="pb-5">
    <div class="bg-light">
      <div class="container">
        {% block breadcrumbs %}{% endblock %}
        {% block document-title %}
          <div class="d-md-flex justify-content-md-between py-3">
            <div>
              <h1>{{ document.title }}</h1>
              {% block sub-title %}{% endblock %}
              {% include 'peachjam/_document_labels.html' %}
            </div>
            <div class="d-flex align-items-center">
              <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-whatsapp whatsapp-forecolor share-icon"></i>
              </a>
              <a href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-twitter-x twitter-x-forecolor share-icon"></i>
              </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-facebook facebook-forecolor share-icon"></i>
              </a>
              <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"
                 class="btn btn-link share-link"
                 target="_blank">
                <i class="bi bi-linkedin linkedin-forecolor share-icon"></i>
              </a>
            </div>
          </div>
        {% endblock %}
        {% include 'peachjam/_notices.html' with messages=notices %}
        {% include "peachjam/_document_detail_toolbar.html" %}
        <ul class="nav nav-tabs border-bottom scroll-xs" role="tablist">
          {% block document-tabs %}
            <li class="nav-item" role="presentation">
              <button class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#document-detail-tab"
                      type="button"
                      role="tab"
                      aria-controls="document-detail-tab"
                      aria-selected="true">
                <i class="bi bi-pj pj-document-detail"></i>
                {% trans "Document detail" %}
              </button>
            </li>
            {% if timeline %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#history-tab"
                        type="button"
                        role="tab"
                        aria-controls="history-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-history"></i>
                  {% trans "History" %}
                </button>
              </li>
            {% endif %}
            {% if n_relationships %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#related-tab"
                        type="button"
                        role="tab"
                        aria-controls="related-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-related"></i>
                  {% trans "Related documents" %}
                  <span class="badge bg-secondary">{{ n_relationships }}</span>
                </button>
              </li>
            {% endif %}
            {% if cited_documents or documents_citing_current_doc %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#citations-tab"
                        type="button"
                        role="tab"
                        aria-controls="citations-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-citations"></i>
                  {% trans "Citations" %}
                  <span class="badge bg-secondary">{{ document.work.n_cited_works|default:"-" }} / {{ document.work.n_citing_works|default:"-" }}</span>
                </button>
              </li>
            {% endif %}
            {% if case_histories %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#case-history-tab"
                        type="button"
                        role="tab"
                        aria-controls="case-history-tab"
                        aria-selected="false">
                  <i class="bi bi-pj pj-case-history"></i>
                  {% trans 'Case history' %}
                </button>
              </li>
            {% endif %}
            {% if document.work.ratification %}
              <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#ratifications-tab"
                        type="button"
                        role="tab"
                        aria-controls="ratifications-tab"
                        aria-selected="false">
                  {% trans "Ratifications" %}
                  <span class="badge bg-secondary">{{ document.work.ratification.n_ratified }}</span>
                </button>
              </li>
            {% endif %}
          {% endblock %}
        </ul>
      </div>
    </div>
    <div class="tab-content mt-3">
      {% block document-tab-panes %}
        <div class="tab-pane fade show active"
             id="document-detail-tab"
             role="tabpanel"
             aria-labelledby="document-detail-tab">
          <div class="container">
            {% block document-metadata %}
              <div class="row">
                <div class="col-md mb-3">
                  {% block document-metadata-content %}
                    <dl class="document-metadata-list d-flex">
                      {% block document-metadata-content-jurisdiction %}
                        {% if MULTIPLE_JURISDICTIONS or document.locality %}
                          <dt>
                            {% trans 'Jurisdiction' %}
                          </dt>
                          <dd class="text-muted">
                            {% if MULTIPLE_JURISDICTIONS %}
                              {{ document.jurisdiction }}
                              {% if document.locality %}·{% endif %}
                            {% endif %}
                            {{ document.locality|default_if_none:'' }}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-citation %}
                        {% if document.citation %}
                          <dt>
                            {% trans 'Citation' %}
                          </dt>
                          <dd class="text-muted">
                            {{ document.citation }}
                            <button type="button"
                                    class="btn btn-outline-secondary btn-xs ms-2"
                                    title="{% trans "Copy to clipboard" %}"
                                    data-component="CopyToClipboard"
                                    data-value='{{ document.citation }}'
                                    data-value-html='<a href="https://{{ request.site.domain }}{{ document.get_absolute_url }}">{{ document.citation }}</a>'
                                    data-confirmation="{% trans "Copied!" %}">
                              {% trans "Copy" %}
                            </button>
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-alternative-names %}
                        {% with document.alternative_names.all as alternative_names %}
                          {% if alternative_names %}
                            {% if document.doc_type == "judgment" %}
                              <dt>
                                {% trans 'Law report citations' %}
                              </dt>
                            {% else %}
                              <dt>
                                {% trans 'Alternative names' %}
                              </dt>
                            {% endif %}
                            <dd class="text-muted">
                              {% for alternative_name in alternative_names %}
                                <div>
                                  {{ alternative_name.title }}
                                  <button type="button"
                                          class="btn btn-outline-secondary btn-xs ms-2"
                                          title="{% trans "Copy to clipboard" %}"
                                          data-component="CopyToClipboard"
                                          data-value='{{ alternative_name.title }}'
                                          data-value-html='<a href="https://{{ request.site.domain }}{{ document.get_absolute_url }}">{{ alternative_name.title }}</a>'
                                          data-confirmation="{% trans "Copied!" %}">
                                    {% trans "Copy" %}
                                  </button>
                                </div>
                              {% endfor %}
                            </dd>
                          {% endif %}
                        {% endwith %}
                      {% endblock %}
                      {% block document-metadata-content-author %}
                        {% with document.author_list as authors %}
                          {% if authors %}
                            <dt>
                              {% if authors|length > 1 %}
                                {{ document.author_label_plural }}
                              {% else %}
                                {{ document.author_label }}
                              {% endif %}
                            </dt>
                            <dd class="text-muted">
                              {% for author in authors %}
                                {# djlint:off #}
                                <a href="{% url 'author' author.code %}">{{ author.name }}</a>{% if not forloop.last %},{% endif %}
                                {# djlint:on #}
                              {% endfor %}
                            </dd>
                          {% endif %}
                        {% endwith %}
                        {% if judges %}
                          <dt>
                            {% trans 'Judges' %}
                          </dt>
                          <dd class="text-muted">
                            {% for judge in judges %}
                              {# djlint:off #}
                              {{ judge }}{% if not forloop.last %},{% endif %}
                              {# djlint:on #}
                            {% endfor %}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-date %}
                        {% if document.doc_type == "judgment" %}
                          <dt>
                            {% trans 'Judgment date' %}
                          </dt>
                        {% else %}
                          <dt>
                            {% trans 'Date' %}
                          </dt>
                        {% endif %}
                        {% if date_versions|length > 1 %}
                          <dd>
                            <div class="dropdown">
                              <a class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                 href="#"
                                 role="button"
                                 id="dropdownMenuLink"
                                 data-bs-toggle="dropdown"
                                 aria-expanded="false">
                                {{ document.date }}
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% for version in date_versions %}
                                  <li>
                                    <a class="dropdown-item {% if version.pk == document.pk %}active{% endif %}"
                                       href="{{ version.get_absolute_url }}">{{ version.date }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </dd>
                        {% else %}
                          <dd class="text-muted">
                            {{ document.date }}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-language %}
                        <dt>
                          {% translate 'Language' %}
                          {% if language_versions|length > 1 %}
                            <span class="d-inline-block"
                                  data-bs-toggle="tooltip"
                                  title="{% trans 'Multiple languages available' %}">
                              <i class="bi bi-translate"></i>
                            </span>
                          {% endif %}
                        </dt>
                        {% if language_versions|length > 1 %}
                          <dd>
                            <div class="dropdown">
                              <a class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                 href="#"
                                 role="button"
                                 id="dropdownMenuLink"
                                 data-bs-toggle="dropdown"
                                 aria-expanded="false">
                                {% trans document.language.name %}
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% for version in language_versions %}
                                  <li>
                                    <a class="dropdown-item {% if version.pk == document.pk %}active{% endif %}"
                                       rel="alternate"
                                       hreflang="{{ version.language.iso }}"
                                       href="{{ request.scheme }}://{{ request.get_host }}{{ version.get_absolute_url }}">{% trans version.language.name %} ({{ version.language.iso }})</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </dd>
                        {% else %}
                          <dd class="text-muted">
                            {% trans document.language.name %}
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-content-doctype %}
                        <dt>
                          {% trans 'Type' %}
                        </dt>
                        <dd class="text-muted">
                          {% trans document.get_doc_type_display %}
                        </dd>
                      {% endblock %}
                      {% block document-metadata-content-publication %}
                        {% if document.publication_file %}
                          <dt>
                            {% trans 'Publication' %}
                          </dt>
                          <dd class="text-muted">
                            <a href="{% url 'document_publication' document.expression_frbr_uri|strip_first_character %}"
                               target="_blank">{% trans "Download" %} {{ document.publication_file.filename_extension|upper }}</a>
                            ({{ document.publication_file.size|filesizeformat }})
                          </dd>
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-media-summary-download %}
                        {% if document.attachedfiles_set %}
                          {% for attachedfile in document.attachedfiles_set.all %}
                            <dt>
                              {{ attachedfile.nature.name }}
                            </dt>
                            <dd>
                              <a href="{{ attachedfile.file.url }}" target="_blank">{% trans "Download" %} {{ attachedfile.extension|upper }}</a>
                              ({{ attachedfile.size|filesizeformat }})
                            </dd>
                          {% endfor %}
                        {% endif %}
                      {% endblock %}
                      {% block document-metadata-custom-properties %}
                        {% for prop in document.custom_properties.all %}
                          <dt>
                            {{ prop.label }}
                          </dt>
                          <dd class="text-muted">
                            {{ prop.value }}
                          </dd>
                        {% endfor %}
                      {% endblock %}
                    </dl>
                  {% endblock %}
                </div>
                {% if n_relationships or taxonomies or document.work.partner %}
                  <div class="col-md">
                    {% block document-partner %}
                      {% if document.work.partner %}
                        {% include "peachjam/_document_partner.html" %}
                      {% endif %}
                    {% endblock %}
                    {% block document-taxonomies %}
                      {% if taxonomies %}
                        {% include "peachjam/_taxonomies.html" %}
                      {% endif %}
                    {% endblock %}
                    {% block document-relationships-content %}
                      {% if n_relationships %}
                        <h5>
                          <i class="bi bi-pj pj-related"></i>
                          {% translate 'Related documents' %}
                        </h5>
                        <ul class="list-unstyled">
                          {% if n_relationships > relationship_limit %}
                            <li>
                              <a href="#related-tab" data-component="ToggleTab">{% blocktrans %}{{ n_relationships }} related documents{% endblocktrans %}</a>
                            </li>
                          {% else %}
                            {% for verb, rels in relationships_as_subject %}
                              {% for rel in rels %}
                                {% if rel.object_work %}
                                  <li>
                                    {% translate rel.predicate.verb as verb %}
                                    {{ verb|capfirst }}
                                    <a href="{% url 'document_detail' frbr_uri=rel.object_work.frbr_uri|strip_first_character %}">{{ rel.object_work.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                            {% for verb, rels in relationships_as_object %}
                              {% for rel in rels %}
                                {% if rel.subject_work %}
                                  <li>
                                    {% translate rel.predicate.reverse_verb as verb %}
                                    {{ verb|capfirst }}
                                    <a href="{% url 'document_detail' frbr_uri=rel.subject_work.frbr_uri|strip_first_character %}">{{ rel.subject_work.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          {% endif %}
                        </ul>
                      {% endif %}
                    {% endblock %}
                  </div>
                {% endif %}
              </div>
            {% endblock %}
            {% block extra-metadata %}{% endblock %}
            <hr class="mb-5" />
          </div>
          <div class="container-fluid">
            {% block content %}
              {% include 'peachjam/_document_content.html' with show_sidebar=True %}
              <a href="#top" class="btn btn-sm btn-secondary to-the-top">▲ {% trans "To the top" %}</a>
            {% endblock %}
          </div>
        </div>
        {% if timeline %}
          <div class="tab-pane fade"
               id="history-tab"
               role="tabpanel"
               aria-labelledby="history-tab">
            <div class="container">{% include 'peachjam/_timeline_events.html' %}</div>
          </div>
        {% endif %}
        {% if n_relationships %}
          <div class="tab-pane fade"
               id="related-tab"
               role="tabpanel"
               aria-labelledby="related-tab">
            <div class="container">{% include 'peachjam/_related_documents.html' %}</div>
          </div>
        {% endif %}
        {% if cited_documents or documents_citing_current_doc %}
          <div class="tab-pane fade"
               id="citations-tab"
               role="tabpanel"
               aria-labelledby="citations-tab">
            <div class="container">{% include 'peachjam/_citations.html' %}</div>
          </div>
        {% endif %}
        {% if case_histories %}
          <div class="tab-pane fade"
               id="case-history-tab"
               role="tabpanel"
               aria-labelledby="case-history-tab">
            <div class="container">{% include 'peachjam/_case_histories.html' %}</div>
          </div>
        {% endif %}
        {% if document.work.ratification %}
          <div class="tab-pane fade"
               id="ratifications-tab"
               role="tabpanel"
               aria-labelledby="ratifications-tab">
            <div class="container">{% include 'peachjam/_ratifications.html' with ratification=document.work.ratification %}</div>
          </div>
        {% endif %}
      {% endblock %}
    </div>
    {% if perms.peachjam.add_relationship %}{{ predicates_json|json_script:"predicates" }}{% endif %}
    {{ citation_links|json_script:"citation-links" }}
    {{ provision_relationships|json_script:"provision-relationships" }}
  </div>
{% endblock %}
