{% extends 'peachjam/layouts/base.html' %}
{% load static %}
{% load sass_tags %}

{% block head-css %}{% endblock %}

{% block head-js %}
  {% if not DEBUG %}
    <!-- sentry -->
    <script defer src="https://browser.sentry-cdn.com/6.18.1/bundle.min.js" integrity="sha384-XOitiDSsTajhNQgwzQ7iHMlM2Q2ODCW6aw3m1QgMVrDOqsNhFao1VjB39qXNMOZW" crossorigin="anonymous"></script>
    <script>
    window.addEventListener('load', function() {
        Sentry.init({
        dsn: '{{ SENTRY_DSN_KEY }}',
        environment: '{{ SENTRY_ENVIRONMENT }}',
        blacklistUrls: [],
        });
    });
    </script>
  {% endif %}

{% endblock %}

{% block header %}
  {% include 'peachjam/header.html' %}
{% endblock %}
{% block body-content %}
    <main>
      {% block page-content %}{% endblock %}
    </main>
{% endblock %}
{% block footer %}
  {% include 'peachjam/footer.html' %}
{% endblock %}