{% extends 'peachjam/layouts/base.html' %}
{% load static peachjam %}
{% load sass_tags %}
{% block head-css %}
  <link rel="preconnect" href="cdn.jsdelivr.net" />
  <link rel="stylesheet"
        href="{% sass_src 'stylesheets/peachjam.scss' %}"
        type="text/css"/>
{% endblock %}
{% block head-js %}
  {{ PEACHJAM_JS_CONFIG|json_script:"peachjam-config" }}
  {% if not DEBUG %}
    <!-- sentry -->
    <script src="https://browser.sentry-cdn.com/7.51.2/bundle.min.js"
            integrity="sha384-TIc4wz4oU9UgbI5Cu7R/6jhJOszkPGImz+Ney9MXZ3MESAGeYJUOV+36KnTacIXP"
            crossorigin="anonymous"
            defer></script>
    {% if PEACHJAM_SETTINGS.google_analytics_id %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async
              src="https://www.googletagmanager.com/gtag/js?id={{ PEACHJAM_SETTINGS.google_analytics_id|split|first }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        // set up default config
        gtag('js', new Date());
        gtag('set', {'lii_user_language': '{{ CURRENT_LANGUAGE }}'});

        // split multiple ids into array
        const google_analytics_ids = '{{ PEACHJAM_SETTINGS.google_analytics_id }}'.trim().split(/\s+/);
        // loop through ids and add config for each
        google_analytics_ids.forEach(id => {
          gtag('config', id);
        });
      </script>
    {% endif %}
  {% endif %}
  <!-- must be last script to load -->
  <script defer src="{% static 'js/app-prod.js' %}"></script>
{% endblock %}
{% block header %}
  {% include 'peachjam/_header.html' %}
{% endblock %}
{% block body-content %}
  <main id="top">
    {% block page-content %}{% endblock %}
  </main>
{% endblock %}
{% block footer %}
  {% include 'peachjam/_footer.html' %}
{% endblock %}
