{% extends "peachjam/home.html" %}
{% load i18n static %}
{% block title %}
  {% trans 'Home' %}
{% endblock %}
{% block page-content %}
  <div id="main-page">
    <section class="welcome py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 pb-3">
            <h1>
              South Africa's
              <nobr>By-laws</nobr>
            </h1>
            <h3 class="font-weight-normal">Freely available, easy to find, read and share.</h3>
          </div>
          <div class="col-sm-5">
            <div class="text-center">
              <img class="logo"
                   src="{% static 'images/logo-lg.png' %}"
                   alt="Open By-laws Logo"/>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <h5 class="text-sm-left">
            <img alt="Laws.Africa"
                 class="me-3"
                 src="{% static 'images/lawlibrary-logo.png' %}"/>
            Part of <a href="https://lawlibrary.org.za" target="_blank">LawLibrary.org.za</a>.
          </h5>
        </div>
      </div>
    </section>
    <section class="py-5 hero-search">
      <div class="container">
        {% block hero-search %}
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <form method="get" action="{% url 'search:search' %}" class="d-flex mb-2">
                <input type="text"
                       class="form-control form-control-lg flex-grow-1"
                       placeholder="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                       aria-label="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                       aria-describedby="button-addon2"
                       autofocus=""
                       name="q"/>
                <input type="submit"
                       class="btn btn-primary ms-2 btn-lg"
                       value="{% trans 'Search' %}"/>
              </form>
              <a href="{% url 'search:search' %}?show-advanced-tab=1">{% trans 'Advanced search' %}</a>
            </div>
          </div>
        {% endblock %}
      </div>
    </section>
    <section class="municipalities py-5">
      <div class="container">
        {% with object_list=municipalities %}
          {% include "open_by_laws/_municipalities.html" %}
        {% endwith %}
        <h4>Official municipal partners</h4>
        {% with object_list=microsites %}
          {% include "open_by_laws/_municipalities.html" %}
        {% endwith %}
      </div>
    </section>
  </div>
{% endblock %}
