{% extends "peachjam/_document_table_form.html" %}
{% load i18n %}
{% block filter-documents %}
  <div class="mb-2 d-flex flex-column flex-md-row pocketlaw-hidden"
       hx-target="#{{ doc_table_id }}"
       {% if not doc_table_disable_push_url %}hx-push-url="true"{% endif %}>
    <div class="flex-grow-1 me-md-2 mb-2 mb-md-0">
      <label class="form-label" for="{{ doc_table_filter_input_id }}">{% trans "Filter legislation by title" %}</label>
      <input id="{{ doc_table_filter_input_id }}"
             hx-get="{{ request.path }}"
             hx-trigger="keyup changed delay:300ms"
             hx-sync="this:replace"
             placeholder="{% trans "Filter legislation by title" %}"
             class="form-control"
             type="text"
             value="{{ form.q.value|default_if_none:'' }}"
             name="q"/>
    </div>
    {% with doc_table_sort_select_id=doc_table_form_id|add:"-sort" %}
      <div class="me-md-2 mb-2 mb-md-0">
        <label class="form-label" for="{{ doc_table_sort_select_id }}">{% trans "Sort legislation by" %}</label>
        <select id="{{ doc_table_sort_select_id }}"
                class="form-control"
                hx-get="{{ request.path }}"
                name="sort">
          {% for opt in form.sort %}{{ opt }}{% endfor %}
        </select>
      </div>
    {% endwith %}
    <div class="d-none d-md-block align-self-md-end">
      <button class="btn btn-primary"
              hx-get="{{ request.path }}"
              hx-sync="#{{ doc_table_filter_input_id }}:replace"
              type="submit">
        {% trans "Filter" %}
      </button>
    </div>
  </div>
  <div class="htmx-progress progress mb-2">
    <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
  </div>
{% endblock %}
{% block doc-table %}
  {% include "peachjam/provision_enrichment/_provision_topic_enrichment_table.html" %}
{% endblock %}
