{% load i18n peachjam humanize %}
{% with doc_table_dom_id=doc_table_id|default:"doc-table" %}
  <section class="table-responsive"
           id="{{ doc_table_dom_id }}"
           data-component="DocumentTable"
           aria-label="{% trans 'Results' %}"
           tabindex="-1">
    <p class="visually-hidden" aria-live="polite" aria-atomic="true">
      {% trans 'Results.' %}
      {% if documents %}
        {% if doc_count == 1 %}
          {{ doc_count|intcomma }} {{ doc_count_noun }} {% trans 'found.' %}
        {% else %}
          {{ doc_count|intcomma }} {{ doc_count_noun_plural }} {% trans 'found.' %}
        {% endif %}
      {% else %}
        {% trans 'No documents found.' %}
      {% endif %}
    </p>
    {% if doc_table_show_counts %}
      <div class="mb-3 text-muted">
        {% if doc_count == 1 %}
          {{ doc_count|intcomma }} {{ doc_count_noun }}
        {% else %}
          {{ doc_count|intcomma }} {{ doc_count_noun_plural }}
        {% endif %}
      </div>
    {% endif %}
    <table class="doc-table">
      {% for document in documents %}
        <div class="card mb-4">
          <div class="card-body">
            <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
            {% if document.blurb %}<div>{{ document.blurb }}</div>{% endif %}
            {% if document.flynote %}<div class="fst-italic">{{ document.flynote|linebreaksbr }}</div>{% endif %}
            <div class="mt-2 ms-3">
              {% for citation in document.relevant_provision_citations %}
                <div class="mb-2">
                  [...] {{ citation.prefix }}<strong>{{ citation.exact }}</strong>{{ citation.suffix }} [...]
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      {% if not documents %}
        <p>{% trans 'No documents found.' %}</p>
      {% endif %}
      {% if documents and not hide_pagination and paginator %}
        {% include 'peachjam/_pagination.html' %}
      {% endif %}
    </table>
  </section>
{% endwith %}
