{% load i18n peachjam humanize %}
<div class="table-responsive"
     id="{{ doc_table_id|default:"doc-table" }}"
     data-component="DocumentTable">
  {% if doc_table_show_counts %}
    <div class="mb-3 text-muted">
      {% if doc_count == 1 %}
        {{ doc_count|intcomma }} {{ doc_count_noun }}
      {% else %}
        {{ doc_count|intcomma }} {{ doc_count_noun_plural }}
      {% endif %}
    </div>
  {% endif %}
  <table class="doc-table">
    {% for document in documents %}
      <div class="card mb-4">
        <h5 class="card-header provision-toggle">
          <button type="button"
                  class="btn btn-sm bg-none collapsed"
                  hx-get="{% url 'document_uncommenced_provision_list' document.pk %}"
                  hx-target="#document-uncommenced-provisions-{{ document.pk }}"
                  hx-swap="innerHTML"
                  hx-trigger="click once"
                  data-bs-toggle="collapse"
                  data-bs-target="#document-uncommenced-provisions-{{ document.pk }}"
                  aria-expanded="false"
                  aria-controls="document-uncommenced-provisions-{{ document.pk }}">
            <i class="bi"></i>
          </button>
          <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
        </h5>
        <div id="document-uncommenced-provisions-{{ document.pk }}"
             class="collapse">
          <div class="spinner-when-empty"></div>
        </div>
      </div>
    {% endfor %}
    {% if not documents %}
      <p>{% trans 'No documents found.' %}</p>
    {% endif %}
    {% if documents and not hide_pagination and paginator %}
      {% include 'peachjam/_pagination.html' %}
    {% endif %}
  </table>
</div>
