{% load i18n %}
{% for enrichment in unconstitutional_provisions %}
  <div class="modal"
       id="provision-enrichment-modal-{{ enrichment.pk }}"
       tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="bi bi-journal-x"></i> {% trans 'Unconstitutional provision' %}
          </h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="{% trans 'Close' %}"></button>
        </div>
        <div class="modal-body">
          {% include "peachjam/provision_enrichment/_unconstitutional_provision_detail.html" with expanded=True %}
        </div>
        <div class="modal-footer">
          <a href="{% url 'unconstitutional_provision_list' %}" class="me-auto">{% trans "All unconstitutional provisions" %}</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
