{% extends 'peachjam/document/provision_detail.html' %}
{% load i18n peachjam %}
{% block provision-page-content %}
  <div class="container">
    <h3 class="mt-3 mb-4">
      {% trans "Documents that cite this provision" %} <span class="badge bg-secondary">{{ citing_documents_count }}</span>
    </h3>
    {% if subscription_required %}
      {% include "peachjam_subs/_subscription_required.html" %}
    {% else %}
      {% include "peachjam/provision_enrichment/_provision_citations_table_form.html" %}
    {% endif %}
  </div>
{% endblock %}
