{% extends "peachjam/_related_documents.html" %}
{% load peachjam i18n %}
{% block extra-related-documents %}
  {% if perms.peachjam_ml.view_documentembedding %}
    <div class="row">
      <div class="col-lg">
        <h4>{% trans 'More documents like this one' %}</h4>
        <div class="spinner-when-empty"
             hx-get="{% url 'document_similar_docs' document.expression_frbr_uri|strip_first_character %}"
             hx-trigger="load">
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
