{% extends 'peachjam/_footer.html' %}
{% load static %}
{% load i18n %}
{% block first-content-column %}
  <h5>{% trans 'About' %} {{ APP_NAME }}</h5>
  <p>
    {% blocktrans trimmed %}
      AfricanLII is an open-access research platform for African law jointly operated by the AfricanLII programme of
      the University of Cape Town and Laws.Africa. AfricanLII publishes the law and policy of the African Union and
      federates search across all open access African national law available through the
      <a class="text-primary" href="https://www.openlawafrica.org/" target="_blank" rel="noreferrer">Open Law Africa</a>
      community of LIIs.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      The publication of the African Union material is co-sponsored by the European Union and is part of the
      <a class="text-primary" href="https://dataforgovernance.africa/" target="_blank" rel="noreferrer">Data for
        Governance Alliance project</a>.
    {% endblocktrans %}
  </p>
  <div>
    <a href="{% url 'terms_of_use' %}">{% trans 'Terms of Use' %}</a>
  </div>
  {% if PEACHJAM_SETTINGS.metabase_dashboard_link %}
    <div>
      <a href="{% url 'metabase_stats' %}">{% trans 'Site Statistics' %}</a>
    </div>
  {% endif %}
{% endblock %}
{% block second-content-column %}
  <div class="mb-2">
    <strong>{% trans 'With support from' %}</strong>
  </div>
  <div>
    <a href="https://www.sigrid-rausing-trust.org/"
       target="_blank"
       rel="noreferrer">Sigrid Rausing Trust</a>
  </div>
  <div>
    <a href="https://indigotrust.org.uk/" target="_blank" rel="noreferrer">Indigo Trust</a>
  </div>
  <div>
    <a href="https://www.eeas.europa.eu/" target="_blank" rel="noreferrer">{% trans 'European Union' %}</a>
  </div>
  <div>
    <a href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">{% trans 'Open Law Africa' %}</a>
  </div>
{% endblock %}
{% block third-content-column %}
  <div class="mb-2">
    <strong>{% trans 'Other African Legal Information Institutions' %}</strong>
  </div>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://civlii.org/" target="_blank" rel="noreferrer">CIVLII</a>
  </div>
  <div>
    <a href="https://ghalii.org/" target="_blank" rel="noreferrer">GhaLII</a>
  </div>
  <div>
    <a href="http://kenyalaw.org/" target="_blank" rel="noreferrer">Kenya Law</a>
  </div>
  <div>
    <a href="https://lawlibrary.org.za/" target="_blank" rel="noreferrer">LawLibrary ZA</a>
  </div>
  <div>
    <a href="https://lesotholii.org/" target="_blank" rel="noreferrer">LesothoLII</a>
  </div>
  <div>
    <a href="http://liberlii.org/" target="_blank" rel="noreferrer">LiberLII</a>
  </div>
  <div>
    <a href="https://malawilii.org/" target="_blank" rel="noreferrer">MalawiLII</a>
  </div>
  <div>
    <a href="https://mauritiuslii.org/" target="_blank" rel="noreferrer">MauritiusLII</a>
  </div>
  <div>
    <a href="https://namiblii.org/" target="_blank" rel="noreferrer">NamibLII</a>
  </div>
  <div>
    <a href="https://nigerialii.org/" target="_blank" rel="noreferrer">NigeriaLII</a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/" target="_blank" rel="noreferrer">OpenbyLaws ZA</a>
  </div>
  <div>
    <a href="https://rwandalii.org/" target="_blank" rel="noreferrer">RwandaLII</a>
  </div>
  <div>
    <a href="https://seylii.org/" target="_blank" rel="noreferrer">SeyLII</a>
  </div>
  <div>
    <a href="https://sierralii.org/" target="_blank" rel="noreferrer">SieraLII</a>
  </div>
  <div>
    <a href="https://eswatinilii.org/" target="_blank" rel="noreferrer">eSwatiniLII</a>
  </div>
  <div>
    <a href="https://tanzlii.org/" target="_blank" rel="noreferrer">TanzLII</a>
  </div>
  <div>
    <a href="https://ulii.org/" target="_blank" rel="noreferrer">UgandaLII</a>
  </div>
  <div>
    <a href="https://zambialii.org/" target="_blank" rel="noreferrer">ZambiaLII</a>
  </div>
  <div>
    <a href="https://new.zanzibarlii.org/" target="_blank" rel="noreferrer">ZanzibarLII</a>
  </div>
  <div>
    <a href="https://zimlii.org/" target="_blank" rel="noreferrer">ZimLII</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://uct.ac.za/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/uct-logo.svg' %}"
           alt="{% trans 'University of Cape Town' %}"/>
    </a>
    <a class="footer-logos__item"
       href="https://laws.africa/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/laws-africa-logo-horizontal-white.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://www.indigotrust.org.uk/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/indigo-trust-logo.jpg' %}" alt="Indigo Trust"/>
    </a>
    <a class="footer-logos__item"
       href="https://european-union.europa.eu/select-language?destination=/node/1"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/eu_logo.jpg' %}"
           alt="{% trans 'European Union' %}"/>
    </a>
    <a class="footer-logos__item"
       href="https://www.sigrid-rausing-trust.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/srt-logo.jpg' %}" alt="Sigrid Rausing Trust"/>
    </a>
    <a class="footer-logos__item"
       href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/open-law-africa-inverted.png' %}"
           alt="{% trans 'Open Law Africa' %}"/>
    </a>
  </div>
{% endblock %}
