{% extends 'peachjam/_header.html' %}
{% load static %}
{% load i18n %}
{% block top-bar %}
  <div class="top-bar bg-dark p-2">
    <div class="container d-flex justify-content-between">
      <a href="https://dataforgovernance.africa"
         target="_blank"
         rel="noreferrer">
        <img class="top-bar-logo d4ga-logo"
             src="{% static 'images/cso-agp-logo-horizontal.png' %}"
             alt="Data for Governance Alliance"/>
      </a>
      <a href="https://www.openlawafrica.org/"
         target="_blank"
         rel="noreferrer">
        <img class="top-bar-logo ola-logo"
             src="{% static 'images/open-law-africa-inverted.png' %}"
             alt="{% trans 'Open Law Africa' %}"/>
      </a>
    </div>
  </div>
{% endblock %}
{% block navbar-logo %}
  <img src="{% static 'images/africanlii-logo.svg' %}"
       alt="africanlii"
       width="120"/>
{% endblock %}
{% block nav-items %}
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'home' %}active{% endif %}"
       href="{% url 'home_page' %}">
    {% trans 'Home' %}</a>
  </li>
  <li class="nav-item dropdown main-nav">
    <a class="nav-link {% with 'legislation soft_law legal_instruments judgments gazettes' as list %} {% if view.navbar_link in list.split %} active{% endif %} {% endwith %} dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      {% trans 'African Legal Information' %}
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-item">
        <a class=" nav-link px-0 {% if view.navbar_link == 'legal_instruments' %} active{% endif %} "
           href="{% url 'agp_legal_instrument_list' %}">
          {% trans 'Legal Instruments' %}
          <div class="dropdown-summary text-muted">{% trans 'Charters, treaties, conventions and regulations.' %}</div>
        </a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link px-0 {% if view.navbar_link == 'judgments' %}active{% endif %}"
           href="{% url 'judgment_list' %}">{% trans 'Judgments' %}
          <div class="dropdown-summary text-muted">{% trans 'Judgments from regional African courts.' %}</div>
        </a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link px-0 {% if view.navbar_link == 'soft_law' %}active{% endif %}"
           href="{% url 'agp_soft_law_list' %}">{% trans 'Soft Law' %}
          <div class="dropdown-summary text-muted">{% trans 'Policies, decisions, recommendations and communiques.' %}</div>
        </a>
      </li>
      <li class="dropdown-item">
        <a class=" nav-link px-0 {% if view.navbar_link == 'gazettes' %} active{% endif %} "
           href="{% url 'gazettes' %}">{% trans 'Gazettes' %}
          <div class="dropdown-summary text-muted">{% trans 'Regional economic community official Gazettes.' %}</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown main-nav">
    <a class="nav-link {% if view.navbar_link == 'au' %} active{% endif %}  dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      {% trans 'African Union (AU)' %}
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-item">
        <a class=" nav-link px-0 {% if view.navbar_link == 'au' %} active{% endif %} "
           href="{% url 'au_detail_page' %}#au-organs">
          {% trans 'African Union Organs' %}
          <div class="dropdown-summary text-muted">{% trans 'African Union (AU) Organs' %}</div>
        </a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link px-0 {% if view.navbar_link == 'au' %}active{% endif %}"
           href="{% url 'au_detail_page' %}#rec">{% trans 'Regional Economic Communities (RECs)' %}
          <div class="dropdown-summary text-muted">{% trans 'Regional Economic Communities (RECs)' %}</div>
        </a>
      </li>
      <li class="dropdown-item">
        <a class=" nav-link px-0 {% if view.navbar_link == 'au' %} active{% endif %} "
           href="{% url 'au_detail_page' %}#au-institutions">
          {% trans 'African Union Institutions' %}
          <div class="dropdown-summary text-muted">{% trans 'African Union (AU) Institutions' %}</div>
        </a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link px-0 {% if view.navbar_link == 'au' %}active{% endif %}"
           href="{% url 'au_detail_page' %}#member-states">{% trans 'Member states' %}
          <div class="dropdown-summary text-muted">{% trans 'Member states' %}</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'taxonomy' %}active{% endif %}"
       href="{% url 'top_level_taxonomy_list' %}">
    {% trans 'Collections' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'reports_guides' %}active{% endif %}"
       href="{% url 'agp_reports_guides_list' %}">
      {% trans 'Reports & Guides' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'mooc' %}active{% endif %}"
       href="{% url 'mooc_landing_page' %}">
      {% trans 'Courses' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'articles' %}active{% endif %}"
       href="{% url 'article_list' %}">
      {% trans 'Articles' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'about' %}active{% endif %}"
       href="{% url 'about' %}">
      {% trans 'About' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://docs.africanlii.org/" target="_blank">{% trans 'Help' %}</a>
  </li>
{% endblock %}
