{% extends "peachjam/about.html" %}
{% load i18n static %}
{% block about-heading %}
  <h1 class="mb-4">{% trans 'About the platform' %}</h1>
{% endblock %}
{% block about-top-content %}
  <p>
    {% blocktrans trimmed %}
      This Pan-African platform serves as an information clearinghouse on all aspects of the African Governance
      Architecture (AGA) agenda, including charters, protocols, communications, relevant legal decisions, policy,
      implementation, monitoring, and related material. The overall objective is to build effective collaboration
      between African citizens and civil society organisations on the one hand, and AGA members on the other, to
      strengthen implementation of the AGA platform’s agenda with respect to democracy, governance, and human rights.
      Our specific goals are to:
    {% endblocktrans %}
  </p>
  <ul>
    <li>
      {% blocktrans trimmed %}
        Increase overall awareness of the AGA agenda and popular perceptions about democracy, governance and human
        rights among civil society organisations (CSOs) and AGA members
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        Supply complete, accurate and re-usable AGA information to allow AGA and CSOs to work towards shared goals
      {% endblocktrans %}
    </li>
    <li>
      {%blocktrans trimmed %}
        Capacitate civil society on all levels to access, interpret and effectively use AGA information
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        Strengthen monitoring, develop insights, and improve national-level implementation by developing linkages
        between regional and member-states’ law and policy.
      {% endblocktrans %}
    </li>
  </ul>
  <p>
    {% blocktrans trimmed %}
      This platform is developed and maintained jointly by <a href="https://africanlii.org/" target="_blank">AfricanLII</a> and
      <a href="https://laws.africa/" target="_blank">Laws.Africa</a> with funds from the European Union,
      the Indigo Trust and the Sigrid Rausing Trust. The initial phase of the project runs from 2021 to 2024.
    {% endblocktrans %}
  </p>
  <h2 class="mb-4">{% trans 'Platform developers' %}</h2>
  <p>
    {% blocktrans trimmed %}
      <a href="https://africanlii.org/" target="_blank">AfricanLII</a> is a programme of the Democratic Governance and Rights Unit at the Department of Public Law, University
      of Cape Town. <a href="https://africanlii.org/" target="_blank">AfricanLII</a> helps governments, academia and non-profit organisations publish the law of African
      countries for sustainable open access. <a href="https://africanlii.org/" target="_blank">AfricanLII</a> hosts curated collections on various subjects of African law,
      such as human rights, the environment, commercial law and finance.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      <a href="https://africanlii.org/" target="_blank">AfricanLII</a> convenes a network of 16 African LIIs - a collaborative group of governments, organizations, and
      individuals in Africa, dedicated to free access to law on our continent.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      <a href="https://laws.africa/" target="_blank">Laws.Africa</a> helps African governments to sustainably digitise their legal information for public use, through open
      law software, capacity-building, training, partnerships and support. <a href="https://laws.africa/" target="_blank">Laws.Africa’s</a> Open Law Technology solutions
      lower the cost of digitisation, archival and publication of primary legal information, and create opportunities for
      rich interactivity, advanced research and justice sector innovation.
    {% endblocktrans %}
  </p>
  <p class="mb-4">
    {% blocktrans trimmed %}
      <a href="https://africanlii.org/" target="_blank">AfricanLII</a> and <a href="https://laws.africa/" target="_blank">Laws.Africa</a> collaborate in unlocking the value of African digital legal information in support
      of the rule of law, access to justice, and innovation.
    {% endblocktrans %}
  </p>
  <h2 class="mb-4">{% trans 'Find out more' %}</h2>
  <p class="mb-4">
    {% blocktrans trimmed %}
      Visit <a href="https://openlawafrica.org/" target="_blank">openlawafrica.org</a>
      or contact us on <a href="mailto:info@laws.africa">info@laws.africa</a> for more information.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block about-bottom-content %}
  <h2 class="mb-4">{% trans 'Our partners' %}</h2>
  <div class="row mt-5">
    <div class="offset-md-3 col-md-3 mt-3 text-center align-self-center">
      <a href="https://laws.africa" target="_blank">
        <img src="{% static 'images/laws-africa-logo.png' %}"
             height="140px"
             alt="Laws.Africa logo"/>
      </a>
    </div>
    <div class="col-md-3 mt-3 text-center">
      <a href="https://africanlii.africaorg" target="_blank">
        <img src="{% static 'images/africanlii-logo.svg' %}"
             height="140px"
             alt="AfricanLII logo"/>
      </a>
    </div>
  </div>
{% endblock %}
