{% load i18n %}

<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-3">
          <strong>{% trans 'About AfricanLII' %}</strong>
        </div>
        <iframe style="max-width: 360px;" width="100%" height="203" src="https://www.youtube.com/embed/og2YO8e_Dmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="mb-2"><strong>{% trans 'With support from' %}</strong></div>
        <div><a href="https://www.sigrid-rausing-trust.org/" target="_blank" rel="noreferrer">Sigrid Rausing Trust</a></div>
        <div><a href="https://indigotrust.org.uk/" target="_blank" rel="noreferrer">Indigo Trust</a></div>
        <div><a href="http://clfafrica.org" target="_blank" rel="noreferrer">African Commercial Law Foundation</a></div>
        <div><a href="https://www.opensocietyfoundations.org/" target="_blank" rel="noreferrer">Open Society Foundations</a></div>
        <div><a href="http://cedartower.co.za/" target="_blank" rel="noreferrer">CedarTower Services</a></div>
        <div><a href="http://saipar.org/" target="_blank" rel="noreferrer">Southern African Institute for Policy and Research</a></div>
        <div><a href="http://www.lrfzim.com/" target="_blank" rel="noreferrer">Legal Resources Foundation - Zimbabwe</a></div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="mb-2"><strong>{% trans 'Other African Legal Information Institutions' %}</strong></div>
        <div><a href="http://www.abyssinialaw.com/" target="_blank" rel="noreferrer">Abyssinia Law</a></div>
        <div><a href="https://ghalii.org/" target="_blank" rel="noreferrer">GhaLII</a></div>
        <div><a href="http://kenyalaw.org/" target="_blank" rel="noreferrer">Kenya Law</a></div>
        <div><a href="https://lesotholii.org/" target="_blank" rel="noreferrer">LesothoLII</a></div>
        <div><a href="https://malawilii.org/" target="_blank" rel="noreferrer">MalawiLII</a></div>
        <div><a href="https://namiblii.org/" target="_blank" rel="noreferrer">NamibLII</a></div>
        <div><a href="https://nigerialii.org/" target="_blank" rel="noreferrer">NigeriaLII</a></div>
        <div><a href="https://sierralii.org/" target="_blank" rel="noreferrer">SierraLII</a></div>
        <div><a href="http://saflii.org/" target="_blank" rel="noreferrer">SAFLII</a></div>
        <div><a href="https://seylii.org/" target="_blank" rel="noreferrer">SeyLII</a></div>
        <div><a href="https://swazilii.org/" target="_blank" rel="noreferrer">SwaziLII</a></div>
        <div><a href="https://tanzlii.org/" target="_blank" rel="noreferrer">TanzLII</a></div>
        <div><a href="https://ulii.org/" target="_blank" rel="noreferrer">UgandaLII</a></div>
        <div><a href="https://zambialii.org/" target="_blank" rel="noreferrer">ZambiaLII</a></div>
        <div><a href="https://zimlii.org/" target="_blank" rel="noreferrer">ZimLII</a></div>
      </div>
    </div>
  </div>
</footer>
