{% extends "peachjam/home.html" %}
{% load i18n static %}
{% block title %}
  {% trans 'Home' %}
{% endblock %}
{% block page-content %}
  <section class="py-5">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-7">
          <p class="display-5 text-left mb-3 fw-bold">{% trans "Legal research across African borders" %}</p>
          <p class="display-6 text-left mb-5">{% trans "Research digitised African regional and national law." %}</p>
          <p class="display-7 text-left my-4">
            <a href="#au" class="text-decoration-none">→ {% trans "Policies and regional laws of the African Union" %}</a>
          </p>
          <p class="display-7 text-left my-4">
            <a href="#national" class="text-decoration-none">→ {% trans "National law and policy" %}</a>
          </p>
        </div>
        <div class="col-lg-5">
          <iframe class="video"
                  src="{{ video_link }}"
                  title="YouTube video player"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
        </div>
      </div>
      <div class="row pt-5 mb-4">
        <p class="display-7 text-center">
          {% blocktrans trimmed with lii_count=liis|length %}
          Search {{ documents_count }} African Union documents and legal information from {{ lii_count }} African countries.
          {% endblocktrans %}
        </p>
      </div>
      <div class="row my-4">
        <div class="col-md-9 mx-auto">
          <form method="get" action="{% url 'search:search' %}" class="d-flex mb-2">
            <input type="hidden" name="suggestion"/>
            <input type="text"
                   class="form-control form-control-lg flex-grow-1"
                   placeholder="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                   aria-label="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                   {% if SEARCH_SUGGESTIONS %}data-component="SearchTypeahead"{% endif %}
                   name="q"/>
            <button type="submit" class="btn btn-primary btn-lg ms-2">{% trans "Search" %}</button>
          </form>
          <div>
            <a href="{% url 'search:search' %}?show-advanced-tab=1">{% trans 'Advanced search' %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-light">
    <div class="container">
      <h2 class="display-6" id="au">{% trans "Explore the law and policy of the African Union" %}</h2>
      <p class="lead mb-5">
        {% blocktrans trimmed %}
          We digitise the law and policy of the African Governance Architecture and help Africans and the world connect
          with and understand the African Union agenda.
        {% endblocktrans %}
      </p>
      <div class="row">
        <div class="col-lg-6 mb-3">
          <h3>{% trans 'African Union Organs' %}</h3>
          <ul class="list-unstyled">
            {% for au_organ in au_organs %}
              <li>
                <a href="{% url 'au_organ_detail_view' au_organ.author.code %}">{{ au_organ }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-6 mb-3">
          <h3>{% trans 'African Union Institutions' %}</h3>
          <ul class="list-unstyled">
            {% for au_institution in au_institutions %}
              <li>
                <a href="{% url 'au_institution_detail_view' au_institution.author.code %}">{{ au_institution }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
          <h3>{% trans 'Regional Economic Communities' %}</h3>
          <ul class="list-unstyled">
            {% for rec in recs %}
              <li>
                <a href="{% url 'rec_detail_view' rec.locality.place_code %}">{{ rec }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          {% for court_class in court_classes %}
            {% if court_class.courts.all %}
              <h3>{{ court_class.name }}</h3>
              <ul class="list-unstyled">
                {% for court in court_class.courts.all %}
                  <li>
                    <a href="{% url 'court' court.code %}">{{ court.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-lg-4 mb-3">
          <h3>{% trans 'Member States' %}</h3>
          <p>
            The member states of the African Union are the independent countries within the African continent that collectively work towards the union's goals of promoting unity, economic development, and peace.
          </p>
          <a class="btn btn-primary"
             href="{% url 'au_detail_page' %}#member-states">{% trans "Explore Member States" %}</a>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2 class="mb-4">{% trans 'Explore curated African law' %}</h2>
      {% include 'peachjam/_taxonomy_list.html' %}
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-3">
          <h3 class="mb-4">{% trans 'Recent Judgments' %}</h3>
          {% trans 'View more judgments' as text %}
          {% include 'peachjam/_recent_document_list.html' with documents=recent_judgments view_more_text=text view_more_url_name='judgment_list' %}
        </div>
        <div class="col-lg-6 mb-3">
          <h3 class="mb-4">{% trans 'Recent Legal Instruments' %}</h3>
          {% trans 'View more legal instruments' as text %}
          {% include 'peachjam/_recent_document_list.html' with documents=recent_legal_instruments view_more_text=text view_more_url_name='agp_legal_instrument_list' %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-3">
          <h3 class="mb-4">{% trans 'Recent Soft Law' %}</h3>
          {% trans 'View more Soft Law' as text %}
          {% include 'peachjam/_recent_document_list.html' with documents=recent_soft_law view_more_text=text view_more_url_name='agp_soft_law_list' %}
        </div>
        <div class="col-lg-6 mb-3">
          <h2 class="mb-4">{% trans 'Recent Reports and Guides' %}</h2>
          {% trans 'View more Reports and Guides' as text %}
          {% include 'peachjam/_recent_document_list.html' with documents=recent_reports_guides view_more_text=text view_more_url_name='agp_reports_guides_list' %}
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-light">
    <div class="container">
      <h2 class="display-6" id="national">{% trans "Explore African national legal information" %}</h2>
      <p class="lead">
        {% blocktrans trimmed %}
        Explore African national legislation and court judgments from Legal Information Institutes across Africa.
        {% endblocktrans %}
      </p>
      <div class="row">
        <div class="col-md-6 mb-5">
          <form method="get" action="{% url 'search:search' %}" class="d-flex mb-2">
            <input type="text"
                   class="form-control flex-grow-1"
                   placeholder="{% blocktrans %}Search African legal information{% endblocktrans %}"
                   aria-label="{% blocktrans %}Search African legal information{% endblocktrans %}"
                   aria-describedby="button-addon2"
                   name="q"/>
            <button type="submit" class="btn btn-primary ms-2">{% trans "Search" %}</button>
          </form>
        </div>
      </div>
      <div class="row">
        {% for lii in liis %}
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card lii-card mb-3">
              <div class="card-body">
                {% if lii.logo %}
                  <img src="{% static lii.logo %}" alt="{{ lii.name }}" class="mb-3"/>
                {% endif %}
                <h5 class="card-title">{{ lii.country }}</h5>
                <div>
                  {{ lii.name }}
                </div>
                <a href="{{ lii.url }}" class="stretched-link" target="_blank">{{ lii.domain }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2 class="mb-4">
        {% trans 'Latest Commentary' %}
      </h2>
      {% include 'peachjam/_article_list.html' with articles=recent_articles %}
      <a class="mt-3 btn btn-primary" href="{% url 'article_list' %}">{% trans "View more commentary" %}</a>
    </div>
  </section>
{% endblock %}
