{% extends "peachjam/home.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Home' %}
{% endblock %}
{% block page-content %}
  <section class="pb-5 pt-5">
    <div class="container">
      <p class="display-6 text-center">
        {% blocktrans trimmed %}
        We digitise the law and policy of the African Governance Architecture and help Africans and the world connect
        with and understand the African Union agenda.
      {% endblocktrans %}
      </p>
      <p class="display-6 text-center">
        {% blocktrans trimmed %}
        Search through {{ documents_count }} African Union documents on the AfricanLII platform.
      {% endblocktrans %}
      </p>
      <div class="row mt-5">
        <div class="col-md-9 mx-auto">
          <form method="get" action="{% url 'search:search' %}" class="d-flex mb-2">
            <input type="text"
                   class="form-control form-control-lg flex-grow-1"
                   placeholder="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                   aria-label="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                   aria-describedby="button-addon2"
                   autofocus
                   name="q"/>
            <button type="submit" class="btn btn-primary ms-2">{% trans "Search" %}</button>
          </form>
          <div>
            <a href="{% url 'search:search' %}?show-advanced-tab=1">{% trans 'Advanced search' %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-5 pt-5 bg-light">
    <div class="container">
      <h1 class="mb-4 heading-underlined text-center">{% trans 'African Union' %}</h1>
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mb-4 heading-underlined">{% trans 'African Union Organs' %}</h2>
          <ul class="list-unstyled">
            {% for au_organ in au_organs %}
              <li>
                <a href="{% url 'au_organ_detail_view' au_organ.author.code %}">{{ au_organ }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-6">
          <h2 class="mb-4 heading-underlined">{% trans 'Regional Economic Communities' %}</h2>
          <ul class="list-unstyled">
            {% for rec in recs %}
              <li>
                <a href="{% url 'rec_detail_view' rec.locality.place_code %}">{{ rec }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="container">
          <h2 class="mb-4 heading-underlined">{% trans 'Member States' %}</h2>
          <p>
            The member states of the African Union are the independent countries within the African continent that collectively work towards the union's goals of promoting unity, economic development, and peace.
          </p>
          <a class="btn btn-primary"
             href="{% url 'au_detail_page' %}#member-states">{% trans "Explore Member States" %}</a>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-5 pt-5 bg-light">
    <div class="container">
      <h2 class="mb-4 heading-underlined">{% trans 'Recent Judgments' %}</h2>
      {% trans 'View more judgments' as text %}
      {% include 'peachjam/_recent_document_list.html' with documents=recent_judgments view_more_text=text view_more_url_name='judgment_list' %}
    </div>
  </section>
  <section class="pb-5 pt-5 bg-light">
    <div class="container">
      <h2 class="mb-4 heading-underlined">{% trans 'Recent Legal Instruments' %}</h2>
      {% trans 'View more legal instruments' as text %}
      {% include 'peachjam/_recent_document_list.html' with documents=recent_legal_instruments view_more_text=text view_more_url_name='agp_legal_instrument_list' %}
    </div>
  </section>
  <section class="pb-5 pt-5">
    <div class="container">
      <h2 class="mb-4 heading-underlined">{% trans 'Recent Soft Law' %}</h2>
      {% trans 'View more Soft Law' as text %}
      {% include 'peachjam/_recent_document_list.html' with documents=recent_soft_law view_more_text=text view_more_url_name='agp_soft_law_list' %}
    </div>
  </section>
  <section class="pb-5 pt-5">
    <div class="container">
      <h2 class="mb-4 heading-underlined">{% trans 'Recent Reports and Guides' %}</h2>
      {% trans 'View more Reports and Guides' as text %}
      {% include 'peachjam/_recent_document_list.html' with documents=recent_reports_guides view_more_text=text view_more_url_name='agp_reports_guides_list' %}
    </div>
  </section>
  <section class="pb-5 pt-5 bg-light">
    <div class="container">
      <h2 class="mb-4 heading-underlined">{% trans 'Latest Commentary' %}</h2>
      {% include 'peachjam/_article_list.html' with articles=recent_articles %}
      <a class="mt-3 btn btn-primary" href="{% url 'article_list' %}">{% trans "View more commentary" %}</a>
    </div>
  </section>
{% endblock %}
