{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
    TanzLII is based at the Judiciary of Tanzania and publishes the law of Tanzania for free online access for all.
    Free Access to the law supports the rule of law and access to justice.
    TanzLII partners with African Legal Information Institute (AfricanLII) and <a href="http://laws.africa/">Laws.Africa</a> NPO, who provide it with technical support.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://www.judiciary.go.tz/web/"
       target="_blank"
       rel="noreferrer">Judiciary of Tanzania</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">Open Law Africa</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII" />
    </a>
    <a href="https://www.judiciary.go.tz/web/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/judiciary_of_tanzania.png' %}"
           alt="Judiciary of Tanzania logo"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/open-law-africa-footer.png' %}"
           alt="Open Law Africa"/>
    </a>
  </div>
{% endblock %}
