[build-system]
requires = ["setuptools", "setuptools_scm[toml]>=6.2", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]

[project]
name = "peachjam"
version = "0.0.1"
description = "A Django app to manage legal documents."
readme = "README.md"
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django :: 3.2",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
]
dependencies = [
    "asgiref>=3.5.0",
    "beautifulsoup4>=4.10.0",
    "boto3>=1.21.38",
    "certifi>=2021.10.8",
    "cffi>=1.15.0",
    "charset-normalizer>=2.0.12",
    "cobalt>=6.0.0",
    "cryptography>=36.0.1",
    "defusedxml>=0.7.1",
    "dj-database-url>=0.5.0",
    "Django~=3.2.13",
    "django-allauth>=0.49.0",
    "django-appconf>=1.0.5",
    "django-background-tasks>=1.2.5",
    "django-ckeditor>=6.4.2",
    "django-compressor>=3.1",
    "django-countries-plus>=1.3.2",
    "django-debug-toolbar>=3.2.4",
    "django-elasticsearch-debug-toolbar>=3.0.2",
    "django-elasticsearch-dsl>=7.2.2",
    "django-elasticsearch-dsl-drf>=0.22.4",
    "django-extensions>=3.1.5",
    "django-filter>=22.1",
    "django-import-export>=2.8.0",
    "django-languages-plus>=1.1.1",
    "djangorestframework>=3.13.1",
    "django-sass-processor>=1.1",
    "django-sass-processor-dart-sass>=0.0.1",
    "django-storages>=1.12.3",
    "django-treebeard>=4.5.1",
    "djangorestframework>=3.13.1",
    "docpipe @ git+https://github.com/laws-africa/docpipe.git@85a67a91709d44cf46af0d85fcd1b14afb7c8a08",
    "elastic-apm>=6.8.0",
    "elasticsearch>=7.17.1",
    "elasticsearch-dsl>=7.4.0",
    "google-api-python-client>=2.46.0",
    "google-auth-httplib2>=0.1.0",
    "google-auth-oauthlib>=0.5.1",
    "greenlet>=1.1.2",
    "idna>=3.3",
    "lxml>=4.8.0",
    "oauthlib>=3.2.0",
    "Pillow>=9.0.1",
    "pre-commit>=2.17.0",
    "pycparser>=2.21",
    "PyJWT>=2.3.0",
    "python-magic>=0.4.25",
    "python3-openid>=3.2.0",
    "pytz>=2021.3",
    "rcssmin>=1.1.0",
    "requests>=2.27.1",
    "requests-oauthlib>=1.3.1",
    "rjsmin>=1.2.0",
    "sentry-sdk>=1.9.8",
    "six>=1.16.0",
    "soupsieve>=2.3.1",
    "sqlparse>=0.4.2",
    "urllib3>=1.26.8",
    "whitenoise>=6.0.0",
    "zope.event>=4.5.0",
    "zope.interface>=5.4.0",
]
