{% load socialaccount i18n %}
<ul class="nav nav-tabs border-bottom" role="tablist">
  {% block list-group-items %}
    <li class="nav-item">
      <a href="{% url 'edit_account' %}"
         class="nav-link {% if active == 'profile' %}active{% endif %}">
        {% trans "Account" %}
      </a>
    </li>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
      <li class="nav-item">
        <a href="{% url 'socialaccount_connections' %}"
           class="nav-link {% if active == 'social' %}active{% endif %}">
          {% trans "Social accounts" %}
        </a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a href="{% url 'document_access_group_list' %}"
         class="nav-link {% if active == 'doc_access_groups' %}active{% endif %}">
        {% trans "Document access groups" %}
      </a>
    </li>
  {% endblock %}
</ul>
