{% extends 'user_account/layout.html' %}
{% load i18n %}
{% block title %}
  {% trans "Edit Profile" %} {{ block.super }}
{% endblock %}
{% block account-tabs %}
  {% include 'user_account/_tabs.html' with active='profile' %}
{% endblock %}
{% block account-content %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card mb-5">
          <h5 class="card-header">{% trans "Profile" %}</h5>
          <div class="card-body">
            <div class="mb-3">
              <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
              <input type="text"
                     class="form-control"
                     name="{{ form.first_name.name }}"
                     id="{{ form.first_name.id_for_label }}"
                     value="{{ form.first_name.value|default:'' }}"/>
              {% if form.first_name.errors %}
                <div class="text-danger">
                  {% for error in form.first_name.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
              <input type="text"
                     class="form-control"
                     name="{{ form.last_name.name }}"
                     id="{{ form.last_name.id_for_label }}"
                     value="{{ form.last_name.value|default:'' }}"/>
              {% if form.last_name.errors %}
                <div class="text-danger">
                  {% for error in form.last_name.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
