{% extends 'user_account/layout.html' %}
{% load i18n %}
{% block title %}
  {% trans "My Account" %} {{ block.super }}
{% endblock %}
{% block account-content %}
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2>{% trans "Change details" %}</h2>
      <form method="post">
        {% csrf_token %}
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-3">
            <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            <input type="text"
                   class="form-control"
                   required
                   name="{{ form.first_name.name }}"
                   id="{{ form.first_name.id_for_label }}"
                   value="{{ form.first_name.value|default:'' }}"/>
            {% if form.first_name.errors %}
              <div class="text-danger">
                {% for error in form.first_name.errors %}<p>{{ error }}</p>{% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="col mb-3">
            <label class="form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            <input type="text"
                   class="form-control"
                   required
                   name="{{ form.last_name.name }}"
                   id="{{ form.last_name.id_for_label }}"
                   value="{{ form.last_name.value|default:'' }}"/>
            {% if form.last_name.errors %}
              <div class="text-danger">
                {% for error in form.last_name.errors %}<p>{{ error }}</p>{% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="col mb-3">
            <label class="form-label" for="{{ form.preferred_language.id_for_label }}">{{ form.preferred_language.label }}</label>
            <select class="form-control"
                    name="{{ form.preferred_language.name }}"
                    id="{{ form.preferred_language.id_for_label }}">
              {% for opt in form.preferred_language %}{{ opt }}{% endfor %}
            </select>
            {% if form.preferred_language.errors %}
              <div class="text-danger">
                {% for error in form.preferred_language.errors %}<p>{{ error }}</p>{% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
      </form>
    </div>
  </div>
{% endblock %}
