{% extends 'user_account/layout.html' %}
{% load i18n %}
{% block title %}
  {% trans "My Account" %} {{ block.super }}
{% endblock %}
{% block account-content %}
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      {% block account-content-items %}
        {% block account-content-profile %}
          <h2 class="mb-4">{% trans "My account" %}</h2>
          <dl class="row">
            <dt class="col-4 col-md-2">
              {% trans "Name" %}
            </dt>
            <dd class="col-8 col-md-10">
              {{ user.get_full_name }}
            </dd>
            <dt class="col-4 col-md-2">
              {% trans "Language" %}
            </dt>
            <dd class="col-8 col-md-10">
              {{ user.userprofile.preferred_language }}
            </dd>
          </dl>
          <a href="{% url 'edit_account' %}" class="d-block mb-3">{% trans "Update details" %}</a>
          <a href="{% url 'account_change_password' %}" class="d-block">{% trans "Change your password" %}</a>
        {% endblock %}
        {% block account-content-email %}
          <hr class="my-5"/>
          <h3>{% trans "Email address" %}</h3>
          {% with user.emailaddress_set.all as emails %}
            <ol class="list-unstyled">
              {% for emailaddress in emails %}
                <li>
                  <span class="me-3">{{ emailaddress.email }}</span>
                  {% if emailaddress.verified %}
                    <i class="bi bi-check-circle text-success"></i>
                    {% trans 'verified' %}
                  {% else %}
                    <i class="bi bi-question-circle text-danger"></i>
                    {% trans 'unverified' %}
                  {% endif %}
                </li>
              {% endfor %}
            </ol>
            <a href="{% url 'account_email' %}">{% trans "Update email address" %}</a>
          {% endwith %}
        {% endblock %}
        {% block account-content-third-party %}
          <hr class="my-5"/>
          <h3>{% trans "Log in with social accounts" %}</h3>
          <p>{% trans "Manage the accounts you can use to log in to this account." %}</p>
          <a href="{% url 'socialaccount_connections' %}">{% trans "Manage social accounts" %}</a>
        {% endblock %}
        {% block account-document-access-groups %}
          <hr class="my-5"/>
          <h3>{% trans 'Document access groups' %}</h3>
          <p>
            {% blocktrans trimmed %}
              Some documents are only visible to certain users. These groups control which restricted documents you have access to.
            {% endblocktrans %}
          </p>
          <div class="my-3">
            <ul>
              {% for group in document_access_groups %}
                <li>
                  <a href="{{ group.get_absolute_url }}">{{ group.group }}</a>
                </li>
              {% empty %}
                <li>{% trans "You do not belong to any groups." %}</li>
              {% endfor %}
            </ul>
          </div>
        {% endblock %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
