{% extends 'peachjam/layouts/main.html' %}
{% load i18n %}
{% block page-content %}
  <div class="container">
    {% block breadcrumbs %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'my_account' %}">{% trans 'My account' %}</a>
          </li>
        </ol>
      </nav>
    {% endblock %}
  </div>
  <div class="container py-3">
    {% block account-content %}{% endblock %}
  </div>
{% endblock %}
