{% load i18n %}
<div class="bg-light my-5">
  <div class="container py-4">
    <div class="d-flex mb-2">
      <h2 class="text-nowrap">{{ MY_LII }}</h2>
      <div class="ms-auto ps-2">
        <h5 class="text-muted">
          {% if user.first_name %}
            {{ user.first_name }} {{ user.last_name }}
          {% else %}
            {{ user.email }}
          {% endif %}
        </h5>
      </div>
    </div>
    <div class="row">
      {% if PEACHJAM_SETTINGS.allow_save_documents %}
        <div class="col-lg-6">{% include "peachjam/my/_saved_documents.html" %}</div>
      {% endif %}
      {% if PEACHJAM_SETTINGS.allow_save_searches %}
        <div class="col-lg-6">{% include "peachjam/my/_saved_searches.html" %}</div>
      {% endif %}
      <div class="col-lg-12">{% include "peachjam/my/_recent_additions.html" %}</div>
    </div>
    <a class="btn btn-primary" href="{% url 'my_home' %}">{{ MY_LII }}</a>
  </div>
</div>
