{% extends 'peachjam/my/layout.html' %}
{% block title %}{{ MY_LII }}{% endblock %}
{% load i18n %}
{% block my-content %}
  <div class="row">
    {% if PEACHJAM_SETTINGS.allow_save_documents %}
      <div class="col-lg-6">{% include "peachjam/my/_saved_documents.html" %}</div>
    {% endif %}
    {% if PEACHJAM_SETTINGS.allow_save_searches %}
      <div class="col-lg-6">{% include "peachjam/my/_saved_searches.html" %}</div>
    {% endif %}
  </div>
  {% if perms.peachjam.view_userfollowing %}
    <div class="mt-3" id="timeline">{% include "peachjam/my/_recent_additions.html" %}</div>
  {% endif %}
{% endblock %}
