{% extends "peachjam/_footer.html" %}
{% load i18n static %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
      GhaLII is a non-profit organisation based in Accra that aims to source and publish digitally accessible to the general public parliamentary, legislative and judicial information from Ghana and ECOWAS.
      GhaLII's objectives include promotion of access to legal information from Ghana as a fundamental part of the rule of law.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://ghalii.org/" target="_blank" rel="noreferrer">{% trans 'Ghana Legal Information Institute' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://ghalii.org"
       target="_blank"
       rel="noreferrer">
      <img height="26" src="{% static 'images/logo.png' %}" alt="ghalii logo"/>
    </a>
    <a class="footer-logos__item"
       href="https://ejudgment.judicial.gov.gh/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/ejudgment-logo.png' %}" alt="e-judgment logo"/>
    </a>
  </div>
{% endblock %}
