{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="GhaLII" org_link_text="https://ghalii.org" contact_email="info@ghalii.org" %}
    {% with who_are_we="GhaLII is a non-profit organisation based in Accra that aims to source and publish digitally accessible to the general public parliamentary, legislative and judicial information from Ghana and ECOWAS." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
