{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-logos %}
  <img src="{% static 'images/africanlii-logo.svg' %}" alt="africanlii-logo"/>
  <img src="{% static 'images/laws-africa-logo.png' %}" alt="laws-logo"/>
  <img src="{% static 'images/lac_logo_full.jpg' %}" alt="lac-logo"/>
{% endblock %}
{% block hero-headings-title %}
  {% trans 'Welcome to the Namibia Legal Information Institute' %}
{% endblock %}
{% block hero-headings-welcome %}
  {% blocktrans trimmed %}
    NamibLII publishes the law of Namibia for free access to all. We are a member of the international free access to law movement. Read, use, and share the law freely.
  {% endblocktrans %}
{% endblock %}
{% block frequently-used %}
  <div class="container pt-2">
    <div class="mt-3 d-lg-none row row-cols-2">
      <div class="col mb-2">
        <a href="{% url 'judgment_list' %}" class="btn btn-primary d-block">{% trans 'Judgments' %}</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'legislation_list' %}" class="btn btn-primary d-block">{% trans 'Legislation' %}</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'gazettes' %}" class="btn btn-primary d-block">{% trans 'Gazettes' %}</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'author' 'NALRDC' %}" class="btn btn-primary d-block">{% trans 'Law Reform' %}</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block second-col-about %}
  <p class="lead">
    {% blocktrans trimmed %}
  NamibLII is a project of the Law Reform and Development Commission and a member of the global Free Access to Law Movement and the AfricanLII community.
{% endblocktrans %}
  </p>
{% endblock %}
