{% extends "peachjam/_footer.html" %}
{% load i18n static %}
{% block about %}
  <p>
    NamibLII is a project of the Law Reform and Development Commission managed by the Directorate: Law Reform of the Ministry of Justice of the Republic of Namibia.
  </p>
  <p>
    In terms of the Law Reform and Development Commission Act, 1991 (Act No. 29 of 1991), the Commission is mandated to consolidate or codify any branch of the law or to introduce other measures aimed at making the law more readily accessible.
  </p>
  <p>
    NamibLII is the embodiment of this mandate making annotated statutes, judgments, and gazettes available in a user-friendly format.
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://www.lac.org.na/" target="_blank" rel="noreferrer">{% trans 'Legal Assistance Center' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://www.lac.org.na"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/lac_logo_full.jpg' %}"
           alt="lesotho_judiciary-logo"/>
    </a>
  </div>
{% endblock %}
