{% extends 'peachjam/layouts/document_detail.html' %}
{% load i18n %}

{% block document-metadata-content-author %}
  {% if document.doc_type == 'judgment' %}
    <dt>{% trans 'Court' %}</dt>
    <dd class="text-muted">
      <a href="{% url 'court_detail' document.court.code %}">{{ document.court.name }}</a>
    </dd>

    {% if document.judges_string %}
      <dt>{% trans 'Judges' %}</dt>
      <dd class="text-muted">{{ document.judges_string }}</dd>
    {% endif %}

  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
