{% extends 'peachjam/layouts/document_detail.html' %}
{% load i18n %}

{% block document-metadata-content-author %}
  {% if document.doc_type == 'judgment' %}
    <dt class="col-4">{% trans 'Court' %}</dt>
    <dd class="col-8 text-muted">
      <a href="{% url 'court_detail' document.author.code %}">{{ document.author.name }}</a>
    </dd>

    {% if document.judges_string %}
      <dt class="col-4">{% trans 'Judges' %}</dt>
      <dd class="col-8 text-muted">{{ document.judges_string }}</dd>
    {% endif %}

  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
