{% load i18n %}
{% if lowest_product %}
  {% if not request.user.is_authenticated %}
    <p>
      {% trans "This content is available only to subscribers." %}
      <a href="{% url 'account_login' %}">{% trans "Log in" %}</a>
      {% trans "or" %}
      <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
      {% trans "and subscribe to" %} {{ lowest_product }} {% trans "to unlock access." %}
    </p>
  {% else %}
    <p>
      {% trans "Your current plan doesn’t include this content." %}
      {% trans "Please upgrade to" %} {{ lowest_product }} {% trans "to unlock access." %}
    </p>
  {% endif %}
{% else %}
  <p>{% trans "This content is not currently available." %}</p>
{% endif %}
