{% load peachjam i18n %}
<div class="container">
  <div class="row">
    {% with work=document.work %}
      <div class="col-lg mb-5">
        <h4 class="mb-3">
          <i class="bi bi-pj pj-citations"></i>
          {% translate 'Cited documents' %}
          <span class="badge bg-secondary">{{ work.n_cited_works }}</span>
        </h4>
        {% include 'peachjam/document/_citations_list.html' with citations=cited_documents direction="outgoing" %}
      </div>
      <div class="col-lg">
        <h4 class="mb-3">
          {% translate 'Documents citing this one' %}
          <span class="badge bg-secondary">{{ work.n_citing_works }}</span>
        </h4>
        {# djlint:off #}
{% include 'peachjam/document/_citations_list.html' with citations=documents_citing_current_doc direction="incoming" %}
{# djlint:off #}
</div>
{% endwith %}
</div>
</div>
