<ul class="nav nav-tabs">
  {% if document.doc_type == "judgment" %}
    <li class="nav-item">
      <a class="nav-link active"
         data-bs-toggle="tab"
         href="#debug-summary-tab">Summary</a>
    </li>
  {% endif %}
</ul>
<div class="tab-content py-3">
  {% if document.doc_type == "judgment" %}
    <div class="tab-pane show active" id="debug-summary-tab">
      <button class="btn btn-secondary"
              hx-get="{% url 'document_summary' document.id %}"
              hx-target="#debug-summary-content"
              hx-indicator=".htmx-progress">
        Summarise
      </button>
      <div class="htmx-progress progress my-2">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
      </div>
      <div id="debug-summary-content"></div>
    </div>
  {% endif %}
</div>
