{% load i18n %}
<dl class="document-metadata-list d-flex">
  <dt>
    Summary
  </dt>
  <dd>
    {{ document.blurb }}
    <details class="my-3">
      <summary>
        Read full summary
      </summary>
      {% if document.flynote %}
        <div class="mb-2">
          <h6 class="mb-1 fw-bold">{% trans 'Flynote' %}</h6>
          <p>{{ document.flynote }}</p>
        </div>
      {% endif %}
      {% if document.case_summary %}
        <div class="mb-2">
          <h6 class="h6 mb-1 fw-bold">{% trans 'Case summary' %}</h6>
          <p>{{ document.case_summary }}</p>
        </div>
      {% endif %}
      {% if document.issues %}
        <div class="mb-2">
          <h6 class="mb-1 fw-bold">{% trans 'Issues' %}</h6>
          <ol>
            {% for issue in document.issues %}<li>{{ issue }}</li>{% endfor %}
          </ol>
        </div>
      {% endif %}
      {% if document.held %}
        <div class="mb-2">
          <h6 class="mb-1 fw-bold">{% trans 'Held' %}</h6>
          <ol>
            {% for held in document.held %}<li>{{ held }}</li>{% endfor %}
          </ol>
        </div>
      {% endif %}
    </details>
  </dd>
</dl>
