{% load i18n peachjam %}
{% if document.blurb %}<div class="mb-3">{{ document.blurb|default_if_none:"" }}</div>{% endif %}
{% if document.flynote %}
  <h6 class="mb-1 fw-bold">{% trans 'Flynote' %}</h6>
  <div class="mb-2 fst-italic">{{ document.flynote|safe }}</div>
{% endif %}
{% if collapse_summary %}
  <details>
    <summary class="mb-1">
      {% trans 'Read full summary' %}
    </summary>
    {% include 'peachjam/document/_case_summary.html' %}
  </details>
{% else %}
  {% include 'peachjam/document/_case_summary.html' %}
{% endif %}
