<div class="container"
     data-component="ResearchContext"
     class="research-context">
  <details open>
    <summary class="h5">
      Cited works
    </summary>
    <ol class="list-unstyled">
      {% for citation in cited_works %}
        <li class="mb-3 bg-white border p-2"
            data-frbr-uri="{{ citation.target_work.frbr_uri }}">
          <span class="title fw-medium">{{ citation.target_work.title }}</span>
          <ul class="list-unstyled">
            {% for chunk in citation.similar_chunks %}
              <li class="mb-0">
                <details>
                  <summary>
                    <a href="{{ chunk.document.get_absolute_url }}#{{ chunk.portion_id }}"
                       target="_blank">{{ chunk.get_title_display }}</a>
                  </summary>
                  {% if chunk.type == "provision" %}
                    <la-akoma-ntoso
                    frbr-expression-uri="{{ chunk.document.expression_frbr_uri }}"
                    class="bg-light p-3 border my-2 ms-3"
                    style="max-height: 25vh; overflow-y: auto;"
                    portion-id="{{ chunk.portion }}">{{ chunk.provision_html|safe }}</la-akoma-ntoso>
                  {% else %}
                    <div class="bg-light p-3 border my-2 ms-3"
                         style="max-height: 25vh;
                                overflow-y: auto">{{ chunk.text }}</div>
                  {% endif %}
                </details>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ol>
  </details>
</div>
