{% load peachjam i18n %}
<h4 class="mb-3">
  <i class="bi bi-pj pj-unconstitutional-provisions"></i>
  {% trans 'Unconstitutional provisions' %}
</h4>
<div class="mb-4">
  {% include "peachjam/provision_enrichment/_unconstitutional_provisions_blurb.html" %}
  <a href="{% url "unconstitutional_provision_list" %}">{% trans "All unconstitutional provisions" %} →</a>
</div>
<div class="card">
  <ul class="list-group list-group-flush">
    {% for enrichment in unconstitutional_provisions %}
      <li class="list-group-item">{% include "peachjam/provision_enrichment/_detail.html" %}</li>
    {% endfor %}
  </ul>
</div>
