{% for message in messages %}
  {% if message.type == 10 %}
    <div class="alert alert-secondary">
      <i class="bi bi-info-circle-fill"></i> {{ message.html }}
    </div>
  {% endif %}
  {% if message.type == 25 %}
    <div class="alert alert-success">
      <i class="bi bi-info-circle-fill"></i> {{ message.html }}
    </div>
  {% endif %}
  {% if message.type == 30 %}
    <div class="alert alert-warning">
      <i class="bi bi-exclamation-triangle-fill"></i> {{ message.html }}
    </div>
  {% endif %}
  {% if message.type == 40 %}
    <div class="alert alert-danger">
      <i class="bi bi-exclamation-triangle-fill"></i> {{ message.html }}
    </div>
  {% endif %}
  <div id="extra-notices"></div>
{% endfor %}
