{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block first-content-column %}
  <h5>{% trans 'About' %} {{ APP_NAME }}</h5>
  {% block about %}{% endblock %}
  {% block first-content-column-links %}
    {% if PEACHJAM_SETTINGS.pocket_law_repo %}
      {% block pocketlaw %}
        <div class="mb-3">
          <h5>Pocket Law</h5>
          {% url 'pocketlaw' as pocket_law_url %}
          {% blocktrans trimmed %}
            Use {{ APP_NAME }} offline with <a href="{{ pocket_law_url }}">Pocket Law</a>.
          {% endblocktrans %}
        </div>
      {% endblock %}
    {% endif %}
    {% if PEACHJAM_SETTINGS.metabase_dashboard_link %}
      <div class="mb-3">
        <a href="{% url 'metabase_stats' %}">{% trans 'Site Statistics' %}</a>
      </div>
    {% endif %}
    <div>
      <a href="{% url 'terms_of_use' %}">{% trans 'Terms of Use' %}</a>
    </div>
  {% endblock %}
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
{% endblock %}
{% block third-content-column %}
  <h5>{% trans 'Other African Legal Information Institutions' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://ghalii.org/" target="_blank" rel="noreferrer">GhaLII</a>
  </div>
  <div>
    <a href="http://kenyalaw.org/" target="_blank" rel="noreferrer">Kenya Law</a>
  </div>
  <div>
    <a href="https://lawlibrary.org.za/" target="_blank" rel="noreferrer">LawLibrary ZA</a>
  </div>
  <div>
    <a href="https://lesotholii.org/" target="_blank" rel="noreferrer">LesothoLII</a>
  </div>
  <div>
    <a href="http://liberlii.org/" target="_blank" rel="noreferrer">LiberLII</a>
  </div>
  <div>
    <a href="https://malawilii.org/" target="_blank" rel="noreferrer">MalawiLII</a>
  </div>
  <div>
    <a href="https://namiblii.org/" target="_blank" rel="noreferrer">NamibLII</a>
  </div>
  <div>
    <a href="https://nigerialii.org/" target="_blank" rel="noreferrer">NigeriaLII</a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/" target="_blank" rel="noreferrer">OpenbyLaws ZA</a>
  </div>
  <div>
    <a href="https://seylii.org/" target="_blank" rel="noreferrer">SeyLII</a>
  </div>
  <div>
    <a href="https://sierralii.org/" target="_blank" rel="noreferrer">SieraLII</a>
  </div>
  <div>
    <a href="https://eswatinilii.org/" target="_blank" rel="noreferrer">eSwatiniLII</a>
  </div>
  <div>
    <a href="https://tanzlii.org/" target="_blank" rel="noreferrer">TanzLII</a>
  </div>
  <div>
    <a href="https://ulii.org/" target="_blank" rel="noreferrer">UgandaLII</a>
  </div>
  <div>
    <a href="https://zambialii.org/" target="_blank" rel="noreferrer">ZambiaLII</a>
  </div>
  <div>
    <a href="https://new.zanzibarlii.org/" target="_blank" rel="noreferrer">ZanzibarLII</a>
  </div>
  <div>
    <a href="https://zimlii.org/" target="_blank" rel="noreferrer">ZimLII</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
  </div>
{% endblock %}
