{% extends "peachjam/_footer.html" %}
{% load i18n static %}
{% block about %}{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://agp.africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="" target="_blank" rel="noreferrer">{% trans '' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://agp.africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
  </div>
{% endblock %}
