{% extends "peachjam/_footer.html" %}
{% load static i18n %}
{% block newsletter-form-code %}
  <form action=""
        method="post"
        name="mc-embedded-subscribe-form"
        target="_blank">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <input type="text" name="" tabindex="-1" value=""/>
    </div>
    <div class="input-group">
      <input type="email"
             value=""
             name="EMAIL"
             class="form-control"
             placeholder="email address"
             required=""/>
      <input type="submit"
             value="Subscribe"
             name="subscribe"
             class="btn btn-secondary"/>
    </div>
  </form>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://jud.gov.ls/" target="_blank" rel="noreferrer">Lesotho Judiciary</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://jud.gov.ls"
       target="_blank"
       rel="noreferrer">
      <img height="26"
           src="{% static 'images/lesotho_judiciary_coat_of_arms.png' %}"
           alt="lesotho_judiciary-logo"/>
    </a>
  </div>
{% endblock %}
