{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="NigeriaLii" org_link_text="https://nigerialii.org" robots_link_text="https://nigerialii.org/robots.txt" contact_email="info@nigerialii.org" %}
    {% with who_are_we="NigeriaLii is a project of the Law Reform and Development Commission managed by the Directorate: Law Reform of the Ministry of Justice of the Republic of Namibia." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
