{% load i18n %}
<div id="extraction-result"
     class="mt-2 alert {% if error %}alert-warning{% else %}alert-info{% endif %}">
  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    {% trans "Extracted:" %}
    <ul>
      {% for key, value in details.items %}<li>{{ key }}: {{ value }}</li>{% endfor %}
    </ul>
  {% endif %}
</div>
<div id="inputs">
  {% if form.language.value %}{{ form.language }}{% endif %}
  {% if form.court.value %}{{ form.court }}{% endif %}
  {% if form.case_name.value %}{{ form.case_name }}{% endif %}
  {% if form.date.value %}{{ form.date }}{% endif %}
  {% if form.hearing_date.value %}{{ form.hearing_date }}{% endif %}
  {% if form.must_be_anonymised.value %}{{ form.must_be_anonymised }}{% endif %}
</div>
<div id="formsets">
  {% for formset in formsets %}
    {% include formset.opts.template with inline_admin_formset=formset %}
  {% endfor %}
</div>
