{% extends "admin/change_form.html" %}
{% load i18n %}
{% block form_top %}
  {{ block.super }}
  {% if original.must_be_anonymised and not original.anonymised %}
    <div class="alert alert-warning">{% trans "This judgment must be anonymised before it can be published." %}</div>
  {% endif %}
{% endblock %}
{% block extra_actions %}
  {% if original %}
    <a href="{% url 'anon' original.pk %}" class="btn btn-block btn-info">{% trans "Anonymise" %}</a>
  {% endif %}
  {{ block.super }}
{% endblock %}
