{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
      ESwatiniLII is a free access to law website by the Judiciary of eSwatini. eSwatiniLII exists to provide free access to the law for everyone, as a fundamental right of every citizen to know the law that governs them.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <h6 class="mt-4">{% trans 'With support from' %}</h6>
  <div>
    <a href="https://www.indigotrust.org.uk/"
       target="_blank"
       rel="noreferrer">{% trans 'The Indigo Trust' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo.png' %}" alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII" />
    </a>
  </div>
{% endblock %}
