{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="EswatiniLII" org_link_text="https://eswatinilii.org/" contact_email="info@eswatinilii.org" %}
    {% with who_are_we="ESwatiniLII is a free access to law website by the Judiciary of eSwatini. eSwatiniLII exists to provide free access to the law for everyone, as a fundamental right of every citizen to know the law that governs them." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
