{% extends 'peachjam/layouts/main.html' %}
{% load static %}
{% block title %}Offline{% endblock %}
{% block header %}{% endblock %}
{% block page-content %}
  <div class="container pt-3 pb-5">
    <header class="mb-4">
      <a href="{% url 'home_page' %}">
        <img src="{% static 'images/logo.png' %}" alt="{{ APP_NAME }}" height="50"/>
      </a>
    </header>
    <h1>You're offline</h1>
    <p class="lead">You can only use content that you have made available offline.</p>
    <div class="mt-3 mb-5">
      <a href="{% url 'home_page' %}" class="btn btn-primary">Try going online</a>
    </div>
    <div data-vue-component="OfflineDetails"></div>
    <div class="border-top py-3 mt-5">
      <a href="{% url 'home_page' %}">{{ APP_NAME }}</a>
    </div>
  </div>
{% endblock %}
{% block footer %}{% endblock %}
