{% load i18n %}
{% if subscription_required %}
  <div class="dropdown follow-control">
    <button class="btn btn-outline-primary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <i class="bi bi-bell"></i>
      {% trans "Follow" %}
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#followModal">
          <strong>
            <i class="bi bi-bell"></i>
            {% trans "Follow" %}
          </strong>
          <div class="mt-1">
            {% blocktrans with followed_object_type=followed_object_type %}Follow this {{ followed_object_type }} to receive updates about new documents.{% endblocktrans %}
          </div>
        </button>
      </li>
    </ul>
  </div>
  <div class="modal" id="followModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans "Follow" %}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="{% trans "Close" %}"></button>
        </div>
        <div class="modal-body">{% include "peachjam_subs/_subscription_required.html" %}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
          {% if not request.user.is_authenticated and PEACHJAM_SETTINGS.accounts_enabled %}
            <a href="{% url "account_login" %}?next={{ request.htmx.current_url_abs_path }}"
               class="btn btn-primary">{% trans "Log in" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="dropdown follow-control">
    <button class="btn {% if follow %}btn-primary{% else %}btn-outline-primary{% endif %} dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <i class="bi {% if follow %}bi-bell-fill{% else %}bi-bell{% endif %}"></i>
      {% if follow %}
        {% trans "Following" %}
      {% else %}
        {% trans "Follow" %}
      {% endif %}
    </button>
    <ul class="dropdown-menu">
      {% if follow %}
        <li>
          <div class="dropdown-item-text">
            <div>
              <i class="bi bi-check-circle-fill text-success"></i>
              <strong>{% trans "Following" %}</strong>
              <div>
                {% if email_alerts_disabled %}
                  {% blocktrans with followed_object_type=followed_object_type %}You are following this {{ followed_object_type }}, but email updates are disabled.{% endblocktrans %}
                {% else %}
                  {% blocktrans with followed_object_type=followed_object_type frequency=email_alert_frequency %}You are following this {{ followed_object_type }} and will receive {{ frequency }} email updates.{% endblocktrans %}
                {% endif %}
              </div>
            </div>
            <a href="{% url "email_alerts" %}">{% trans "Manage email updates" %}</a>
          </div>
        </li>
        <li>
          <hr class="dropdown-divider"/>
        </li>
        <li>
          <form hx-post="{% url "user_following_delete" follow.pk %}?{{ request.GET.urlencode }}"
                hx-target="closest .follow-control"
                hx-swap="outerHTML">
            {% csrf_token %}
            <button class="dropdown-item" type="submit">
              <strong>
                <i class="bi bi-bell-slash"></i>
              {% trans "Unfollow" %}</strong>
              <div class="mt-1">{% trans "Stop receiving updates about this item." %}</div>
            </button>
          </form>
        </li>
      {% else %}
        <li>
          <form hx-post="{% url "user_following_create" %}?{{ request.GET.urlencode }}"
                hx-target="closest .follow-control"
                hx-swap="outerHTML">
            {% csrf_token %}
            {{ form }}
            <button class="dropdown-item" type="submit">
              <strong>
                <i class="bi bi-bell"></i>
              {% trans "Follow" %}</strong>
              <div class="mt-1">
                {% blocktrans with followed_object=followed_object %}Follow this {{ followed_object_type }} to receive updates about new documents.{% endblocktrans %}
              </div>
            </button>
          </form>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
