{% regroup timeline by event_date as events_by_date %}
{% for date_group in events_by_date %}
  <li>
    <div class="bg-white text-muted">{{ date_group.grouper|date:"Y-m-d" }}</div>
    {% regroup date_group.list by user_following as events_by_following %}
    {% for follow_group in events_by_following %}
      <b><a href="{{ follow_group.grouper.followed_object.get_absolute_url }}">{{ follow_group.grouper.followed_object }}</a></b>
      {% for event in follow_group.list %}
        {% include 'peachjam/_document_table.html' with doc_table_hide_thead=True doc_table_show_date=True documents=event.subject_documents.all %}
      {% endfor %}
    {% endfor %}
  </li>
{% endfor %}
