{% load i18n %}
{% for date, groups in timeline.items %}
  <li>
    <div class="bg-white text-muted">{{ date }}</div>
    <ul class="list-unstyled">
      {% for following, docs in groups %}
        <li>
          <span>{{ following.description_text }} <b><a href="{{ following.followed_object.get_absolute_url }}">{{ following.followed_object }}</a></b> </span>
          <div class="ms-3">
            {% include "peachjam/_document_table.html" with doc_table_hide_thead=True doc_table_show_date=True documents=docs.0 %}
            {% if docs.1 %}
              <details>
                <summary>
                  {% blocktrans trimmed with n_more=docs.1|length obj=following.followed_object %}{{ n_more }} more for {{ obj }}{% endblocktrans %}
                </summary>
                {% include "peachjam/_document_table.html" with doc_table_hide_thead=True doc_table_show_date=True documents=docs.1 %}
              </details>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
{% if truncated %}
  <li>
    <a href="{% url 'my_home' %}#timeline">{% trans "Explore older updates" %}</a>
  </li>
{% elif next_before %}
  <li>
    <button class="btn btn-secondary"
            hx-get="{% url 'my_timeline' %}?before={{ next_before.isoformat }}"
            hx-swap="outerHTML"
            hx-target="closest li">
      {% trans "Load more" %} ...
    </button>
  </li>
{% endif %}
