{% extends "peachjam/my/layout.html" %}
{% load i18n peachjam %}
{% block title %}
  {% trans 'Following' %}
{% endblock %}
{% block my-content %}
  <h2>{% trans 'Following' %}</h2>
  <div class="mb-4">{% trans "We'll email you when new documents are added for topics that you follow." %}</div>
  <div class="card">
    <ul class="list-group list-group-flush">
      {% for follow in object_list %}
        <li class="list-group-item d-flex align-items-center">
          <i class="bi bi-bell me-2"></i>
          <div class="flex-grow-1 row">
            <div class="col-md">
              <a href="{{ follow.followed_object.get_absolute_url }}">{{ follow.followed_object }}</a>
            </div>
            {% if follow.last_alerted_at %}
              <div class="col-md text-muted">
                {% blocktrans trimmed with ago=follow.last_alerted_at|timesince %}
                  Alerted {{ ago }} ago
                {% endblocktrans %}
              </div>
            {% endif %}
          </div>
          <button class="btn btn-outline-danger"
                  hx-swap="outerHTML"
                  hx-post="{% url 'user_following_delete' follow.pk %}?{{ follow.followed_object|get_follow_params }}">
            <span>{% trans 'Unfollow' %}</span>
          </button>
        </li>
      {% empty %}
        <li class="list-group-item">
          {% trans 'You are not following anything. Click the Follow button on pages across the site to start following.' %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
