{% extends "peachjam/layouts/standalone.html" %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block page-content %}
  <div id="messages"></div>
  <div class="text-center">
    {% block logo %}
      <a href="{% url 'home_page' %}">
        <img src="{% static 'images/logo.png' %}"
             alt="{{ APP_NAME }}"
             style="max-height: 80px"/>
      </a>
    {% endblock %}
    <h1 class="mt-3 mb-4">{{ APP_NAME }}</h1>
  </div>
  <div class="card allauth-box">
    <div class="card-body m-3">
      {% block content %}{% endblock %}
    </div>
    {% if SUPPORT_EMAIL %}
      <div class="card-footer mx-4 bg-white">
        {% trans 'Need help? Please email' %} <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.
      </div>
    {% endif %}
  </div>
{% endblock %}
