{% extends 'peachjam/layouts/main.html' %}
{% block header %}{% endblock %}
{% block title %}{{ document.title }}{% endblock %}
{% block body-content %}
  <div id="anon-app"
       data-vue-component="AnonApp"
       data-title="{{ document.title }}"
       data-case-name="{{ document.case_name }}"
       data-document-id="{{ document.pk }}">
  </div>
  <div class="d-none" id="document-content">{{ document.content_html|safe }}</div>
  {{ replacements|json_script:"replacements" }}
  {% csrf_token %}
{% endblock %}
{% block footer %}{% endblock %}
