.letter-radiobox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.letter-radiobox {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.letter-radiobox input {
  display: none;
}

.letter-radiobox__text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
  text-transform: uppercase;
}

.letter-radiobox:hover .letter-radiobox__text {
  background-color: transparentize($primary, 0.3);
}

.letter-radiobox input:checked + .letter-radiobox__text {
  background-color: $primary;
  color: white;
}
