.pdf-renderer {
  background-color: gray;
  display: flex;
  justify-content: center;
  .textLayer {
    position: absolute;
    text-align: initial;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1;
  }

  .textLayer span,
  .textLayer br {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
  }

  .textLayer .highlight {
    margin: -1px;
    padding: 1px;
    background-color: rgba(180, 0, 170, 1);
    border-radius: 4px;
  }

  .textLayer .highlight.appended {
    position: initial;
  }

  .textLayer .highlight.begin {
    border-radius: 4px 0 0 4px;
  }

  .textLayer .highlight.end {
    border-radius: 0 4px 4px 0;
  }

  .textLayer .highlight.middle {
    border-radius: 0;
  }

  .textLayer .highlight.selected {
    background-color: rgba(0, 100, 0, 1);
  }

  .textLayer ::-moz-selection {
    background: rgba(0, 0, 255, 1);
  }

  .textLayer ::selection {
    background: rgba(0, 0, 255, 1);
  }

  /* Avoids https://github.com/mozilla/pdf.js/issues/13840 in Chrome */
  .textLayer br::-moz-selection {
    background: transparent;
  }
  .textLayer br::selection {
    background: transparent;
  }

  .textLayer .endOfContent {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .textLayer .endOfContent.active {
    top: 0;
  }


  .pdfPresentationMode:-webkit-full-screen .textLayer span {
    cursor: none;
  }

  .pdfPresentationMode:fullscreen .textLayer span {
    cursor: none;
  }

  .pdfPresentationMode.pdfPresentationModeControls > *,
  .pdfPresentationMode.pdfPresentationModeControls .textLayer span {
    cursor: default;
  }
}

.pdf-renderer__previews {
  width: 200px;
  background-color: gray;
}

.pdf-renderer__previews__inner {
  position: sticky;
  top: 0.25rem;
  left: 0;
  height: 100vh;
  overflow: auto;
  padding: 0.5rem;

  .preview-panel {
    border-radius: 10px;
    display: block;
    background: none;
    border: none;

    img {
      padding: 0.75rem 0.75rem 0;
      width: 100%;
      height: auto;
    }

    &.active {
      background-color: #bbbbbb;
    }
  }
  .preview-panel__page-number {
    text-align: center;
    color: white;
    display: block;
  }
}

.pdf-renderer__right {
  width: 200px;
}


.pdf-renderer__content__page {
  border: 1px solid black;
  margin-bottom: 5px;
}
