//Bootstrap overrides
@import "variables";
//Base styles
@import "stylesheets/peachjam";
@import "../lib/flag-icons/css/flag-icons.min.css";


footer {
  @extend .bg-dark, .text-white;
}

.display-7 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

iframe.video {
  aspect-ratio: 16/9;
  width: 100%;
  border: 0px;
}

.lii-card {
  img {
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 100%;
    width: auto;
    display: block;
  }
}

a:visited {
  color: $visited-link;
}
