{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-logos %}
  <img src="{% static 'images/africanlii-logo.svg' %}" alt="africanlii-logo"/>
  <img src="{% static 'images/laws-africa-logo.png' %}" alt="laws-logo"/>
  <img style="background-color: #2D5D88"
       src="{% static 'images/jsco_logo.png' %}"
       alt="jsco-logo"/>
{% endblock %}
{% block hero-headings-title %}
  {% trans 'Welcome to the Sierra Leone Legal Information Institute' %}
{% endblock %}
{% block hero-headings-welcome %}
  {% blocktrans trimmed %}
    SierraLII publishes the law of Sierra Leone for free online access.
  {% endblocktrans %}
{% endblock %}
{% block frequently-used %}
  <div class="container pt-2">
    <div class="mt-3 d-lg-none row row-cols-2">
      <div class="col mb-2">
        <a href="{% url 'judgment_list' %}" class="btn btn-primary d-block">Judgments</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'legislation_list' %}" class="btn btn-primary d-block">National Legislation</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'gazettes' %}" class="btn btn-primary d-block">Gazettes</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'article_list' %}" class="btn btn-primary d-block">Articles</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block second-col-about %}
  <p class="lead">
    {% blocktrans trimmed %}
    SierraLII provides free, unrestricted access to the primary and secondary legal materials of Sierra Leone.  Free Access to Law supports the rule of law, access to justice and transparency.
  {% endblocktrans %}
  </p>
{% endblock %}
{% block facebook-url %}
  https://www.facebook.com/v7.0/plugins/page.php?adapt_container_width=true&amp;app_id=323754998056442&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfff64532b89928%26domain%3Dlawlibrary.org.za%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flawlibrary.org.za%252Ff3480a77dff53bc%26relation%3Dparent.parent&amp;container_width=248&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fsierralii%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=248
{% endblock %}
{% block twitter-url %}
  https://twitter.com/sierralii?ref_src=twsrc%5Etfw
{% endblock %}
{% block tweets-by %}
  {% trans 'Tweets by SierraLII' %}
{% endblock %}
