{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
      The Malawi Legal Information Institute (MalawiLII) was launched in 2009 as an online resource that provides free access to the laws of Malawi.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://namati.org/network/organization/the-gender-and-justice-unit/"
       target="_blank"
       rel="noreferrer">Gender and Justice Unit</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <h6 class="mt-4">{% trans 'With support from' %}</h6>
  <div>
    <a href="https://www.ned.org/" target="_blank" rel="noreferrer">{% trans 'National Endowment for Democracy' %}</a>
  </div>
  <div>
    <a href="https://www.indigotrust.org.uk/"
       target="_blank"
       rel="noreferrer">{% trans 'The Indigo Trust' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a href="https://www.ned.org/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/ned-logo.png' %}" alt="NED logo" />
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo.png' %}" alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII" />
    </a>
    <a href="https://namati.org/network/organization/the-gender-and-justice-unit/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/gju.jpg' %}" alt="Gender and Justice Unit" />
    </a>
    <a href="https://macdonaldanddon.com/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/macdonald.png' %}"
           alt="Gender and Justice Unit"/>
    </a>
    <a href="https://www.indigotrust.org.uk/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/indigo-trust-logo.jpg' %}"
           alt="The Indigo Trust"/>
    </a>
  </div>
{% endblock %}
