{% extends 'peachjam/_header.html' %}
{% load static i18n %}
{% block top-bar %}{% endblock %}
{% block navbar-logo %}
  <img src="{% static 'images/logo.png' %}" alt="{{ APP_NAME }}" height="40"/>
{% endblock %}
{% block nav-items %}
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'judgments' %}active{% endif %}"
       href="{% url 'judgment_list' %}">
      {% trans 'Judgments' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'legislation' %}active{% endif %}"
       href="{% url 'legislation_list' %}">
      {% trans 'Legislation' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'gazettes' %}active{% endif %}"
       href="{% url 'gazettes' %}">
      {% trans 'Gazettes' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/doc/bill' %}active{% endif %}"
       href="{% url 'document_nature_list' 'bill' %}">
      {% trans 'Bills' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'about' %}active{% endif %}"
       href="{% url 'about' %}">
      {% trans 'About' %}
    </a>
  </li>
{% endblock %}
{% block after-header %}
  <div class="bg-primary py-4">
    <div class="container">
      <div class="row align-items-center g-0">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div>
            <h1 class="text-white fw-bold pe-lg-8">{% trans 'Take the MalawiLII Survey' %}</h1>
            {% blocktrans %}
            <p class="text-white mb-4 h5 fw-bold">
              Help us make Malawi legal information more freely accessible to everyone.
              Take this short 5 minute survey on your usage of the platform and your general experience using the site.
              All information shared is confidential.
            </p>
            {% endblocktrans %}
          </div>
        </div>
        <div class=" col-xl-6 col-lg-6 col-md-12 text-center pt-6">
          <a target="_blank"
             href="https://forms.gle/3KQZrVQZNvt7xJj78"
             class="text-white btn btn-lg btn-danger"><span class="fw-bold">Take the survey</span></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
