{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="MalawiLII" org_link_text="https://malawilii.org/" contact_email="info@malawilii.org" %}
    {% with who_are_we="MalawiLII is hosted by the Gender and Justice Unit (GJU) a non-governmental organisation that hones in on legal empowerment as one of the most powerful catalysts of gender equality and social justice." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
