{% load jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}
{% if show %}
  <div class="date-hierarchy text-sm">
    {% block date-hierarchy-toplinks %}
      {% block date-hierarchy-back %}
        {% if back %}<a class="mr-2" href="{{ back.link }}">‹ {{ back.title }}</a>{% endif %}
      {% endblock %}
      {% block date-hierarchy-choices %}
        {% for choice in choices %}
          <a {% if choice.link %}href="{{ choice.link }}" class="mr-2" {% else %} class="disabled mr-2"{% endif %}>
            {{ choice.title }}
          </a>
        {% endfor %}
      {% endblock %}
    {% endblock %}
  </div>
  <hr class="clear"/>
{% endif %}
