{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-content %}{% endblock %}
{% block hero-logos %}
  <img src="{% static 'images/africanlii-logo.svg' %}" alt="africanlii-logo"/>
  <img src="{% static 'images/laws-africa-logo.png' %}" alt="laws-logo"/>
  <img src="{% static 'images/judiciary_uganda_logo.png' %}"
       alt="judiciary_of_uganda_logo"/>
{% endblock %}
{% block hero-headings %}
  <h1 class="mb-4">{% trans 'Welcome to the Uganda Legal Information Institute' %}</h1>
  <h4 class="mb-4">
    {% blocktrans trimmed %}
      ULII is a free legal information service provided by the Law Reporting Unit of the Uganda Judiciary and a member of the global Free Access to Law community.
    {% endblocktrans %}
  </h4>
{% endblock %}
{% block second-col-about %}
  <p class="lead">
    {% blocktrans trimmed %}
      ULII publishes the laws of Uganda for free online access. ULII is part of the Law Reporting Committee of the Judiciary of Uganda.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block facebook-url %}
  https://www.facebook.com/v7.0/plugins/page.php?adapt_container_width=true&amp;app_id=323754998056442&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfff64532b89928%26domain%3Dlawlibrary.org.za%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flawlibrary.org.za%252Ff3480a77dff53bc%26relation%3Dparent.parent&amp;container_width=248&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fugandalii%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=248
{% endblock %}
{% block twitter-url %}
  https://twitter.com/Uganda_LII?ref_src=twsrc%5Etfw
{% endblock %}
{% block tweets-by %}
  {% trans 'Tweets by UgandaLII' %}
{% endblock %}
