{% extends 'peach_jam/layouts/base.html' %}
{% load static %}

{% block head-css %}
  <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block head-js %}
  <script defer src="{% static 'lib/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

  {% if not DEBUG %}
    <!-- sentry -->
    <script defer src="https://browser.sentry-cdn.com/6.18.1/bundle.min.js" integrity="sha384-XOitiDSsTajhNQgwzQ7iHMlM2Q2ODCW6aw3m1QgMVrDOqsNhFao1VjB39qXNMOZW" crossorigin="anonymous"></script>
    <script>
    window.addEventListener('load', function() {
        Sentry.init({
        dsn: '{{ SENTRY_DSN_KEY }}',
        environment: '{{ SENTRY_ENVIRONMENT }}',
        blacklistUrls: [],
        });
    });
    </script>
  {% endif %}

{% endblock %}

{% block body-content %}
  {% block page-content %}{% endblock %}
{% endblock %}
