{% extends "peachjam/layouts/main.html" %}
{% load i18n %}

{% block title %} {% trans 'Not found (Error 404)' %}{% endblock %}

{% block page-content %}
  <section class="py-5">
    <div class="container">
      <h1 class="mb-4">{% trans 'Not found (Error 404)' %}</h1>
      <p>
        {% blocktrans trimmed %}
          We couldn't find the page you're looking for. The link may be outdated or incorrect.
        {% endblocktrans %}
      </p>
      <ul>
        <li>
          <a href="/">{% trans "Go to the homepage." %}</a>
        </li>
        <li>
          <a href="/search">{% trans "Try searching for what you're looking for." %}</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
