{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Something went wrong (Error 500)' %}
{% endblock %}
{% block page-content %}
  <section class="py-5">
    <div class="container">
      <h1 class="mb-4">{% trans 'Something went wrong (Error 500)' %}</h1>
      <p>
        {% blocktrans trimmed %}
          Something went wrong. Please try again in a short while.
        {% endblocktrans %}
      </p>
      <ul>
        <li>
          <a href="{% url 'home_page' %}">{% trans "Go to the homepage." %}</a>
        </li>
        <li>
          <a href="{% url 'search:search' %}">{% trans "Try searching for what you're looking for." %}</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
