{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block first-content-column %}
  <h5>{% trans 'About' %} {{ APP_NAME }}</h5>
  {% block about %}
    <p>
      Open By-laws is part of <a href="https://lawlibrary.org.za">LawLibrary.org.za</a>, a project by
      <a href="https://laws.africa">Laws.Africa</a> and <a href="https://africanlii.org">AfricanLII</a>.
    </p>
    <p>We make South Africa's by-laws easier to find, read and share.</p>
  {% endblock %}
  {% block first-content-column-links %}
    <div>
      <a href="{% url 'terms_of_use' %}">{% trans 'Terms of Use' %}</a>
    </div>
    {% if PEACHJAM_SETTINGS.metabase_dashboard_link %}
      <div>
        <a href="{% url 'metabase_stats' %}">{% trans 'Site Statistics' %}</a>
      </div>
    {% endif %}
  {% endblock %}
  <br/>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Municipalities' %}</h5>
  <div>
    <a href="https://bergrivier.openbylaws.org.za/"
       target="_blank"
       rel="noreferrer">Bergrivier
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://capeagulhas.openbylaws.org.za/"
       target="_blank"
       rel="noreferrer">Cape Agulhas
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/za-cpt/eng/"
       target="_blank"
       rel="noreferrer">Cape Town
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://cederberg.openbylaws.org.za/"
       target="_blank"
       rel="noreferrer">Cederberg
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/za-wc023/eng/"
       target="_blank"
       rel="noreferrer">Drakenstein
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/za-jhb/eng/"
       target="_blank"
       rel="noreferrer">Johannesburg
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/za-wc041/eng/"
       target="_blank"
       rel="noreferrer">Kannaland
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://matzikama.openbylaws.org.za/"
       target="_blank"
       rel="noreferrer">Matzikama
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://mbizana.openbylaws.org.za/"
       target="_blank"
       rel="noreferrer">Mbizana
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/za-wc015/eng/"
       target="_blank"
       rel="noreferrer">Swartland
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
  <div>
    <a href="https://openbylaws.org.za/za-eth/eng/"
       target="_blank"
       rel="noreferrer">eThekwini
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
{% endblock %}
{% block third-content-column %}{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://lawlibrary.org.za"
       target="_blank"
       rel="noreferrer">
      <img height="40"
           src="{% static 'images/lawlibrary-logo.png' %}"
           alt="LawLibrary"/>
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo.png' %}" alt="Laws.Africa"/>
      {% include 'peachjam/_opens_in_new_tab.html' %}
    </a>
  </div>
{% endblock %}
