{% extends 'peachjam/_header.html' %}
{% load static i18n %}
{% block top-bar %}
  <div class="alert alert-info">
    <div class="container">
      🎉 Open By-laws turns 10 this year and is now part of Law Library!
      <a href="https://laws.africa/2023/07/24/open-by-laws-law-library.html"
         target="_blank"
         rel="noreferrer">
        Read more in our blog post.
      </a>
    </div>
  </div>
{% endblock %}
{% block navbar-logo %}
  <img src="{% static 'images/logo.png' %}"
       alt="Law Library"
       height="70"
       class="me-3"/>
  <img src="{% static 'images/lawlibrary-logo.png' %}"
       alt="Open By-laws"
       height="70"/>
{% endblock %}
{% block nav-items %}
  <li class="nav-item dropdown main-nav">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      Municipalities
    </a>
    <ul class="dropdown-menu">
      {% for locality in LOCALITIES %}
        <li class="dropdown-item">
          <a href="{% url 'locality_legislation_list' code=locality.place_code %}">{{ locality.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://lawlibrary.org.za" target="_blank">LawLibrary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'about' %}active{% endif %}"
       href="{% url 'about' %}">
      {% trans 'About' %}
    </a>
  </li>
{% endblock %}
