{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %}
  {% trans 'About' %}
{% endblock %}
{% block page-content %}
  <section class="py-5">
    <div class="container">
      <h1 class="mb-4">{% trans 'About openbylaws.org.za' %}</h1>
      <p class="lead mb-4">
        {% blocktrans trimmed %}
        Open By-laws is a community project to make our by-laws easier to find, read and share.
      {% endblocktrans %}
      </p>
      <p class="lead">
        {% blocktrans trimmed %}
          Municipal by-laws form part of the legal foundation for effective
          service delivery and cooperative communities. In many municipalities,
          however, the by-laws are out of date or difficult to find. Open By-laws
          helps to solve this problem by working with a contributor community to
          put up-to-date by-laws online, freely available to everyone.
            {% endblocktrans %}
      </p>
      <h3>{% trans 'What are by-laws?' %}</h3>
      <p class="mb-4">
        {% blocktrans trimmed %}
        By-laws are laws managed by municipalities. <a href="https://myconstitution.co.za/en/07.html#powers-and-functions-of-municipalities">The Constitution of South Africa</a> gives municipalities the power to pass their own legislation, in the form of by-laws, for particular subject areas. These by-laws hold the same power and force as other national and provincial legislation.
          {% endblocktrans %}
      </p>
      <p class="mb-4">
        {% blocktrans trimmed %}
        Municipalities are required by the Municipal Systems Act to make their by-laws publicly available on their website. However, most municipalities lack the capacity to do so. Open By-laws helps to fill this gap.
      {% endblocktrans %}
      </p>
      <h3>{% trans 'Powered by Laws.Africa' %}</h3>
      <p class="mb-4">
        {% blocktrans trimmed %}
        Open By-laws is a project of <a href="https://laws.africa">Laws.Africa</a>, a non-profit organisation that curates the African legislation commons and builds technology to enable free access to the law.
      {% endblocktrans %}
      </p>
      <p class="mb-4">
        {% blocktrans trimmed %}
        Laws.Africa trains and supports a contributor community that is working together to build an African legislation commons and make African law freely available to everyone.
      {% endblocktrans %}
      </p>
      <h3>{% trans 'How you can help' %}</h3>
      <p class="mb-4">
        {% blocktrans trimmed %}
        The by-laws on this website are maintained by a community of contributors. The contributors work hard to put by-laws online and keep them up-to-date. Laws.Africa provides training and support and builds the technology that makes this project possible.
      {% endblocktrans %}
      </p>
      <p class="mb-4">
        {% blocktrans trimmed %}
        <a href="https://laws.africa/faq">Read more about being a contributor</a>.
          {% endblocktrans %}
      </p>
      <h3 id="contributors">{% trans 'Contributors' %}</h3>
      <p class="mb-4">
        {% blocktrans trimmed %}
          An enormous thanks to our contributors and editors:
          {% endblocktrans %}
      </p>
      <p class="mb-4">
        {% blocktrans trimmed %}
        Ally Adendorf, Andrew Collier, Christopher Gevers, Cliff Featherstone, Greg Kempe, Juan Barrios, Matt Adendorf, Nqobile Sibisi, Pivendren Naik, Richard Gevers, Tricia Govindasamy.
      {% endblocktrans %}
      </p>
      <p class="mb-4">
        {% blocktrans trimmed %}
        In 2013, Open By-laws received a Shuttleworth Flash Grant and an AMI Sandbox Fund grant,
        and we're grateful to these funders who helped us in our infancy.
          {% endblocktrans %}
      </p>
      <p class="mb-4">
        {% blocktrans trimmed %}
        <a href="https://laws.africa/faq">Read more about being a contributor</a>.
          {% endblocktrans %}
      </p>
      <h3 id="disclaimer">{% trans 'Disclaimer' %}</h3>
      <p class="mb-4">
        {% blocktrans trimmed %}
        We aren't lawyers. We don't write these laws, we're just making them available and there may be mistakes.
        Always get a professional legal opinion.
          {% endblocktrans %}
      </p>
      <h3 id="credits">{% trans 'Credits' %}</h3>
      <ul>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/mattharvey1/20654618945">Cape Town by mattharvey1 on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/south-african-tourism/20504209102">eThekwini by south-african-tourism on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/nico_roets/2547914600">Johannesburg skyline by nico_roets on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/130467353@N06/17337369662">Cape Agulhas lighthouse by Allan Watt on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of Mbizana from <a href="http://www.mbizana.gov.za/">Mbizana Municipality website</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/jbdodane/15177717355">Velddrif in Bergrivier by jbdodane on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/sa-venues/3862797198">Cederberg by SA-Venues.com on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/robwallace/2249636397">Calitzdorp in Kannaland by Robert Wallace on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Photo of <a href="https://www.flickr.com/photos/ipickmynose/4962863121/">Swartland by ipickmynose on flickr</a>
        {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
            Photo of Paarl Rock by Edith V
            {% endblocktrans %}
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
