{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %}
  {% trans 'About' %}
{% endblock %}
{% block page-content %}
  <section class="py-5">
    <div class="container">
      <h1 class="mb-4">{% trans 'About openbylaws.org.za' %}</h1>
      <p class="lead mb-4">
        Open By-laws is a part of <a href="https://lawlibrary.org.za">LawLibrary.org.za</a>. It makes our by-laws easier to find, read and share.
      </p>
      <p class="lead">
        Municipal by-laws form part of the legal foundation for effective
        service delivery and cooperative communities. In many municipalities,
        however, the by-laws are out of date or difficult to find. Open By-laws
        helps to solve this problem by making up-to-date by-laws freely available to everyone.
      </p>
      <p class="lead">
        Open By-laws is a project by <a href="https://laws.africa">Laws.Africa</a> and <a href="https://africanlii.org">AfricanLII</a>.
      </p>
      <h3>{% trans 'What are by-laws?' %}</h3>
      <p class="mb-4">
        By-laws are laws managed by municipalities. <a href="https://lawlibrary.org.za/akn/za/act/1996/constitution/eng@2013-08-23#chp_7">The Constitution of South Africa</a> gives municipalities the power to pass their own legislation, in the form of by-laws, for particular subject areas. These by-laws hold the same power and force as other national and provincial legislation.
      </p>
      <p class="mb-4">
        Municipalities are required by the Municipal Systems Act to make their by-laws publicly available on their website. However, most municipalities lack the capacity to do so. Open By-laws helps to fill this gap.
      </p>
      <h3 id="contributors">{% trans 'Contributors' %}</h3>
      <p class="mb-4">An enormous thanks to our contributors when we started, and before we became a part of Laws.Africa:</p>
      <p class="mb-4">
        Ally Adendorf, Andrew Collier, Christopher Gevers, Cliff Featherstone, Greg Kempe, Juan Barrios, Matt Adendorf, Nqobile Sibisi, Pivendren Naik, Richard Gevers, Tricia Govindasamy.
      </p>
      <p class="mb-4">
        In 2013, Open By-laws received a Shuttleworth Flash Grant and an AMI Sandbox Fund grant,
        and we're grateful to these funders who helped us in our infancy.
      </p>
      <h3 id="disclaimer">{% trans 'Disclaimer' %}</h3>
      <p class="mb-4">
        We aren't lawyers. We don't write these laws, we're just making them available and there may be mistakes.
        Always get a professional legal opinion.
      </p>
      <h3 id="credits">{% trans 'Credits' %}</h3>
      <ul>
        <li>
          Photo of <a href="https://www.flickr.com/photos/mattharvey1/20654618945">Cape Town by mattharvey1 on flickr</a>
        </li>
        <li>
          Photo of <a href="https://www.flickr.com/photos/south-african-tourism/20504209102">eThekwini by south-african-tourism on flickr</a>
        </li>
        <li>
          Photo of <a href="https://www.flickr.com/photos/nico_roets/2547914600">Johannesburg skyline by nico_roets on flickr</a>
        </li>
        <li>
          Photo of <a href="https://www.flickr.com/photos/130467353@N06/17337369662">Cape Agulhas lighthouse by Allan Watt on flickr</a>
        </li>
        <li>
          Photo of Mbizana from <a href="http://www.mbizana.gov.za/">Mbizana Municipality website</a>
        </li>
        <li>
          Photo of <a href="https://www.flickr.com/photos/jbdodane/15177717355">Velddrif in Bergrivier by jbdodane on flickr</a>
        </li>
        <li>
          Photo of <a href="https://www.flickr.com/photos/sa-venues/3862797198">Cederberg by SA-Venues.com on flickr</a>
        </li>
        <li>
          Photo of <a href="https://www.flickr.com/photos/robwallace/2249636397">Calitzdorp in Kannaland by Robert Wallace on flickr</a>
        </li>
        <li>
          Photo of <a href="https://www.flickr.com/photos/ipickmynose/4962863121/">Swartland by ipickmynose on flickr</a>
        </li>
        <li>Photo of Paarl Rock by Edith V</li>
      </ul>
    </div>
  </section>
{% endblock %}
