.monthly-column-chart {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;

  .month {
    width: 8.333%;
    text-align: center;
    font-size: $font-size-sm;
    color: $text-muted;

    .column {
      display: block;
      background-color: $gray-300;
      margin-right: 3px;

      &:hover {
        background-color: $primary;
      }
    }
  }
}
