.document-chat-button {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 10px;
}

.document-chat-popup {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 10px;

  left: 10px;
  top: 60px;

  @include media-breakpoint-up(md) {
    left: auto;
    top: auto;
    width: 350px;
    height: 450px;
  }

  &.expanded {
    @include media-breakpoint-up(lg) {
      width: 50vw;
      height: 75vh;
    }
  }
}
