.document-content {

  .content.content__html {
    // reset line height so html documents use their default, rather than bootstrap's adjusted line height
    line-height: normal;
  }

  .document-content__toggle {
    @extend .mb-4;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .navigation {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid $gray-200;
    padding: 0;
  }

  .document-content__inner {
    @extend .row;

    .navigation {
      @extend .col-3;
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  .navigation__inner {
    display: flex;
    height: 100%;
    flex-direction: column;

    nav {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-bottom: 2px solid $gray-200;
    }

    .search__clear-btn {
      width: 35px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .tab-content {
      flex: 1 1 auto;
      overflow-y: auto;
      min-height: 0px;
      background-color: $gray-100;

      .tab-pane, .toc {
        height: 100%;
      }
    }
  }

  .content-and-enrichments {
    @extend .col-12;
    @extend .col-lg-9;
  }

  .content-and-enrichments__inner {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    .content {
      flex: 80%;
      max-width: 80%;
      padding-right: 0.5rem;

      @include media-breakpoint-down(lg) {
        flex: 100%;
        max-width: 100%;
      }
    }

    la-akoma-ntoso {
      @include media-breakpoint-down(lg) {
        flex: 100%;
        max-width: 100%;
      }
    }

    la-gutter {
      flex: 0 0 40px;

      &:empty {
        display: none;
        @include media-breakpoint-up(lg) {
         display: block;
        }
      }

      @include media-breakpoint-up(lg) {
        flex: 20%;
      }
    }
  }

  .pdf-previews {
    padding-bottom: 10rem;
    @include media-breakpoint-up(lg) {
      padding-bottom: 5rem;
    }
  }

  .preview-panel {
    border: none;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;

    img {
      @extend .mb-2;
      width: 100%;
      height: auto;
    }

    &.active {
      background-color: $gray-200;
    }
  }

  .preview-panel__page-number {
    display: block;
    text-align: center;
  }

  .pdf-content {
    .textLayer {
      position: absolute;
      text-align: initial;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      opacity: 0.4;
      line-height: 1;
    }

    .textLayer span,
    .textLayer br {
      color: transparent;
      position: absolute;
      white-space: pre;
      cursor: text;
      transform-origin: 0% 0%;
    }

    .textLayer mark {
      transform-origin: 0% 0%;
      color: transparent;
      white-space: pre;
      cursor: text;
    }

    .textLayer .highlight {
      margin: -1px;
      padding: 1px;
      background-color: rgba(180, 0, 170, 1);
      border-radius: 4px;
    }

    .textLayer .highlight.appended {
      position: initial;
    }

    .textLayer .highlight.begin {
      border-radius: 4px 0 0 4px;
    }

    .textLayer .highlight.end {
      border-radius: 0 4px 4px 0;
    }

    .textLayer .highlight.middle {
      border-radius: 0;
    }

    .textLayer .highlight.selected {
      background-color: rgba(0, 100, 0, 1);
    }

    .textLayer ::-moz-selection {
      background: rgba(0, 0, 255, 1);
    }

    .textLayer ::selection {
      background: rgba(0, 0, 255, 1);
    }

    /* Avoids https://github.com/mozilla/pdf.js/issues/13840 in Chrome */
    .textLayer br::-moz-selection {
      background: transparent;
    }

    .textLayer br::selection {
      background: transparent;
    }

    .textLayer .endOfContent {
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      bottom: 0;
      z-index: -1;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .textLayer .endOfContent.active {
      top: 0;
    }


    .pdfPresentationMode:-webkit-full-screen .textLayer span {
      cursor: none;
    }

    .pdfPresentationMode:fullscreen .textLayer span {
      cursor: none;
    }

    .pdfPresentationMode.pdfPresentationModeControls > *,
    .pdfPresentationMode.pdfPresentationModeControls .textLayer span {
      cursor: default;
    }
  }

  .pdf-content__page {
    @extend .shadow-sm;
    @extend .mb-4;
  }

  .pdf-loading {
    display: none;
  }

  &[data-pdf-standby], &[data-pdf-loading] {
    .navigation {
      opacity: 0;
    }

    .pdf-content {
      display: none;
    }

    .document-content__toggle {
      display: none;
    }
  }

  &[data-pdf-standby] {
    .pdf-loading {
      display: none;
    }
  }

  &[data-pdf-loading] {
    .pdf-loading {
      display: block;
    }
  }

  .pdf-large-prompt {
    text-align: center;
    display: none;
  }

  &[data-large-pdf] {
    .pdf-large-prompt {
      display: block;
    }
  }

}
.document-metadata-list {
  --dt-width: 100px;

  @media (min-width: 425px) {
    --dt-width: 150px;
  }

  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;

  dt {
    width: var(--dt-width);
    flex: 0 0 var(--dt-width);
  }
  dd {
    padding-left: 0.5rem;
    width: calc(100% - var(--dt-width));
    flex: 0 0 calc(100% - var(--dt-width));
  }

}

.to-the-top {
  position: fixed;
  right: 10px;
  bottom: 0px;
  z-index: 10;
}
