.content-and-enrichments {
  .enrich {
    transition: background-color 100ms ease-in-out;
  }

  .enrich-relationship {
    background-color: transparentize($anntn-highlight-color, 0.8);

    &.active {
      background-color: transparentize($anntn-highlight-color, 0.4);
    }
  }

  .enrich-uncommenced-provision {
    background-color: transparentize($uncommenced-highlight-color, 0.8);

    &.active {
      background-color: transparentize($uncommenced-highlight-color, 0.6);
    }
  }

  .enrich-unconstitutional-provision {
    background-color: transparentize($unconstitutional-highlight-color, 0.8);

    &.active {
      background-color: transparentize($unconstitutional-highlight-color, 0.4);
    }
  }

  .enrich-changed-provision {
    &.active {
      background-color: transparentize(tint-color($primary, 80%), 0.6);
    }
  }
}
