.entity-profile {
  @extend .bg-light;
  margin-bottom: 1rem;

  &.has-background-photo {
    background-color: transparent !important;
  }

  .entity-profile__background-photo {
    img {
      width: 100%;
      height: 250px;
      object-position: center;
      object-fit: cover;
    }
  }

  .entity-profile__body {
    @extend .bg-light;
    @extend .container;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &.has-background-photo {
    .entity-profile__body {
      margin-top: -150px;
      padding: 2rem;
      border-radius: 1rem;
      position: relative;
    }
  }

  .entity-profile__body__info {
    flex: 1;
    align-self: center;
  }

  .entity-profile__body__profile-image {
    @extend .img-thumbnail;
    height: 150px;
    width: 150px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;

    @include media-breakpoint-up(sm) {
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }
}
