.top-bar {
  .top-bar-logo {
    max-height: 30px;
  }
}

#secondary-nav .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .nav-user-dropdown-menu {
  position: absolute;
}

.dropdown-item.username {
  min-width: 13em;
  max-width: 50vw;
  overflow-x: hidden;
}
