// peach-jam icons based on bootstrap-icons

.bi-pj {
  color: $gray-700;
  margin-right: 0.25rem;

  &.pj-citations::before { content: "\f43c"; /* bi-journal-bookmark-fill */ }
  &.pj-document-detail::before { content: "\f3b9"; /* bi-file-text */ }
  &.pj-history::before { content: "\f292"; /* bi-file-text */ }
  &.pj-related::before { content: "\f548"; /* bi-signpost-split-fill */ }
  &.pj-unconstitutional-provisions::before { content: "\f445"; /* bi-tags-fill */ }
  &.pj-taxonomies::before { content: "\f5b1"; /* bi-tags-fill */ }
}
