// Dedicated sass file for loader components

.circle-loader, .circle-loader--lt {
  display: block;
  border: 2px solid #343a40;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite; }

.circle-loader--lt {
  border-color: white;
  border-top-color: transparent; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); }
}

.htmx-progress {
  opacity: 0;
  height: 0.3rem;
}

.htmx-progress.htmx-request {
  opacity: 1;
}
