$dropdown-box-shadow: $box-shadow-lg;

.navbar {
  .nav-item,
  .nav-link {
    color: black;
    transition: 200ms color ease-in-out;
    &:hover,
    &.active {
      color: $primary;
    }
  }
}

.dropdown-summary {
  font-size: smaller;
}

@include media-breakpoint-up(lg) {
  .navbar {
    .dropdown-menu {
      @include box-shadow($dropdown-box-shadow);
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
}

.nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x proximity;

  .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: inherit;
    background-color: inherit;

    &.active {
      border: none;
      font-weight: bold;
      border-bottom: 2px solid $primary;
      background-color: inherit;
    }
  }
}

.nav.nav-tabs.scroll-xs {
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x proximity;

  > li.nav-item {
    white-space: nowrap;
    scroll-snap-align: start;
  }
}
