$enable-shadows: true;
$dropdown-box-shadow: $box-shadow-lg;

.navbar {
  .nav-item,
  .nav-link {
    color: black;
    transition: 200ms color ease-in-out;
    &:hover,
    &.active {
      color: $primary;
    }
  }
}

.dropdown-summary {
  font-size: smaller;
}

@include media-breakpoint-up(lg) {
  .dropdown-menu {
    @include box-shadow($dropdown-box-shadow);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

}
