.navbar {
  .nav-item,
  .nav-link {
    color: black;
    transition: 200ms color ease-in-out;
    &:hover,
    &.active {
      color: $primary;
    }
  }
}

.dropdown:hover .dropdown-menu {
  @include media-breakpoint-up(lg) {
    display: block;
    margin-top: 0;
  }
}

.main-nav .dropdown-menu {
  min-width: 300px;
}

.dropdown-summary {
  font-size: smaller;
}
