.citation-link {
  font-size: small;
  background-color: mediumpurple !important;
  border-radius: 25%;
  padding: 0em 0.25em;
  color: white !important;
  font-weight: bold;
  cursor: pointer !important;
  margin-inline-start: 0.25em;
}
