.doc-table {
  margin-bottom: $spacer;

  .doc-table-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0rem 0.5rem;
    padding: 0.5rem 0;

    border-bottom-style: solid;
    border-bottom-color: var(--bs-border-color);
    border-bottom-width: var(--bs-border-width);

    &.has-children .bi-caret-down-fill {
      display: none;
    }

    &.has-children.expanded {
      .bi-caret-right-fill {
        display: none;
      }

      .bi-caret-down-fill {
        display: inline;
      }
    }
  }

  .doc-table-head {
    font-weight: bold;
    border-bottom-color: $primary;
  }

  .cell-group {
    grid-column: span 12;
    font-weight: bold;
  }

  .doc-table-children {
    .cell-title {
      padding-left: 20px;
    }
  }

  .cell-date {
    text-align: right;
  }

  @include media-breakpoint-down(md) {
    .doc-table-head {
      .cell-citation,
      .cell-date {
        display: none;
      }
    }

    .doc-table-children {
      .cell-title {
        padding-left: 0px;
      }

      .doc-table-row {
        // extra initial padding for child rows
        grid-template-columns: 30px repeat(12, 1fr);
      }
    }
  }

  // sizing for different groups of columns

  // toggle, title, citation, date
  &.doc-table-toggle-title-citation-date {
    .doc-table-row {
      // extra space for toggle
      grid-template-columns: 15px repeat(12, 1fr);
    }
    .cell-title {
      grid-column: span 7;
    }
    .cell-citation {
      grid-column: span 3;
    }
    .cell-date {
      grid-column: span 2;
    }

    @include media-breakpoint-down(md) {
      .doc-table-children {
        .doc-table-row {
          // extra space for toggle
          grid-template-columns: 30px repeat(12, 1fr);
        }
      }

      .cell-toggle {
        grid-row: span 2;
      }
      .cell-title {
        grid-column: span 12;
      }
      .cell-citation {
        grid-column: span 10;
      }
      .cell-date {
        grid-column: span 2;
      }

      .doc-table-head {
        .cell-citation,
        .cell-date {
          display: none;
        }
      }
    }
  }

  // toggle, title, date
  &.doc-table-toggle-title-date {
    .doc-table-row {
      // extra space for toggle
      grid-template-columns: 15px repeat(12, 1fr);
    }
    .cell-title {
      grid-column: span 10;
    }
    .cell-date {
      grid-column: span 2;
    }

    @include media-breakpoint-down(md) {
      .doc-table-children {
        .doc-table-row {
          // extra space for toggle
          grid-template-columns: 30px repeat(12, 1fr);
        }
      }

      .cell-toggle {
        grid-row: span 2;
      }
      .cell-title {
        grid-column: span 10;
      }
      .cell-date {
        grid-column: span 2;
      }
    }
  }

  // title, date
  &.doc-table-title-date {
    .cell-title {
      grid-column: span 10;
    }
    .cell-date {
      grid-column: span 2;
    }

    @include media-breakpoint-down(md) {
      .cell-title {
        grid-column: span 12;
      }
      .cell-date {
        grid-column: span 12;
      }
    }
  }
}
