.terms-of-use__left-column {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  left:0;
  overflow-y: auto;

  @include media-breakpoint-down(lg) {
    height: auto;
    margin-bottom: 1rem;
  }
}

.terms-of-use__left-column__nav-btn {
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.terms-of-use__left-column__navigation {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.terms-of-use-content {
  h2 {
    margin-top: 2rem;
    font-size: $font-size-base * 1.75;
  }
  h3 {
    margin-top: 1.5rem;
    font-size: $font-size-base * 1.5;
  }
  h4 {
    margin-top: 1.5rem;
    font-size: $font-size-base * 1.25;
  }

}
