.list-unstyled > li {
  margin-bottom: 0.5rem;
}

ul.flynotes > li {
  font-style: italic;
  text-indent: -1em;
  margin-left: 1em;
  margin-bottom: 0;
}

.fs-sm {
  font-size: small;
}

h1.doc-title {
  font-size: $font-size-base * 1.75; // h3
}
