.vertical-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0;

  &:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $gray-200;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -3px;
  }
}

/* Container around content */
.vertical-timeline__item {
  padding: 10px 40px;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    top: 22px;
    z-index: 1;
    left: 30px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $gray-100;
  }

  &:after {
    left: -13px;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid $primary;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
}

/* The actual content */
.vertical-timeline__item__content {
  padding: 20px 30px;
  background-color: $gray-100;
  position: relative;
  border-radius: 6px;
}

.vertical-timeline__item__content__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .title {
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: $h4-font-size;
  }
  .tag {
    background-color: $primary;
    color: white;
    padding: 0.25rem;
    border-radius: 5px;
  }
}


.horizontal-timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.horizontal-timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.horizontal-timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: $gray-200;
}

.horizontal-timeline ol li .content {
  background-color: $gray-200;
}

.horizontal-timeline ol li:last-child {
  width: 280px;
}

.horizontal-timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.horizontal-timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: $primary;
}

.horizontal-timeline ol li .content {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: $gray-200;
}

.horizontal-timeline ol li .content::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.horizontal-timeline ol li:nth-child(odd) .content {
  top: -16px;
  transform: translateY(-100%);
}

.horizontal-timeline ol li:nth-child(odd) .content::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: $gray-200 transparent transparent transparent;
}

.horizontal-timeline ol li:nth-child(even) .content {
  top: calc(100% + 16px);
}

.horizontal-timeline ol li:nth-child(even) .content::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent $gray-200;
}

.horizontal-timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.horizontal-timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.horizontal-timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.horizontal-timeline .disabled {
  opacity: .5;
}

.horizontal-timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .horizontal-timeline ol,
  .horizontal-timeline ol li {
    width: auto;
  }

  .horizontal-timeline ol {
    padding: 0;
    transform: none !important;
  }

  .horizontal-timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .horizontal-timeline ol li:first-child {
    margin-top: 25px;
  }

  .horizontal-timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .horizontal-timeline ol li .content {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .horizontal-timeline ol li .content {
    position: static;
  }

  .horizontal-timeline ol li:nth-child(odd) .content {
    transform: none;
  }

  .horizontal-timeline ol li:nth-child(odd) .content::before,
  .horizontal-timeline ol li:nth-child(even) .content::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .horizontal-timeline ol li:last-child,
  .horizontal-timeline ol li:nth-last-child(2) .content::before,
  .horizontal-timeline ol li:not(:last-child)::after,
  .horizontal-timeline .arrows {
    display: none;
  }
}
