// Styling dedicated for toc and toc related implements

.toc {
  position: sticky;
  top: 0px;
  padding: 1em;
  max-height: 100vh;
  overflow-y: auto;
}

la-table-of-contents-controller {
  .toggle {
    margin-bottom: 1rem;
  }
}

la-table-of-contents {
  a.active {
    text-decoration: none;
    font-weight: bold;
    color: var(--bs-gray-600);
  }

  la-toc-item {
    line-height: normal;
    margin-bottom: 0.5rem;
    .content__children {
      margin-top: 0.5rem  ;

      la-toc-item:last-child {
        margin-bottom: 0;
      }

      &:empty {
        margin-top: 0;
      }
    }
  }
}


.taxonomy-tree-list-group__header {
  @extend .bg-light;
}

.taxonomy-tree-list-group__body {
  max-height: 75vh;
  overflow-y: auto
}
