.toc {
  position: sticky;
  top: 0px;
  padding: 1em;
  max-height: 100vh;
  overflow-y: auto;
}

la-table-of-contents {
  a.active {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary);
  }
}
