{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}
  {{ document.title }} - {% trans 'Citations' %}
  {% if portion %}- {{ portion }}{% endif %}
{% endblock %}
{% block page-title %}
  <h1 class="mt-4">{{ document.title }}</h1>
  {% if portion %}<h3 class="text-muted">{{ portion }}</h3>{% endif %}
{% endblock %}
{% block count-and-search %}{% endblock %}
{% block document-table %}
  {% include "peachjam/citation_context/_citation_context_table_form.html" %}
{% endblock %}
