{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}
  {{ document.title }} - {% trans 'Citations' %}
  {% if provision %}- {{ provision }}{% endif %}
{% endblock %}
{% block page-title %}
  <h1 class="mt-4 doc-title">{{ document.title }}</h1>
  {% if provision %}<h2 class="h5 text-muted">{{ provision }}</h2>{% endif %}
{% endblock %}
{% block count-and-search %}{% endblock %}
{% block document-table %}
  {% include "peachjam/citation_context/_citation_context_table_form.html" %}
{% endblock %}
