{% extends 'liiweb/donate.html' %}
{% load i18n %}
{% block intro %}
  <p class="mb-4">
    {% url 'document_detail' 'akn/sc/doc/strategic-plan/2022-10-31/seylii-strategic-plan/eng@2022-10-31' as strategic_plan_link %}
    {% blocktrans trimmed with url=strategic_plan_link %}
      Donate to the Seychelles Legal Information Institute (SEYLII) and support our work to providing free and anonymous
      access to case law, legislation and secondary legal materials from the Seychelles.
      SeyLII is an independent, self-funded organisation and needs your support. Your contribution will
      make a real difference and help us bring to life various of our projects for 2022-2025.
      (<a href="{{ url }}">Link to our strategic plan</a>)
    {% endblocktrans %}
  </p>
{% endblock %}
{% block payment-details %}
  <h3 class="mb-4">Donate to the Seychelles Legal Information Institute</h3>
  <p class="mb-4">
    {% blocktrans trimmed %}
    If you would like to make a cash donation please see our banking details below:
    {% endblocktrans %}
  </p>
  <p class="mb-4">
    <strong>Account name:</strong> SEYLII ASSOCIATION OF SEYCHELLES
    <br/>
    <strong>Bank name:</strong> The Mauritius Commercial Bank (Seychelles) Ltd
    <br/>
    <strong>Bank Address:</strong> P.O Box 122 - Main Branch, Caravelle House, Manglier Street, Victoria, Mahe,
    Republic of Seychelles +248 428 4555 F: +248 432 2676
    <br/>
    <strong>Account number:</strong> 00000426814
    <br/>
    <strong>BRN:</strong> A431282
    <br/>
    <strong>SWIFT:</strong> MCBLSCSC
  </p>
  <p class="mb-4">
    {% blocktrans trimmed %}
    If you wish to donate to a specific project, to donate in kind or to learn how you may assist us in other ways please do not hesitate to contact us via email on <a href="mailto:info@seylii.org">info@seylii.org</a> for more information.
    {% endblocktrans %}
  </p>
{% endblock %}
