{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-headings-title %}
  {% trans 'Welcome to the Seychelles Legal Information Institute' %}
{% endblock %}
{% block hero-headings-welcome %}
  {% trans 'SeyLII is a non-profit organisation and publishes the law of the Seychelles for free online access.' %}
{% endblock %}
{% block hero-logos %}
  <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
  <img src="{% static 'images/laws-africa-logo.png' %}" alt="Laws.Africa"/>
  <img src="{% static 'images/judiciary-of-the-seychelles-logo.jpg' %}"
       alt="judiciary-of-the-seychelles-logo"/>
  <img src="{% static 'images/indigo-trust-logo.jpg' %}"
       alt="The Indigo Trust"/>
{% endblock %}
{% block collections %}
  {{ block.super }}
  {% include 'liiweb/_donate_call_to_action.html' %}
{% endblock %}
{% block second-col-about %}
  <p class="lead">
    {% blocktrans trimmed %}
     The Seychelles Legal Information Institute (SeyLII) is an independent association offering free access to case law, legislation, and secondary legal materials from Seychelles.
      Access to the letter of the law supports the rule of law, access to justice, and economic development.
    {% endblocktrans %}
  </p>
{% endblock %}
