{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-headings-title %}
  {% trans 'Welcome to the Seychelles Legal Information Institute' %}
{% endblock %}
{% block hero-headings-welcome %}
  {% trans 'SeyLII is a non-profit organisation and publishes the law of the Seychelles for free online access.' %}
{% endblock %}
{% block hero-logos %}
  <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
  <img src="{% static 'images/laws-africa-logo.png' %}" alt="Laws.Africa"/>
  <img src="{% static 'images/judiciary-of-the-seychelles-logo.jpg' %}"
       alt="judiciary-of-the-seychelles-logo"/>
  <img src="{% static 'images/indigo-trust-logo.jpg' %}"
       alt="The Indigo Trust"/>
{% endblock %}
{% block frequently-used %}
  <div class="container pt-2">
    <div class="mt-3 d-lg-none row row-cols-2">
      <div class="col mb-2">
        <a href="{% url 'judgment_list' %}" class="btn btn-primary d-block">Judgments</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'legislation_list' %}" class="btn btn-primary d-block">National Legislation</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'gazettes' %}" class="btn btn-primary d-block">Gazettes</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'first_level_taxonomy_list' 'speeches-and-presentations' %}"
           class="btn btn-primary d-block">Speeches and Presentations</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block collections %}
  {{ block.super }}
  {% include 'liiweb/_donate_call_to_action.html' %}
{% endblock %}
{% block second-col-about %}
  <p class="lead">
    {% blocktrans trimmed %}
     The Seychelles Legal Information Institute (SeyLII) is an independent association offering free access to case law, legislation, and secondary legal materials from Seychelles.
      Access to the letter of the law supports the rule of law, access to justice, and economic development.
    {% endblocktrans %}
  </p>
{% endblock %}
