{% extends "admin/change_form.html" %}
{% load admin_urls i18n %}
{% block extra_actions %}
  {% if original %}
    <a class="btn btn-block btn-secondary"
       href="{% url 'admin:peachjam_book_download_word' original.pk|admin_urlquote %}">
      {% trans "Download Word version" %}
    </a>
    <a class="btn btn-block btn-secondary"
       href="{% url 'admin:peachjam_book_import_word' original.pk|admin_urlquote %}">
      {% trans "Import Word version" %}
    </a>
  {% endif %}
  {{ block.super }}
{% endblock %}
