{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-logos %}
  <div class="d-flex justify-content-between">
    <img height="26"
         class="me-4"
         src="{% static 'images/africanlii-logo.svg' %}"
         alt="africanlii-logo"/>
    <img height="26"
         src="{% static 'images/laws-africa-logo.png' %}"
         alt="laws-logo"/>
    <img height="26"
         src="{% static 'images/zanzibar-judiciary.png' %}"
         alt="zanzibar-judiciary-logo"/>
  </div>
{% endblock %}
{% block hero-headings %}
  <h1 class="mb-4">{% trans 'Karibu kwenye Zanzibar Legal Information Institute' %}</h1>
  <h4 class="mb-4">
    {% blocktrans trimmed %}
      ZanzibarLII ni tovuti ya Mahakama ya Zanzibar inayochapisha maamuzi, Sheria na Kanuni kwa ufikiaji bure Mtandaoni. ZanzibarLII provides free access to the law of Zanzibar and is a member of the African LII community.
    {% endblocktrans %}
  </h4>
{% endblock %}
{% block second-col-about %}
  <div>
    <strong>{% trans 'About' %}</strong>
  </div>
  <p>
    {% blocktrans trimmed %}
    ZanzibarLII is developed under the auspices of the Judiciary of Zanzibar and publishes the law of Zanzibar for free online access to all. ZanzibarLII promotes the rule of law and access to justice in Zanzibar.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-col-logos %}
  <div class="d-flex justify-content-between mb-4 mb-lg-4">
    <img height="26"
         class="me-4"
         src="{% static 'images/africanlii-logo.svg' %}"
         alt="africanlii-logo"/>
    <img height="26"
         src="{% static 'images/laws-africa-logo.png' %}"
         alt="laws-logo"/>
    <img height="26"
         src="{% static 'images/zanzibar-judiciary.png' %}"
         alt="zanzibar-judiciary-logo"/>
  </div>
{% endblock %}
{% block tweets-by %}
  {% trans 'Tweets by AfricanLII' %}
{% endblock %}
