{% load i18n socialaccount static %}
{% get_providers as socialaccount_providers %}
{% if PEACHJAM_SETTINGS.allow_social_logins and socialaccount_providers %}
  {% for provider in socialaccount_providers %}
    <form method="post"
          class="mt-4"
          action="{% provider_login_url provider.id process='login' %}">
      {% csrf_token %}
      <button class="btn btn-block btn-outline-primary mb-3 socialaccount_provider {{ provider.id }}"
              type="submit">
        {% if provider.name == "Google" %}
          <img alt="google-logo"
               src="{% static 'images/google-logo.png' %}"
               style="height: 16px;
                      margin-right: 5px"/>
        {% else %}
          <i class="bi bi-{{ provider.id }}"></i>
        {% endif %}
        {% blocktrans with provider=provider.name %}Log in with {{provider}}{% endblocktrans %}
      </button>
    </form>
  {% endfor %}
  <hr/>
{% endif %}
