{% extends "allauth/layouts/base.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Reset Password' %}
{% endblock %}
{% block content %}
  <div class="card-header bg-white">
    <h1>
      {% if token_fail %}
        {% trans "Bad Token" %}
      {% else %}
        {% trans "Reset Password" %}
      {% endif %}
    </h1>
  </div>
  <div class="card-body">
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
      </p>
    {% else %}
      {% if form %}
        {% if form.non_field_errors %}
          <div class="text-danger">
            {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
          </div>
        {% endif %}
        <form method="post" action="{{ action_url }}">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label" for="{{ form.password1.id_for_label }}">{% trans 'New Password' %}</label>
            <input type="password"
                   class="form-control"
                   name="{{ form.password1.name }}"
                   id="{{ form.password1.id_for_label }}"
                   required/>
            {% if form.password1.errors %}
              <div class="text-danger">
                {% for error in form.password1.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label class="form-label" for="{{ form.password2.id_for_label }}">{% trans 'New Password (again)' %}</label>
            <input type="password"
                   class="form-control"
                   name="{{ form.password2.name }}"
                   id="{{ form.password2.id_for_label }}"
                   required/>
            {% if form.password2.errors %}
              <div class="text-danger">
                {% for error in form.password2.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="my-2">
            <button class="btn btn-primary btn-block" type="submit">{% trans 'Reset password' %}</button>
          </div>
        </form>
      {% else %}
        <p>{% trans 'Your password is now reset.' %}</p>
        <a class="btn btn-block btn-primary" href="{% url 'account_login' %}">{% trans 'Log in' %}</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
