{% extends "allauth/layouts/base.html" %}
{% load account i18n %}
{% block title %}
  {% trans 'Reset Your Password' %}
{% endblock %}
{% block content %}
  <h2>{% trans 'Reset your password' %}</h2>
  <p>
    <a href="{% url 'account_login' %}">{% trans 'Back to Login' %}</a>
  </p>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>{% trans 'Enter your e-mail address below, and we will send you a link to reset your password.' %}</p>
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      <input type="email"
             class="form-control"
             name="{{ form.email.name }}"
             id="{{ form.email.id_for_label }}"
             required/>
      {% if form.email.errors %}
        <div class="text-danger">
          {% for error in form.email.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
        </div>
      {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">{% trans 'Reset password' %}</button>
  </form>
{% endblock %}
