{% extends "user_account/layout.html" %}
{% load i18n %}
{% block title %}
  {% trans "Change Password" %}
{% endblock %}
{% block account-tabs %}
  {% include 'user_account/_tabs.html' with active='password' %}
{% endblock %}
{% block account-content %}
  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card">
          <h5 class="card-header">{% trans 'Change your password' %}</h5>
          <div class="card-body">
            <div class="mb-3">
              <label for="{{ form.oldpassword.id_for_label }}">Current password</label>
              <input type="password"
                     class="form-control"
                     name="{{ form.oldpassword.name }}"
                     id="{{ form.oldpassword.id_for_label }}"
                     value="{{ form.oldpassword.value|default:'' }}"
                     required
                     autofocus/>
              {% if form.oldpassword.errors %}
                <div class="text-danger">
                  {% for error in form.oldpassword.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="{{ form.password1.id_for_label }}">New password</label>
              <input type="password"
                     class="form-control"
                     name="{{ form.password1.name }}"
                     id="{{ form.password1.id_for_label }}"
                     value="{{ form.password1.value|default:'' }}"
                     required/>
              {% if form.password1.errors %}
                <div class="text-danger">
                  {% for error in form.password1.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="{{ form.password2.id_for_label }}">New password (again)</label>
              <input type="password"
                     class="form-control"
                     name="{{ form.password2.name }}"
                     id="{{ form.password2.id_for_label }}"
                     value="{{ form.password2.value|default:'' }}"
                     required/>
              {% if form.password2.errors %}
                <div class="text-danger">
                  {% for error in form.password2.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-success" name="action">{% trans "Change password" %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
