{% extends "allauth/layouts/base.html" %}
{% load account socialaccount static %}
{% load i18n %}
{% block title %}
  {% trans 'Sign Up' %}
{% endblock %}
{% block content %}
  <div class="mb-4 card-header bg-white">
    <h1>{% trans 'Sign up' %}</h1>
    <p class="text-muted">
      {% trans 'Already have an account?' %} <a href="{% url 'account_login' %}">{% trans 'Login here' %}</a>.
    </p>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="text-danger">
          {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
        </div>
      {% endif %}
      <div class="mb-3">
        <label class="form-label" for="{{ form.username.id_for_label }}">{% trans 'Username' %}</label>
        <input type="text"
               class="form-control"
               name="{{ form.username.name }}"
               id="{{ form.username.id_for_label }}"
               required
               autofocus/>
        {% if form.username.errors %}
          <div class="text-danger">
            {% for error in form.username.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label class="form-label" for="{{ form.email.id_for_label }}">{% trans 'Email address' %}</label>
        <input type="{{ form.email.type }}"
               class="form-control"
               name="{{ form.email.name }}"
               id="{{ form.email.id_for_label }}"
               required
               placeholder="you@example.com"/>
        {% if form.email.errors %}
          <div class="text-danger">
            {% for error in form.email.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label class="form-label" for="{{ form.password1.id_for_label }}">{% trans 'Password' %}</label>
        <input type="password"
               class="form-control"
               name="{{ form.password1.name }}"
               id="{{ form.password1.id_for_label }}"
               required/>
        {% if form.password1.errors %}
          <div class="text-danger">
            {% for error in form.password1.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label class="form-label" for="{{ form.password2.id_for_label }}">{% trans 'Confirm Password' %}</label>
        <input type="password"
               class="form-control"
               name="{{ form.password2.name }}"
               id="{{ form.password2.id_for_label }}"
               required/>
        {% if form.password2.errors %}
          <div class="text-danger">
            {% for error in form.password2.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-4">
        {{ form.captcha }}
        {% if form.captcha.errors %}
          <div class="text-danger">
            {% for error in form.captcha.errors %}<p class="m-1">{{ error }}</p>{% endfor %}
          </div>
        {% endif %}
      </div>
      <div>
        <button class="btn btn-primary px-4" type="submit">{% trans 'Sign up' %}</button>
      </div>
    </form>
    {% if PEACHJAM_SETTINGS.allow_social_logins %}
      {% include "account/google_login_button.html" %}
    {% endif %}
  </div>
{% endblock %}
