{% extends 'peachjam/_header.html' %}
{% load static i18n %}
{% block top-bar %}{% endblock %}
{% block nav-items %}
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'home' %}active{% endif %}"
       href="{% url 'home_page' %}">
    {% trans 'Home' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'judgments' %}active{% endif %}"
       href="{% url 'judgment_list' %}">
      {% trans 'Judgments' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'legislation' %}active{% endif %}"
       href="{% url 'legislation_list' %}">
      {% trans 'Legislation' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/akn/tz-znz/doc/2023-03-06/list-of-advocatesvakils-with-active-license-status-for-the-year-2023' %}active{% endif %}"
       href="{% url 'document_detail' 'akn/tz-znz/doc/2023-03-06/list-of-advocatesvakils-with-active-license-status-for-the-year-2023' %}">
      {% trans 'Licensed Advocates' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if 'gazette' in request.path %}active{% endif %}"
       href="{% url 'gazettes_by_locality' 'tz-znz' %}">
      {% trans 'Gazettes' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'about' %}active{% endif %}"
       href="{% url 'about' %}">
      {% trans 'About' %}
    </a>
  </li>
{% endblock %}
