@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  word-break: break-word;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.heading-underlined {
  border-bottom: 1px solid $primary;
  padding-top: 5px;
  padding-bottom: 5px;
}

.courts__column-wrapper {
  columns: 3 auto;

  @include media-breakpoint-down(lg) {
    columns: 2 auto;
  }

  @include media-breakpoint-down(sm) {
    columns: 1;
  }
}

.courts__item {
  break-inside: avoid;
}

mark {
  background-color: yellow;
  padding: 0;
}

.anntn-highlight {
  background-color: transparentize($anntn-highlight-color, 0.8);
  transition: background-color 300ms ease-in-out;

  &.active {
    background-color: transparentize($anntn-highlight-color, 0.4);
  }
}

.result-snippet * {
  font-size: $font-size-base;
}

.la-akoma-ntoso-with-gutter la-gutter {
  background-color: transparent !important;
}

.offcanvas {
  @include media-breakpoint-down(lg) {
    width: 300px;
  }
}

footer {
  .footer-logos {
    display: block;
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  .footer-logos__item {
    padding: 1rem 0.5rem;
    display: block;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      @include media-breakpoint-up(md) {
        height: 40px;
        width: auto;

      }

    }

  }
}

.breadcrumb {
  padding-top: 1rem;
  margin-bottom: 0;
}

// xs btn
.btn.btn-xs {
  @include button-size(0.125rem, 0.25rem, $btn-font-size-sm, $btn-border-radius-sm);
}

//Extra utility colors

.facebook-forecolor {
  color: $facebook-color;
}

.facebook-background-color {
  background-color: $facebook-color
}

.twitter-forecolor {
  color: $twitter-color;
}

.twitter-background {
  background-color: $twitter-color;
}

.whatsapp-forecolor {
  color: $whatsapp-color;
}

.linkedin-forecolor {
  color: $linkedin-color;
}

.share-icon {
  font-size: 22px;
}

@each $state, $value in $theme-colors {
  .alert-#{$state} {
    $alert-color: shift-color($value, $alert-color-scale);

    a {
      color: shade-color($alert-color, 20%);

      &:hover {
        color: shade-color($alert-color, 20%);
      }
    }
  }
}

html[data-user-agent*='pocketlaw'] .pocketlaw-hidden {
  display: none;
}

// force font size on mobile to 16 px
@include media-breakpoint-down(sm) {
  input {
    font-size: 16px !important;
  }
}
