html {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  word-break: break-word;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

// newspaper-like dynamic columns
.flow-columns {
  columns: 1;

  @include media-breakpoint-up(md) {
    columns: 2 auto;
  }

  @include media-breakpoint-up(lg) {
    columns: 3 auto;
  }

  .flow-columns-group {
    break-inside: avoid;
  }
}

mark {
  background-color: yellow;
  padding: 0;
}

.provision-toggle i::before {
  content: "\f229";
}

.provision-toggle .collapsed i::before {
  content: "\f231";
}

.result-snippet * {
  font-size: $font-size-base;
}

.offcanvas {
  @include media-breakpoint-down(lg) {
    width: 300px;
  }
}

footer {
  .footer-logos {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
      justify-content: space-around;
    }
  }

  .footer-logos__item {
    padding: 1rem 0.5rem;
    display: block;
    text-align: center;
    flex: 0 0 auto;
    width: 50%;

    @include media-breakpoint-up(md) {
      width: auto;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;

      @include media-breakpoint-up(md) {
        height: 60px;
        width: auto;
      }
    }
  }
}

// xs btn
.btn.btn-xs {
  @include button-size(0.125rem, 0.25rem, $btn-font-size-sm, $btn-border-radius-sm);
}

.btn-shrink-sm {
  @include media-breakpoint-down(sm) {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  }
}

//Extra utility colors

.bg-brand-pale {
  background-color: transparentize($primary, 0.90);
}

.facebook-forecolor {
  color: $facebook-color;
}

.facebook-background-color {
  background-color: $facebook-color
}

.twitter-forecolor {
  color: $twitter-color;
}

.twitter-x-forecolor {
    color: $twitter-x-color;
}

.twitter-background {
  background-color: $twitter-color;
}

.whatsapp-forecolor {
  color: $whatsapp-color;
}

.linkedin-forecolor {
  color: $linkedin-color;
}
.envelope-at-fill-forecolor {
  color: $envelope-at-fill-color;
}

.youtube-forecolor {
  color: $youtube-color;
}

.share-icon {
  font-size: 22px;
}

.text-ai {
  color: $text-ai !important;
}

@each $state, $value in $theme-colors {
  .alert-#{$state} {
    $alert-color: shift-color($value, $alert-color-scale);

    a {
      color: shade-color($alert-color, 20%);

      &:hover {
        color: shade-color($alert-color, 20%);
      }
    }
  }
}

html[data-user-agent*='pocketlaw'] .pocketlaw-hidden,
.offline .pocketlaw-hidden {
  display: none !important;
}

// force font size on mobile to 16 px
@include media-breakpoint-down(sm) {
  input {
    font-size: 16px !important;
  }
}

.facets-scrollable {
  max-height: 25vh;
  overflow-y: auto;
}

a:visited:not(.btn, .nav-link, .dropdown-item) {
  color: $visited-link;
}

.skip-links li {
  list-style-type: none;
}
.skip-links a {
  position: absolute;
  left: -501px;
}
.skip-links a:focus {
  left: -1px;
}

.breadcrumb {
  padding-top: 1rem;
}

select.form-select.select-narrow {
  width: initial;
}
