$font-size-base: 0.9375rem !default; // 15px
$h1-font-size: $font-size-base * 2.25 !default;

$nav-tabs-border-width: 0px;

$enable-shadows: true;
// no shadows on buttons
$btn-box-shadow: none;

//Colors
$facebook-color: #1A77F2 !default;
$twitter-color: #2AA1F2 !default;
$twitter-x-color: #333 !default;
$whatsapp-color: #25D366 !default;
$linkedin-color: #0a66c2 !default;
$envelope-at-fill-color: #6c757d !default;
$youtube-color: #FF0000 !default;
$anntn-highlight-color: #a68bdc !default;
$diff-green-color: #a6f3a6 !default;
$diff-red-color: #f8cbcb !default;
$visited-link: #1A77F2 !default;
$text-ai : #6f42c1 !default;
$saved-star-color: #ffc107 !default;

:root {
  --facebook-color: #{$facebook-color};
  --twitter-color: #{$twitter-color};
  --whatsapp-color: #{$whatsapp-color};
  --anntn-highlight-color: #{$anntn-highlight-color};
  --diff-green-color: #{$diff-green-color};
  --diff-red-color: #{$diff-red-color};
}

$breadcrumb-margin-bottom: 1rem !default;

$floating-header-height: 3rem !default;
$floating-header-height-md: 2.5rem !default;

$alert-padding-y: 0.75rem;

// add an xxxl breakpoint for wide screens
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
) !default;

// Force bootstrap's container to be fluid up to 960px, which covers most phones and tablets in portrait and
// landscape. This is easier than changing all uses of container to container-lg.
$container-max-widths: (
  sm: 960px,
  md: 960px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  // custom xxxl container
  xxxl: 1520px
);

// make navbar toggler simpler
.navbar-toggler {
  --bs-navbar-toggler-padding-x: 0px;
  --bs-navbar-toggler-padding-y: 0px;
  --bs-border-width: 0px;
  --bs-navbar-toggler-focus-width: 1px;
}
