$font-family-sans-serif: Lato, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 0.875rem !default;
$h1-font-size: $font-size-base * 2.25 !default;

$nav-tabs-border-width: 0px;

$enable-shadows: true;
// no shadows on buttons
$btn-box-shadow: none;

//Colors
$facebook-color: #1A77F2 !default;
$twitter-color: #2AA1F2 !default;
$whatsapp-color: #25D366 !default;
$linkedin-color: #0a66c2 !default;
$anntn-highlight-color: #a68bdc !default;
$diff-green-color: #a6f3a6 !default;
$diff-red-color: #f8cbcb !default;

:root {
  --facebook-color: #{$facebook-color};
  --twitter-color: #{$twitter-color};
  --whatsapp-color: #{$whatsapp-color};
  --anntn-highlight-color: #{$anntn-highlight-color};
  --diff-green-color: #{$diff-green-color};
  --diff-red-color: #{$diff-red-color};
}
