$font-family-sans-serif: Lato, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.875rem;

$h1-font-size: $font-size-base * 2.25;

//Colors
$facebook-color: #1A77F2;
$twitter-color: #2AA1F2;
