.img-circle {
    border-radius: 5px;
}
.card-header {
    padding: .5rem .5rem;
}

.card-body {
    padding: .5rem;
}

.table-sm td {
    padding: .1rem;
}

.table td, .table th {
    padding: .2rem
}
