{% extends "peachjam/layouts/document_detail.html" %}
{% load i18n peachjam %}
{% block document-metadata-content-date %}
  <dt>
    {% trans "Award date" %}
  </dt>
  {% if date_versions|length > 1 %}
    <dd>
      <div class="dropdown">
        <a class="btn btn-outline-secondary btn-sm dropdown-toggle"
           href="#"
           role="button"
           id="dropdownMenuLink"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          {{ document.date }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          {% for version in date_versions %}
            <li>
              <a class="dropdown-item {% if version.pk == document.pk %}active{% endif %}"
                 href="{{ version.get_absolute_url }}">{{ version.date }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </dd>
  {% else %}
    <dd class="text-muted">
      {{ document.date }}
    </dd>
  {% endif %}
{% endblock %}
{% block document-metadata-content-publication %}
  {{ block.super }}
  {% if document.institution %}
    <dt>
      {% trans "Institution" %}
    </dt>
    <dd class="text-muted">
      <a class="text-decoration-none"
         href="{{ document.institution.get_absolute_url }}">{{ document.institution }}</a>
    </dd>
  {% endif %}
  {% if document.seat %}
    <dt>
      {% trans "Seat of arbitration" %}
    </dt>
    <dd class="text-muted">
      {{ document.seat }}
    </dd>
  {% endif %}
  {% if document.rules_of_arbitration %}
    <dt>
      {% trans "Rules of arbitration" %}
    </dt>
    <dd class="text-muted">
      <a class="text-decoration-none"
         href="{{ document.rules_of_arbitration.get_absolute_url }}">
        {{ document.rules_of_arbitration.title }}
      </a>
    </dd>
  {% endif %}
{% endblock %}
{% block document-metadata-custom-properties %}
  <dt>
    {% trans "Case number" %}
  </dt>
  <dd class="text-muted">
    {{ document.case_number }}
  </dd>
  {% if document.case_type %}
    <dt>
      {% trans "Case type" %}
    </dt>
    <dd class="text-muted">
      {{ document.get_case_type_display }}
    </dd>
  {% endif %}
  {% if document.award_type %}
    <dt>
      {% trans "Award type" %}
    </dt>
    <dd class="text-muted">
      {{ document.get_award_type_display }}
    </dd>
  {% endif %}
  {% if document.nature_of_proceedings %}
    <dt>
      {% trans "Nature of proceedings" %}
    </dt>
    <dd class="text-muted">
      {{ document.get_nature_of_proceedings_display }}
    </dd>
  {% endif %}
  {% if document.outcome %}
    <dt>
      {% trans "Outcome" %}
    </dt>
    <dd class="text-muted">
      {{ document.get_outcome_display }}
    </dd>
  {% endif %}
  {% if document.claimants_country_of_origin %}
    <dt>
      {% trans "Claimants country of origin" %}
    </dt>
    <dd class="text-muted">
      {{ document.claimants_country_of_origin }}
    </dd>
  {% endif %}
  {% if document.respondents_country_of_origin %}
    <dt>
      {% trans "Respondents country of origin" %}
    </dt>
    <dd class="text-muted">
      {{ document.respondents_country_of_origin }}
    </dd>
  {% endif %}
  {% if document.applicable_law %}
    <dt>
      {% trans "Applicable law" %}
    </dt>
    <dd class="text-muted">
      {{ document.applicable_law }}
    </dd>
  {% endif %}
  {{ block.super }}
{% endblock %}
