{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}
  {% trans 'Arbitration Awards' %}
{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'arbitration_hub' %}">{% trans 'Arbitration Hub' %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Arbitration Awards' %}</li>
      </ol>
    </nav>
  </div>
{% endblock %}
{% block page-title %}
  <h1 class="my-4">{% trans 'Arbitrations' %}</h1>
{% endblock %}
