{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
      LawLibrary.org.za is curated by the African Legal Information Institute (AfricanLII) at the
      <a href="http://www.dgru.uct.ac.za/">Democratic Governance and Rights Unit</a>, Faculty of Law, University of
      Cape Town (UCT) and in partnership with UCT's
      <a href="http://www.jifa.uct.ac.za/">Judicial Institute for Africa</a>
      (JIFA) and <a href="http://laws.africa/">Laws.Africa</a> NPO. AfricanLII and Laws.Africa are members of the
      regional
      and global Free Access to Law community and subscribe to the principles of the
      <a href="http://www.falm.info/declaration/">Montreal Declaration on Free Access to Law.</a>
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="http://www.jifa.uct.ac.za/" target="_blank" rel="noreferrer">JIFA</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <h6 class="mt-4">{% trans 'With support from' %}</h6>
  <div>
    <a href="https://www.uct.ac.za/" target="_blank" rel="noreferrer">{% trans 'University of Cape Town' %}</a>
  </div>
  <div>
    <a href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">{% trans 'Open Law Africa' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a href="https://www.uct.ac.za/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/uct-logo.svg' %}" alt="UCT logo"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="http://www.jifa.uct.ac.za/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/jifa.png' %}" alt="JIFA"/>
    </a>
    <a href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/open-law-africa-footer.png' %}"
           alt="{% trans 'Open Law Africa' %}"/>
    </a>
  </div>
{% endblock %}
