{% extends 'peachjam/_header.html' %}
{% load static i18n %}
{% block top-bar %}
  {% include 'lawlibrary/_early_preview_warning.html' %}
  {% include 'peachjam/_open_law_africa.html' %}
{% endblock %}
{% block navbar-logo %}
  <img src="{% static 'images/lawlibrary-logo.png' %}"
       alt="lawlibrary"
       width="70"/>
{% endblock %}
{% block nav-items %}
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'judgments' %}active{% endif %}"
       href="{% url 'judgment_list' %}">
      {% trans 'Judgments' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'legislation' %}active{% endif %}"
       href="{% url 'legislation_list' %}">
      {% trans 'National Legislation' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'legislation/locality' %}active{% endif %}"
       href="{% url 'locality_legislation' %}">
      {% trans 'Provincial Legislation' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'legislation/municipal' %}active{% endif %}"
       href="{% url 'municipal_legislation' %}">
      {% trans 'Municipal By-laws' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'gazettes' %}active{% endif %}"
       href="{% url 'gazettes' %}">
      {% trans 'Gazettes' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       href="{% url 'first_level_taxonomy_list' "collections" %}">Collections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'about' %}active{% endif %}"
       href="{% url 'about' %}">
      {% trans 'About' %}
    </a>
  </li>
{% endblock %}
