{% extends 'peachjam/gazette_year.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'gazettes' %}">{% trans 'Gazettes' %}</a>
        </li>
        {% if locality %}
          <li class="breadcrumb-item">
            <a href="{% url 'gazettes_by_locality' code=locality.code %}">{{ locality }}</a>
          </li>
        {% endif %}
      </ol>
    </nav>
  </div>
{% endblock %}
{% block count-and-search %}
  <div class="row">
    <div class="col">{{ block.super }}</div>
    <div class="col-md-2">{% include 'lawlibrary/_gazette_partners.html' %}</div>
  </div>
{% endblock %}
