{% extends 'peachjam/gazette_list.html' %}
{% load i18n %}

{% block title %} {{ locality.name }} {% trans 'Gazettes' %} {% endblock %}

{% block localities %}
  {% include 'lawlibrary/_localities.html' %}
{% endblock %}

{% block page-title %}
  <h1 class="my-4">{% if locality %}{{ locality }}{% endif %} {% trans 'Gazettes'%}</h1>
{% endblock %}

{% block breadcrumbs %}
  {% if locality %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'gazettes' %}">{% trans 'Gazettes' %}</a></li>
      </ol>
    </nav>
  {% endif %}
{% endblock %}

{% block gazette-year-link %}
  {% if locality %}
    <a class="text-decoration-none" href="{% url 'gazettes_by_year' locality.code year.year %}">{{ year.year }}</a>
  {% else %}
    <a class="text-decoration-none" href="{% url 'gazettes_by_year' year.year %}">{{ year.year }}</a>
  {% endif %}
{% endblock %}
