{% extends 'peachjam/header.html' %}
{% load static %}
{% load i18n %}

{% block top-bar %}
{% endblock %}
{% block navbar-logo %}
    <img src="{% static 'images/lawlibrary-logo.png' %}" alt="lawlibrary" width="70" />
{% endblock %}

{% block nav-items %}
  <li class="nav-item">
    <a class="nav-link {% ifequal request.path '/judgments/'%} active {% endifequal%}" href="{% url 'judgment_list' %}">
      {% trans 'Judgments' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% ifequal request.path '/legislation/'%} active {% endifequal%}" href="{% url 'legislation_list' %}">
      {% trans 'Legislation' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'taxonomy_detail' slug="sexual-and-gender-based-violence" %}">
      SGBV Library
    </a>
  </li>
{% endblock %}
