{% extends 'peachjam/judgment_detail.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'judgment_list' %}">{% trans 'Judgments' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'court' document.court.code %}">{{ document.court.name }}</a>
      </li>
      {% if document.registry %}
        <li class="breadcrumb-item">
          <a href="{% url 'court_registry' document.court.code document.registry.code %}">{{ document.registry.name }}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'court_registry_year' document.court.code document.registry.code document.date.year %}">{{ document.date.year }}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item">
          <a href="{% url 'court_year' document.court.code document.date.year %}">{{ document.date.year }}</a>
        </li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}
