{% extends 'peachjam/legislation_detail.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    {% if document.locality %}
      {% if document.locality.code in PROVINCIAL_CODES %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'locality_legislation' %}">{% trans 'Provincial Legislation' %}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'locality_legislation_list' document.locality.code %}">{{ document.locality.name }}</a>
          </li>
        </ol>
      {% else %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'locality_legislation' %}">{% trans 'Municipal By-laws' %}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'locality_legislation_list' document.locality.code %}">{{ document.locality.name }}</a>
          </li>
        </ol>
      {% endif %}
    {% else %}
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'legislation_list' %}">{% trans 'National legislation' %}</a>
        </li>
      </ol>
    {% endif %}
  </nav>
{% endblock %}
