{% load i18n %}
<div class="modal-content" id="saved-document-modal-content">
  <div class="modal-header">
    <p class="h5 modal-title">{% trans 'Save document' %}</p>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="{% trans "Close" %}"></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>{% trans 'You are not logged in' %}.</strong>
    </p>
    <p>{% trans 'To save a document you need to be logged in' %}.</p>
  </div>
  <div class="modal-footer d-flex">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
    <a href="{% url 'account_login' %}?next={{ next_url|urlencode }}"
       class="btn btn-primary">{% trans 'Log in' %}</a>
  </div>
</div>
