{% load i18n %}
<div class="modal-content" id="saved-document-modal-content">
  <div class="modal-header">
    <p class="h5 modal-title">{% trans 'Save document' %}</p>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="{% trans "Close" %}"></button>
  </div>
  <div class="modal-body">
    {% if PEACHJAM_SETTINGS.accounts_enabled %}
      <p>
        <strong>{% trans 'You are not logged in' %}.</strong>
      </p>
      <p>{% trans 'To save a document you need to be logged in' %}.</p>
    {% else %}
      <p>{% trans 'Saving documents requires an account, and accounts are not available on this site.' %}</p>
    {% endif %}
  </div>
  <div class="modal-footer d-flex">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
    {% if PEACHJAM_SETTINGS.accounts_enabled %}
      <a href="{% url 'account_login' %}?next={{ next_url|urlencode }}"
         class="btn btn-primary">{% trans 'Log in' %}</a>
    {% endif %}
  </div>
</div>
