{% load i18n %}
<button class="btn btn-primary btn-shrink-sm save-document-button save-document-button--{{ document.id }}"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#saved-document-modal"
        hx-post="{% url 'saved_document_create' %}?doc_id={{ document.id }}"
        hx-target="#saved-document-modal-content"
        aria-expanded="false"
        hx-swap-oob="outerHTML:.save-document-button--{{ document.id }}">
  <i class="bi bi-star"></i>
  <span class="d-md-none">{% trans 'Save' %}</span>
  <span class="d-none d-md-inline">{% trans 'Save document' %}</span>
</button>
<span hx-swap-oob="true" id="saved-document-star--{{ document.id }}"></span>
<span hx-swap-oob="true"
      id="saved-document-table-detail--{{ document.id }}"></span>
