{% load i18n peachjam_subs %}
{% change_subscription_url as change_subscription_url %}
<div id="saved-doc-{{ saved_document.pk }}" class="border-bottom">
  <div class="py-2">
    {% if saved_document.is_subscription_locked %}
      <div class="d-flex align-items-start">
        <div class="me-2">
          <div>
            <i class="bi bi-lock-fill"></i>
            {{ saved_document.document.title }}
          </div>
          <div class="text-muted">
            <div class="fw-bold">{% trans 'Saved beyond your subscription limit.' %}</div>
            {% blocktrans trimmed with expires=saved_document.subscription_lock_expires_at|date change_subscription_url=change_subscription_url %}
              We'll keep this saved document until {{ expires }}. <a href="{{ change_subscription_url }}">Upgrade your subscription</a> to restore access.
            {% endblocktrans %}
          </div>
        </div>
        <button class="btn btn-link text-danger p-0 ms-auto"
                type="button"
                title="{% trans "Remove from folder" %}"
                hx-post="{% url 'saved_document_remove_from_folder' saved_document.id folder.id %}?next={% url 'folder_list' %}"
                hx-target="#folders-list"
                hx-confirm="{% trans "Are you sure you want to remove this document from this folder?" %}">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    {% else %}
      <div class="d-flex align-items-start">
        <div class="me-2">
          <a href="{{ saved_document.document.get_absolute_url }}">{{ saved_document.document.title }}</a>
          {% include 'peachjam/_document_labels.html' with labels=saved_document.document.labels.all %}
          {% include 'peachjam/judgment/_blurb_and_flynotes.html' with document=saved_document.document %}
        </div>
        <button class="btn btn-link ms-auto p-0"
                type="button"
                title="{% trans "Edit" %}"
                data-bs-toggle="modal"
                data-bs-target="#saved-document-modal"
                hx-get="{% url 'saved_document_modal' saved_document.pk %}?next={% url 'folder_list' %}&target=%23folders-list"
                hx-target="#saved-document-modal-content">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-link text-danger p-0 ms-2"
                type="button"
                title="{% trans "Remove from folder" %}"
                hx-post="{% url 'saved_document_remove_from_folder' saved_document.id folder.id %}?next={% url 'folder_list' %}"
                hx-target="#folders-list"
                hx-confirm="{% trans "Are you sure you want to remove this document from this folder?" %}">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <div class="ms-3">
        {% if saved_document.note %}<div class="text-muted">{{ saved_document.note }}</div>{% endif %}
        {% if PEACHJAM_SETTINGS.annotations_enabled and saved_document.annotation_count %}
          <details>
            <summary hx-target="#document-annotations-{{ saved_document.document.pk }}"
                     hx-get="{% url 'annotation_list' saved_document.document.pk %}"
                     hx-trigger="click once">
              <i class="text-primary bi bi-chat-left-text"></i>
              {% blocktrans trimmed count comment_count=saved_document.annotation_count %}
              {{ comment_count }} comment
            {% plural %}
              {{ comment_count }} comments
            {% endblocktrans %}
            </summary>
            <div id="document-annotations-{{ saved_document.document.pk }}"
                 class="spinner-when-empty"></div>
          </details>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
