{% load i18n %}
<div>
  <div class="d-flex justify-content-between align-items-center">
    <h2>{% trans 'Saved documents' %}</h2>
    <button class="btn btn-primary"
            hx-target="#folders-list"
            hx-prompt="{% trans "Folder name" %}"
            hx-post="{% url 'folder_create' %}">
      {% trans 'New Folder' %}
    </button>
  </div>
  <div class="mb-4">{% trans "Save documents to simplify your research and stay up-to-date" %}</div>
  {% block folder-list %}
    {% for folder in folders %}
      <div class="card mb-5" id="folder-{{ folder.pk }}">
        <div class="card-header">
          {% block folder-list-card-header %}
            <div class="justify-content-between d-flex">
              <p class="mb-0 h5">
                <i class="bi bi-folder"></i> {{ folder.name }}
              </p>
              <div class="dropdown">
                <button class="btn btn-outline-secondary"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu">
                  {% if perms.peachjam.download_folder %}
                    <li>
                      <a href="{% url 'folder_download' folder.id %}"
                         target="_blank"
                         class="dropdown-item">
                        {% trans 'Download to Excel' %}
                      </a>
                    </li>
                  {% endif %}
                  <li>
                    <button class="dropdown-item"
                            hx-post="{% url 'folder_update' folder.id %}"
                            hx-target="#folders-list"
                            hx-prompt="{% trans "Rename folder" %}">
                      {% trans 'Rename' %}
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item text-danger"
                            hx-post="{% url 'folder_delete' folder.id %}"
                            hx-target="#folders-list"
                            hx-confirm="{% trans "Are you sure you want to delete this folder? All saved documents in this folder will also be deleted." %}">
                      {% trans 'Delete' %}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          {% endblock %}
        </div>
        <div class="card-body">
          {% block folder-list-card-body %}
            {% for saved_document in folder.saved_documents.all %}
              {% include "peachjam/saved_document/_folder_list_item.html" %}
            {% empty %}
              <p>{% trans 'No saved documents.' %}</p>
            {% endfor %}
          {% endblock %}
        </div>
      </div>
    {% empty %}
      <p>{% trans "You have no saved documents." %}</p>
    {% endfor %}
  {% endblock %}
</div>
