{% load i18n %}
<div id="saved-doc-{{ saved_document.pk }}" class="border-bottom">
  <div class="row pt-2">
    <div class="col-md-6">
      <a href="{{ saved_document.document.get_absolute_url }}">{{ saved_document.document.title }}</a>
      {% include 'peachjam/_document_labels.html' with labels=saved_document.document.labels.all %}
      {% if saved_document.note %}
        <br/>
        <div id="saved-doc-note-{{ saved_document.pk }}" class="d-flex">
          <button class="btn btn-link"
                  hx-get="{% url 'saved_document_update' saved_document.pk %}"
                  hx-vals='{"edit": "note"}'
                  hx-target="#saved-doc-note-{{ saved_document.pk }}">
            <i class="bi bi-pencil"></i>
          </button>
          <span class="text-muted pt-2">{{ saved_document.note }}</span>
        </div>
      {% endif %}
    </div>
    <div class="col-md-3">
      {% if saved_document.annotation_count %}
        <i class="text-primary bi bi-chat-left-text"></i>
        <a href="#"
           hx-target="#document-annotations-{{ saved_document.document.pk }}"
           hx-get="{% url 'annotation_list' saved_document.document.pk %}">
          {% blocktrans trimmed count comment_count=saved_document.annotation_count %}
            {{ comment_count }} comment
          {% plural %}
            {{ comment_count }} comments
          {% endblocktrans %}
        </a>
      {% endif %}
    </div>
    <div class="col-md-3">
      <div class="text-end text-nowrap">
        {{ saved_document.document.date }}
        <button class="btn btn-link"
                type="button"
                hx-post="{% url 'saved_document_delete' saved_document.id %}?next={% url 'folder_list' %}"
                hx-target="#folders-list"
                hx-confirm="{% trans "Are you sure you want to remove this document?" %}">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="document-annotations-{{ saved_document.document.pk }}"
         class="col"></div>
  </div>
</div>
