{% load i18n %}
{% for saved_document, form in saved_documents %}
  {% if saved_document.id %}
    {% include "peachjam/saved_document/_star.html" %}
    <div id="saved-document-table-detail--{{ saved_document.document.id }}"
         class="saved-document-table-detail text-muted fs-sm ms-2 mt-1"
         hx-swap-oob="true">
      {% if saved_document.folder %}
        <i class="bi bi-folder"></i>
        <a class="text-muted"
           href="{{ saved_document.folder.get_absolute_url }}">{{ saved_document.folder.name }}</a>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
