{% load i18n %}
<button class="btn btn-primary btn-shrink-sm save-document-button save-document-button--{{ saved_document.document.id }}"
        type="button"
        data-component="SavedDocumentModalToggle"
        data-modal-url="{% url 'saved_document_modal' saved_document.pk %}?next={{ modal_next_url|urlencode }}"
        data-saved-document="{{ saved_document.id }}"
        aria-expanded="false"
        hx-swap-oob="outerHTML:.save-document-button--{{ saved_document.document.id }}">
  <i class="bi bi-star-fill"></i>
  {% if saved_document.folder %}
    {{ saved_document.folder }}
  {% else %}
    {% trans 'Saved' %}
  {% endif %}
</button>
