{% extends "peachjam/_footer.html" %}
{% load static i18n %}
{% block about %}
  <p>
    SierraLII provides free, unrestricted access to the primary and secondary legal materials of Sierra Leone.  Free Access to Law supports the rule of law, access to justice and transparency.
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://jsco.gov.sl/" target="_blank" rel="noreferrer">Justice Sector Coordination Office of Sierra Leone</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://jud.gov.ls"
       target="_blank"
       rel="noreferrer">
      <img style="background-color: #2D5D88"
           src="{% static 'images/jsco_logo.png' %}"
           alt="jsco-logo"/>
    </a>
  </div>
{% endblock %}
