{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="SierraLII" org_link_text="https://sierralii.org" contact_email="info@sierralii.org" %}
    {% with who_are_we="SierraLII provides free, unrestricted access to the primary and secondary legal materials of Sierra Leone.  Free Access to Law supports the rule of law, access to justice and transparency." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
