{% extends 'peachjam/layouts/main.html' %}
{% load peachjam i18n %}

{% block title %}{{ document.title }}{% endblock %}

{% block page-content %}
  <main class="container-fluid py-3">
    {% block document-title %}
      <h1 class="m-0">{{ document.title }}</h1>
    {% endblock %}

    {% if user.is_staff %}
      <a href="{{ document|admin_url:'change' }}">Edit</a>
    {% endif %}

    {% block document-metadata %}
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              {% block document-metadata-content %}
                <dl class="row mb-0">
                  {% for field, value in document.get_all_values.items %}
                  <dt class="col-4">{{ field | title }}</dt>
                  <dd class="col-8">{{ value }}</dd>
                  {% endfor %}
                </dl>
              {% endblock %}
            </div>

            <div class="col-md-6">
              {% block document-relationships-content %}
                {% with document.relationships_as_subject as relationships %}
                  {% if relationships %}
                    <h5>{% translate 'This document' %}...</h5>

                    {% for rel in relationships %}
                      <div>
                        ... {% translate rel.predicate.verb %}
                        <a href="{% url 'document_detail' expression_frbr_uri=rel.object_document.expression_frbr_uri %}">{{ rel.object_document.title }}</a>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                {% with document.relationships_as_object as relationships %}
                  {% if relationships %}
                    <h5>{% translate 'Related documents' %}</h5>

                    {% for rel in relationships %}
                      <div>
                        <a href="{% url 'document_detail' expression_frbr_uri=rel.subject_document.expression_frbr_uri %}">{{ rel.subject_document.title }}</a>
                        {% translate rel.predicate.reverse_verb %} this document.
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% if document.content_html_is_akn %}
      <div class="row">
        <div class="col-lg-3 d-none d-lg-block">
          <aside class="toc">
            <la-table-of-contents-controller
              items="{{ document.toc_json|jsonify }}"
              expand-all-btn-classes="btn btn-secondary btn-sm"
              collapse-all-btn-classes="btn btn-secondary btn-sm"
              title-filter-clear-btn-classes="btn btn-secondary btn-sm"
              search-filter-input-classes="form-control"
            ></la-table-of-contents-controller>
          </aside>
        </div>

        <div class="col-lg-9">
          <div class="la-akoma-ntoso-with-gutter" {% if user.is_staff %}data-component="RelationshipEnrichments"{% endif %}>
            <la-akoma-ntoso
              id="akn"
              expression-frbr-uri="{{ document.expression_frbr_uri }}"
              class="flash-target"
            >
              <la-decorate-terms popup-definitions link-terms></la-decorate-terms>
              <la-decorate-internal-refs flag popups></la-decorate-internal-refs>

              {{ document.content_html|safe }}
            </la-akoma-ntoso>
            <la-gutter akoma-ntoso="#akn"></la-gutter>
          </div>
        </div>
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>
{% endblock %}
