{% extends 'peachjam/layouts/main.html' %}
{% load i18n %}

{% block title %}{{ document.title }}{% endblock %}

{% block page-content %}
  <main class="container py-3" data-component="DocumentList">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div class="mb-2">
          {% block page-title %}
            <h1 class="m-0">{% trans 'Documents' %}</h1>
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div id="list-facets"></div>
      </div>
      <div class="col-md-9">
        <div class="position-relative">
          {% block content %}
            {% if documents %}
              {% include 'africanlii/_document_table.html'%}
            {% else %}
              <p>{% trans 'No documents found.' %}</p>
            {% endif %}
          {% endblock%}
        </div>
      </div>
    </div>
    <script id="facet-data" type="application/json">
      {
        "alphabet": ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j" , "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"],
        "years": ["2022", "2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014", "2013", "2012", "2011"]
      }
    </script>
  </main>
{% endblock %}
