{% extends 'peachjam/layouts/main.html' %}
{% load peachjam %}

{% block title %}{{ document.title }}{% endblock %}

{% block page-content %}
  <main class="container py-5">
    {% block document-title %}
      <h1 class="heading-underlined mb-4">{{ document.title }}</h1>
    {% endblock %}

    <div class="lead mb-5">
      <div class="card">
        <div class="card-body">
          {% block document-metadata %}
            {% block document-metadata-content %}
              {% if document.authoring_body %}
                <dl class="row mb-0">
                  <dt class="col-4">Author</dt>
                  <dd class="col-8 text-muted">{{ document.authoring_body }}</dd>
                </dl>
              {% endif %}
              {% if document.date %}
                <dl class="row mb-0">
                  <dt class="col-4">Date</dt>
                  <dd class="col-8 text-muted">{{ document.date }}</dd>
                </dl>
              {% endif %}
              {% if document.language %}
                <dl class="row mb-0">
                    <dt class="col-4">Language</dt>
                    <dd class="col-8 text-muted">{{ document.language }}</dd>
                </dl>
              {% endif %}
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% if document.content_html_is_akn %}
      <div class="row">
        <div class="col-lg-3 d-none d-lg-block">
          <aside class="toc">
            <la-table-of-contents-controller
              items="{{ document.toc_json|jsonify }}"
              expand-all-btn-classes="btn btn-secondary btn-sm"
              collapse-all-btn-classes="btn btn-secondary btn-sm"
              title-filter-clear-btn-classes="btn btn-secondary btn-sm"
              search-filter-input-classes="form-control"
            ></la-table-of-contents-controller>
          </aside>
        </div>

        <div class="col-lg-9">
          <div class="la-akoma-ntoso-with-gutter">
            <la-akoma-ntoso
              id="akn"
              expression-frbr-uri="{{ document.expression_frbr_uri }}"
              class="flash-target"
            >
              <la-decorate-terms popup-definitions link-terms></la-decorate-terms>
              <la-decorate-internal-refs flag popups></la-decorate-internal-refs>

              {{ document.content_html|safe }}
            </la-akoma-ntoso>
            <la-gutter akoma-ntoso="#akn">
              <!-- hack for demo -->
              {% if document.pk == 4 %}
                <la-gutter-item anchor="#preamble__p_5">
                  <div class="card">
                    <h6 class="card-header p-2">Related Decision</h6>
                    <div class="card-body p-2">
                      <a href="https://peachjam.staging.laws.africa/generic_documents/7" target="_blank">Decision A/DEC. 8/5/82</a>
                      amends the ECOWAS Treaty.
                    </div>
                  </div>
                </la-gutter-item>
              {% endif %}
            </la-gutter>
          </div>
        </div>
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>
{% endblock %}
