{% extends 'peachjam/layouts/main.html' %}
{% load peachjam %}

{% block title %}{{ document.title }}{% endblock %}

{% block page-content %}
  <main class="container-fluid py-5">
    {% block document-title %}
      <h1 class="heading-underlined mb-4">{{ document.title }}</h1>
    {% endblock %}

    <div class="mb-5">
      <div class="card">
        <div class="card-body">
          {% block document-metadata %}
            {% block document-metadata-content %}
              <dl class="row">
                {% if document.authoring_body %}
                  <dt class="col-4">Author</dt>
                  <dd class="col-8 text-muted">{{ document.authoring_body }}</dd>
                {% endif %}

                <dt class="col-4">Date</dt>
                {% if date_versions %}
                  <dd class="col-8">
                    <div class="dropdown">
                      <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ document.date }}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for version in date_versions %}
                          <li><a class="dropdown-item" href="{{ version.get_absolute_url }}">{{ version.date }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </dd>
                {% else %}
                  <dd class="col-8 text-muted">{{ document.date }}</dd>
                {% endif %}

                <dt class="col-4">Language</dt>
                {% if language_versions %}
                  <dd class="col-8">
                    <div class="dropdown">
                      <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ document.language }}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for version in language_versions %}
                          <li><a class="dropdown-item" href="{{ version.get_absolute_url }}">{{ version.language }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </dd>
                {% else %}
                  <dd class="col-8 text-muted">{{ document.language }} </dd>
                {% endif %}
              </dl>
            {% endblock %}

            {% if document.source_file %}
              <div>
                <a class="card-link" href="{% url 'document_source' expression_frbr_uri=document.expression_frbr_uri %}">Download document</a> ({{ document.source_file.file.size|filesizeformat }})
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>

    {{ citation_links|json_script:"citation-links" }}

    {% block content %}{% endblock %}
  </main>
{% endblock %}
