{% extends 'peach_jam/layouts/decision.html' %}
{% load i18n %}

{% block title %}Decision List{% endblock %}

{% block decision_content %}

  <header>
    <h1>{% trans 'Decision List' %}</h1>
  </header>

  {% if decisions %}
    <ul>
      {% for decision in decisions %}
        <li>
          <a href="{% url 'decision_detail' pk=decision.pk %}">{{ decision.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans 'No decisions found.' %}</p>
  {% endif %}
 
{% endblock %}
