{% load i18n peachjam_subs %}
{% if lowest_product %}
  {% upsell_url lowest_product as upsell_url %}
  {% if not request.user.is_authenticated %}
    {% url 'account_login' as base_login_url %}
    {% url 'account_signup' as signup_url %}
    {% with next_url=request.htmx.current_url|default:request.path %}
      {% with login_url=base_login_url|add:"?next="|add:next_url %}
        {% block anonymous-user %}
          <p>
            {% blocktrans trimmed with lowest_product=lowest_product.name login_url=login_url signup_url=signup_url %}
              This feature is available only to subscribers.
              <a href="{{ login_url }}">Log in</a> or
              <a href="{{ signup_url }}">Sign up</a>
              and subscribe to <a href="{{ upsell_url }}">{{ lowest_product }}</a> to unlock access.
            {% endblocktrans %}
          </p>
        {% endblock %}
      {% endwith %}
    {% endwith %}
  {% else %}
    {% block authenticated-user %}
      <p>
        {% blocktrans trimmed with lowest_product=lowest_product.name %}
          Your current subscription doesn’t include this feature.
          Please upgrade to <a href="{{ upsell_url }}">{{ lowest_product }}</a> to unlock access.
        {% endblocktrans %}
      </p>
    {% endblock %}
  {% endif %}
{% else %}
  {% block no-product %}
    <p>{% trans "This feature is not currently available." %}</p>
  {% endblock %}
{% endif %}
