<div class="custom-table">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Jurisdiction</th>
    </tr>
    </thead>

    <tbody>
    {% for document in documents %}
    <tr>
      <td><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></td>
      <td>{{ document.date }}</td>
      <td>{{ document.jurisdiction }}</td>
    </tr>
    {% endfor %}

  </table>
</div>

{% include 'africanlii/_pagination.html' %}
