{% load i18n %}
<div>
  {% if ratification.source_url %}
    <p>
      <strong>{% trans 'Source' %}:</strong> <a href="{{ ratification.source_url }}">{{ ratification.source_url }}</a>
    </p>
  {% endif %}
  {% if ratification.last_updated %}
    <p>
      <strong>{% trans 'Last updated' %}:</strong> {{ ratification.last_updated.isoformat }}
    </p>
  {% endif %}
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        {% trans 'Country' %}
        <span class="badge bg-secondary">{{ ratification.countries.count }}</span>
      </th>
      <th>
        {% trans 'Signature Date' %}
        <span class="badge bg-secondary">{{ ratification.n_signed }}</span>
      </th>
      <th>
        {% trans 'Ratification Date' %}
        <span class="badge bg-secondary">{{ ratification.n_ratified }}</span>
      </th>
      <th>
        {% trans 'Deposit Date' %}
        <span class="badge bg-secondary">{{ ratification.n_deposited }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for ratification in ratification.countries.all %}
      <tr>
        <td>{{ ratification.country.name }}</td>
        <td>{{ ratification.signature_date.isoformat }}</td>
        <td>{{ ratification.ratification_date.isoformat }}</td>
        <td>{{ ratification.deposit_date.isoformat }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
