{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}{{ author }}{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'au_detail_page' %}">{% trans 'African Union' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'au_detail_page' %}#au-organs">{% trans 'African Union Organs' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'au_organ_detail_view' author.code %}">{{ author }}</a>
        </li>
      </ol>
    </nav>
  </div>
{% endblock %}
{% block entity-profile %}
  {% with entity_profile=author.au_organ.entity_profile.first entity_profile_title=author.name %}
    {% if entity_profile %}
      <div class="mt-3">{% include 'peachjam/_entity_profile.html' %}</div>
    {% endif %}
  {% endwith %}
{% endblock %}
{% block page-header %}
  <h1 class="mt-4">{{ obj }}</h1>
  {% include 'peachjam/_document_count.html' %}
  {% include 'peachjam/_years_list.html' with showallyears=True %}
{% endblock %}
{% block content %}
  {% if documents %}
    {% include 'peachjam/_document_table.html' %}
  {% else %}
    <p>{% trans 'No documents found.' %}</p>
  {% endif %}
{% endblock %}
