{% extends "peachjam/taxonomy_first_level_detail.html" %}
{% load i18n %}
{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'doc_index_list' %}">{% trans 'Indexes' %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ taxonomy }}</li>
    </ol>
  </nav>
{% endblock %}
