{% extends "peachjam/layouts/main.html" %}
{% load i18n %}

{% block title %} Home {% endblock %}

{% block page-content %}
<section class="pb-5 pt-5">
  <div class="container">
    <p class="lead">
      We digitise the law and policy of the African Governance Architecture and help Africans and the world connect
      with and understand the African Union agenda. Search through {{ documents_count }} AU documents on the AfricanLII platform
    </p>

    <div class="row">
      <div class="col col-lg-6 col-sm-12">
        <form method="get" action="/search/">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Search documents"
                   aria-label="Search documents"
                   aria-describedby="button-addon2"
                   name="q"
            >
            <button class="btn btn-dark" type="submit" id="button-addon2">
              <i class="bi bi-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="pb-5 pt-5 bg-light">
  <div class="container">
    <h2 class="mb-4 heading-underlined">By Authors</h2>
    <div class="row">
      {% for author in recent_documents %}
        <div class="col-md-6 col-sm-12">
          <a href="authors/{{ author.id }}">{{ author.authoring_body.name }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="pb-5 pt-5">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent Judgments</h2>
    {% include 'peachjam/_recent_document_list.html' with documents=recent_judgments view_more_text='View more Judgements' view_more_url_name='judgment_list' %}
  </div>
</div>

<section class="pb-5 pt-5 bg-light">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent AU Documents</h2>
    {% include 'peachjam/_recent_document_list.html' with documents=recent_documents  view_more_text='View more AU Documents' view_more_url_name='generic_document_list' %}
  </div>
</section>

<section class="pb-5 pt-5">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent Legal Instruments</h2>
    {% include 'peachjam/_recent_document_list.html' with documents=recent_instruments view_more_text='View more Legal Instruments' view_more_url_name='legal_instrument_list' %}
  </div>
</section>

<section class="pb-5 pt-5 bg-light">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent treaties and protocols</h2>
    {% include 'peachjam/_recent_document_list.html' with documents=recent_legislation view_more_text='View more Treaties and Protocols' view_more_url_name='legislation_list' %}
  </div>
</section>
{% endblock %}
