{% extends "peachjam/layouts/main.html" %}
{% load i18n %}

{% block title %} Home {% endblock %}

{% block page-content %}
<section class="pb-5 pt-5">
  <div class="container">
    <p>
      We power LIIs in X countries hosting Y documents and serving Z million users a year. We help individuals, organizations,
      and governments build and maintain sustainable free access to law portals, and reach the people of Africa and beyond.
    </p>
    <p>
      The site is based on a series of indexes and collections.
    </p>

    <div class="row">
      <div class="col col-lg-6 col-sm-12">
        <form method="get" action="/search/">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Search indices"
                   aria-label="Search documents"
                   aria-describedby="button-addon2"
                   name="q"
            >
            <button class="btn btn-dark" type="submit" id="button-addon2">
              <i class="bi bi-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="pb-5 pt-5 bg-light">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent Judgements</h2>
      {% if recent_judgments %}
        {% for object in recent_judgments %}
          <a class="mb-2 pill-link" href="{% url 'judgment_detail' object.id %}">
            <div class="pill-link__body">
              {{ object.title }}
            </div>
            <div class="pill-link__icon">
              <i class="text-white bi bi-book"></i>
            </div>
          </a>
        {% endfor %}
      <a class="btn btn-primary stretched-link" href="{% url 'judgment_list' %}">View more Judgements</a>
      {% else %}
        <p>{% trans 'No documents found.' %}</p>
      {% endif %}
  </div>
</div>

<div class="pb-5 pt-5">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent AU Documents</h2>
    {% if recent_documents %}
      {% for object in recent_documents %}
        <a class="mb-2 pill-link" href="{% url 'generic_document_detail' object.id %}">
          <div class="pill-link__body">
            {{ object.title }}
          </div>
          <div class="pill-link__icon">
            <i class="text-white bi bi-book"></i>
          </div>
        </a>
      {% endfor %}
      <a class="btn btn-primary text-white" href="{% url 'generic_document_list' %}">
        View more AU Documents
      </a>
    {% else %}
      <p>{% trans 'No documents found.' %}</p>
    {% endif %}
  </div>
</div>

<div class="pb-5 pt-5 bg-light">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent Legal Instruments</h2>
    {% if recent_instruments %}
      {% for object in recent_instruments %}
        <a class="mb-2 pill-link" href="{% url 'legal_instrument_detail' object.id %}">
          <div class="pill-link__body">
            {{ object.title }}
          </div>
          <div class="pill-link__icon">
            <i class="text-white bi bi-book"></i>
          </div>
        </a>
      {% endfor %}
      <a class="btn btn-primary stretched-link" href="{% url 'legal_instrument_list' %}">View more Legal Instruments</a>
    {% else %}
      <p>{% trans 'No documents found.' %}</p>
    {% endif %}
  </div>
</div>

<div class="pb-5 pt-5 bg-light">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Recent treaties and protocols</h2>
    {% if recent_legislation %}
      {% for object in recent_legislation %}
        <a class="mb-2 pill-link" href="{% url 'legislation_detail' object.id %}">
          <div class="pill-link__body">
            {{ object.title }}
          </div>
          <div class="pill-link__icon">
            <i class="text-white bi bi-book"></i>
          </div>
        </a>
      {% endfor %}
      <a class="btn btn-primary stretched-link" href="{% url 'legislation_list' %}">View more Treaties and Protocols</a>
    {% else %}
      <p>{% trans 'No documents found.' %}</p>
    {% endif %}
  </div>
</div>

<div class="pb-5 pt-5">
  <div class="container">
    <h2 class="mb-4 heading-underlined">Browse our collections</h2>
    <div>
      No collections available
    </div>
  </div>
</div>
{% endblock %}
