{% extends 'africanlii/layouts/judgment.html' %}

{% block title %}Judgment Overview{% endblock %}

{% block judgment_content %}
<div class="container pb-5 pt-5">
  <header>
    <h1>{{ judgment.title }}</h1>
  </header>
  <section>
    <p>{{ judgment.date }}</p>
    <p>{{ judgment.author }}</p>
    <p>{{ judgment.citation }}</p>
    <p>{{ judgment.case_number_string }}</p>
    <p>{{ judgment.document_content }}</p>

    <h4>Sample pdf</h4>
    <div>
      <h4>PDF Prototype</h4>
      <div class="pdf-renderer" data-component="PdfRenderer" data-pdf="/static/docs/sample.pdf">
        <div class="pdf-renderer__previews">
          <div class="pdf-renderer__previews__inner"></div>
        </div>
        <div class="pdf-renderer__content">
        </div>
        <div class="pdf-renderer__right">
          content
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
