{% extends 'africanlii/au_institution_detail.html' %}
{% load i18n %}
{% block title %}{{ rec }}{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'au_detail_page' %}">{% trans 'African Union' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'au_detail_page' %}#rec">{% trans 'Regional Economic Communities' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'rec_detail_view' rec.locality.place_code %}">{{ rec }}</a>
        </li>
      </ol>
    </nav>
  </div>
{% endblock %}
{% block entity-profile %}
  {% with entity_profile=rec.entity_profile.first entity_profile_title=rec.name %}
    {% if entity_profile %}
      {% include 'peachjam/_entity_profile.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}
{% block page-title %}<h1 class="mt-4">{{ rec }}</h1>{% endblock %}
{% block page-header %}
  {{ block.super }}
  {% include 'peachjam/_years_list.html' with showallyears=True %}
{% endblock %}
