{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block newsletter-form %}{% endblock %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
      The Seychelles Legal Information Institute (SeyLII) offers free and anonymous access to case law, legislation and secondary legal materials from the Seychelles.  Access to the letter of the law supports the rule of law, access to justice and economic development. SeyLII is an independent, self-funded organisation and needs your support.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      SeyLII was established in 2012 under the auspices of the Judiciary of Seychelles and with the support of AfricanLII. It became an independent registered association in 2015. SeyLII is a member of the international Free Access to Law Movement and subscribes to the principles of the <a href="http://www.fatlm.org/declaration/">Declaration on Free Access to Law.</a>
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://www.judiciary.sc/" target="_blank" rel="noreferrer">Seychelles Judiciary</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">Open Law Africa</a>
  </div>
  <h6 class="mt-4">{% trans 'With support from' %}</h6>
  <div>
    <a href="https://www.indigotrust.org.uk/"
       target="_blank"
       rel="noreferrer">{% trans 'The Indigo Trust' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII" />
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a href="https://www.indigotrust.org.uk/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/indigo-logo.jpg' %}" alt="Indigo logo" />
    </a>
    <a href="https://www.judiciary.sc/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/judiciary-of-the-seychelles-logo.jpg' %}"
           alt="Judiciary of the Seychelles"/>
    </a>
    <a class="footer-logos__item"
       href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/open-law-africa-footer.png' %}"
           alt="{% trans 'Open Law Africa' %}"/>
    </a>
  </div>
{% endblock %}
