{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="SeyLii" org_link_text="https://seylii.org/" contact_email="info@seylii.org" %}
    {% with who_are_we="The Seychelles Legal Information Institute (SeyLII) offers free and anonymous access to case law, legislation and secondary legal materials from the Seychelles. It was established in 2012 under the auspices of the Judiciary of Seychelles and with the support of AfricanLII." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
