{% extends "peachjam/saved_document/_folders_list.html" %}
{% load i18n %}
{% block folder-list-card-header %}
  {{ block.super }}
  {% if folder.saved_documents.exists %}
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button class="nav-link active"
                id="saved-doc-tab-{{ folder.pk }}"
                data-bs-toggle="tab"
                data-bs-target="#saved-docs-{{ folder.pk }}"
                type="button"
                role="tab"
                aria-controls="saved-docs-{{ folder.pk }}"
                aria-selected="true">
          {% trans 'Saved documents' %}
        </button>
      </li>
      {% if perms.peachjam_ml.view_documentembedding %}
        <li class="nav-item">
          <button class="nav-link"
                  id="similar-docs-tab-{{ folder.pk }}"
                  data-bs-toggle="tab"
                  data-bs-target="#similar-docs-{{ folder.pk }}"
                  hx-target="#similar-docs-list-{{ folder.pk }}"
                  hx-get="{% url 'folder_similar_docs' folder.pk %}"
                  type="button"
                  role="tab"
                  aria-controls="similar-docs-{{ folder.pk }}"
                  aria-selected="false">
            {% trans 'Suggested for this folder' %}
            <i class="bi-pj pj-ai"></i>
          </button>
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
{% block folder-list-card-body %}
  <div class="tab-content">
    <div class="tab-pane show active"
         id="saved-docs-{{ folder.pk }}"
         role="tabpanel"
         aria-labelledby="saved-doc-tab-{{ folder.pk }}">
      {{ block.super }}
    </div>
    {% if perms.peachjam_ml.view_documentembedding %}
      <div class="tab-pane"
           id="similar-docs-{{ folder.pk }}"
           role="tabpanel"
           aria-labelledby="similar-docs-tab-{{ folder.pk }}">
        <div id="similar-docs-list-{{ folder.pk }}" class="spinner-when-empty"></div>
      </div>
    {% endif %}
  </div>
{% endblock %}
