{% extends "peachjam/saved_document/_folders_list.html" %}
{% load i18n %}
{% block folder-list %}
  {% for folder in folders %}
    <div class="card mb-5">
      <div class="card-header">
        <h5>
          <i class="bi bi-folder"></i> {{ folder.name }}
        </h5>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <button class="nav-link active"
                    id="saved-doc-tab-{{ folder.pk }}"
                    data-bs-toggle="tab"
                    data-bs-target="#saved-docs-{{ folder.pk }}"
                    type="button"
                    role="tab"
                    aria-controls="saved-docs-{{ folder.pk }}"
                    aria-selected="true">
              {% trans 'Saved documents' %}
            </button>
          </li>
          {% if perms.peachjam_ml.view_documentembedding %}
            <li class="nav-item">
              <button class="nav-link"
                      id="similar-docs-tab-{{ folder.pk }}"
                      data-bs-toggle="tab"
                      data-bs-target="#similar-docs-{{ folder.pk }}"
                      hx-target="#similar-docs-list-{{ folder.pk }}"
                      hx-get="{% url 'folder_similar_docs' folder.pk %}"
                      type="button"
                      role="tab"
                      aria-controls="similar-docs-{{ folder.pk }}"
                      aria-selected="false">
                {% trans 'Suggested for this folder' %}
                <i class="bi-pj pj-ai text-purple-500"></i>
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active"
               id="saved-docs-{{ folder.pk }}"
               role="tabpanel"
               aria-labelledby="saved-doc-tab-{{ folder.pk }}">
            {% for saved_document in folder.saved_documents.all %}
              {% include "peachjam/saved_document/_folder_list_item.html" %}
            {% empty %}
              <p>{% trans 'No saved documents.' %}</p>
            {% endfor %}
          </div>
          {% if perms.peachjam_ml.view_documentembedding %}
            <div class="tab-pane fade"
                 id="similar-docs-{{ folder.pk }}"
                 role="tabpanel"
                 aria-labelledby="similar-docs-tab-{{ folder.pk }}">
              <div id="similar-docs-list-{{ folder.pk }}"></div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="card-footer d-flex">
        {% if perms.peachjam.download_folder %}
          <a href="{% url 'folder_download' folder.id %}"
             target="_blank"
             class="btn btn-primary me-2">
            {% trans 'Download to Excel' %}
          </a>
        {% endif %}
        <input id="folder_{{ forloop.counter }}"
               type="hidden"
               name="name"
               value="{{ folder.name }}"/>
        <button class="btn btn-outline-danger me-2 ms-auto"
                type="button"
                hx-post="{% url 'folder_delete' folder.id %}"
                hx-target="#folders-list"
                hx-include="#folder_{{ forloop.counter }}"
                hx-confirm="{% trans "Are you sure you want to delete this folder? All saved documents in this folder will also be deleted." %}">
          {% trans 'Delete' %}
        </button>
        <button class="btn btn-secondary"
                type="button"
                hx-post="{% url 'folder_update' folder.id %}"
                hx-target="#folders-list"
                hx-prompt="Edit folder name">
          {% trans 'Rename' %}
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}
