{% extends 'peachjam/emails/layouts/base.html' %}
{% load i18n peachjam %}
{% block body %}
  {% if user.first_name %}
    <p>{% blocktrans with name=user.first_name %}Hello {{ name }},{% endblocktrans %}</p>
  {% endif %}
  {% block alert-body %}{% endblock %}
  <p>&nbsp;</p>
  <p class="email-signoff">{% blocktrans %}The {{ APP_NAME }} Team{% endblocktrans %}</p>
  {% if email_alert_frequency %}
    <p>
      <small>{% blocktrans with frequency=email_alert_frequency my_lii=MY_LII %}You're receiving {{ my_lii }} updates {{ frequency }}.{% endblocktrans %}</small>
    </p>
  {% endif %}
  <p>
    <small>
      <a href="{% absolute_url site manage_url_path %}?utm_campaign={{ utm_campaign|default:'following' }}&utm_source=alert&utm_medium=email">{% trans "Manage alerts and delivery preferences" %}</a>
    </small>
  </p>
{% endblock %}
{% block footer %}{% endblock %}
