{% load i18n %}
<div id="search" class="row justify-content-center">
  <div class="col col-md-10 col-lg-8">
    <form method="get" action="{% url 'search:search' %}" class="d-flex mb-2">
      <input type="text"
             class="form-control form-control-lg flex-grow-1"
             placeholder="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
             aria-label="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
             {% if SEARCH_SUGGESTIONS %}data-component="SearchTypeahead"{% endif %}
             name="q"/>
      <input type="submit"
             class="btn btn-primary ms-2 btn-lg"
             value="{% trans 'Search' %}"/>
    </form>
    <div class="d-flex">
      <a class="me-4" href="{% url 'search:search' %}?show-advanced-tab=1">{% trans 'Advanced search' %}</a>
      {% include "peachjam/_help_button.html" with help_link="search" %}
    </div>
  </div>
</div>
