{% extends "peachjam/home.html" %}
{% load i18n static %}
{% block title %}
  {% trans 'Home' %}
{% endblock %}
{% block page-content %}
  <section class="hero">
    {% block hero-img %}
      <img class="hero__background-img"
           src="{% static 'images/banner.jpg' %}"
           srcset="{% static 'images/banner-small.jpg' %} 770w,
                   {% static 'images/banner.jpg' %} 1920w"
           sizes="100vw"
           alt="{{ APP_NAME }}"
           height="40"/>
    {% endblock %}
    <div class="hero__content">
      <div class="row">
        <div class="col-lg-8 col-12">
          {% block hero-content %}
            {% block hero-headings %}<h1 class="mb-4">{{ APP_NAME }}</h1>{% endblock %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 hero-search">
    <div class="container">
      {% block hero-search %}
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <form method="get" action="{% url 'search:search' %}" class="d-flex mb-2">
              <input type="text"
                     class="form-control form-control-lg flex-grow-1"
                     placeholder="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                     aria-label="{% blocktrans %}Search {{ APP_NAME }}{% endblocktrans %}"
                     aria-describedby="button-addon2"
                     autofocus=""
                     name="q"/>
              <input type="submit"
                     class="btn btn-primary ms-2 btn-lg"
                     value="{% trans 'Search' %}"/>
            </form>
            <a href="{% url 'search:search' %}?show-advanced-tab=1">{% trans 'Advanced search' %}</a>
          </div>
        </div>
      {% endblock %}
    </div>
  </section>
  <section class="mt-2">
    <div class="container">
      <div class="row justify-content-center hero-logos mt-5 mb-3">
        {% block hero-logos %}
          <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
          <img src="{% static 'images/laws-africa-logo.png' %}" alt="Laws.Africa"/>
        {% endblock %}
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9">
          {% block first-column-content %}
            <section class="pb-3 pt-3">
              <h2 class="mb-4 heading-underlined">{% trans 'Recent Judgments' %}</h2>
              {% trans 'View more judgments' as text %}
              {% include 'peachjam/_recent_document_list.html' with documents=recent_judgments view_more_text=text view_more_url_name='judgment_list' %}
            </section>
            <section class="pb-3 pt-3">
              <h2 class="mb-4 heading-underlined">{% trans 'Recent Legislation' %}</h2>
              {% trans 'View more legislation' as text %}
              {% include 'peachjam/_recent_document_list.html' with documents=recent_legislation view_more_text=text view_more_url_name='legislation_list' %}
            </section>
          {% endblock %}
        </div>
        <div class="col-12 col-lg-3">
          {% block second-column-content %}
            {% block second-col-about %}{% endblock %}
            {% block second-col-logos %}{% endblock %}
            {% if PEACHJAM_SETTINGS.facebook_link or PEACHJAM_SETTINGS.twitter_link %}
              {% block social-media %}
                {% include 'peachjam/_social_media.html' %}
              {% endblock %}
            {% endif %}
            <ul class="nav nav-tabs about-tabs d-flex justify-content-center justify-content-lg-start"
                role="tablist">
              {% block facebook-tab %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link fb-nav-link"
                          id="facebook-tab"
                          data-bs-toggle="tab"
                          data-bs-target="#facebook-tab-content"
                          type="button"
                          role="tab"
                          aria-controls="facebook"
                          aria-selected="false">
                    <i class="bi bi-facebook facebook-forecolor"></i>
                    <span class="facebook-forecolor">{% trans 'Facebook' %}</span>
                  </button>
                </li>
              {% endblock %}
            </ul>
            <div class="tab-content">
              {% block facebook-pane %}
                <div class="tab-pane fade"
                     id="facebook-tab-content"
                     role="tabpanel"
                     aria-labelledby="facebook-tab-content">
                  <div class="d-flex justify-content-center justify-content-lg-start">
                    <iframe width="248px"
                            height="400px"
                            frameborder="0"
                            allowtransparency="true"
                            allowfullscreen="true"
                            scrolling="no"
                            allow="encrypted-media"
                            src="{% block facebook-url %} https://www.facebook.com/v7.0/plugins/page.php?adapt_container_width=true&amp;app_id=323754998056442&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfff64532b89928%26domain%3Dlawlibrary.org.za%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flawlibrary.org.za%252Ff3480a77dff53bc%26relation%3Dparent.parent&amp;container_width=248&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fafricanlii%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=248 {% endblock %}"
                            style="border: none;
                                   visibility: visible;
                                   width: 248px;
                                   height: 400px">
                    </iframe>
                  </div>
                </div>
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
      <div>
        {% block lower-row-content %}
          <section class="pb-3 pt-3">
            <h2 class="mb-4 heading-underlined">{% trans 'Courts' %}</h2>
            {% include 'peachjam/_court_list.html' %}
          </section>
          <section class="pb-3 pt-3">
            <h2 class="mb-4 heading-underlined">{% trans 'Collections' %}</h2>
            {% include 'peachjam/_taxonomy_list.html' %}
          </section>
          {% if PEACHJAM_SETTINGS.pocket_law_repo %}
            {% block pocketlaw %}
              <section class="py-5">
                <div class="row">
                  <div class="col-sm-3 mb-3">
                    <img src="{% static 'images/pocketlaw-logo.png' %}"
                         alt="Pocket Law"
                         class="img-fluid"/>
                  </div>
                  <div class="col-sm-9 ps-sm-5">
                    <h2 class="mb-4">{% blocktrans trimmed %}Use {{ APP_NAME }} when you're offline{% endblocktrans %}</h2>
                    <p class="lead">
                      {% blocktrans trimmed %}
                        Pocket Law is an offline copy of the caselaw, legislation and other legal materials from {{ APP_NAME }}.
                      {% endblocktrans %}
                    </p>
                    <a href="{% url 'pocketlaw' %}" class="btn btn-lg btn-primary">Pocket Law</a>
                  </div>
                </div>
              </section>
            {% endblock %}
          {% endif %}
          {% if recent_articles %}
            <section class="pb-5 pt-5">
              <h2 class="mb-4 heading-underlined">{% trans 'Latest Articles' %}</h2>
              {% include 'peachjam/_article_list.html' with articles=recent_articles %}
              <a class="mt-3 btn btn-primary" href="{% url 'article_list' %}">{% trans "View more articles" %}</a>
            </section>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}
