{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}
  {% trans 'Legislation' %}
{% endblock %}
{% block page-title %}
  {% if not entity_profile %}
    <h1 class="my-4">{% trans 'Legislation' %}</h1>
  {% endif %}
{% endblock %}
{% block count-and-search %}
  <div class="row mb-4">
    <div class="col-12 col-sm-6 col-lg-8 mb-2">
      {% block help %}
        {% if help_link %}
          {% include "peachjam/_help_button.html" %}
        {% endif %}
      {% endblock %}
      {% if show_more_resources %}
        <h5>{% trans "More resources" %}</h5>
        <ul class="list-unstyled">
          {% if show_unconstitutional_provisions %}
            <li>
              <a href="{% url "unconstitutional_provision_list" %}">{% trans "Unconstitutional provisions" %}</a>
            </li>
          {% endif %}
          {% if show_uncommenced_provisions %}
            <li>
              <a href="{% url "uncommenced_provision_list" %}">{% trans "Uncommenced provisions" %}</a>
            </li>
          {% endif %}
          {% if show_glossary %}
            <li>
              <a href="{% url "glossary" place_code=place_code %}">{% trans "Glossary of defined terms" %}</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-2">
      {% block quick-search %}
        {% include 'peachjam/_quick_search.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
{% block alerts %}
  {% if view.variant == 'repealed' %}
    <div class="alert alert-danger">{% trans 'You are viewing repealed legislation which is no longer in force.' %}</div>
  {% endif %}
{% endblock %}
{% block nav-tabs %}
  <nav class="nav nav-tabs mb-3 border-bottom">
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'current' %}active{% endif %}"
         href="{% url 'legislation_list' %}">
        {% block current_tab_title %}
          {% trans 'Current legislation' %}
        {% endblock %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'recent' %}active{% endif %}"
         href="{% url 'legislation_list_recent' %}">
        {% block recent_tab_title %}
          {% trans 'Recent legislation' %}
        {% endblock %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'subleg' %}active{% endif %}"
         href="{% url 'legislation_list_subsidiary' %}">
        {% block sublegislation_tab_title %}{{ PEACHJAM_SETTINGS.subleg_label }}{% endblock %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'uncommenced' %}active{% endif %}"
         href="{% url 'legislation_list_uncommenced' %}">
        {% block uncommenced_tab_title %}
          {% trans 'Uncommenced legislation' %}
        {% endblock %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'repealed' %}active{% endif %}"
         href="{% url 'legislation_list_repealed' %}">
        {% block repealed_tab_title %}
          {% trans 'Repealed legislation' %}
        {% endblock %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'all' %}active{% endif %}"
         href="{% url 'legislation_list_all' %}">
        {% trans 'All legislation' %}
      </a>
    </li>
  </nav>
{% endblock %}
