{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Legislation' %}
{% endblock %}
{% block page-content %}
  <section class="pb-5">
    <div class="container">
      {% block breadcrumbs %}{% endblock %}
      {% block page-heading %}
        <h1 class="my-4">{% trans 'Legislation' %}</h1>
      {% endblock %}
      {% block legislation-nav %}
        <nav class="nav nav-tabs scroll-xs mb-3 border-bottom">
          <li class="nav-item">
            <a class="nav-link {% if view.variant == 'current' %}active{% endif %}"
               href="{% url 'legislation_list' %}">
              {% trans 'Current legislation' %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view.variant == 'repealed' %}active{% endif %}"
               href="{% url 'legislation_list_repealed' %}">
              {% trans 'Repealed legislation' %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view.variant == 'subleg' %}active{% endif %}"
               href="{% url 'legislation_list_subsidiary' %}">
              {{ PEACHJAM_SETTINGS.subleg_label }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view.variant == 'all' %}active{% endif %}"
               href="{% url 'legislation_list_all' %}">
              {% trans 'All legislation' %}
            </a>
          </li>
        </nav>
      {% endblock %}
      {% include "peachjam/_help_popover.html" with link="#" btn_text=help_button_text content=legislation_help_text %}
      {% if view.variant == 'repealed' %}
        <div class="alert alert-danger">{% trans 'You are viewing repealed legislation which is no longer in force.' %}</div>
      {% endif %}
      <div data-vue-component="LegislationTable" data-show-side-facets>
        {% comment %}
        This ensures that peachjam has links to scrape. This content is replaced when the javacript LegislationTable
        component runs.
        {% endcomment %}
        <ul>
          {% for item in legislation_table %}
            <li>
              <a href="{{ item.work_frbr_uri }}">{{ item.title }}</a>
              {% if item.children %}
                <ul>
                  {% for kid in item.children %}
                    <li>
                      <a href="{{ kid.work_frbr_uri }}">{{ kid.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {{ legislation_table|json_script:"legislation-table" }}
    </div>
  </section>
{% endblock %}
