{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}
{% block title %}{{ page_heading }}{% endblock %}
{% block page-title %}
  {% if not entity_profile %}
    <div class="my-4">
      <h1 id="main-page-heading">{{ page_heading }}</h1>
      <p class="lead mb-0">{{ page_description }}</p>
    </div>
  {% endif %}
{% endblock %}
{% block count-and-search %}{% endblock %}
{% block alerts %}
  {% if view.variant == 'repealed' %}
    <div class="alert alert-danger">{% trans 'You are viewing repealed legislation which is no longer in force.' %}</div>
  {% endif %}
{% endblock %}
{% block nav-tabs %}{% endblock %}
