{% extends "liiweb/legislation_list.html" %}
{% load i18n peachjam %}
{% block title %}{{ locality_legislation_title }}{% endblock %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
        </li>
        {% block breadcrumbs-locality %}
          <li class="breadcrumb-item">
            <a href="{% url 'locality_legislation' %}">{{ locality_legislation_title }}</a>
          </li>
        {% endblock %}
        <li class="breadcrumb-item active" aria-current="page">{{ locality.name }}</li>
      </ol>
    </nav>
  </div>
{% endblock %}
{% block nav-tabs %}
  <nav class="nav nav-tabs mb-3 border-bottom">
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'current' %}active{% endif %}"
         href="{% url 'locality_legislation_list' locality.place_code %}">
        {% block current_tab_title %}
          {% trans "Current legislation" %}
        {% endblock %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'repealed' %}active{% endif %}"
         href="{% url 'locality_legislation_list_repealed' locality.place_code %}">{% trans "Repealed legislation" %}</a>
    </li>
    {% if show_subleg %}
      <li class="nav-item">
        <a class="nav-link {% if view.variant == 'subleg' %}active{% endif %}"
           href="{% url 'locality_legislation_list_subsidiary' locality.place_code %}">{{ PEACHJAM_SETTINGS.subleg_label }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link {% if view.variant == 'all' %}active{% endif %}"
         href="{% url 'locality_legislation_list_all' locality.place_code %}">{% trans "All legislation" %}</a>
    </li>
  </nav>
{% endblock %}
{% block page-title %}
  {% if not entity_profile %}
    <div class="my-4">
      <h1>{{ page_heading }}</h1>
      {% block follow-button %}
        <div hx-get="{% url 'user_following_button' %}?{{ locality|get_follow_params }}"
             hx-trigger="load"></div>
      {% endblock %}
    </div>
  {% endif %}
{% endblock %}
{% block count-and-search %}
  <div class="row mb-4">
    <div class="col-12 col-sm-6 col-lg-8 mb-2">
      {% if help_link %}
        {% include "peachjam/_help_button.html" %}
      {% endif %}
      {% if show_more_resources or show_glossary %}
        <h5>{% trans "More resources" %}</h5>
        <ul class="list-unstyled">
          {% if show_unconstitutional_provisions %}
            <li>
              <a href="{% url "unconstitutional_provision_list" %}">{% trans "Unconstitutional provisions" %}</a>
            </li>
          {% endif %}
          {% if show_uncommenced_provisions %}
            <li>
              <a href="{% url "uncommenced_provision_list" %}">{% trans "Uncommenced provisions" %}</a>
            </li>
          {% endif %}
          {% if show_glossary %}
            <li>
              <a href="{% url "glossary" place_code=place_code %}">{% trans "Glossary of defined terms" %}</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-2">{% include 'peachjam/_quick_search.html' %}</div>
  </div>
{% endblock %}
