{% extends "liiweb/home.html" %}
{% load static i18n %}
{% block hero-headings-title %}
  {% trans 'Welcome to the digital Law Library of South Africa' %}
{% endblock %}
{% block hero %}
  {% block hero-search %}
    <section class="pt-5 pb-3 hero-search">
      <div class="container">{% include 'liiweb/_hero_search.html' %}</div>
    </section>
  {% endblock %}
  <section class="pt-5 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2>Law Library South Africa</h2>
          <p class="h4 mt-4">The most comprehensive collection of free legal information in South Africa.</p>
        </div>
        <div class="col-3 col-lg-2 offset-lg-1 text-center">
          <img src="{% static 'images/hero-logo.jpg' %}"
               class="img-fluid"
               alt="Law Library logo"/>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block about %}{% endblock %}
{% block pocketlaw %}
  {% include 'liiweb/_donate_call_to_action.html' %}
  {{ block.super }}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 mb-3">
          <img src="{% static 'images/concompass-logo.png' %}"
               alt="Constitution Compass"
               class="img-fluid"/>
        </div>
        <div class="col-sm-9 ps-sm-5">
          <h2 class="mb-4">Constitution Compass</h2>
          <p class="lead">
            The Constitution App for Members of Parliament. Browse, search and understand the South African Constitution and how it applies to everyone. Continuously updated and curated Constitution, plain language guides and case summaries, and Rules of the National Assembly.
          </p>
          <a href="https://constitutioncompass.org.za/"
             class="btn btn-lg btn-primary"
             target="_blank">Constitution Compass</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
