{% extends "liiweb/home.html" %}
{% load static i18n %}
{% block hero-headings-title %}Law Library South Africa{% endblock %}
{% block hero-headings-welcome %}
  The most comprehensive collection of free legal information in South Africa.
{% endblock %}
{% block hero-images %}
  <img src="{% static 'images/hero-logo.jpg' %}"
       class="img-fluid"
       alt="Law Library logo"/>
{% endblock %}
{% block frequently-used %}
  <div class="container pt-2">
    <div class="mt-3 d-lg-none row row-cols-2">
      <div class="col mb-2">
        <a href="{% url 'judgment_list' %}" class="btn btn-primary d-block">Judgments</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'legislation_list' %}" class="btn btn-primary d-block">National Legislation</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'locality_legislation' %}"
           class="btn btn-primary d-block">Provincial Legislation</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'municipal_legislation' %}"
           class="btn btn-primary d-block">Municipal By-laws</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'gazettes' %}" class="btn btn-primary d-block">Gazettes</a>
      </div>
      <div class="col mb-2">
        <a href="{% url 'first_level_taxonomy_list' 'collections' %}"
           class="btn btn-primary d-block">Collections</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block about %}{% endblock %}
{% block pocketlaw %}
  {% include 'liiweb/_donate_call_to_action.html' %}
  {{ block.super }}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 mb-3">
          <img src="{% static 'images/concompass-logo.png' %}"
               alt="Constitution Compass"
               class="img-fluid"/>
        </div>
        <div class="col-sm-9 ps-sm-5">
          <h2 class="mb-4">Constitution Compass</h2>
          <p class="lead">
            The Constitution App for Members of Parliament. Browse, search and understand the South African Constitution and how it applies to everyone. Continuously updated and curated Constitution, plain language guides and case summaries, and Rules of the National Assembly.
          </p>
          <a href="https://constitutioncompass.org.za/"
             class="btn btn-lg btn-primary"
             target="_blank">Constitution Compass</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
