{% extends 'liiweb/locality_legislation_list.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url "home_page" %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ breadcrumb_link }}">{{ locality_legislation_title }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ locality.name }}</li>
      </ol>
    </nav>
  </div>
{% endblock %}
{% block page-title %}<h1 class="my-4">{{ page_heading }}</h1>{% endblock %}
