.theme-peachjam {
  // jazzmin adds p-5 everywhere :(
  .card .card-body.p-5 {
    padding: $card-spacer-x !important;
  }

  // make .table act like .table-sm
  .table {
    th,
    td {
      padding: $table-cell-padding-sm;
    }
  }


  // django overrides
  .related-widget-wrapper select {
    font-size: $font-size-base;
  }

  // form fields must use smaller font size
  .vTextField,
  .vLargeTextField,
  .vURLField,
  .vIntegerField,
  .vBigIntegerField,
  .vForeignKeyRawIdAdminField,
  .vDateField,
  .vTimeField,
  .field-float input[type="number"],
  .field-decimal input[type="number"],
  .field-time input[type="text"],
  .field-duration input[type="text"],
  .field-identifier input[type="text"],
  .field-generic_ip_address input[type="text"],
  .field-null_boolean select,
  .field-file_path select {
    font-size: $font-size-base;
  }

  // text inputs should be wide
  .form-group, .form-row {
    .vTextField,
    .vLargeTextField,
    .vURLField,
    input[type="text"] {
      width: 100%;
    }
  }

  .main-sidebar .brand-link .brand-image {
    display: none;
  }

  form .form-group .col-sm-7 {
    // mimic col-9
    flex: 0 0 75%;
    max-width: 75%;
  }

  form la-toc-item label {
    font-weight: normal !important;
  }
}
