{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-logos %}
  <div class="d-flex justify-content-between">
    <img height="26"
         class="me-4"
         src="{% static 'images/africanlii-logo.svg' %}"
         alt="africanlii-logo"/>
    <img height="26"
         src="{% static 'images/laws-africa-logo.png' %}"
         alt="laws-logo"/>
    <img height="26"
         src="{% static 'images/tci-logo.png' %}"
         alt="indigo-logo"/>
  </div>
{% endblock %}
{% block hero-headings %}
  <h1 class="mb-4">{% trans 'Welcome to the Turks and Caicos Islands LII' %}</h1>
  <h4 class="mb-4">
    {% blocktrans trimmed %}
      TCILII is a website of the Judiciary and publishes judgments from the Turks and Caicos Islands for free online access.
    {% endblocktrans %}
  </h4>
{% endblock %}
{% block second-col-about %}
  <div>
    <strong>{% trans 'About' %}</strong>
  </div>
  <p>
    {% blocktrans trimmed %}
    TCILII is a website of the Judiciary of the Turks and Caicos Islands.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-col-logos %}
  <div class="d-flex justify-content-between mb-4 mb-lg-4">
    <img height="26"
         class="me-4"
         src="{% static 'images/africanlii-logo.svg' %}"
         alt="africanlii-logo"/>
    <img height="26"
         src="{% static 'images/laws-africa-logo.png' %}"
         alt="laws-logo"/>
    <img height="26"
         src="{% static 'images/tci-logo.png' %}"
         alt="indigo-logo"/>
  </div>
{% endblock %}
