{% extends 'peachjam/_footer.html' %}
{% load static i18n %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
      TCILII is a Judiciary-led initiative, which champions the provision of access to quality justice in Turks and Caicos Islands (TCI).
      The initiative is to ensure that legal practitioners and the public alike, have free access to legal material necessary to advance and inform the protection of their legal rights.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      TCILII has provided a mechanism by which electronic publication of judgments and other sources of law can be accessed in one location.
      It provides subscription-free access to the comprehensive set of local TCI judgments, as well as links to primary legal material including judicial writings and updated legislation.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      Free access to legal information is a primary tenet of any sound justice system. We seek to serve the community in the TCI and beyond.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <br/>
  <h5>{% trans 'World Law Resources' %}</h5>
  <div>
    <a href="https://www.jcpc.uk/decided-cases/index.html">{% trans 'Judicial Committee of the Privy Council' %}</a>
  </div>
  <div>
    <a href="http://www.commonlii.org/resources/55912.html">{% trans 'Caribbean Law Project' %}</a> (CommonLII)
  </div>
  <div>
    <a href="https://www.bailii.org/">{% trans 'British and Irish Legal Information Institute' %}</a> (UK Law)
  </div>
  <div>
    <a href="https://www.law.cornell.edu/">{% trans 'Legal Information Institute' %}</a> (US Law)
  </div>
  <div>
    <a href="https://www.canlii.org/en/">{% trans 'Canadian Legal Information Institute' %}</a> (CanLII)
  </div>
  <div>
    <a href="https://africanlii.org/">{% trans 'African Legal Information Institute' %}</a> (AfricanLII)
  </div>
{% endblock %}
{% block third-content-column %}
  <div class="card mt-4" style="width: 18rem;">
    <img class="card-img-top"
         src="{% static 'images/tciflag.png' %}"
         alt="Card image cap"/>
  </div>
  <br/>
  <h5>{% trans 'Useful Links' %}</h5>
  <div>
    <a href="https://judicial.tc/">{% trans 'Judiciary of Turks and Caicos Islands' %}</a>
  </div>
  <div>
    <a href="https://www.gov.tc/agc/">{% trans 'Attorney General of Turks and Caicos Islands' %}</a>
  </div>
  <div>
    <a href="https://www.gov.tc/">{% trans 'Government of Turks and Caicos Islands' %}</a>
  </div>
  <div>
    <a href="https://www.gov.tc/hoa/">{% trans 'House of Assembly: Government of the Turks and Caicos Islands' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII" />
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a href="https://new.tcilii.org/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/judiciary_logo.png' %}" alt="TCILII"/>
    </a>
  </div>
{% endblock %}
