{% extends "peachjam/about.html" %}
{% load i18n %}
{% block about-top-content %}
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      ZambiaLII is a pioneer in the free access to law movement and serves as a reliable and timely source of judicial decisions, legislation and statutory instruments.
      Since 2012, ZambiaLII has been hosted by the <a href="https://saipar.org/" target="_blank">Southern African Institute for Policy and Research (SAIPAR)</a>, an independent, educational and development oriented research centre.
    {% endblocktrans %}
  </p>
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      ZambiaLII’s three overarching goals are to:
      <ul>
        <li>Provide free and open access to Zambian law</li>
        <li>Gain support for the free access to law movement and draw involvement from all significant justice sector stakeholders</li>
        <li>Develop and execute related projects for sustainable operation</li>
      </ul>
    {% endblocktrans %}
  </p>
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      As the sole conduit of free and easy access to legal materials in Zambia, ZambiaLII fulfils a unique and critical need— both within and beyond the legal community.
      ZambiaLII is one of a number of international affiliates of AfricanLII and is considered one of the only legal databases in Zambia freely available to the public.
    {% endblocktrans %}
  </p>
  <p class="mb-4 font-weight-bold">
    {% blocktrans trimmed %}
      Where does ZambiaLII get its legal sources from?
    {% endblocktrans %}
  </p>
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      ZambiaLII collects cases indirectly from the Zambian judiciary website, directly from the IT department of the Zambian judiciary, and the Zambian Law Reporting Commission.
      Acts of Parliament are downloaded from the website of the National Assembly of Zambia. Our goal is to keep this information timely and accurate.
      If errors are brought to our attention, we will try to correct them.
    {% endblocktrans %}
  </p>
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      This information is:
      <ul>
        <li>Not necessarily comprehensive, complete, accurate or up to date</li>
        <li>Sometimes linked to external sites over which ZambiaLII has no control and for which ZambiaLII assumes no responsibility</li>
        <li>Not professional or legal advice (if you need specific advice, you should always consult a suitably qualified professional)</li>
      </ul>
    {% endblocktrans %}
  </p>
  <p class="mb-4 font-weight-bold">
    {% blocktrans trimmed %}
      I can’t find a case that I am looking for on ZambiaLII, can I request a copy?
    {% endblocktrans %}
  </p>
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      We are sorry you were unable to find the case you are looking for.  We currently have an incomplete set of cases online, and due to case availability challenges at the courts, bridging these gaps is not as easy as we would like.
      However, we are working on this and hope to have a complete set in due course. Please do use the search function available on ZambiaLII to ascertain if it the case is available within our database.
      Due to human resource constraints we are unfortunately unable to assist in the sourcing of missing cases.

    {% endblocktrans %}
  </p>
  <p class="mb-4 font-weight-bold">
    {% blocktrans trimmed %}
     I have a legal query and want some legal advice, can you help?
    {% endblocktrans %}
  </p>
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      We do not render professional or legal advice. You may wish to read the relevant statute and case law and understand the provisions in relation to your question. If you need specific advice, you should always consult a suitably qualified professional.
      The Law Association of Zambia Secretariat can assist in the recommendation of an appropriate law firm to assist. Their contact details are as <a href="#contact">below:</a>
    {% endblocktrans %}
  </p>
  <p class="mb-4 font-weight-bold">
    {% blocktrans trimmed %}
     I am looking for support in finding information about a particular legal topic; do you offer research assistance?
    {% endblocktrans %}
  </p>
  <p class="lead mb-4">
    {% blocktrans trimmed %}
      ZambiaLII makes every effort to provide a high quality service and our goal is to keep the information timely and accurate.
      We hope that the search function is able to support the investigation into specific areas of law but due to human resource constraints we are unable to offer any further research assistance at this time.
    {% endblocktrans %}
  </p>
  <h2 class="mb-4">AfricanLII</h2>
  <p class="mb-4">
    {% blocktrans trimmed %}
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer noopener">AfricanLII</a> is a part of the
    <a href="http://www.dgru.uct.ac.za/" target="_blank" rel="noreferrer noopener">Democratic
      Governance and Rights Unit</a> at the Faculty of Law, University of Cape Town
    (UCT), South Africa. AfricanLII helps individuals, organizations, and governments build and maintain sustainable
    free access to law portals, and reach the people of Africa and beyond.
  {% endblocktrans %}
  </p>
  <h2 class="mb-4">Laws.Africa</h2>
  <p class="mb-4">
    {% blocktrans trimmed %}
    <a href="https://laws.africa/" target="_blank" rel="noreferrer noopener">Laws.Africa</a> is a South Africa
    non-profit organisation that digitises African legal information for public use.
    Open access to digital African legal information helps communities to thrive, businesses to succeed, and judicial
    officers and civil servants to deliver services efficiently and effectively.
  {% endblocktrans %}
  </p>
  <h2 class="mb-4" id="contact">{% trans 'Contact us' %}</h2>
  <p class="mb-4">
    {% blocktrans trimmed %}
      Contact us on <a href="mailto:info@laz.org.zm">info@laz.org.zm</a> for more information.
      <address>
        <strong>Law Association of Zambia</strong><br>
        No. 1 Lagos Road<br>
        Next to Old Cemetery, Rhodespark, Lusaka<br>
        P.O. Box 35271<br>
        <abbr title="Telephone">Telephone:</abbr> 260-21 1-254401/252168 <br>
        <abbr title="Cellphone">Cellphone:</abbr> 260-977-771111/0978-773047
        <email></email>
      </address>
    {% endblocktrans %}
  </p>
{% endblock %}
