{% extends "peachjam/_footer.html" %}
{% load i18n static %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
      ULII is a project of the Law Reporting Committee of the Judiciary of Uganda.
      ULII aims to bridge the existing gap in public access to the law of Uganda.
      Working with the AfricanLII and in collaboration with other partners, such as the Free Access to Law Movement, ULII's major aim is to be a user-friendly portal of all publicly available legal information in Uganda.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      The Judiciary of Uganda considers access to its decisions and the law upon which they are based as key tenets of its key mission:<strong><em>Justice for All</em></strong> .
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      ULII is also an end user interface for the Electronic Court Case Management Information System.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://judiciary.go.ug/" target="_blank" rel="noreferrer">{% trans 'Uganda Judiciary' %}</a>
  </div>
  <div>
    <a href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">Open Law Africa</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://www.lac.org.na"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/judiciary_uganda_logo.png' %}"
           alt="judiciary_of_uganda_logo"/>
    </a>
    <a class="footer-logos__item"
       href="https://www.openlawafrica.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/open-law-africa-footer.png' %}"
           alt="{% trans 'Open Law Africa' %}"/>
    </a>
  </div>
{% endblock %}
