{% load i18n %}
<form role="search">
  <div class="d-flex">
    <input id="flynote-search"
           type="search"
           name="q"
           class="form-control"
           placeholder="{% trans 'Filter topics' %}"
           aria-label="{% trans 'Filter topics' %}"
           value="{{ request.GET.q|default:'' }}"
           hx-get="{{ request.path }}"
           hx-trigger="input changed delay:400ms, search"
           hx-target="{{ htmx_target }}"
           hx-indicator=".htmx-progress"/>
  </div>
</form>
