{% load humanize i18n peachjam %}
{% if flynotes %}
  <div id="flynote-list-group"
       class="list-group list-group-flush"
       {% if more %} hx-swap-oob="beforeend:#flynote-list-group"{% endif %}>
    {% for item in flynotes %}
      <a href="{% url 'flynote_detail' item.flynote.pk %}"
         class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-primary">
        <div>
          {{ item.flynote.name }}
          {% if item.child_names %}<small class="text-muted d-block">{{ item.child_names|join:", " }}</small>{% endif %}
        </div>
        <span class="badge bg-secondary">{{ item.count|intcomma }}</span>
      </a>
    {% endfor %}
  </div>
  {% if page_obj.has_next %}
    <a href="#"
       hx-get="{% url 'flynote_list' %}?more&{% query_string request.GET page=page_obj.next_page_number %}"
       id="flynote-more"
       class="btn btn-outline-primary mt-2"
       {% if more %} hx-swap-oob="true"{% endif %}>{% trans "Load more ..." %}</a>
  {% endif %}
{% elif not more %}
  <p class="text-muted">{% trans "No matching topics found." %}</p>
{% endif %}
