<h1>Article Detail</h1>

{% block content %}
  <div>
      <h2>{{ article.title }}</h2>
      <img src="{{ article.image.url }}">
      <p>by <a href="{% url 'user_profile' user_profile.slug %}">{{ article.author.first_name }} {{ article.author.last_name }}</a> | {{ article.date|date:"M d Y" }}</p>
      <p>{{ article.body }}</p>
  </div>

  <div>
      <img src="{{ user_profile.photo.url }}">
      <h2><a href="{% url 'user_profile' user_profile.slug %}">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</a></h2>
      <h2><a href="{% url 'user_profile' user_profile.slug %}">More about the author</a></h2>
      <p>{{ user_profile.profile_description|truncatewords:10 }}</p>
  </div>

  <p>Back to <a href="{% url 'article_list' %}">Blog</a></p>
{% endblock content %}
