{% extends 'peachjam/layouts/document_list.html' %}
{% load i18n %}

{% block title %}
  {% if year %}
    {% blocktrans with court_name=court.name year=year%}
      {{ court_name }} - {{ year }}
    {% endblocktrans %}
  {% else %}
    {% trans court.name %}
  {% endif %}
{% endblock %}

{% block page-title %}
    <h1 class="m-0">
      {% if year %}
        {% blocktrans with court_name=court.name year=year%}
          {{ court_name }} - {{ year }}
        {% endblocktrans %}
      {% else %}
        {% trans court.name %}
      {% endif %}
    </h1>
{% endblock %}

{% block content %}
  <div class="d-none d-lg-flex align-items-center">
    {% if years %}
      <i class="bi bi-calendar"></i>
      <div class="d-flex">
        <a class="p-2"
           href="{% url 'court_detail' court.code %}"
        >
          All years
        </a>
        {% for y in years %}
          {% if y == year %}
            <span class="p-2">{{ year }}</span>
          {% else %}
            <a class="p-2"
               href="{% url 'year' court.code y %}">
              {{ y }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <select class="form-select d-block d-lg-none" data-component="NavigationSelect">
    <option value="{% url 'court_detail' court.code %}">All years</option>
    {% for y in years %}
      <option
          value="{% url 'year' court.code y %}"
          {% if y == year %} selected {% endif %}
      >
        {{ y }}
      </option>
    {% endfor %}
  </select>
  {{block.super}}
{% endblock %}
