{% extends "liiweb/home.html" %}
{% load static i18n %}
{% block title %}
  {% trans 'Home' %}
{% endblock %}
{% block hero-headings %}
  <h1 class="mb-4">{% trans 'Welcome to the digital Law Library of South Africa' %}</h1>
  <h4 class="mb-4">
    {% blocktrans trimmed %}
      Reliable and current access to the law of South Africa: annotated and consolidated legislation, case summaries,
      caselaw collections by subject, and legal commentary. Read, use and share the law freely.
    {% endblocktrans %}
  </h4>
{% endblock %}
{% block after-search %}
  {% include 'liiweb/_donate_call_to_action.html' %}
{% endblock %}
{% block hero-logos %}
  <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
  <img src="{% static 'images/jifa.png' %}" alt="JIFA"/>
  <img src="{% static 'images/laws-africa-logo.png' %}" alt="Laws.Africa"/>
{% endblock %}
{% block first-column-content %}
  <section class="pb-3 pt-3">
    <h2 class="mb-4 heading-underlined">{% trans 'Recent Judgments' %}</h2>
    {% trans 'View more judgments' as text %}
    {% include 'peachjam/_recent_document_list.html' with documents=recent_judgments view_more_text=text view_more_url_name='judgment_list' %}
  </section>
  <section class="pb-3 pt-3">
    <h2 class="mb-4 heading-underlined">{% trans 'Recent Legislation' %}</h2>
    {% trans 'View more legislation' as text %}
    {% include 'peachjam/_recent_document_list.html' with documents=recent_legislation view_more_text=text view_more_url_name='legislation_list' %}
  </section>
{% endblock %}
{% block second-column-content %}
  <p class="lead">
    {% blocktrans trimmed %}
      LawLibrary.org.za is a project of the AfricanLII and Judicial Institute for Africa at the University of Cape Town.
      Legislation digitised by Laws.Africa.
    {% endblocktrans %}
  </p>
  {% if PEACHJAM_SETTINGS.facebook_link or PEACHJAM_SETTINGS.twitter_link or PEACHJAM_SETTINGS.linkedin_link %}
    {% block social-media %}
      {% include 'peachjam/_social_media.html' %}
    {% endblock %}
  {% endif %}
{% endblock %}
{% block pocketlaw %}
  {{ block.super }}
  <section class="py-5">
    <div class="row">
      <div class="col-sm-3 mb-3">
        <img src="{% static 'images/concompass-logo.png' %}"
             alt="Constitution Compass"
             class="img-fluid"/>
      </div>
      <div class="col-sm-9 ps-sm-5">
        <h2 class="mb-4">Constitution Compass</h2>
        <p class="lead">
          The Constitution App for Members of Parliament. Browse, search and understand the South African Constitution and how it applies to everyone. Continuously updated and curated Constitution, plain language guides and case summaries, and Rules of the National Assembly.
        </p>
        <a href="https://constitutioncompass.org.za/"
           class="btn btn-lg btn-primary"
           target="_blank">Constitution Compass</a>
      </div>
    </div>
  </section>
{% endblock %}
