{% extends "liiweb/home.html" %}
{% load static i18n %}
{% block title %}
  {% trans 'Home' %}
{% endblock %}
{% block hero-headings-title %}
  {% trans 'Welcome to the digital Law Library of South Africa' %}
{% endblock %}
{% block hero-headings-welcome %}
  {% blocktrans trimmed %}
    Reliable and current access to the law of South Africa: annotated and consolidated legislation, case summaries,
    caselaw collections by subject, and legal commentary. Read, use and share the law freely.
  {% endblocktrans %}
{% endblock %}
{% block hero-headings-blurb %}
  {% blocktrans trimmed %}
    LawLibrary.org.za is a project of the AfricanLII and Judicial Institute for Africa at the University of Cape Town.
    Legislation digitised by Laws.Africa.
  {% endblocktrans %}
{% endblock %}
{% block hero-logos %}
  {{ block.super }}
  <img src="{% static 'images/jifa.png' %}" alt="JIFA"/>
{% endblock %}
{% block after-search %}
  {% include 'liiweb/_donate_call_to_action.html' %}
{% endblock %}
{% block pocketlaw %}
  {{ block.super }}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 mb-3">
          <img src="{% static 'images/concompass-logo.png' %}"
               alt="Constitution Compass"
               class="img-fluid"/>
        </div>
        <div class="col-sm-9 ps-sm-5">
          <h2 class="mb-4">Constitution Compass</h2>
          <p class="lead">
            The Constitution App for Members of Parliament. Browse, search and understand the South African Constitution and how it applies to everyone. Continuously updated and curated Constitution, plain language guides and case summaries, and Rules of the National Assembly.
          </p>
          <a href="https://constitutioncompass.org.za/"
             class="btn btn-lg btn-primary"
             target="_blank">Constitution Compass</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
