{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %} {% trans 'Legislation' %} {% endblock %}

{% block page-content %}
<section class="py-5">
  <div class="container">
    {% if provinces %}
      <h2>{% trans 'Provincial Legislation' %}</h2>

      <div class="mb-3">
        <div class="row mb-2">
          {% for locality in provinces %}
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'provincial_legislation_list' locality.code %}">{{ locality.name }}</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <h1>{% trans "National Legislation" %}</h1>

    <div data-vue-component="LegislationTable" data-show-side-facets></div>
    {{ national_legislation_list|json_script:"legislation-table" }}
  </div>
</section>
{% endblock %}
