{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %} {% trans 'Provincial Legislation List' %} {% endblock %}

{% block page-content %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-9 mb-2">
        <h1>{% blocktrans %} {{ locality }} Legislation List {% endblocktrans %}</h1>
      </div>
    </div>
    <div data-vue-component="LegislationTable" data-show-side-facets></div>
  </div>
</section>
{{ legislation_table|json_script:"legislation-table" }}
{% endblock %}
