{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %} {{ locality }} - {% trans 'Gazettes' %} {% endblock %}


{% block page-content %}
   <div class="container">
      <header>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white px-0">
            <li class="breadcrumb-item"><a href="{% url 'gazettes' %}">Gazettes</a></li>
            <li class="breadcrumb-item active">{{ locality }}</li>
          </ol>
        </nav>

        <h1 class="sans-serif mt-3">{{ locality }}</h1>

        <h4 class="sans-serif text-muted mt-2 mb-0">{{ num_gazettes }} gazette{{ num_gazettes|pluralize }}</h4>
      </header>

      <div class="col-md-10 mt-5 mb-5">
        <div class="row">
          {% for year in results %}
            <div class="col-md-4 col-sm-6 col-xs-12 status-box">
              <div>
                <h2><a class="text-decoration-none" href="{% url 'gazettes_by_year' locality.code year.year %}">{{ year.year }}</a></h2>
                <p class="status-up"><i class="fas fa-signal" aria-hidden="true"></i>
                  {{ year.count }} gazette{{ year.count|pluralize }}
                </p>
              </div>
              <div data-year="{{ year.month }}" class="monthly-chart"></div>
            </div>
          {% endfor %}
        </div>
      </div>
{% endblock %}
