{% extends "peachjam/layouts/main.html" %}
{% load i18n %}
{% block title %} {% trans 'Provincial Legislation' %} {% endblock %}

{% block page-content %}
  <section class="pb-5">
    <div class="container">
      {% block breadcrumbs %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'provincial_legislation' %}">{% trans 'Provincial Legislation' %}</a></li>
          </ol>
        </nav>
      {% endblock %}

      <h1 class="my-4">{% blocktrans with locality=locality.name %}{{ locality }} Legislation{% endblocktrans %}</h1>

      {% include 'lawlibrary/_legislation_alert.html' %}

      <nav class="nav nav-tabs mb-3 border-bottom">
        <li class="nav-item">
          <a class="nav-link {% if view.variant == 'current' %}active{% endif %}" href="{% url 'provincial_legislation_list' locality.code %}">Current legislation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view.variant == 'repealed' %}active{% endif %}" href="{% url 'provincial_legislation_list_repealed' locality.code  %}">Repealed legislation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view.variant == 'all' %}active{% endif %}" href="{% url 'provincial_legislation_list_all' locality.code %}">All legislation</a>
        </li>
      </nav>

      {% if view.variant == 'repealed' %}
        <div class="alert alert-danger">
          You are viewing repealed legislation which is no longer in force.
        </div>
      {% endif %}

      <div data-vue-component="LegislationTable" data-show-side-facets></div>
      {{ legislation_table|json_script:"legislation-table" }}
    </div>
  </section>
{% endblock %}
