{% extends 'peachjam/_header.html' %}
{% load static i18n %}
{% block top-bar %}{% endblock %}
{% block navbar-logo %}
  <img src="{% static 'images/logo.png' %}" alt="{{ APP_NAME }}" height="40"/>
  <a class="navbar-brand" href="{% url 'home_page' %}">CIVLII</a>
{% endblock %}
{% block nav-items %}
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'home' %}active{% endif %}"
       href="{% url 'home_page' %}">
    {% trans 'Home' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'judgments' %}active{% endif %}"
       href="{% url 'judgment_list' %}">
      {% trans 'Judgments' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'legislation' %}active{% endif %}"
       href="{% url 'legislation_list' %}">
      {% trans 'Legislation' %}
    </a>
  </li>
  <li class="nav-item dropdown main-nav">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      {% trans 'African Union and ECOWAS' %}
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-item">
        <a class=" nav-link px-0 {% if 'afchpr' in request.path %}active{% endif %}"
           href="{% url 'court' 'AfCHPR' %}">
          {% trans "African Court of Human and People's Rights" %}
        </a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link px-0 {% if 'achpr' in request.path %}active{% endif %}"
           href="{% url 'court' 'ACHPR' %}">
          {% trans "African Commission on Human and People's Rights" %}
        </a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link px-0 {% if 'aa-ecowas' in request.path %}active{% endif %}"
           href="{% url 'place' 'aa-ecowas' %}">
          {% trans "Economic Community of West African States (ECOWAS)" %}
        </a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link px-0 {% if 'ECOWASCJ' in request.path %}active{% endif %}"
           href="{% url 'court' 'ECOWASCJ' %}">
          {% trans "ECOWAS Community Court of Justice" %}
        </a>
      </li>
      <li class="dropdown-item">
        <a class=" nav-link px-0 {% if 'aa-au' in request.path %}active{% endif %}"
           href="{% url 'locality_legislation_list' 'aa-au' %}">
          {% trans 'AU Charters and Treaties' %}
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if view.navbar_link == 'about' %}active{% endif %}"
       href="{% url 'about' %}">
      {% trans 'About' %}
    </a>
  </li>
{% endblock %}
