{% extends 'peachjam/layouts/main.html' %}
{% load i18n %}
{% block title %}
  {% trans "Compare provisions side-by-side" %}
{% endblock %}
{% block page-content %}
  <div class="container py-4">
    <h1 id="main-page-heading">
      <i class="bi bi-book me-3"></i>{% trans "Compare two documents side-by-side" %}
    </h1>
    <p class="lead">{% trans "Choose provisions of two documents to explore similarities and differences." %}</p>
  </div>
  <div class="container-fluid py-4">
    <div class="row g-3 bg-light pb-3">
      {% include "peachjam/compare/_column.html" with side=column_a.side mode=column_a.mode selected=column_a.selected uri_a=column_a.uri_a uri_b=column_a.uri_b compare_chooser_url=column_a.compare_chooser_url chooser_body_url=column_a.chooser_body_url %}
      {% include "peachjam/compare/_column.html" with side=column_b.side mode=column_b.mode selected=column_b.selected uri_a=column_b.uri_a uri_b=column_b.uri_b compare_chooser_url=column_b.compare_chooser_url chooser_body_url=column_b.chooser_body_url %}
    </div>
  </div>
{% endblock %}
