{% load i18n peachjam %}
<li class="alert-document-list-item">
  <a href="{% absolute_url site url_path %}?utm_campaign={{ utm_campaign }}&utm_source=alert&utm_medium=email">{{ title }}</a>
  {% if added_date or document_date %}
    <div class="alert-document-metadata">
      {% if document_date %}{{ document_date|date:"j M Y" }}{% endif %}
      {% if added_date %}
        {% if document_date %}&nbsp;·&nbsp;{% endif %}
        {% blocktrans with added_date=added_date|date:"j M Y" %}Added to {{ APP_NAME }} on {{ added_date }}{% endblocktrans %}
      {% endif %}
    </div>
  {% endif %}
  {% if blurb %}<div>{{ blurb }}</div>{% endif %}
  {% if flynote %}<div class="alert-document-flynote">{{ flynote|linebreaksbr }}</div>{% endif %}
  {% if provision_citations %}
    <ul class="alert-provision-citations">
      {% for pc in provision_citations %}
        <li>
          [...] {{ pc.prefix }}<strong>{{ pc.exact }}</strong>{{ pc.suffix }} [...]
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</li>
