{% load i18n peachjam %}
{% for item in saved_documents %}
  {% for rel in item.relationships.values %}
    <div style="margin-top: 1rem;">
      <p>
        {{ rel.label }}
        <a href="{% absolute_url site item.saved_document.get_absolute_url %}?utm_campaign=new_relationship&utm_source=alert&utm_medium=email">
          <b>{{ item.saved_document.work.title }}</b>
        </a>
      </p>
      <ul>
        {% for doc in rel.documents %}
          {% include "peachjam/emails/_alert_document_list_item.html" with site=site url_path=doc.get_absolute_url utm_campaign="new_relationship" title=doc.title blurb=doc.blurb flynote=doc.flynote only %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endfor %}
