<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Reported Document Problem</title>
  </head>
  <body>
    <p>Hello,</p>
    <p>
      We have received a report regarding the following document: <a href="{{ document_link }}">{{ document_link }}</a>
    </p>
    <p>Problem category: {{ problem_category }}</p>
    <p>The reported problem is described as follows:</p>
    <p>{{ problem_description }}</p>
    <p>
      This was reported by: <a href="mailto:{{ email_address }}">{{ email_address }}</a>
    </p>
  </body>
</html>
