<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Reported Document Problem</title>
  </head>
  <body>
    <p>Hello,</p>
    {% if email_address %}
      <p>
        The user <a href="mailto:{{ email_address }}">{{ email_address }}</a> reported a problem with a document.
      </p>
    {% else %}
      <p>A user reported a problem with a document.</p>
    {% endif %}
    <ul>
      <li>
        Document: <a href="{{ document_link }}">{{ document_link }}</a>
      </li>
      <li>Problem category: {{ problem_category }}</li>
      <li>Problem description: {{ problem_description }}</li>
    </ul>
  </body>
</html>
