{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{% trans "New Documents Alert" %}</title>
  </head>
  <body>
    <p>{{ user }},</p>
    <p>{% trans "We have found new documents for topics that you are following." %}</p>
    {% for item in followed_documents %}
      {{ item.followed_object }}
      <ul>
        {% for doc in item.documents %}
          <li>
            <a href="https://{{ site.domain }}{{ doc.expression_frbr_uri }}">{{ doc.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <hr/>
    {% endfor %}
    <p>
      {% blocktrans %}
        The {{ APP_NAME }} Team
      {% endblocktrans %}
    </p>
    <small>
      <a href="https://{{ site.domain }}{% url "user_following_list" %}">{% trans "Manage these email alerts" %}</a>
    </small>
  </body>
</html>
