{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{% trans "New Documents Alert" %}</title>
  </head>
  <body>
    <p>{{ user }},</p>
    <p>{% trans "We have found new documents for areas that you are folllowing:" %}</p>
    {% for item in followed_documents %}
      {{ item.followed_object }}
      {% for doc in item.documents %}
        <ul>
          <li>
            <a href="https://{{ site.domain }}{{ doc.expression_frbr_uri }}">{{ doc.title }}</a>
          </li>
        </ul>
      {% endfor %}
      <hr/>
    {% endfor %}
  </body>
</html>
