name: Deploy

on:
  push:
    branches: [ main ]

concurrency:
  group: liiweb2.africanlii.org

jobs:
  # ------------------
  # web2.laws.africa
  # ------------------

  deploy-tanzlii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    name: Deploy to tanzlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to tanzlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web2.laws.africa:22/tanzlii-peachjam'
          git_push_flags: '--force'

  # ------------------
  # web3.laws.africa
  # ------------------

  deploy-gazettes:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    name: Deploy to gazettes.africa
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to gazettes.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/gazettes'
          git_push_flags: '--force'

  deploy-malawilii:
    if: ${{ !contains(github.event.head_commit.message, 'nodeploy') }}
    name: Deploy to malawilii
    needs: deploy-gazettes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to malawilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/malawilii-peachjam'
          git_push_flags: '--force'

  deploy-namiblii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-malawilii
    name: Deploy to namiblii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to namiblii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/namiblii-peachjam'
          git_push_flags: '--force'

  deploy-ghalii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-namiblii
    name: Deploy to ghalii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to ghalii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/ghalii-peachjam'
          git_push_flags: '--force'

  deploy-seylii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-ghalii
    name: Deploy to seylii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to seylii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/seylii-peachjam'
          git_push_flags: '--force'

  deploy-zimlii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-seylii
    name: Deploy to zimlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to zimlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/zimlii-peachjam'
          git_push_flags: '--force'

  deploy-nigerialii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-zimlii
    name: Deploy to nigerialii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to nigerialii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/nigerialii-peachjam'
          git_push_flags: '--force'

  deploy-zambialii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-nigerialii
    name: Deploy to zambialii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to zambialii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/zambialii-peachjam'
          git_push_flags: '--force'

  deploy-lesotholii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-zambialii
    name: Deploy to lesotholii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to lesotholii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/lesotholii-peachjam'
          git_push_flags: '--force'

  deploy-mauritiuslii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-lesotholii
    name: Deploy to mauritiuslii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to mauritiuslii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/mauritiuslii-peachjam'
          git_push_flags: '--force'

  deploy-civlii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-mauritiuslii
    name: Deploy to civlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to civlii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/civlii-peachjam'
          git_push_flags: '--force'

  deploy-open-by-laws:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-civlii
    name: Deploy to open-by-laws
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to openbylaws.org.za
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/open-by-laws'
          git_push_flags: '--force'

  deploy-obl-microsites:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-open-by-laws
    name: Deploy to open by-laws microsites
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to openbylaws.org.za
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/obl-microsites'
          git_push_flags: '--force'

  # ------------------
  # web4.laws.africa
  # ------------------

  deploy-africanlii:
    if: ${{ !contains(github.event.head_commit.message, 'nodeploy') }}
    name: Deploy to africanlii.org
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to africanlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/africanlii'
          git_push_flags: '--force'

  deploy-ulii:
    if: ${{ !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-africanlii
    name: Deploy to ulii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to ulii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/ulii-peachjam'
          git_push_flags: '--force'

  deploy-senlii:
    if: ${{ !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-ulii
    name: Deploy to senlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to senlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/senlii-peachjam'
          git_push_flags: '--force'

  deploy-rwandalii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    name: Deploy to rwandalii
    needs: deploy-senlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to rwandalii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/rwandalii-peachjam'
          git_push_flags: '--force'

  deploy-eswatinilii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    name: Deploy to eswatinilii
    needs: deploy-rwandalii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to eswatinilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/eswatinilii-peachjam'
          git_push_flags: '--force'

  deploy-sierralii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-eswatinilii
    name: Deploy to sierralii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to sierralii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/sierralii-peachjam'
          git_push_flags: '--force'

  deploy-tcilii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    name: Deploy to tcilii
    needs: deploy-sierralii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to tcilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/tcilii-peachjam'
          git_push_flags: '--force'

  deploy-zanzibarlii:
    if: ${{ !cancelled() && !contains(github.event.head_commit.message, 'nodeploy') }}
    needs: deploy-tcilii
    name: Deploy to zanzibarlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to zanzibarlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/zanzibarlii-peachjam'
          git_push_flags: '--force'
