name: Deploy

on:
  push:
    branches: [ main ]

concurrency:
  group: liiweb2.africanlii.org

jobs:
  preconditions:
    name: Block deploy on nodeploy commits or with unbuilt javascript
    runs-on: ubuntu-latest
    steps:
      - name: Fail if nodeploy in commit message
        run: |
          if echo "${{ github.event.head_commit.message }}" | grep -qi 'nodeploy'; then
            echo "Deployment skipped because commit message contains 'nodeploy'."
            exit 1
          fi
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fail if peachjam/js files changed
        run: |
          CHANGED="$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} -- 'peachjam/js/**' || true)"
          if [ -n "$CHANGED" ]; then
            echo "Deployment skipped because the following files changed under peachjam/js:"
            echo "$CHANGED"
            exit 1
          fi

  # ------------------
  # web3.laws.africa
  # ------------------

  deploy-tanzlii:
    needs: preconditions
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    name: Deploy to tanzlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to tanzlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/tanzlii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/tanzlii-peachjam'
          git_push_flags: '--force'

  deploy-gazettes:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    name: Deploy to gazettes.africa
    needs:
      - deploy-tanzlii
      - preconditions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to gazettes.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/gazettes'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/gazettes'
          git_push_flags: '--force'

  deploy-malawilii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    name: Deploy to malawilii
    needs:
      - deploy-gazettes
      - preconditions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to malawilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/malawilii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/malawilii-peachjam'
          git_push_flags: '--force'

  deploy-namiblii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-malawilii
      - preconditions
    name: Deploy to namiblii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to namiblii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/namiblii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/namiblii-peachjam'
          git_push_flags: '--force'

  deploy-ghalii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-namiblii
      - preconditions
    name: Deploy to ghalii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to ghalii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/ghalii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/ghalii-peachjam'
          git_push_flags: '--force'

  deploy-seylii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-ghalii
      - preconditions
    name: Deploy to seylii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to seylii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/seylii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/seylii-peachjam'
          git_push_flags: '--force'

  deploy-zimlii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-seylii
      - preconditions
    name: Deploy to zimlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to zimlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/zimlii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/zimlii-peachjam'
          git_push_flags: '--force'

  deploy-nigerialii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-zimlii
      - preconditions
    name: Deploy to nigerialii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to nigerialii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/nigerialii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/nigerialii-peachjam'
          git_push_flags: '--force'

  deploy-zambialii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-nigerialii
      - preconditions
    name: Deploy to zambialii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to zambialii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/zambialii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/zambialii-peachjam'
          git_push_flags: '--force'

  deploy-lesotholii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-zambialii
      - preconditions
    name: Deploy to lesotholii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to lesotholii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/lesotholii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/lesotholii-peachjam'
          git_push_flags: '--force'

  deploy-mauritiuslii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-lesotholii
      - preconditions
    name: Deploy to mauritiuslii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to mauritiuslii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/mauritiuslii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/mauritiuslii-peachjam'
          git_push_flags: '--force'

  deploy-civlii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-mauritiuslii
      - preconditions
    name: Deploy to civlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to civlii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/civlii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/civlii-peachjam'
          git_push_flags: '--force'

  deploy-open-by-laws:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-civlii
      - preconditions
    name: Deploy to open-by-laws
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to openbylaws.org.za
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/open-by-laws'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/open-by-laws'
          git_push_flags: '--force'

  deploy-obl-microsites:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-open-by-laws
      - preconditions
    name: Deploy to open by-laws microsites
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to openbylaws.org.za
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web3.laws.africa:22/obl-microsites'
          git_push_flags: '--force'

  # ------------------
  # web4.laws.africa
  # ------------------

  deploy-africanlii:
    needs: preconditions
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    name: Deploy to africanlii.org
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to africanlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/africanlii'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/africanlii'
          git_push_flags: '--force'

  deploy-ulii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-africanlii
      - preconditions
    name: Deploy to ulii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to ulii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/ulii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/ulii-peachjam'
          git_push_flags: '--force'

  deploy-senlii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-ulii
      - preconditions
    name: Deploy to senlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to senlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/senlii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/senlii-peachjam'
          git_push_flags: '--force'

  deploy-rwandalii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    name: Deploy to rwandalii
    needs:
      - deploy-senlii
      - preconditions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to rwandalii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/rwandalii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/rwandalii-peachjam'
          git_push_flags: '--force'

  deploy-eswatinilii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    name: Deploy to eswatinilii
    needs:
      - deploy-rwandalii
      - preconditions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to eswatinilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/eswatinilii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/eswatinilii-peachjam'
          git_push_flags: '--force'

  deploy-sierralii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-eswatinilii
      - preconditions
    name: Deploy to sierralii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to sierralii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/sierralii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/sierralii-peachjam'
          git_push_flags: '--force'

  deploy-tcilii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    name: Deploy to tcilii
    needs:
      - deploy-sierralii
      - preconditions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to tcilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/tcilii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/tcilii-peachjam'
          git_push_flags: '--force'

  deploy-zanzibarlii:
    if: ${{ !cancelled() && needs.preconditions.result == 'success' }}
    needs:
      - deploy-tcilii
      - preconditions
    name: Deploy to zanzibarlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git push to zanzibarlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@web4.laws.africa:22/zanzibarlii-peachjam'
          git_push_flags: '--force'
      - name: git push to backend1
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@backend1.laws.africa:22/zanzibarlii-peachjam'
          git_push_flags: '--force'
