name: Deploy

on:
  push:
    branches: [ main ]

concurrency:
  group: liiweb2.africanlii.org

jobs:
  deploy-agp:
    name: Deploy to africanlii.org
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: git push to africanlii.org
      uses: dokku/github-action@master
      with:
        ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
        git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/agp'
        git_push_flags: '--force'

  deploy-lawlibrary:
    name: Deploy to lawlibrary
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: git push to lawlibrary.org.za
      uses: dokku/github-action@master
      with:
        ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
        git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/lawlibrary-peachjam'
        git_push_flags: '--force'

  deploy-ulii:
    if: ${{ always() }}
    needs: deploy-agp
    name: Deploy to ulii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to ulii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/ulii-peachjam'
          git_push_flags: '--force'

  deploy-zanzibarlii:
    if: ${{ always() }}
    needs: deploy-lawlibrary
    name: Deploy to zanzibarlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to zanzibarlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/zanzibarlii-peachjam'
          git_push_flags: '--force'

  deploy-malawilii:
    name: Deploy to malawilii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to malawilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/malawilii-peachjam'
          git_push_flags: '--force'

  deploy-ghalii:
    if: ${{ always() }}
    needs: deploy-ulii
    name: Deploy to ghalii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to ghalii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/ghalii-peachjam'
          git_push_flags: '--force'

  deploy-zambialii:
    if: ${{ always() }}
    needs: deploy-zanzibarlii
    name: Deploy to zambialii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to zambialii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/zambialii-peachjam'
          git_push_flags: '--force'



  deploy-namiblii:
    if: ${{ always() }}
    needs: deploy-malawilii
    name: Deploy to namiblii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to namiblii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/namiblii-peachjam'
          git_push_flags: '--force'


  deploy-seylii:
    if: ${{ always() }}
    needs: deploy-ghalii
    name: Deploy to seylii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to seylii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/seylii-peachjam'
          git_push_flags: '--force'


  deploy-lesotholii:
    if: ${{ always() }}
    needs: deploy-zambialii
    name: Deploy to lesotholii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to lesotholii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/lesotholii-peachjam'
          git_push_flags: '--force'


  deploy-sierralii:
    if: ${{ always() }}
    needs: deploy-namiblii
    name: Deploy to sierralii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to sierralii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/sierralii-peachjam'
          git_push_flags: '--force'



  deploy-zimlii:
    if: ${{ always() }}
    needs: deploy-seylii
    name: Deploy to zimlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to zimlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/zimlii-peachjam'
          git_push_flags: '--force'


  deploy-tcilii:
    if: ${{ always() }}
    needs: deploy-lesotholii
    name: Deploy to tcilii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to tcilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/tcilii-peachjam'
          git_push_flags: '--force'

  deploy-tanzlii:
    if: ${{ always() }}
    needs: deploy-sierralii
    name: Deploy to tanzlii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to tanzlii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/tanzlii-peachjam'
          git_push_flags: '--force'

  deploy-eswatinilii:
    if: ${{ always() }}
    needs: deploy-tanzlii
    name: Deploy to eswatinilii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to eswatinilii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/eswatinilii-peachjam'
          git_push_flags: '--force'

  deploy-nigerialii:
    if: ${{ always() }}
    needs: deploy-zimlii
    name: Deploy to nigerialii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to nigerialii.org
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/nigerialii-peachjam'
          git_push_flags: '--force'

  deploy-open-by-laws:
    if: ${{ always() }}
    needs: deploy-tcilii
    name: Deploy to open-by-laws
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to openbylaws.org.za
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/open-by-laws'
          git_push_flags: '--force'

  deploy-obl-microsites:
    if: ${{ always() }}
    needs: deploy-open-by-laws
    name: Deploy to open by-laws microsites
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to openbylaws.org.za
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/obl-microsites'
          git_push_flags: '--force'

  deploy-rwandalii:
    if: ${{ always() }}
    needs: deploy-nigerialii
    name: Deploy to rwandalii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to rwandalii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/rwandalii-peachjam'
          git_push_flags: '--force'

  deploy-lii:
    if: ${{ always() }}
    needs: deploy-eswatinilii
    name: Deploy to lii
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git push to lii.laws.africa
        uses: dokku/github-action@master
        with:
          ssh_private_key: ${{ secrets.SSH_DEPLOYMENT_KEY }}
          git_remote_url: 'ssh://dokku@liiweb2.africanlii.org:22/liiweb'
          git_push_flags: '--force'
