@import "variables";
@import "stylesheets/liiweb";
@import "pages/index";

footer {
  background-color: $gray-100;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
  color: #fff;
}

.alert.bg-primary {
  --bs-bg-opacity: 0.5;
}

a:visited {
  color: #234008;
}
