{% extends "peachjam/_footer.html" %}
{% load i18n static %}
{% block about %}
  <p>
    {% blocktrans trimmed %}
    The Zimbabwe Legal Information Institute (ZimLII) is an independent not-for-profit Trust hosting an online repository of legal information from Zimbabwe and beyond.
    ZimLII aims to provide for the knowledge needs of a growing group of people learning, aware and interested in the justice and legal framework of our country.
    ZimLII is a member of the global Free Access to Law Movement and works closely with the African and international free access to law community to promote justice and rule of law by maximising access at no cost to public legal information.
    {% endblocktrans %}
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://africanlii.org/" target="_blank" rel="noreferrer">AfricanLII</a>
  </div>
  <div>
    <a href="https://laws.africa/" target="_blank" rel="noreferrer">Laws.Africa</a>
  </div>
  <div>
    <a href="https://lrfzim.com/" target="_blank" rel="noreferrer">{% trans 'Legal Resources Foundation' %}</a>
  </div>
  <h6 class="mt-4">{% trans 'With support from' %}</h6>
  <div>
    <a href="https://sida.se/" target="_blank" rel="noreferrer">{% trans 'SIDA' %}</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://africanlii.org/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="AfricanLII"/>
    </a>
    <a href="https://laws.africa/"
       target="_blank"
       rel="noreferrer"
       class="footer-logos__item">
      <img src="{% static 'images/laws-africa-logo-horizontal.png' %}"
           alt="Laws.Africa"/>
    </a>
    <a class="footer-logos__item"
       href="https://lrfzim.com"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/lrf_logo.png' %}" alt="lrf-logo"/>
    </a>
    <a class="footer-logos__item"
       href="https://sida.se"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/sida_logo.png' %}" alt="sida-logo"/>
    </a>
  </div>
{% endblock %}
