{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-content %}{% endblock %}
{% block hero-logos %}
  <img src="{% static 'images/africanlii-logo.svg' %}" alt="africanlii-logo"/>
  <img src="{% static 'images/laws-africa-logo.png' %}" alt="laws-logo"/>
  <img src="{% static 'images/lesotho_judiciary_coat_of_arms.png' %}"
       alt="lesotho_judiciary-logo"/>
{% endblock %}
{% block hero-headings %}
  <h1 class="mb-4">{% trans 'Welcome to Lesotho Legal Information Institute' %}</h1>
  <h4 class="mb-4">
    {% blocktrans trimmed %}
      LesLII publishes the law of Lesotho for free online access. Access and share the law freely.
    {% endblocktrans %}
  </h4>
{% endblock %}
{% block second-col-about %}
  <p class="lead">
    {% blocktrans trimmed %}
      LesLII's mission is to publish the laws of Lesotho for free access to everyone. LesLII is supported by the Judiciary of Lesotho, the Law Office, the Law Society, and other justice sector stakeholders.
  {% endblocktrans %}
  </p>
{% endblock %}
{% block facebook-url %}
  https://www.facebook.com/v7.0/plugins/page.php?adapt_container_width=true&amp;app_id=323754998056442&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfff64532b89928%26domain%3Dlawlibrary.org.za%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flawlibrary.org.za%252Ff3480a77dff53bc%26relation%3Dparent.parent&amp;container_width=248&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FLesothoLII%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=248
{% endblock %}
